<ion-header class="ionHeader" [nopso-hide-header]="myContent" [NopsoHeaderOptions]="nopsoHeaderOptions">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Payment Methods</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Payment Methods</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>


<ion-content fullscreen #myContent class="BaseContent">

  <ion-label class="lblRecommendedMethods">Recommended Methods</ion-label>
  <ion-label class="lblSeparator"></ion-label>
  <ion-row class="rowPaymentMethod" (click)="onCashOnDelieveryClick()">
    <ion-col col-1 class="colImgPaymentMethodIcon">
      <img src="./assets/imgs/cashOnDelievery.png" alt="">
    </ion-col>

    <ion-col col-sm col-md col-lg col-xl class="colImgPaymentMethodName">
      <ion-label text-capitalize class="lblPaymentMethodName">Cash on delivery</ion-label>
    </ion-col>

    <ion-col col-2 class="colImgGow">
      <img src="./assets/imgs/go.png" alt="">
    </ion-col>

  </ion-row>
  <ion-label class="lblSeparator"></ion-label>
  
  <ion-label class="lblRecommendedMethods lblPaymentMethods">Payment Methods</ion-label>
  <ion-label class="lblSeparator"></ion-label>
  <div *ngFor="let paymentMethod of PaymentMethods">
    <ion-row class="rowPaymentMethod">
      <ion-col col-1 class="colImgPaymentMethodIcon">
        <img src="./assets/imgs/creditcard.png" alt="">
      </ion-col>

      <ion-col col-sm col-md col-lg col-xl class="colImgPaymentMethodName">
        <ion-label class="lblPaymentMethodName">Direct Band Transfer</ion-label>
      </ion-col>

      <ion-col col-2 class="colImgGow">
        <img src="./assets/imgs/go.png" alt="">
      </ion-col>

    </ion-row>
    <ion-label class="lblSeparator"></ion-label>
  </div>
</ion-content>