page-latest-trens-tips-details {
    .backIcon {
        width: 40px;
        color:white;
        margin-top: 15px;
        background: transparent;
        height: 40px;
        padding: 0px;
        opacity: 1.0;
    }
  
    .backIcon:active{
        background-color: transparent;
    }
  
    .backIcon:focus{
        background-color: transparent;
    }

    .headerLabel{
        position: absolute;
        bottom:16px;
        left:13.5px !important;
        text-align:center;
        font-size:26px;
        color:white;
        overflow: hidden;
        font-family: $Montserrat-Medium !important;
    }
    .subHeader{
        font-size: 3.43vw;
        font-family: $Montserrat-Medium !important;
        color: rgb(253, 211, 176)
    }

    .backButton{
        position: absolute;
        bottom:50px;
        text-align:center;
        font-size:30px;
        color:white
    }
    
    .collectionViewContianer{
        bottom: 150px !important;
    }

    .servicesRow{
        width:94%; 
        margin-left: 3%;
        margin-top: 15px;
        margin-bottom: 50px !important;
    }

    .servicesColumn{
        border-bottom: white solid 6px;
        border-right: white solid 10px;
        width:50% !important;
    }

    .serviceImage{        
        object-fit: fill;
    }

    .getAppo{
        position: fixed;
        bottom: 0px;
        height: 43px !important;
        line-height: 43px;
        background: rgb(255, 111, 21);
        width: 100%;
        color: white;
        font-size: 30px;
        font-size: 4.5vw;
        text-align: center;
        font-family: $Montserrat-SemiBold !important;
    }
}
