<!--
  Generated template for the LatestTrensTipsDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="height:116px !important;background:linear-gradient(0deg, rgba(255, 195, 113,1), rgba(255, 95, 109,1));">
  <div class="backButton"  style="padding:5px;" (click)="goBack()" >
    <img style="height:20px; width:20px;"  src="./assets/imgs/back_white.png">  
    </div>
  <div class="headerLabel">
      {{salonName}}
    <!-- <span class="subHeader">
      Lisa Salon
    </span> -->
  </div>
</ion-header>

<ion-content class="mainContnet">
<div class="collectionViewContianer">
  <ion-row class="servicesRow">
      <ion-col col-6 class="servicesColumn" *ngFor="let item of postsArray let i=index;" no-padding no-margin>
        <img class="serviceImage" [src]=item.imageUrl/>
      </ion-col>
  </ion-row>
</div>
</ion-content>

<ion-footer>
  <div (click)="goToAppointments(i)" class="getAppo">Get Appointment with {{salonName}}</div>
</ion-footer>

