page-request-appointment {
    .ionHeader {
        height: 15.3vh;
        background: linear-gradient(0deg, rgba(255, 195, 113, 1), rgba(255, 95, 109, 1));
        background-blend-mode: multiply;
        .backIcon {
            width: 2.64vh;
            height: 2.94vh;
            position: fixed;
            display: block;
            top: 0; // padding: 0px;
            left: 1vh;
            margin-top: 6.2vh !important; // background: green;
            z-index: 2; 
            // background: green;
        }
        .backButton {
            width: 55px;
            height: 50px;
            position: fixed;
            top: 0;
            display: block;
            left: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 10000; //  
            // background: red;
        }
        .menuButton {
            width: 55px;
            height: 35px;
            position: fixed;
            top: 0;
            display: block;
            right: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 1; // background: purple;
        }
        .menuIcon {
            height: 2vh;
            width: 6.5vh;
            position: fixed;
            top: 0; // padding: 0px;
            right: 5px;
            margin-top: 6.2vh !important; // background: green;
            z-index: 1; // background: green;
        }
        .title {
            z-index: 999; // height: 160px; // background: red;
            height: 19vh;
            position: absolute;
            width: 100%;
            align-content: left !important;
            text-align: left !important; // top: 70px;
            top: 1.37vh;
            font-size: 3.97vw;
            font-family: $Montserrat-Medium !important; // background: green;
            letter-spacing: 1px;
        }
    }
    .DropdownMenuList{
        margin: 0px !important;
        padding: 0px !important;
        background: deeppink !important;
        .item{
            padding: 0px !important;
            margin: 0px !important;
            .alert-tappable{

            }
        }
    }

    .alert-checkbox-icon{
        border-color: green !important; 
    background-color: darkorange !important;
    }
    .richText {
        font-size: 3.97vw;
        font-family: $Montserrat-Medium !important; // background: green;
    }
    .richText {
        width: 100% !important;
    }
    .btnBookAppointment {
        width: 100% !important;
        height: 7vh !important;
        margin-top: 10px !important;
        margin-bottom: 0px !important;
        margin-left: 0%;
        margin-right: 0%;
        color: white !important;
        background: #ff5f6d;// rgb(255, 111, 21);
        letter-spacing: 0.2px;
        font-size: 3.91vw !important;
        font-size: 3.97vw;
        font-family: $Montserrat-Medium !important; // background: green;
    }
}