<ion-header class="ionHeader">
    <button ion-button (click)="btnBackTapped()" clear class="backButton"></button>
    <img class="backIcon" src="./assets/imgs/back.png" />
    <!-- <ion-navbar class="navBar"> -->
    <!-- <button ion-button clear class="menuButton" menuToggle></button>
    <img class="menuIcon" src="./assets/imgs/menu.png" /> -->
    <!-- </ion-navbar> -->
    <ion-title class="title">
        Request Appointment
    </ion-title>
</ion-header>


<ion-content padding>
  <ion-list class="DropdownMenuList">
    <ion-item style="border: 0px !important;">
      <ion-label>Choose Service</ion-label>
      <ion-select [(ngModel)]="service"   multiple="true" cancelText="Close" okText="Ok" (ionChange)='btnOkTapped()' #tops>
        <ion-option *ngFor="let service of SalonServices; let i=index;"  [value]="service" (ionChange)='cancel()'>
          {{service.sser_name}}
        </ion-option>

      </ion-select>
    </ion-item>
  </ion-list>
  <ion-label text-capitalize text-wrap	> {{selectedServices}} </ion-label>
  <textarea class="richText" [(ngModel)]="app_details" name="Text1" cols="35" rows="10"></textarea>
  <button item-right ion-button class="btnBookAppointment"  (click)="RequestAppointment()">Request Appointment</button>
</ion-content>

[(ngModel)]="customerGender"