page-login-sign-up {
    .signUpSection {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        text-align: center;
        .EnterActivationCode {
            width: calc(100% - 30px) !important;
            margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            font-size: 4.23vw !important;
            font-weight: 700;
            color: rgb(60, 60, 60);
            line-height: 25px !important;
            font-family: $montserrat-light !important;
        }
        .inputName {
            padding-left: 10px !important;
            width: calc(100% - 30px) !important; // margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            margin-top: 20px !important;
            font-family: $Montserrat-Medium !important;
            font-size: 15.6px;
            background: rgb(235, 235, 235);
            ;
            width: 100%;
        }
        .inputPhone {
            margin-top: 30px !important;
            padding-left: 10px !important;
            width: calc(100% - 30px) !important; // margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            font-family: $Montserrat-Medium !important;
            font-size: 15.6px;
            background: rgb(235, 235, 235);
            ;
            width: 100%;
        }
        .inputEmail {
            margin-top: 20px !important;
            padding-left: 10px !important;
            width: calc(100% - 30px) !important; // margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            font-family: $Montserrat-Medium !important;
            font-size: 15.6px;
            background: rgb(235, 235, 235);
            width: 100%;
        }
        .GenderList {
            padding: 0px !important;
            margin: 16px 16px 16px 16px !important;
            box-shadow: none;
        }
        .alreadyRegister {
            .lblAlreadyRegister {
                font-family: $montserrat-light !important;
                font-size: 4.23vw !important; // font-weight: 700;
                color: rgb(60, 60, 60);
            }
            .lblLogin {
                padding-right: 30px !important;
                padding-left: 10px !important;
                padding-bottom: 10px !important; // background: black !important;
                font-size: 4.7vw !important;
                font-family: $montserrat-light !important; // text-decoration: underline !important;
                // margin-left: 10px !important;
                color: #ea3f49 !important;
            }
        }
    }
    .otpSection {
        .input-otp-phone-auth {
            caret-color: red !important;
            background: rgb(235, 235, 235); // width: 100%;
            width: calc(100% - 30px) !important;
            margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            height: 100%;
            padding: 10px;
            position: relative !important; // left: 50% !important;
            // transform: translateX(-50%) !important;
            font-size: 7vw;
            font-family: $Montserrat-Bold;
            text-align: center !important;
            letter-spacing: 13px;
            .text-input-ios,
            .text-input-md {
                margin: 0px !important;
                padding: 0px !important;
                width: 100%;
                height: 100%; // padding-left: 40% !important;
                // padding-right: 40% !important;
                letter-spacing: 3.5vw;
                text-align: center !important;
            }
            text-input {
                margin: 0px !important;
                padding: 0px !important;
            }
        }
        .EnterActivationCode {
            font-size: 5.34vw;
            color: rgb(60, 60, 60);
            width: calc(100% - 6vh);
            margin: 4.76vh 3vh !important;
            text-align: center;
        }
        .resendCode {
            margin-top: 10px !important;
            padding-right: 15px;
            color: red;
            font-size: 3.43vw;
            text-decoration: underline;
            float: right !important;

        }
    }
    .loginSection {
        .inputPhoneNumber {
            margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            width: calc(100% - 30px) !important;
            padding-left: 10px;
            background: rgb(235, 235, 235);
            font-size: 15.6px;
        }
        .alreadyRegister {
            .lblAlreadyRegister {
                margin-left: 15px !important;
                font-family: $montserrat-light !important;
                font-size: 4.23vw !important; // font-weight: 700;
                color: rgb(60, 60, 60);
            }
            .lblLogin {
                padding-right: 30px !important;
                padding-left: 10px !important;
                padding-bottom: 10px !important; // background: black !important;
                font-size: 4.7vw !important;
                font-family: $montserrat-light !important;
                text-decoration: underline !important; // margin-left: 10px !important;
                color: #ea3f49 !important;
            }
        }
        .EnterActivationCode {
            // font-size: 4.7vw !important;
            // font-family: $Montserrat-SemiBold !important;
            // width: calc(100% - 30px) !important;
            // margin-left: 15px !important;
            // margin-top: 30px !important;
            // margin-right: 15px !important;
            width: calc(100% - 30px) !important;
            margin-top: 30px !important;
            margin-left: 15px !important;
            margin-right: 15px !important;
            font-size: 4.23vw !important;
            font-weight: 700;
            color: rgb(60, 60, 60);
            line-height: 25px !important;
            font-family: $montserrat-light !important;
        }
    }
    .custom_button {
        background-image: $Beautyapp-gradient-color2;
        color: white;
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold !important;
        width: calc(100% - 30px) !important;
        margin: 4vw !important;
        height: 12.5vw !important;
    }
}