page-appointments-card {
    .ionHeader {
        width: 100%;
        z-index: 999;
        padding-bottom: 10px;
        position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
        .BaseGenderSegment {
            //background: white !important;
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5pt; // position: absolute;
            // bottom: 0;
            padding-bottom: 2px !important; // top: 0 ;
            margin-top: 20pt; // bottom: -23.5pt;
            border-radius: 24.5pt; // z-index: 99999 !important;
            // margin-bottom: 15pt !important;
            .GenderSegement {
                background: transparent !important;
                width: 100%;
                height: calc(100% - 5pt);
                margin-bottom: 0pt !important;
                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    line-height: 25pt !important; //color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 3.97vw;
                    line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Regular;
                }
                .segment-button.segment-activated {
                    height: 25pt;
                    line-height: 25pt !important;
                    margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Regular;
                    line-height: 30pt !important;
                }
            }
            .sliderContainer {
                margin-left: 22pt !important;
                margin-right: 22pt !important;
                margin-top: 3pt;
                height: 2pt;
                width: calc(100% - 44pt) !important;
                background-color: transparent;
                box-shadow: none;
                .slider {
                    background: white !important; //  background-color: rgb(236, 78, 137) !important;
                    height: 100% !important;
                    margin-bottom: 0pt !important;
                    width: calc(50% - 20pt); // float: right;
                    padding-top: 5pt !important;
                    margin-top: 0px;
                    margin-bottom: 0pt;
                    margin-left: 1px;
                }
            }
        }
    }
    .itemDescription {
        font-family: $Montserrat-Regular;
       /// font-family: $Montserrat-Medium !important; 
        font-size:13px; 
        font-weight:bold; 
        color:rgb(84,84,84);
    }
    
    .scroll-content {
        margin-top: 0px;
    } 
    .menuButton:active {
        background-color: transparent;
    }
    .menuButton:focus {
        background-color: transparent;
    }
    .separator{
        width: 100% !important;
        font-size:20px !important; 
        //background: #808080;
        background:rgb(219, 218, 218) !important;
        height:1px !important;
        margin-top:0px !important;       
    }
    .appoints-card-page-listing {
        padding: 0px !important;
        margin: 0px !important;
        margin-top: 0px !important;
        .featuredItem {

            background: rgb(255, 255, 255);
            height: 155px !important;
            padding-bottom: 0px !important;
            padding: 0px !important;
            margin: 0px !important;

            .featuredImage {
                
                height: 115px !important;
                // margin-top: 20px !important;
                // margin-bottom: 20px !important;
                margin-left: 18px !important;
                //padding: 1px;
                width: 115px !important;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }

            
            .featuredItem-sectionName-lbl{
                color: rgb(191,69,101);
                 font-size: 4.76vw;
                 font-family: $Montserrat-Bold;
                 //line-height: 62px;
            }
            .featuredItem-sectionDescription-lbl{
                margin-top: 7px;
                 font-size:14px; 
                font-family: $Montserrat-Regular;
              //  line-height: 62px;
                color: rgb(59, 56, 57);
            }
            .featuredItem-otherDescription-lbl{
                margin-top: 7px;
                font-size:12px; 
               font-family: $montserrat-light;
              // line-height: 62px;
               color: rgb(96, 96, 96);
           }
        }
        .unFeaturedItem {
            height: 111px;
            margin: 0px !important;
           // padding: 0px !important;            
            padding-right: 0px !important;
            padding-left: 17px !important;
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important; 
            background:  rgb(238,238,238) !important;
           // border-bottom: 5px solid red;
           .right-image{
               width: 11px !important;
               height: 24px !important;
           }
            .unFeaturedItemImage {    
                height: 70px !important;
                width: 70px !important;
                align-content: center;
                display: block;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .unFeaturedItem-sectionName-lbl{
                color: rgb(35, 31, 32);
                 font-size: 4.76vw;
                 font-family: $Montserrat-Bold;
            }
            .unFeaturedItem-sectionDescription-lbl{
                margin-top: 7px;
                font-size:14px; 
                font-family: $Montserrat-Regular;
              //line-height: 62px;
                color: rgb(237,85,152);
            }
            .unFeaturedItem-otherDescription-lbl{
                margin-top: 7px;
                font-size:12px; 
                font-family: $Montserrat-Regular;
              // line-height: 62px;
               color: rgb(96, 96, 96);
           }
        }

      .dealOfMomentItem{
        background: rgb(238,238,238) !important;
      }

    }
    .item-inner {
        min-height: 1px !important;
    }
    .label-md {
        margin-bottom: 1px !important;
        margin-top: 1px !important;
    }
    ion-item-divider {
        margin-bottom: 0px;
        min-height: 1px !important;
    }
    .separator {
        background-color: rgb(230, 230, 230);
        height: 2px !important;
        margin-bottom: 0px !important;
    }
    .backButton {
        font-size: 5.29vw;
        font-weight: 'bold';
    }
    .mainView {
        background-color: rgb(240, 240, 240);
    }
    .featuredItem {
        // font-family: 'SF Pro Display' !important; 
        font-weight: 400;
        background: $Beautyapp-gradient-color; 
        height: 200px !important;
        margin: 0px;
        padding-bottom: 0px !important;
    }
    .unFeaturedItem {
        background: rgb(238,238,238) !important;
        height: 144px;
        margin: 0px;
        margin: 0px;
        padding-bottom: 0px !important; 
    }
    .item-ios ion-reorder{
     z-index: 9898;
    position: absolute;
    right: 10pt;
    bottom: 5pt;
    // width: 10pt;
    height: 15pt;
    padding: 0pt;
    margin: 0pt;
    background: transparent;
    }
    .item-md ion-reorder{
        z-index: 9898;
       position: absolute;
       right: 10pt;
       bottom: 5pt;
       width: 10pt;
       height: 10pt;
       padding: 0pt;
       margin: 0pt;
       }
       .headerLabel {
        position: absolute;
        bottom: 16.5px;
        left: 13.5px;
        text-align: center;
        font-size: 6.61vw;
        font-family: $Montserrat-SemiBold !important; // background: green;  
        color: white
    }
    .backIcon:active {
        background-color: transparent;
    }
    .backIcon:focus {
        background-color: transparent;
    }
    .backIcon {
        width: 40px;
        height: 20px;
        margin-top: 20pt;
        margin-left: 12.5pt;
       // margin-bottom: 0pt;
        z-index: 99999; // 
        transition: 0.2s linear;

    //     padding-right: 10px;
    //     // width: 50px;
    //     // height: 40px;
    //     background: transparent;
    //    // height: 40px;
    //     padding: 0px;
    //     margin-left: 5pt;
    //     opacity: 1.0;
    //     margin-top: 20pt;
    }
    .title {
        z-index: 999;
        margin-top: 35pt;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
    }
  
}
