<ion-header class="ionHeader" >
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="upperHeading">Book Appointment</ion-label>
      </ion-col>
      <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
        <img class="menuIcon" src="./assets/imgs/menu.png" />
      </ion-col>
    </ion-row>
    <div>
    </div>
    <div hidden class="BaseGenderSegment" no-margin no-padding>
      <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
        <ion-segment-button value="English" (click)="postsInEnglishTapepd()">English</ion-segment-button>
        <ion-segment-button value="Urdu" (click)="postsInUrduTapepd()">Urdu</ion-segment-button>
      </ion-segment>
      <ion-card no-padding no-margin no-lines class="sliderContainer">
        <ion-card-content no-padding no-margin no-lines class="slider" id="cba">
        </ion-card-content>
      </ion-card>
    </div>
  </ion-header>
<ion-content fullscreen #myContent>
  <ion-list *ngFor="let item of  homepageData"  class="appoints-card-page-listing"  no-lines no-margin no-pading>
              <ion-item *ngIf="item.sort_order == 1 && isFavourites" class="featuredItem" (click)='findNextPage(item)'>
                    <img item-left class="featuredImage" [src]="homeImageUrl + item.sectionImage" />
                    <span featuredItem-sectionName-lbl>{{item.sectionName}}</span><br>
                    <span text-wrap class="featuredItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
                    <span text-wrap class="featuredItem-otherDescription-lbl" >{{item.otherDescription}}</span>
              </ion-item>
              <ion-item  no-lines no-margin no-pading  *ngIf="item.sort_order != 1" class="unFeaturedItem" (click)='findNextPage(item)'>
                
                <img item-left class="unFeaturedItemImage"  [src]="homeImageUrl + item.sectionImage" />
                    <span class="unFeaturedItem-sectionName-lbl">{{item.sectionName}}</span><br>
                    <span class="unFeaturedItem-sectionDescription-lbl">{{item.sectionDescription}}</span><br>
                    <span text-wrap class="unFeaturedItem-otherDescription-lbl">{{item.otherDescription}}</span>
                    <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
              </ion-item>
              <div class="separator"></div>              
  </ion-list>
</ion-content>