page-thank-you {
    $PrimaryColor: linear-gradient(to rgiht, rgb(236, 78, 137), rgb(239, 64, 76));
    $mostlyUsedColor: rgb(35, 31, 32);
    .miniHeader {
        height: 50pt;
        background-image: linear-gradient(to right, #ec4e89 0%, #ef404c 100%) !important;
        
        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 27pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
        }
        .colCartImage {
            background: transparent;
            width: 22px; // height: 14pt;
            margin-top: 26pt;
        }
        .menuIcon {
            width: 25pt;
            height: 11.5pt;
            margin-top: 31pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27pt;
            font-size: 4.92vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-SemiBold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .ionHeader {
        // height:230px !important;
        background-image: linear-gradient(to right, #ec4e89 0%, #ef404c 100%) !important;
       
        .headerRow {
            margin-top: 15pt;
            margin-bottom: 25px;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 27pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deepskyblue;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5.29vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colCartImage {
                background: transparent;
                width: 22px; // height: 14pt;
                margin-top: 26pt;
                img {
                    height: 19pt;
                    width: 22pt;
                    margin-top: -3px;
                    float: right;
                }
            }
            .menuIcon {
                width: 25pt;
                height: 11.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
        }
        .searchProductRow {
            background: rgb(170, 33, 83);
            margin-top: 15px;
            margin-bottom: 15pt;
            margin-left: 12.5pt;
            margin-right: 12.5pt;
            width: calc(100% - 25pt);
            border-radius: 5px;
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 8px;
            }
            ion-input {
                color: white !important;
                padding-left: 5px;
                font-size: 3.7vw;
                font-family: $montserrat-light;
            }
            .text-input::-moz-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input:-ms-input-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
        }
        .HeaderCard {
            // background: red;
            width: 100% !important;
            height: 80pt;
            padding: none;
            margin-top: 10pt;
            margin-bottom: 10pt;
            background: transparent;
            box-shadow: none;
            .featuredImage {
                margin-left: 27px !important;
                padding: 20px;
                margin-top: 0pt;
                background: white;
                width: 102px;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .upperHeading {
                color: white;
                margin-top: -80px !important;
                margin-left: 140px !important;
                font-size: 30px;
                font-family: $Montserrat-SemiBold !important; 
                text-align: center;
                margin-bottom: 6pt; // background: green;
            }
            .subHeading {
                color: white;
                margin-left: 140px !important;
                font-size: 3.43vw;
                margin-top: -10px;
                font-family: $Montserrat-Regular !important;

                text-align: center; // background: blue !important;
            }
        }
        .lblLatestTrendsHeading {
            width: 100%; // height: 26pt;
            margin-top: 8.3pt;
            margin-left: 18px;
            font-size: 20pt !important;
            text-align: left;
            letter-spacing: -1px;
            line-height: 34pt;
            color: white;
            font-family: $Montserrat-Bold !important;
           
            transition: 0.2s linear;
        }
    }
    .BaseContent {
        background: white;
        .lblSeparator {
            width: calc(100% - 31pt);
            margin: 50px 15.5pt 50px 15.5px;
            background: rgb(184, 184, 184);
            height: 1pt;
        }
    }
    .orderSuccessBlock {
        margin-top: 50px;
        .defaultLabelStyle {
            width: 100%;
            text-align: center;
            position: relative;
            left: 50%;
            transform: translateX(-50%) !important;
            font-size: 4.4vw;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-Bold;
            padding: 0pt; // line-height: 10pt
        }
        img {
            width: 49px;
            height: 49px;
            position: relative;
            left: 50%;
            transform: translateX(-50%) !important;
        }
        .lblthankYou {
            color: $mostlyUsedColor;
            font-size: 5.82vw;
            font-family: $Montserrat-Bold;
        }
        .lblSOC {
            color: rgb(239, 65, 81);
            font-size: 4.76vw;
            font-family: $Montserrat-Bold;
        }
        .lblSuccessOrderPlaced {
            color: $mostlyUsedColor;
            font-size: 4.23vw;
            font-family: $montserrat-light;
        }
    }
    .orderDetailBlock {
        img {
            width: 49px;
            height: 49px;
            position: relative;
            left: 50%;
            transform: translateX(-50%) !important;
        }
    }
    .lblTotalResult {
        
        width: 100%;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%) !important;
        font-size: 4.4vw;
        color: rgba(27, 27, 27, 0.9);
        font-family: $Montserrat-Bold;
        padding: 0pt; // line-height: 10pt;
        margin-top: 2px !important;
        .lblTotalResultValue {
            font-size: 4.4vw;
            text-align: left;
            letter-spacing: 0.3px;
            color: rgb(230, 74, 137);
            font-family: $Montserrat-Bold;
            padding: 0pt;
            margin: 0pt !important;
        }
    } // .imgOrders {
    //     height: 19pt;
    //     width: 22pt;
    //     margin-top: -3px;
    //     float: right;
    // }
    .btn-continue-shopping {
        width: 210px;
        height: 45px;
        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right, #ec4e89 0%, #ef404c 100%) !important;
        border-radius: 18.5px;
        top: 15px;
        .button-inner{
            font-size: 4.2vw;
            font-family: $Montserrat-Bold;
        }
        // background: head
    }

    .o-conf-msg-class{
        font-weight: 800;
        font-size:4.76vw !important; 
        color: rgb(239, 65, 81);
        font-family: $Montserrat-Bold !important;

    }
}