<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">

      <ion-label class="upperHeading">{{response.o_conf_title1}}</ion-label>
<!-- 
   
      <ion-label *ngIf="response.o_status   === 'Placed'   " class="upperHeading">Thank You!</ion-label>
      <ion-label *ngIf="response.o_status   === 'Failed'   " class="upperHeading">Sorry!</ion-label> -->

      <!-- <ion-label *ngIf="response.o_status   === 'Placed'   " class="upperHeading">Thank You!</ion-label>
      <ion-label *ngIf="response.o_status   === 'Failed'   " class="upperHeading">Sorry!</ion-label>
      <ion-label *ngIf="response.o_status   === 'Pending'   " class="upperHeading">Thank You!</ion-label> -->

    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <!-- <ion-label class="upperHeading">Thank You</ion-label> -->

      <ion-label *ngIf="response.o_status   === 'Placed'   " class="upperHeading">Thank You!</ion-label>
      <ion-label *ngIf="response.o_status   === 'Failed'   " class="upperHeading">Sorry!</ion-label>

    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>

<ion-content fullscreen>
  <div class="orderSuccessBlock">
    <img src="./assets/imgs/ordrePlaced.png">


    <ion-label class="defaultLabelStyle lblthankYou"> {{response.o_conf_title1}} </ion-label>
    <!-- <ion-label *ngIf="response.o_status   === 'Failed'   " class="defaultLabelStyle lblthankYou">{{response.o_conf_title1}}</ion-label> -->


    <ion-label no-padding no-margin class="defaultLabelStyle lblSOC"> {{response.o_conf_title2}}</ion-label>
    <!-- <ion-label *ngIf="response.o_status   === 'Placed' " no-padding no-margin class="defaultLabelStyle lblSOC" floating>
      {{response.o_conf_title2}}</ion-label>
    <ion-label *ngIf="response.o_status  === 'Pending'" no-padding no-margin class="defaultLabelStyle lblSOC" floating>
      Order is Pending</ion-label>
    <ion-label *ngIf="response.o_status  === 'Failed'" no-padding no-margin class="defaultLabelStyle lblSOC" floating>
      {{response.o_conf_title2}}</ion-label> -->


    <ion-label *ngIf="response.o_status === 'Placed'" text-wrap no-padding no-margin class="defaultLabelStyle lblSuccessOrderPlaced"
      floating>
      {{response.o_txn_res_msg}}

    </ion-label>

    <ion-label *ngIf="response.o_status === 'Pending'" text-wrap no-padding no-margin class="defaultLabelStyle lblSuccessOrderPlaced" [innerHtml]='response.o_conf_msg'>
      
      <!-- Your voucher number is
      <span style="font-weight: 800;font-size:18px !important; font-family: $Montserrat-Bold !important;">{{response.RRN}}.</span>
      <br> Pay before
        <span style="font-weight: 800;font-size:18px !important; font-family: $Montserrat-Bold !important;">{{response.o_txn_expiry_datetime}}.</span>
      <br>Check SMS for voucher payment option(s).
      <br>Text "M" at 2179 to find your nearest JazzCash Retailer. You can also pay Voucher through internet banking of
      JazzCash Partner Banks. -->

    </ion-label>
    <ion-label *ngIf="response.o_status === 'Failed'" text-wrap no-padding no-margin class="defaultLabelStyle lblSuccessOrderPlaced"
      floating>
      {{response.o_conf_msg}}
      
    </ion-label>


    <ion-label *ngIf="response.o_status === 'Failed'" text-wrap no-padding no-margin class="defaultLabelStyle lblSuccessOrderPlaced"
      floating>
      {{response.o_txn_res_msg}}


    </ion-label>

    <!-- <ion-label text-wrap no-padding no-margin class="defaultLabelStyle lblSuccessOrderPlaced" floating> Your voucher number is:
      190110073299.
      Review SMS for voucher payment option(s).
      Text "M" at 2179 to find your nearest JazzCash Retailer. </ion-label> -->
  </div>
  <ion-label class="lblSeparator"></ion-label>

  <div class="orderDetailBlock" *ngIf="response.o_status   !== 'Failed'">
    <img class="imgOrders" src="./assets/imgs/dlieveryIcon.png">
    <ion-label no-margin class="lblTotalResult"> Order id:
      <span class="lblTotalResultValue">{{orderId}}</span>
    </ion-label>

    <ion-label text-wrap no-padding no-margin class="lblTotalResult">Your order will be delivered in

    </ion-label>
    <ion-label text-wrap no-padding no-margin class="lblTotalResult">
      <span class="lblTotalResultValue" *ngIf="response.o_status !== 'Pending'"> 3-4 working days.</span>
      <span class="lblTotalResultValue" *ngIf="response.o_status === 'Pending'"> 3-4 working days</span>

    </ion-label>
    <ion-label text-wrap no-padding no-margin *ngIf="response.o_status === 'Pending'" class="lblTotalResult">after
      payment confirmation.</ion-label>
    <!-- <ion-label no-padding no-margin class="lblTotalResult"> Time:
      <span class="lblTotalResultValue">10am to 8pm </span>
    </ion-label> -->

  </div>

  <button ion-button class="btn-continue-shopping" (click)="onBtnContinueShoppingTapped()">Continue Shopping</button>
</ion-content>