page-looking-for {
    .ionHeader {
        // height: 16.66vh;
        background:  linear-gradient(to top,rgb(255,195,113)-13%,rgb(255,95,109) 55%);
        // background: linear-gradient(to bottom, rgb(255, 95, 109), rgb(255, 195, 113));
        .backIcon {
            width: 32pt;
            height: 25.4pt;
            margin-top: 28pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            // background: green; 
            transition: 0.2s linear;
            
        }
        .backButton {
            width: 39pt;
            height: 26pt;
            position: absolute;
            margin-top: 26pt;
            margin-left: 12.5pt;
            z-index: 9; // 
            // background: red;
        }
        .menuButton {
            width: 55px;
            height: 35px;
            position: fixed;
            top: -6px;
            display: block;
            right: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 1; // 
            // background: red;
        }
        .menuIcon {
            // height: 13px;
            // width: 52px;
            height: 2vh;
            width: 6.5vh;
            position: fixed;
            top: 0; // padding: 0px;
            right: 5px;
            margin-top: 6.2vh !important; // background: green;
            // z-index: 1; // background: green;
        }
        .searching {
            width: 100%;
            margin-bottom: 1.3vh;
            z-index: 2; // background: red;
            .searchIconContainer {
                height: 27px !important;
                width: 27px !important;
                margin-top: 8px;
                background: white;
                border-radius: 13.5px;
                float: left;
                margin-left: 14px;
                z-index: 2;
            }
            .divInput {
                width: 75%;
                height: 35px; // margin-top: 46px !important;
                margin-top: 0.5vh !important;
                margin-left: 50px; // background: green;
                .topInputField {
                    width: 100%;
                    height: 100%; // line-height: 18px;
                    text-align: center !important;
                    object-fit: contain;
                    color: white;
                    line-height: 24px;
                    background: transparent;
                    font-size: 5.29vw; // width: 100%;
                    font-family: $Montserrat-SemiBold !important; // background: purple;
                }
            }
        }
    }
    .content {
        margin-top: 0px;
    }
    .scroll-content {
        margin-top: 0px;
    }
    .mainView {
        box-shadow: transparent;
        background: linear-gradient(to bottom, rgb(255, 95, 109), rgb(255, 195, 113));
        background: blueviolet;
    }
    .backgroundImage {
        // margin: auto;
        height: 63%;
        background-position: center bottom;
        background: transparent;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .backButton {
        background: transparent;
        height: 44px;
        margin-left: -10px;
        widows: 44px;
        margin-top: -15px;
    }
    .backButton:active {
        background-color: transparent;
    }
    .backButton:focus {
        background-color: transparent;
    }
    .backImage {
        height: 29px !important;
        width: 52px !important;
        padding-top: 7px;
        object-fit: contain;
        margin-left: -10px;
        margin-top: 5px;
        margin-left: -50px;
        z-index: 1;
    }
    .exploreLabel {
        color: white;
        font-size: 4.76vw; // font-weight: medium;
        font-family: $Montserrat-Medium !important;
    }
    .lookingForLabel {
        margin-top: 80px;
        color: white;
        font-size: 58px;
        font-family: $Montserrat-Bold !important;
    }
    .searchImage {
        height: 17px !important;
        width: 17px !important;
        object-fit: contain;
        margin-top: 45px;
    }
    .title {
        position: absolute;
        margin-top: -35px;
        background: green;
    }
    .searchImageTop {
        height: 17px !important;
        width: 17px !important;
        object-fit: contain;
        margin: 5px !important;
        z-index: 12;
    }
    .searchSpinner {
        // background: red;
        width: 20px;
        position: absolute;
        height: 20px;
        float: right;
        margin-top: -26px;
        right: 10px;
        .svg.viewBox {
            opacity: 0;
        }
    }
    .unFeaturedImage {
        height: 89px;
        margin-top: 20px !important;
        margin-bottom: 27px !important;
        margin-left: 32px !important;
        padding: 1px;
        width: 89px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .divBtnClose {
        // background: green;
        width: 30px;
        height: 30px;
        float: right; // position: relative;
        margin-top: -26px;
        margin-right: 0px;
        margin-bottom: 5px;
        .btnClose {
            width: 17px;
            height: 17px;
            float: right; // position: relative;
            margin-top: 2px;
            margin-right: 6px;
            margin-bottom: 5px;
            z-index: 1; // background: red; // margin-bottom: 5px;
        }
    }
    .lblLookingFor {
        padding-top: 33px;
        margin-top: 13px;
        color: rgb(255, 95, 109);
        margin-left: 14px;
        font-size: 6.08vw;
        font-family: 'font-family: $Montserrat-MediumDisplay_Regular' !important;
    }
    .slidesContainer {
        width: 100%; // border-radius: 100px !important;
        height: 80vh !important;
        margin-top: 0px;
        margin-bottom: 15px;
        z-index: 100; // .btnTagObject {
        box-shadow: none !important;
        // background: red;
    }
    ion-label.lblNorRecords {
        color: rgb(255, 147, 111);
        line-height: 40px;
        background: white;
        ;
        font-size: 5.29vw;
        text-align: center;
        margin-top: 40%;
    }
    .arrowPoinTingToSearch {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid #000000;
        opacity: 0.9;
        margin-left: 49%;
        margin-top: 15px;
    }
    .backgroundStuf {
        // margin-top: -2px;
        background: white !important;
        margin: -2px 12px 0px 0px !important;
        width: 100% !important;
    }
    .lblPinsWith {
        margin-top: 10px;
        margin-left: 15px;
        height: 23px;
        width: 78%;
        line-height: 23px;
        color: black;
        font-family: $Montserrat-Medium !important;
        font-size: 4.76vw;
        letter-spacing: 1px;
        float: left; // 
    }
    .lastSearchesCard {
        margin: 0px !important;
        padding: 0px !important; //
        width: 100% !important;
        height: 35vh !important;
        margin-bottom: 13pt;
        background: white;
        box-shadow: none;
        opacity: 1;
        z-index: 2000000;
        .cardHeader {
            background: white !important;
            margin-top: 1vh;
            padding: 0px 0px 0px 0px;
            .divBtnClearRecent {
                // background: green;
                width: 10%;
                margin-right: 3% !important;
                float: right;
                margin-top: 10px;
                margin-bottom: 0px;
                .btnClearRecent {
                    width: 20px;
                    height: 20px;
                    float: right; //
                    z-index: 1;
                }
            }

            .lblRecentSearches {
                // background: darkorange;
                margin-left: 20px !important;
                padding: 0px;
                float: left;
                width: 70%;
                height: 2.5vh;
                line-height: 20px; // color: black;
                color: rgba(44, 43, 43, 0.5); // width: 97.5px;
                font-size: 3.17vw;
                font-family: $Montserrat-Medium !important;
            }
        }
            ion-card-content {
                // border-bottom: solid 1px rgb(226, 218, 218);
                // height: 100%;
                width: 100% !important;
                box-shadow: none;
                // padding: 0px !important; // background: deeppink !important;
                padding: 0pt;
                margin: 0pt;
                margin-top: 1pt;
                margin-bottom: 1pt;
                background: white !important; // .imgHash {
                // img {
                //     width: 50px;
                //     height: 50px;
                //     padding: 10px;
                //     border-radius: 50%;
                //     border: 1px solid rgba(192, 192, 192, 0.5); // width: 97.5px;
                //     float: left; // background: green;
                    
                // }
                
                .lblRecentSearchText {
                    
                    margin-bottom: 2vh; 
                    // height: 3vh !important;
                    width: calc(100% -  34pt) !important;
                    margin-left: 17pt;
                    margin-right: 17pt;
                    line-height: 23px;
                    color: black;
                    font-family: $Montserrat-Medium !important;
                    font-size: 5.29vw;
                    font-weight: bold;
                    letter-spacing: 0px;
                    margin-top: 1pt;
                margin-bottom: 1pt;
                    // background:green;
                }
                // .lblPostsCount {
                //     margin-top: 0px;
                //     height: 23px;
                //     width: 78%;
                //     line-height: 23px;
                //     color: black;
                //     font-family: 'font-family: $Montserrat-MediumDisplay_Light' !important;
                //     font-size: 4.23vw;
                //     letter-spacing: 1px;
                //     float: right; // background: green;
                // }
            }
            
        
    }


    .mainCard {
        // background: darkgoldenrod !important;
        // background-color: white !important;
        // border-radius: 10px !important;
        // border-top: solid 1px rgb(182, 175, 175); // margin: 0px 12px 0px 45px !important;
        margin-top: 15px !important;
        margin-right: 5px !important;
        background: white; // width: 100% !important;
        height: 100% !important;
        box-shadow: none;
        opacity: 1;
        ion-card-content {
            margin-top: 1pt; //
            //  background: red;
            margin-bottom: 0pt;
            // height: 50px !important;
            box-shadow: none; // 
            // background: deepskyblue !important;
            padding: 0px 0px 0px 0px !important; // background: transparent; // .imgHash {
            img {
                width: 35px;
                height: 35px;
                padding: 10px;
                border-radius: 50%;
                border: 1px solid rgba(192, 192, 192, 0.5); // width: 97.5px;
                float: left; //  
                margin: 2pt;
                
                // background: rgb(192, 132, 164);
            }
            .lblTagName {
                
                width: 100% !important;
                line-height: 20px;
                color: grey;
                font-family: $Montserrat-Medium !important;
                font-size: 4.76vw;
                letter-spacing: 1px;
                // background: green;
                position: relative;
                top: 15%;
                transform: translateY(-15%);

                
            } 
        }
    }
    .highlight {
        color: black;
        background: #eee;
        border: 1px solid red;
        border-radius: 2px;
        margin: -1px;
    }
    .highlight:empty {
        display: none;
    }
    .highlightText {
        // background: yellow;
        color: black;
        font-size: 4.76vw;
        font-weight: bold;
        line-height: 23px;
        font-family: $Montserrat-Medium !important;
    }
    .divPostsListing{
        margin-top:10px;
        .imgListingCard{
            img {
                
                position: relative;
                z-index: 0;
            }
            

            .imgFavorite {
                position: absolute;
                z-index: 99999999;
                width: 40px;
                height: 40px; // top: 50px;
                margin-top: 10px;
                margin-right: 5px;
                right: 30px; // background: red;
            }
        }
    }
}