<ion-header class="ionHeader" [hidden]="1==2">

  <button ion-button (click)="btnBackTapped()" clear class="backButton"></button>
  <img class="backIcon" src="./assets/imgs/back.png" />

  <button class="menuButton" ion-button clear menuToggle></button>
  <img class="menuIcon" src="./assets/imgs/menu.png" />



  <div class="searching">
    <div class="searchIconContainer">
      <img item-left class="searchImageTop" src="./assets/imgs/searchColored.png" />
    </div>
    <div class="divInput">
      <ion-input clearInput [(ngModel)]="txtSearchStyles" #txtSearchTag (focusin)="shouldBeginEditing($event.target)" (focusout)="endEndEditing($event.target)"
        class="topInputField" (keyup)="shouldChangeCharacter($event.target.value)" (keyup.enter)="handleReturnkey()" placeholder="What are you looking for?"
        id="test-input"> ola {{shouldShowRecentSearches}} </ion-input>

    </div>
    <div class="divBtnClose" (click)="btnCloseTaped()">
      <img item-right *ngIf="showCloseButton" class="btnClose" src="./assets/imgs/close.png" />
    </div>

    <!-- <ion-spinner *ngIf="showSpinner" class="searchSpinner"></ion-spinner> -->
  </div>
  <!-- <div class="backgroundStuf" *ngIf="showTagsPopOver">
      <div class="arrowPoinTingToSearch" *ngIf="showTagsPopOver"> -->
  <!-- </div> -->
  <!-- </div> 
    src="./assets/imgs/nail.png"
  -->

  <!-- <div style="background:transparent"> -->
  <!-- <p class="lblLookingFor">Looking For</p> -->

</ion-header>



<ion-content style="background:white" (ionScroll)="scrollHandler($event)">


  <ion-scroll scrollY="true" class="slidesContainer" *ngIf="showTagsPopOver">
    <ion-card class="mainCard">

      <ion-card-content  *ngFor="let tag of filteredTags; let i=index;" (click)="btnStyleTapped(tag,i)">
        <ion-row no-padding no-margin no-lines>
          <ion-col no-padding no-margin no-lines col-2>
              <img src="./assets/imgs/menu_search_salon.png" />

            <!-- <img *ngIf="isService(tag.type)" src="./assets/imgs/menu_search_salon.png" /> -->
            <!-- src="./assets/imgs/searchColored.png"  -->
            <!-- <img *ngIf="isSalon(tag.type, tag.image_url )" src="./assets/imgs/menu_search_salon.png" /> -->
            <!-- [src]="salonPicsURL + tag.image_url" -->
            <!-- <img *ngIf="isKeyWord(tag.type)" src="./assets/imgs/menu_search_salon.png" /> -->
            <!--  src="./assets/imgs/searchColored.png" -->
            <!-- <img *ngIf="isSerSubCat(tag.type, tag.image_url)" src="./assets/imgs/menu_search_salon.png" /> -->
            <!--  [src]="serSabCatPicsURL + tag.image_url" -->
          </ion-col>
          <ion-col no-padding no-margin no-lines col-10>
            <label text-capitalize class="lblTagName" md-highlight-text="txtSearchStyles" [innerHTML]="highlight(tag.p_keywords)">
              {{tag.p_keywords}}
            </label>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-scroll>


  <label class="lblPinsWith" *ngIf="shouldShowLblPinsWith"> Pins with "{{txtSearchStyles}}"</label>

  <ion-card *ngIf="shouldShowRecentSearches" class="lastSearchesCard">
    <ion-card-header class="cardHeader">
      <ion-label class="lblRecentSearches">Recent Searches</ion-label>
      <div *ngIf="lastSearcheArray && lastSearcheArray.length > 0" class="divBtnClearRecent" (click)="btnClearRecentTapped()">
        <img item-right class="btnClearRecent" src="./assets/imgs/Clear.ico" />
      </div>
    </ion-card-header>
    <ion-card-content *ngFor="let cat of lastSearcheArray;" (click)="lblRecentSearchTapped(cat)">

      <label text-capitalize class="lblRecentSearchText"> {{cat.p_keywords}}
      </label>

    </ion-card-content>
  </ion-card>
  <div class="divPostsListing" *ngIf="!showTagsPopOver">
    <ion-card class="imgListingCard" *ngFor="let pin of pinsArray;">
      <img *ngIf="pin.favpost === 1 " class="imgFavorite" src="./assets/imgs/heart_filled.png" (click)="makePostFavoriteTapped(pin)"
      />

      <img *ngIf="pin.favpost === 0 " class="imgFavorite" src="./assets/imgs/heart_empty.png" (click)="makePostFavoriteTapped(pin)"
      />

      <span (click)="postImageTapped(pin)">
        <img [src]=pin.imageUrl />
      </span>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" loaddingSpinner="bubble">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>




<!-- <ion-content class="mainView" padding [hidden]="1==1">



  
  <button ion-button clear class="backButton" (click)='popPage()'>
  </button>
  <img class="backImage" src="./assets/imgs/back_white.png" />
  <ion-label [hidden]="isSearching" class="exploreLabel">Explore The Salons</ion-label>
  <ion-label [hidden]="isSearching" class="lookingForLabel">What are
    <br/>you looking
    <br/>for?
  </ion-label>



  <img item-left class="searchImage" [hidden]="isSearching" (click)='searchSalon()' src="./assets/imgs/searchIcon.png" />

  <ion-input [hidden]="isSearching" [(ngModel)]="search_salon" type="search" (focusout)="endEndEditing($event.target)" (ionFocus)="checkFocus()"
    style="color:white;
  z-index:1;
  transition: none;
  font-size:20px;
  margin-left:30px;
  margin-top:-37px;
  font-family: $Montserrat-Medium;
  padding-right:30px !important;" placeholder="Type to search"></ion-input>
</ion-content> -->