<ion-header class="ionDefaultHeader"   >
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> Favourite Beauty Trends  </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
</ion-header>
<ion-header hidden id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader-dt">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> {{collectionName}} </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
</ion-header>
<ion-content fullscreen #myContent class="body">
  <div class="Latest-trends-listing" ion-row>
    <ion-list  *ngFor="let post of postsArray; let i = index"  class="trends-listing"
      no-padding no-margin>
      <div>
        <div class="trends-listing-imageContent" (click)="postTaped($event, post)">
          <img   no-lines no-margins no-padding class="trends-listing-image" [src]=post.imageUrl
            onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" /><br>

            <div class="share-fav-section">
              <img src="./assets/imgs/share_filed.png" (click)="btnShareTapped($event, post, post.fbc_name)" class="shareSection" />

              <img *ngIf="post.fav_id !== 0"   class="imgFavoriteTrendsFilled" src="./assets/imgs/fav_filled.png"
              (click)="makeFavoriteTapped($event, post, i)" />

              <img  *ngIf="post.fav_id === 0 " class="imgFavoriteTrends" src="./assets/imgs/fav_empty.png"
              (click)="makeFavoriteTapped($event, post, i)" />
          </div>

        </div>
        <div class="clearfix">
          <div class="box"   >
             {{post.p_keywords}}
          </div>
          <div class="boxRight" >
            <div class="share-section" hidden  >
              <div class="share-section-contents">
                <div class="share-icon" (click)="btnShareTapped(post, post.p_keywords)">
                  <img src="./assets/imgs/share_2nd.png" />
                </div>
                <div class="share-lbl"  (click)="btnShareTapped(post, post.p_keywords)"  >
                  Share
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="trends-listing-separator">
      </div>
      
      </div>
      
    </ion-list>
       </div>
     <div>
</div>
</ion-content>