<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content class="notes-content" padding>


  <ion-card class="notes-card">

    <ion-card-header>
      <h2 style="color:white;text-align: center;">Available Promotions</h2>
    </ion-card-header>


    <ion-card-content *ngIf="promotions">
      <div *ngFor="let selectedPromotions of promotions" class="promotion-detail-on-tap"
        (click)="promotionTapped(selectedPromotions)">
        You have Rs.
        <span class="lbl-product-price-value"> {{selectedPromotions.pc_max_value}} </span>
        from
        <span class="lbl-product-price-value"> {{selectedPromotions.pc_title}} </span>
        campaign. You can use
        <span class="lbl-product-price-value"> {{selectedPromotions.pc_percent}} </span>
        % in one order. \nBigger the order, Bigger discount. \n Expiry
        <span class="lbl-product-price-value"> {{getFormattedDate(selectedPromotions.pc_expiry)}}. </span>
      </div>

      <!-- <ion-textarea [(ngModel)]="notes" style="background-color:white;padding:2px;color:black" rows="5"
        placeholder="Write Your Notes Here"></ion-textarea> -->
      <ion-row>
        <!-- <ion-col style="padding:0px !important;" col-6><button (click)="savenotes()" ion-button class="modal-btn"
            color="secondary">Save</button></ion-col> -->
        <ion-col style="padding:0px !important;">
          <button class="custom_button font-for-header" (click)="closemodal()" ion-button class="modal-btn" color="danger">Cancel</button>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>