page-promotion-detail {
    .promotion-detail-on-tap {
        background: white;
        width: 100%;
        margin: 10px 0px;

        border: 0.5px solid rgba(222, 32, 90,0.5);

        text-align: center;
        padding: 5px 10px;
        font-family: $Montserrat-Medium;
        border-radius: 5px;
    }
    @keyframes cascadeInSimple {
        0% {
            opacity: 0;
            transform: translateX(-100px) // transform: scale(0.7);
        }
        100% {
            opacity: 1;
            transform: translateX(0px) // transform: scale(1);
        }
    }

    ion-content,
    .content-ios,
    .content-md {
        background: transparent !important;
    }
    .notes-content {
        background-color: rgba(25, 25, 25, 0.9) !important;
    }
    .notes-content .scroll-content {
        padding-bottom: 0px !important;
    }
    .modal-btn {
        width: 100%;
        border-radius: 0px;
        margin: 0px;
    }
    .popover-content ion-content {
        // width: 250px !important;
        // left: 50px !important;
        padding: 5px !important;
    }
    .notes-card {
        background: transparent !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        padding-top: 60px !important;
        h2{
            font-family: $Montserrat-SemiBold;
        }
        button {
            
            background-image: $Beautyapp-gradient-color;
            border-radius: 10px;
        }
        
    }
    
}