<ion-header hidden class="myHeader">
    <img class="backIcon" src="./assets/imgs/back.png" (click)="btnBackTapped()" />
  </ion-header>
  <ion-header class="ionDefaultHeader"   >
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="lblSalonNearMeHeader">
           <div class="salName">
            <div class="salNamelbl">
                <span class="SalonKeyWord">Salons</span>
                #{{objPin.p_keywords}}
            </div>
          </div>
        </ion-label>
         

      </ion-col>
      <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
        <img class="menuIcon" src="./assets/imgs/menu.png" />
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content no-padding no-margin no-lines >
    <div *ngIf='!isFromBeautyTip'>
      <img class="imgPin" style="width: 100% !important;" [src]=objPin.imageUrl />
      <div class="lblSalonNearMe">
        <span class="SalonKeyWord"> Following Salons may be providing </span>
        #{{objPin.p_keywords}}  <span class="SalonKeyWord"> service </span>  </div>

    </div>

    <div *ngIf='isFromBeautyTip'>
      <ion-card no-padding no-margin no-lines class="tipsPostCard">
        <div *ngIf="shouldShowPostsInEnglish">
          <img class="salBackImage" [src]=selectedTipDetail.bt_imageUrl />
          <ion-label no-padding no-margin no-lines text-wrap class="lblTipTitle">
            {{selectedTipDetail.bt_title}}
          </ion-label>
          <ion-label no-padding no-margin no-lines text-wrap class="lblTipsDescription" [innerHtml]='selectedTipDetail.bt_description'>
          </ion-label>
        </div>
        <div *ngIf="!shouldShowPostsInEnglish">
          <img class="salBackImage" [src]=selectedTipDetail.bt_imageUrl />
          <ion-label  no-padding no-margin no-lines text-wrap class="lblBoldTextUrdu">{{selectedTipDetail.bt_title_urdu}}
          </ion-label>
  
          <ion-label id="some-element" no-padding no-margin no-lines text-wrap style="font-size:14pt;" class="lblTipsDescriptionUrdu"
            [innerHtml]='selectedTipDetail.bt_description_urdu' ></ion-label>
          <!-- <button class="lblViewMoreUrdu" *ngIf="selectedTipDetail.bt_description_urdu && selectedTipDetail.bt_description_urdu.length > numberOfChar"
            (click)="btnViewMoreTapped()">مزید پڑھیں</button> -->
  
        </div>
  
      </ion-card>
      <button ion-button full *ngIf='!ShouldShowSalonListing' (tap)="ShouldShowSalonListingTapped()" > Book Appointment </button>
      <ion-label *ngIf='ShouldShowSalonListing' class="lblSalonNearMe">
        <span class="SalonKeyWord">Salons</span>
        #{{beautyTipsCateogry.btc_name}} </ion-label>
    </div>
    <salon-card *ngIf="ShouldShowSalonListing" [salonCardOptions]="salonCardOption"></salon-card>
  
  
  </ion-content>