<div *ngIf="salonCardOptions">


  <ion-list class="SalonCardScrollContainer" no-padding no-margin no-lines>
    <ion-list class="salonCard" *ngFor="let salon of allSalons; let i = index">

      <img *ngIf="this.salonCardOptions.ShouldShowSalonImage && salon.fav_id !== 0" class="imgFavoriteSalon"
        src="./assets/imgs/heart_filled.png" (click)="makeSalonFavoriteTapped(salon, i)" />
      <img *ngIf="this.salonCardOptions.ShouldShowSalonImage && salon.fav_id === 0" class="imgFavoriteSalon"
        src="./assets/imgs/heart_empty.png" (click)="makeSalonFavoriteTapped(salon, i)" />

      <img class="salBackImage" *ngIf="this.salonCardOptions.ShouldShowSalonImage && salon.sal_pic.length == 0"
        (click)='openDetailsPage(salon)' [src]="salonImagesURL + defaultSalonPicName"
        onError="this.src='http://mydr.qwpcorp.com/apis_pk/salonimages/no_image.png'" />
      <img class="salBackImage" *ngIf="this.salonCardOptions.ShouldShowSalonImage && salon.sal_pic.length > 0"
        (click)='openDetailsPage(salon)' [src]="salonImagesURL +salon.sal_pic"
        onError="this.src='http://mydr.qwpcorp.com/apis_pk/salonimages/no_image.png'" />
      <ion-card no-lines no-padding no-margin class="promotionContainer"
        *ngIf="this.salonCardOptions.ShouldShowSalonImage && salon.sal_active_promotions != 0">
        <ion-label no-padding no-margin class="oferrTitle">{{getPromotions(salon.sal_id)}}</ion-label>

        <p class="btnViewAllPromotions" *ngIf="salon.sal_active_promotions> 1"
          (click)="btnAllOfferTaped(salon.sal_id, salon.sal_name, salon.sal_pic)">More Promotions</p>

      </ion-card>
      <ion-label no-lines no-padding no-margin text-wrap text-left class="salonName"> {{salon["sal_name"]}}</ion-label>
      <ion-row no-lines no-padding no-margin class="SalonAddress">
        <ion-col no-padding no-margin col-9>
          <ion-label text-wrap no-lines no-padding no-margin class="lblAddress">{{salon.sal_address}} {{salon.sal_zip}}
          </ion-label>
        </ion-col>
        <ion-col hidden col-3 no-padding no-margin text-wrap>
          <div *ngIf="salon.distance" class="PinImageWithDistance">
            <img class="pinImage" src="./assets/imgs/sal_pinLocation.png" />
            <ion-label no-lines no-padding no-margin text-wrap class="pinDistance"> {{ roundDistance(salon.distance)}}
              {{distanceUnit}}</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-card no-lines no-padding no-margin class="ratingCard">
        <ion-label no-padding no-padding *ngIf="salon.sal_rating > 0" text-wrap class="ratingValue">
          {{roundRatingUpToOneDecimal(salon.sal_rating)}} </ion-label>
        <rating no-padding no-padding [(ngModel)]="salon.sal_rating" readOnly="true" max="5"
          [ngClass]="salon.sal_rating == 0 ? 'withNoRating' : 'withRating' " emptyStarIconName="star-outline"
          halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
        </rating>
        <ion-label no-padding no-padding *ngIf="salon.sal_rating == 0" class="notEnoughRating">
          Not Enough Ratings
        </ion-label>

      </ion-card>
      <div *ngIf="salonCardOptions.isViewPinRelatedSalon ">
        <ion-card no-padding no-margin class="ServicesCard"
          *ngFor="let service of salon.pinRelatedServices; let i = index">
          <ion-label no-padding no-margin class="lblServiceName"> {{service.sser_name}} </ion-label>
          <ion-label no-padding no-margin class="lblServicePrice">{{currencySymbol}} {{service.sser_rate}}</ion-label>
          <ion-label no-padding no-margin class="lblServiceTime">{{service.sser_time}} mins</ion-label>
        </ion-card>

        <ion-card no-padding no-margin class="BookAppointmentItem">
          <button ion-button class="btnBookAppointment" (click)='openDetailsPage(salon)'>Book Appointment</button>
        </ion-card>
        <ion-card no-padding no-margin class="separator">

        </ion-card>
      </div>
      <!-- <div  class="salonSeparator"></div> -->
      <div *ngIf="allSalons && allSalons.length > 1" class="salonSeparator"></div>
    </ion-list>
    <div class="lblNoData"
      *ngIf="(this.salonCardOptions.calledFrom === 'Favorite-Salon.ts' || this.salonCardOptions.calledFrom === 'Home.ts') && allSalons && allSalons.length === 0 ">
      <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
      <ion-label class="lblNothingFound">No Salon Found</ion-label>
    </div>
  </ion-list>
</div>