<ion-header class="ionDefaultHeader" >

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Delivery Address</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Delivery Address</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>


<ion-content class="BaseContent">
  <!-- showing previous address listing -->
  <ion-row [hidden]="IsNewShippingAddress" no-padding no-margin no-lines *ngFor="let shipAddres of ShippingAddressArray let i=index;"
    [ngClass]="shipAddres.checked ? 'AddressListingCard address-checked' : 'AddressListingCard address-un-checked' "
    (click)="shippingAddressSelected(shipAddres, i)">
    <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1 (click)="shippingAddressSelected(shipAddres,i)">
      <ion-checkbox item-start class="CheckBox" [checked]="shipAddres.checked" ></ion-checkbox>
    </ion-col>

    <ion-col class="serviceNameCol" col-10>
      <ion-label text-wrap class="category-name" no-padding no-margin no-lines text-capitalize text-wrap
        text-capitalize> {{shipAddres.o_contact_person}}, {{shipAddres.o_address}}, {{shipAddres.o_city}}
        <br>
        <span class="category-name phone-number">{{shipAddres.o_phone}}</span>
      </ion-label>

    </ion-col>
    <ion-col col-1 (click)="btnMoreOptionTapped()">
      <img class="img-MoreOpiton" src="./assets/imgs/more-icon.png">

      <ion-select (ionChange)="btnMoreOptionTapped($event,shipAddres )" interface="popover">
        <ion-option>Delete</ion-option>
        <ion-option>Edit</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <!-- <button *ngIf="!IsNewShippingAddress" ion-button full (click)="btnAddNewAddressTapped()">Add new address </button> -->
  <!-- <button *ngIf="!IsNewShippingAddress" ion-button full (click)="btnAddBrandNewAddressTapped()">Add brand new address
  </button> -->
  <!-- <button *ngIf="IsNewShippingAddress" ion-button full (click)="btnAddPreviousAddressTapped()">Use previous address</button> -->


  <!-- NEW ADDRESS -->
  <div [hidden]="!IsNewShippingAddress" class="newAddressLine">

    <ion-item>
      <ion-label floating class="label-address">Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="customerName" class="label-address"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label floating class="label-address">Mobile</ion-label>
      <ion-input class="label-address" type="Tel" maxlength="11" pattren="^[0-9]" [(ngModel)]="customerPhone" (keyup)="OnValueEnter($event.target.value)"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating class="label-address">City</ion-label>
      <ion-input type="text" [(ngModel)]="city" class="label-address"></ion-input>

    </ion-item>

    <ion-item  class="province-item" >
      <ion-label class="label-address">Province</ion-label>

      <ion-select [(ngModel)]="ngModelGender" interface="popover" class="select-province">
        <ion-option value="Punjab">&nbsp;&nbsp;Punjab</ion-option>
        <ion-option value="KPK">&nbsp;&nbsp;KPK</ion-option>
        <ion-option value="Sindh">&nbsp;&nbsp;Sindh</ion-option>
        <ion-option value="Balochistan">&nbsp;&nbsp;Balochistan</ion-option>
        <ion-option value="FATA">&nbsp;&nbsp;FATA</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>

      <ion-label floating class="label-address">Address</ion-label>
      <ion-textarea [(ngModel)]="shippingAddress" class="label-address"></ion-textarea>
    </ion-item>

  </div>
  <div no-padding no-margin class="col-default-addresss" *ngIf="IsNewShippingAddress" (tap)="makeAddressDefault()">
    <ion-checkbox [checked]="markthisAsDefaultAddress" ></ion-checkbox>
    <ion-label text-wrap >Use this address always</ion-label>
  </div>

  <ion-row class="btn-save-row"> 
    <ion-col >
      <button *ngIf="IsNewShippingAddress" ion-button full class="btn-save-address" (tap)="btnSaveAddressapped()">Save</button>
    </ion-col>
    <!-- <ion-col >
      <button *ngIf="IsNewShippingAddress" ion-button full class="btn-save-address" (tap)="btnSaveAddressapped()">Save as new</button>
    </ion-col> -->
  </ion-row>

  <!-- <button ion-button full *ngIf="selectedAdress" class="btn-save-address" (tap)="btnSaveAddressapped()">Use this address</button> -->
</ion-content>

<ion-footer>
  <ion-row class="summaryRow" no-padding no-margin>

    <button *ngIf="!IsNewShippingAddress" ion-button full class="btnBookOrRequestAppointment" (click)="btnAddNewAddressTapped()">+ Add Address</button>
    <button [hidden]="true" *ngIf="IsNewShippingAddress" ion-button full class="btnBookOrRequestAppointment" (click)="btnAddPreviousAddressTapped()">Use Previous Address</button>

  </ion-row>
</ion-footer>