page-shipping-info {
    .miniHeader {
        height: 50px;
        background: $header-gradient-background;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28px;
                margin-left: 12.5px;
                margin-bottom: 0px;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.76vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                background: transparent !important;
                .menuIcon {
                    width: 30px;
                    height: 17px;
                    margin-top: 31px;
                    position: absolute;
                    right: 15.5px;
                    z-index: 1;
                    transition: 0.2s linear;
                }
            }
        }
        .backIcon {
            width: 29px;
            height: 20.4px;
            margin-top: 28px;
            margin-left: 12.5px;
            margin-bottom: 0px;
            z-index: 99999; // 
            // background: green; 
            transition: 0.2s linear;
        }
        .backButton {
            width: 39px;
            height: 26px;
            position: absolute;
            margin-top: 26px;
            margin-left: 12.5px;
            z-index: 9; // 
            // background: red;
        }
        .menuButton {
            width: 35px;
            height: 25.5px;
            margin-top: 25px;
            right: 8.5px;
            z-index: 1;
            float: right; // 
            // background: green;
        }
        .menuIcon {
            width: 25px;
            height: 8.5px;
            margin-top: 31px;
            position: absolute;
            right: 15.5px;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27px;
            font-size: 3.7vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .ionHeader {
        background: $header-gradient-background;
        .headerRow {
            margin-top: 15px;
            margin-bottom: 15px;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28px;
                margin-left: 12.5px;
                margin-bottom: 0px;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                .upperHeading {
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.76vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%); // background: green;
                }
            }
        }
        .backIcon {
            width: 29px;
            height: 20.4px;
            margin-top: 28px;
            margin-left: 12.5px;
            margin-bottom: 0px;
            z-index: 99999; // 
            // background: green; 
            transition: 0.2s linear;
        }
        .backButton {
            width: 39px;
            height: 26px;
            position: absolute;
            margin-top: 26px;
            margin-left: 12.5px;
            z-index: 9; // 
            // background: red;
        }
        .menuButton {
            width: 35px;
            height: 25.5px;
            margin-top: 25px;
            right: 8.5px;
            z-index: 1;
            float: right; // 
            // background: green;
        }
        .menuIcon {
            width: 25px;
            height: 8.5px;
            margin-top: 31px;
            position: absolute;
            right: 15.5px;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .HeaderCard {
            // background: red;
            width: 100% !important;
            height: 80px;
            padding: none;
            margin-top: 10px;
            margin-bottom: 10px;
            background: transparent;
            box-shadow: none;
            .featuredImage {
                margin-left: 27px !important;
                padding: 20px;
                margin-top: 0px;
                background: white;
                width: 102px;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .upperHeading {
                color: white;
                margin-top: -80px !important;
                margin-left: 140px !important;
                font-size: 30px;
                font-family: $Montserrat-SemiBold !important;
                text-align: center;
                margin-bottom: 6px; // background: green;
            }
            .subHeading {
                color: white;
                margin-left: 140px !important;
                font-size: 3.43vw;
                margin-top: -10px;
                font-family: $Montserrat-Medium !important;
                text-align: center; // background: blue !important;
            }
        }
        .lblLatestTrendsHeading {
            width: 100%; // height: 26px;
            margin-top: 8.3px;
            margin-left: 18px;
            font-size: 5.29vw !important;
            text-align: left;
            letter-spacing: -1px;
            line-height: 34px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
        }
        .GenderSegement {
            height: 20px;
            margin-bottom: 0px !important;
            bottom: 0;
            transition: 0.2s linear;
            .segment-button {
                height: 25px;
                background: transparent !important;
                border-color: transparent !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-top: 10px;
                color: rgba(255, 255, 255, 0.5);
                font-size: 4.23vw;
                line-height: 5.8px; // background: blue !important;
                font-family: $Montserrat-SemiBold !important;
            }
            .segment-button.segment-activated {
                height: 25px; // border-bottom-color: rgb(255, 95, 109) !important; // border-bottom-width: 1px !important;
                // border-bottom-width: 1px !important;
                // background: purple !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-top: 10px;
                color: rgba(255, 255, 255, 1);
                line-height: 5.8px !important;
                font-size: 4.23vw;
                line-height: 9.8px; // font-family: $Montserrat-Medium; 
                font-family: $Montserrat-SemiBold !important; // background: deeppink !important;
            }
        }
    }
    .BaseContent {
        background: white !important;
    }
    .AddressListingCard {
        width: calc(100% - 20pt);
        background: rgb(246, 246, 246) !important;
        border-radius: 1.7pt;
        margin: 4pt 10pt !important;
        padding: 0pt 0pt;
        background: white;
        div.select-text {
            background: green;
            visibility: hidden;
        }
        div.select-icon {
            visibility: hidden
        }
        .checkBoxCol {
            position: relative;
            width: 100%;
            margin-bottom: 1pt;
            ion-checkbox {
                width: 10px !important;
                height: 10px !important;
                margin-left: 5pt;
                margin-right: 3pt;
                float: left;
                position: relative;
                top: 40%;
                transform: translateY(-40%);
                border-radius: 5px !important;
                z-index: 99999999;
                .checkbox-icon {
                    border-color: rgb(236, 78, 137);
                    background-color: white;
                    border-radius: 2px;
                }
                .checkbox-icon.checkbox-checked {
                    border-color: rgb(236, 78, 137);
                    background-color: white;
                    border-radius: 2px;
                    div.checkbox-inner {
                        border-color: rgb(236, 78, 137);
                    }
                }
            }
        }
        .category-name {
            width: 100%; // height: 100%;
            color: black;
            font-size: 3.7vw;
            font-family: $Montserrat-SemiBold !important; // 
            text-align: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 3pt;
        }
        .phone-number {
            color: rgb(227, 63, 73);
        }
        .img-MoreOpiton {
            width: 6px;
            height: 22px;
            float: right;
            margin-top: 5px;
            margin-right: 4px;
        }
    } // .address-checked {
    //     background: rgb(255, 255, 255); // background: green;
    // }
    // .address-un-checked {
    //     background: rgb(131, 131, 131) !important;
    // }
    .btnBookOrRequestAppointment {
        width: 100%;
        height: 36pt;
        font-family: 'montserrat-bold' !important;
        font-size: 4.23vw;
        line-height: 22.5pt;
        color: white;
        border-radius: 1.7pt;
        background: rgb(235, 46, 71);
    }
    .headingColumn {
        background: transparent;
    }
    .lblSepator {
        width: 100%;
        height: 2px !important;
        background: rgb(184, 184, 184);
    }
    .newAddressLine {
        box-shadow: none;
        position: relative;
        background: white;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px) !important;
        background: white;
        .label-address {
            color: rgb(96, 96, 96);
            // color: black;
            letter-spacing: -0.04px;
            font-size: 3.7vw;
            font-family: $Montserrat-SemiBold;
            // background:gold;
        }
        .province-padding {
            padding-left: 10px !important;
        }
        .select-province{
            // background: blue;
        }
        .province-item{
            margin: 5pt 0pt;
        }
    }
    .col-default-addresss {
        background: gold !important;
        width: 90%;
        height: 40px !important;
        position: relative;
        
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10pt;
        ion-checkbox {
            width: 10px !important;
            height: 10px !important;
            margin-left: 5pt;
            margin-right: 3pt;
            float: left;
            position: relative;
            top: 40%;
            transform: translateY(-40%);
            border-radius: 5px !important;
            z-index: 99999999;
            .checkbox-icon {
                border-color: rgb(236, 78, 137);
                background-color: white;
                border-radius: 2px;
            }
            .checkbox-icon.checkbox-checked {
                border-color: rgb(236, 78, 137);
                background-color: white;
                border-radius: 2px;
                div.checkbox-inner {
                    border-color: rgb(236, 78, 137);
                }
            }
        }
        ion-label {
            color: rgb(35, 31, 32);
            width: calc(100% - 50px);
            float: right;
            font-size: 4.23vw;
            font-family: $Montserrat-Bold;
            position: relative;
            top: -10%;
            transform: translateY(10%);
        }
    }
    .btn-save-row{
        width: 100% !important;
    }
    .btn-save-address {
        height: 40px;
        width: 130px;
        font-family: $Montserrat-Bold;
        font-size: 3.7vw;
        color: white;
        border-radius: 15px;
        margin: 20pt 0px !important;
        background: $header-gradient-background;
        line-height: 34px;
        position: relative;
        
        left: 50%;
        transform: translateX(-50%); 
        
        
    }
    .clearfix {
        overflow: auto;
        position: relative;
        ion-icon {
            float: right;
            margin-right: 10px !important;
            position: relative;
            top: -60%;
            transform: translateY(60%);
        }
    }
    select-icon {
        background: red !important;
    }
}