<ion-tabs   [selectedIndex]="setTabIndex">
  
    <ion-tab [root]="tab1Root" [rootParams]="paramsToTabChild" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Appointment" tabIcon="calendar"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Notification" tabIcon="notifications"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
  <!-- <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="homeIcon"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Appointment" tabIcon="appoIcon"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notification" tabIcon="notiIcon"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="profileIcon"></ion-tab> -->
</ion-tabs>
