<ion-header class="ionHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> Confirm Appointment </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>

</ion-header>
<ion-content scrollX="false" class="BaseContentContainer">
  <ion-label text-wrap class="lblReviewAppointment">Review your Appointment Details</ion-label>
  <salon-card [salonCardOptions]="salonCardOption"></salon-card>
  <!-- <ion-card no-padding no-margin class="salonDetailCard">
    <ion-label no-lines no-padding no-margin text-wrap text-left class="salonName"> {{selectedSalon.sal_name}}</ion-label>
    <div class="SalonAddress">
      <ion-label no-padding no-margin text-wrap class="lblAddress">{{selectedSalon.sal_address}} {{selectedSalon.sal_zip}}</ion-label>
      <div class="PinImageWithDistance" *ngIf="selectedSalon.distance && selectedSalon.distance.length > 0">
        <img class="pinImage" src="./assets/imgs/sal_pinLocation.png" />
        <ion-label no-lines no-padding no-margin class="pinDistance">{{ selectedSalon.distance | number : '1.1-1'}} Miles</ion-label>
      </div>
    </div>
    <div  class="SalonRating">
        <ion-label no-padding no-margin text-wrap class="RatingInt">     {{ selectedSalon.sal_rating }}</ion-label>
        <div class="ratingAll" *ngIf="selectedSalon.distance && selectedSalon.distance.length > 0">
            <rating [(ngModel)]="selectedSalon.sal_rating" 
            readOnly="true" 
            max="5" 
            class="starsParent"
            emptyStarIconName="star-outline" 
            halfStarIconName="star-half"
            starIconName="star" 
            nullable="false" 
            (ngModelChange)="onModelChange($event)" > </rating>
        </div>
      </div>

    <p   hidden  *ngIf="selectedSalon.sal_rating != 0"
    class="NotRatedYet" >
     {{  selectedSalon.sal_rating }}
      </p>

    <rating [(ngModel)]="selectedSalon.sal_rating" 
    readOnly="true" 
    max="5" 
    class="starsParent"
   
    class="starsParent"
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half"
    starIconName="star" 
    nullable="false" 
    (ngModelChange)="onModelChange($event)" > </rating>

  </ion-card>

  <ion-label hidden text-wrap class="lblReviewAppointment">Promotions</ion-label>
  <ion-card hidden no-padding no-margin class="salonDetailCard">
    <ion-label no-lines no-padding no-margin text-wrap text-left class="salonName"> Promotions </ion-label>
    <div class="SalonAddress">
      <ion-label no-padding no-margin text-wrap class="lblAddress">{{selectedSalon.sal_address}} {{selectedSalon.sal_zip}}</ion-label>
     
    </div>
  </ion-card> -->



  <ion-label class="lblBoldText">
    <!-- <span class="lblDimText"> Booked</span> -->
    Services
    <!-- <span class="lblDimText"> Booked</span> -->
    <span class="lblDimText"></span>

  </ion-label>
  <ion-card no-padding no-margin no-lines class="selectedServicesCard" *ngFor="let service of selectedServicesObjects; let serIndex=index">
    <ion-row no-padding no-margin no-lines class="serviceCellSelected">
      <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1>
        <ion-checkbox item-start class="CheckBox" [checked]="true" [disabled]="true"></ion-checkbox>
      </ion-col>
      <ion-col class="serviceNameCol" col-8>
        <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>{{
          service.sser_name }} </ion-label>
        <ion-label class="serviceTime" no-padding no-margin no-lines text-capitalize>{{ service.sser_time }} mins</ion-label>
      </ion-col>
      <ion-col class="serPriceCol" col-3 col-xs>
        <ion-label no-padding no-margin no-lines text-capitalize text-wrap text-capitalize class="serviceCost">{{currencySymbol}}
          {{ roundAmount(service.sser_rate)}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card no-padding no-margin no-lines class="DateAndTimeBookedCard">

    <ion-row>
      <ion-col col-4>
        <ion-label class="lblBoldTextDate">Date & Time
          <!-- <span class="lblDimTextdate">Booked</span> -->
          <span class="lblDimTextdate"></span>
        </ion-label>
      </ion-col>
      
      <ion-col col-8>
        <ion-label class="lblTotal">Total
          <span class="lblPrice">{{currencySymbol}}{{appointmentTotalPrice}}</span>
        </ion-label>
      </ion-col>
    </ion-row>


  </ion-card>
  <ion-row class="DateAndTimeDetailRow">
    <ion-col col-5>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Date</ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{AppointmentDateForConfirmation}}</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Day</ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{AppointmentDayName}}</ion-label>
    </ion-col>
    <ion-col col-3>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Time</ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{getSlotFromattedTime(this.selectedSlot.ts_start_time)}}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <button style="text-transform: none;" ion-button class="btnConfirmBooking" (click)="btnBookAppointmentTapped()">Confirm
    Booking</button>
</ion-footer>