@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url('SFProDisplay-Bold.eot');
    src: url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('SFProDisplay-Bold.woff2') format('woff2'), url('SFProDisplay-Bold.woff') format('woff'), url('SFProDisplay-Bold.ttf') format('truetype'), url('SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Light';
    src: url('SFProDisplay-Light.eot');
    src: url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'), url('SFProDisplay-Light.woff2') format('woff2'), url('SFProDisplay-Light.woff') format('woff'), url('SFProDisplay-Light.ttf') format('truetype'), url('SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('SFProDisplay-Regular.eot');
    src: url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('SFProDisplay-Regular.woff2') format('woff2'), url('SFProDisplay-Regular.woff') format('woff'), url('SFProDisplay-Regular.ttf') format('truetype'), url('SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url('SFProDisplay-Medium.eot');
    src: url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('SFProDisplay-Medium.woff2') format('woff2'), url('SFProDisplay-Medium.woff') format('woff'), url('SFProDisplay-Medium.ttf') format('truetype'), url('SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url('SFProDisplay-Semibold.eot');
    src: url('SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('SFProDisplay-Semibold.woff2') format('woff2'), url('SFProDisplay-Semibold.woff') format('woff'), url('SFProDisplay-Semibold.ttf') format('truetype'), url('SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Thin';
    src: url('SFProDisplay-Thin.eot');
    src: url('SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'), url('SFProDisplay-Thin.woff2') format('woff2'), url('SFProDisplay-Thin.woff') format('woff'), url('SFProDisplay-Thin.ttf') format('truetype'), url('SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Medium.eot');
    src: url('AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Medium.woff2') format('woff2'),
        url('AvenirLTStd-Medium.woff') format('woff'),
        url('AvenirLTStd-Medium.ttf') format('truetype'),
        url('AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
