<ion-header class="ion-header font-for-header" no-border>
  <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
    <img class="backIcon" src="./assets/imgs/bback_old.png" />
  </ion-col>
  <img class="app-logo-in-header" src="./assets/imgs/logo-white.png" alt="">
</ion-header>
<ion-content padding>

  <div (click)="contentClick()">
    <p class="EnterActivationCode font-for-sub-header"> Enter activation code</p>
    <p class="EnterActivationCode font-for-sub-header-content " style="font-size:18px; margin-top: 8px; margin-left: 10px; margin-right: 10px;">
      Please enter the code we have just sent to </p>
    <p class="EnterActivationCode" style="font-size:18px; "> {{ phone_number}} </p>

    <ion-input 
    [(ngModel)]="otpFirstDigit"></ion-input>


    <ion-row class="otp-number-row">
      <ion-col>
        <!-- <ion-label>1</ion-label> -->
        <ion-input placeholder="0" class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
          [(ngModel)]="otpFirstDigit" (focusout)="endEndEditing($event.target)" (click)="firstDigitTapped()"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="1" class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
          [(ngModel)]="otpSecondDigit" (focusout)="endEndEditing($event.target)" (click)="secondDigitTapped()"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="2" class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
          [(ngModel)]="otpThirdDigit" (focusout)="endEndEditing($event.target)" (click)="thirdDigitTapped()"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="3" class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
          [(ngModel)]="otpForthDigit" (focusout)="endEndEditing($event.target)" (click)="forthDigitTapped()"></ion-input>
      </ion-col>

    </ion-row>

    <div class="didntReceivedCode">
      <p class="notReceivedText">
        Didn't received the code?
        <!-- [disabled]="objAuthCodeValidtion && objAuthCodeValidtion.isUserBlocked" -->
        <span class="resendCode" (tap)="resendActivationCode()">
          Resend code
        </span>
      </p>
    </div>

    <div style="margin-top: 70px;  background:red; color:white; padding:20px; font-size: 18px !important" (click)="homePageTaped()">
      Next
    </div>


  </div>
</ion-content>