page-home-page-dummy {
    .ion-header {
        background: white;
        height: 116px !important;
        .backIcon {
            width: 35px; // height: 15px;
            margin-top: 27pt;
            margin-left: 4pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
            float: left;
        }
        .app-logo-in-header {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0pt !important;
            margin-bottom: 0pt !important; // background: blue;
        }
    }
    .ionContent {
        background-color: #F5F5F5;
        width: 100%;
        height: 100%; // background : deeppink !important;
    }
    .EnterActivationCode {
        font-size: 6.34vw;
        color: rgb(60, 60, 60);
    }
    .containerInputs {
        bottom: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 75px;
        grid-gap: 10px;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 10px; // background: dodgerblue;
    }
    .label {
        margin: 0;
    }
    ion-item.p {
        padding-left: 0;
    }
    .item-inner {
        padding-right: 0px !important;
    }
    .label-md {
        margin: 0px 0px 0px 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .containerInputsTop {
        width: 90%;
        text-align: center;
    }
    .itemInputs {
        text-align: center;
        width: 100%;
        height: 55px;
        background: rgb(235, 235, 235);
        margin: 0px auto;
        margin-top: 0;
        position: relative;
    }
    .cusrsor {
        height: 100%;
        width: 100%;
    }
    .header_border {
        width: 2px;
        height: 100%;
        height: 100%;
        background-color: red;
    }
    .container {
        position: absolute;
        bottom: 0;
        display: grid; // height: 200px;
        width: 100%;
        vertical-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        background: rgb(235, 235, 235);
        margin: 14pt 0pt;
        padding: 14pt 0pt; // background: chocolate !important;
    }
    .item {
        text-align: center;
        width: 100%;
        height: 50px;
        background: rgb(235, 235, 235);
        border-style: solid;
        border-color: #d0d0d0;
        border-width: 0px 1px 1px 1px; // margin: 0px auto;
        margin-top: 0;
        position: relative; // background: gold;
        // z-index: 99999999;
        // margin-top: 30px;
    }
    .Numbers {
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 6.34vw;
        color: black; //   background: dodgerblue;
    }
    .didntReceivedCode {
        text-align: center;
        position: absolute;
        margin-top: 10px;
        width: 100%;
        padding: 0;
    }
    .notReceivedText {
        font-size: 3.43vw;
        margin: 0;
        padding: 0px;
    }
    .resendCode {
        padding-left: 5px;
        color: red;
        font-size: 3.43vw;
        text-decoration: underline;
    }
    .ios {
        page-homepage {
            .special {
                background-color: red;
            }
        }
    }
    .itemLast {
        text-align: center;
        width: 100%;
        height: 50px; // height: 60px;
        background: rgb(235, 235, 235);
        border-style: solid;
        border-color: #d0d0d0;
        border-width: 0px 1px 1px 1px;
        margin: 0px auto;
        margin-top: 0;
        position: relative; // background: green;;
    }
    .headerLabel {
        position: absolute;
        bottom: 26px; // left:13.5px;
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        color: white;
        width: 100%;
    }
    .backButton {
        position: absolute;
        bottom: 50px;
        left: 13.5px;
        text-align: center;
        font-size: 30px;
        font-weight: medium;
        color: white
    }
    .tcontainer {
        width: 100%; // vertical-align: center;
        background: rgb(235, 235, 235); // margin: 10pt 0pt;
        // padding: 10pt 0pt;
        // background: blue !important;
    }
    .tcol {
        text-align: center;
        background: rgb(235, 235, 235);
        border: solid 1px #d0d0d0; // background: gold;
    }
    .tNum {
        width: 100% !important;
        height: 100% !important;
        font-size: 6.34vw;
        color: black;
        padding-top: 6.5px; // background: dodgerblue;
        // vertical-align: middle !important;
    }
    .keyboard-row {
        position: absolute;
        bottom: 12pt;
        width: 100%;
    }
    .keyboard-numbers {
        text-align: center;
        background: rgb(235, 235, 235);
        border: solid 1px #d0d0d0;
        .img-reset {
            height: 20px;
            width: 20px;
        }
        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .label-digit {
            width: 100% !important;
            height: 100% !important;
            font-size: 6.34vw;
            color: black;
            padding-top: 6.5px;
        }
    }
    .otp-number-row {
        // background: red;
        margin: 0px 12pt !important;
        width: calc(100% - 24pt);
        height: 14vw;
        ion-col {
            // background: chocolate;
            border-right: 2px solid white;
        }
        caret-color: red !important;
        .otp-input {
            caret-color: red !important;
            background: rgb(235, 235, 235);
            text-align: center;
            width: 80%;
            height: 100%; 
            // width: 80px;
            // height: 80px;
            position: relative !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
            font-size: 5vw;
            font-family: $Montserrat-Bold;
            // padding-left: 15% !important;
            // padding-right: 15% !important;
            text-align: center !important;
            // .text-input 
            // ,
            .text-input-ios,.text-input-md {
                margin: 0px !important;
                padding: 0px !important;
                width: 100%;
                height: 100%;
                padding-left: 40% !important;
                padding-right: 40% !important;
                // background:green;
            }
            // .text-input-md {
            //     margin: 0px !important;
            //     padding: 0px !important;
            //     width: 100%;
            //     height: 100%;
            //     padding-left: 40% !important;
            //     padding-right: 40% !important;
            //     background:green;
            // }
            text-input {
                margin: 0px !important;
                padding: 0px !important;
            }
        }
    }
}
