
<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label (click)="checkAppVersion()" class="upperHeading">Feedback</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<ion-content padding>
<div class="acknowledgement">
  <img  item-left style="height:70px; width:70px; "  src="./assets/imgs/app_feedback.png">
</div>
<div class="suggestions font-for-sub-header">
    Any suggestion for the BeautyApp improvements?
</div>
<ion-textarea name="description" [(ngModel)]="UserFeedback"  rows="6" maxLength="500" class="textArea" placeholder="We will love to have your feedback. We may send you some shopping vouchers if you love the BeautyApp as much as we do. Thanks for your help!">
</ion-textarea>
<div *ngIf="valueforngif"  class="custom_button" (click)="sendFeedback()">
  <p style="padding:13px; text-align:center;  " class="font-for-sub-header">
     Submit
  </p>
</div>

</ion-content>
