<ion-header class="ionHeader" [nopso-hide-header]="myContent" [NopsoHeaderOptions]="nopsoHeaderOptions">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Payment Methods</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Payment Methods</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>

<ion-content fullscreen #myContent class="BaseContent">
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label class="lblInputAccountNumberCNIC" floating>HBL Account Number</ion-label>
        <ion-input class="lblInputAccountNumberCNIC" type="tel" [(ngModel)]="txtAccountNumber" ></ion-input>
      </ion-item>
    </ion-col >
    <ion-col col-1 class='colImgClearText' (click)="btnClearTextTapped('txtAccountNumber')">
      <img src="../../assets/imgs/input-clear.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label class="lblInputAccountNumberCNIC" floating>CNIC Number</ion-label>
        <ion-input class="lblInputAccountNumberCNIC" type="tel" [(ngModel)]="txtCNIC" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-1 class='colImgClearText'  (click)="btnClearTextTapped('txtCNIC')">
      <img src="../../assets/imgs/input-clear.png" alt="">
    </ion-col>
  </ion-row>

  <button ion-button class="btnPlaceOrder" (click)="onBtnPlaceOrderClick()" >Place Order</button>
</ion-content>