page-visa-card-payment-method {
    $mostlyUsedColor: rgb(110, 110, 110);
    .miniHeader {
        height: 50px;
        .headerRow {
            margin-bottom: 40pt !important;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28px;
                margin-left: 12.5px;
                margin-bottom: 0px;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.76vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                background: transparent !important;
                .menuIcon {
                    width: 30px;
                    height: 17px;
                    margin-top: 31px;
                    position: absolute;
                    right: 15.5px;
                    z-index: 1;
                    transition: 0.2s linear;
                }
            }
        }
        .backIcon {
            width: 29px;
            height: 20.4px;
            margin-top: 28px;
            margin-left: 12.5px;
            margin-bottom: 0px;
            z-index: 99999; // 
            // background: green; 
            transition: 0.2s linear;
        }
        .backButton {
            width: 39px;
            height: 26px;
            position: absolute;
            margin-top: 26px;
            margin-left: 12.5px;
            z-index: 9; // 
            // background: red;
        }
        .menuButton {
            width: 35px;
            height: 25.5px;
            margin-top: 25px;
            right: 8.5px;
            z-index: 1;
            float: right; // 
            // background: green;
        }
        .menuIcon {
            width: 25px;
            height: 8.5px;
            margin-top: 31px;
            position: absolute;
            right: 15.5px;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27px;
            font-size: 3.7vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .ionHeader {

        .headerRow {
            margin-top: 15px;
            margin-bottom: 25px;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28px;
                margin-left: 12.5px;
                margin-bottom: 0px;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.76vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%); // background: green;
                }
            }
        }
        .backIcon {
            width: 29px;
            height: 20.4px;
            margin-top: 28px;
            margin-left: 12.5px;
            margin-bottom: 0px;
            z-index: 99999; // 
            // background: green; 
            transition: 0.2s linear;
        }
        .backButton {
            width: 39px;
            height: 26px;
            position: absolute;
            margin-top: 26px;
            margin-left: 12.5px;
            z-index: 9; // 
            // background: red;
        }
        .menuButton {
            width: 35px;
            height: 25.5px;
            margin-top: 25px;
            right: 8.5px;
            z-index: 1;
            float: right; // 
            // background: green;
        }
        .menuIcon {
            width: 25px;
            height: 8.5px;
            margin-top: 31px;
            position: absolute;
            right: 15.5px;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .HeaderCard {
            // background: red;
            width: 100% !important;
            height: 80px;
            padding: none;
            margin-top: 10px;
            margin-bottom: 10px;
            background: transparent;
            box-shadow: none;
            .featuredImage {
                margin-left: 27px !important;
                padding: 20px;
                margin-top: 0px;
                background: white;
                width: 102px;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .upperHeading {
                color: white;
                margin-top: -80px !important;
                margin-left: 140px !important;
                font-size: 30px;
                font-family: $Montserrat-SemiBold !important;
                text-align: center;
                margin-bottom: 6px; // background: green;
            }
            .subHeading {
                color: white;
                margin-left: 140px !important;
                font-size: 3.43vw;
                margin-top: -10px;
                font-family: $Montserrat-Medium !important;
                text-align: center; // background: blue !important;
            }
        }
        .lblLatestTrendsHeading {
            width: 100%; // height: 26px;
            margin-top: 8.3px;
            margin-left: 18px;
            font-size: 5.29vw !important;
            text-align: left;
            letter-spacing: -1px;
            line-height: 34px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
        }
        .GenderSegement {
            height: 20px;
            margin-bottom: 0px !important;
            bottom: 0;
            transition: 0.2s linear;
            .segment-button {
                height: 25px;
                background: transparent !important;
                border-color: transparent !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-top: 10px;
                color: rgba(255, 255, 255, 0.5);
                font-size: 4.23vw;
                line-height: 5.8px; // background: blue !important;
                font-family: $Montserrat-SemiBold !important;
            }
            .segment-button.segment-activated {
                height: 25px; // border-bottom-color: rgb(255, 95, 109) !important; // border-bottom-width: 1px !important;
                // border-bottom-width: 1px !important;
                // background: purple !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-top: 10px;
                color: rgba(255, 255, 255, 1);
                line-height: 5.8px !important;
                font-size: 4.23vw;
                line-height: 9.8px; // font-family: $Montserrat-Medium; 
                font-family: $Montserrat-SemiBold !important; // background: deeppink !important;
            }
        }
    }
    .BaseContent {
        background: white;
        .lblSeparator {
            width: calc(100% - 25pt);
            margin-left: 12.5pt;
            margin-right: 12.5pt;
            background: rgb(184, 184, 184);
            height: 1pt;
        }
    }
    .lblInputAccountNumberCNIC {
        color: $mostlyUsedColor;
        font-size: 3.97vw;
        font-family: $Montserrat-Regular;
    }
    .colImgClearText {
        img {
            width: 13px;
            height: 13px;
            position: relative;
            top: 70%;
            transform: translateY(-70%);
        }
    }
    .btnPlaceOrder {
        width: 160px;
        height: 40px;
        bottom: 30px;
        font-family: $Montserrat-Bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        border-radius: 18.5px;
    }
}