page-review-order {
    .custom-spiner {
        top: 30% !important;
        opacity: 1;
        position: absolute !important;
        left: 50%;
        transform: translateX(-50%); // width: calc(100% - 25pt);
        height: 350px;
        text-align: center; // width: 100% !important;
        .spinerBackground {
            opacity: 0.8;
            border-radius: 10px;
            background: #b0b0b0;
            padding-left: 60px !important;
            padding-right: 60px !important;
            padding-bottom: 2px !important;
            padding-top: 30px !important;
            .spinner svg {
                width: 50px;
                height: 50px;
                stroke: #444;
                fill: #444;
            }
            .btn-cancel {
                padding: 15px !important;
                margin-top: 60px !important;
                margin-bottom: 0px !important;
                .btn-cancel-custom {
                    opacity: 1;
                    width: 160px;
                    font-size: 3.7vw;
                    color: white !important;
                    font-family: $Montserrat-Bold;
                    line-height: 40px;
                    border-radius: 10px;
                    background: red;
                }
            }
        }
    }
    .disabledHeader {
        pointer-events: none;
        opacity: 0.2;
    }
    .disabledContent {
        position: absolute !important;
        margin-top: 0px !important;
        pointer-events: none;
        opacity: 0.2;
    }
    .disabledFooter {
        pointer-events: none;
        opacity: 0.4;
    }
   
    .miniHeader {
        height: 50pt;
        background: $Beautyapp-gradient-color; 
        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 27pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
        }
        .colCartImage {
            background: transparent;
            width: 22px; // height: 14pt;
            margin-top: 26pt;
            img {
                height: 19pt;
                width: 22pt;
                margin-top: -3px;
                float: right;
            }
        }
        .menuIcon {
            width: 25pt;
            height: 11.5pt;
            margin-top: 31pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27pt;
            font-size: 4.92vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .ionHeader {
        // height:230px !important;
        background: $Beautyapp-gradient-color;
        .headerRow {
            margin-top: 15pt;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 27pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deepskyblue;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5.29vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colCartImage {
                background: transparent;
                width: 22px; // height: 14pt;
                margin-top: 26pt;
                img {
                    height: 19pt;
                    width: 22pt;
                    margin-top: -3px;
                    float: right;
                }
            }
            .menuIcon {
                width: 25pt;
                height: 11.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
        }
        .searchProductRow {
            background: rgb(170, 33, 83);
            margin-top: 15px;
            margin-bottom: 15pt;
            margin-left: 12.5pt;
            margin-right: 12.5pt;
            width: calc(100% - 25pt);
            border-radius: 5px; // background: deepskyblue;
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 8px;
            }
            ion-input {
                color: white !important;
                padding-left: 5px;
                font-size: 3.7vw;
                font-family: $montserrat-light;
            }
            .text-input::-moz-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input:-ms-input-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
        }
        .HeaderCard {
            // background: red;
            width: 100% !important;
            height: 80pt;
            padding: none;
            margin-top: 10pt;
            margin-bottom: 10pt;
            background: transparent;
            box-shadow: none;
            .featuredImage {
                margin-left: 27px !important;
                padding: 20px;
                margin-top: 0pt;
                background: white;
                width: 102px;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .upperHeading {
                color: white;
                margin-top: -80px !important;
                margin-left: 140px !important;
                font-size: 30px;
                font-family: $Montserrat-SemiBold !important;
                text-align: center;
                margin-bottom: 6pt; // background: green;
            }
            .subHeading {
                color: white;
                margin-left: 140px !important;
                font-size: 3.43vw;
                margin-top: -10px;
                font-family: $Montserrat-Medium !important;
                text-align: center; // background: blue !important;
            }
        }
        .lblLatestTrendsHeading {
            width: 100%; // height: 26pt;
            margin-top: 8.3pt;
            margin-left: 18px;
            font-size: 20pt !important;
            text-align: left;
            letter-spacing: -1px;
            line-height: 34pt;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
        }
    }
    .BaseContent {
        background: white;
    }
    .img-dropdown-address {
        width: 10px;
        height: 10px;
        float: right; // margin-right: 10px;
    }
    .lblDelieveryAddress {
        margin-top: 15px;
        margin-left: 17px;
        font-size: 3.97vw;
        font-family: $Montserrat-Bold !important;
        color: rgb(35, 31, 32) !important;
    }
    .lbl-payment-method-title {
        margin-top: 0px !important;
    }
    .addressCard {
        background: white !important;
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 0px !important;
        width: calc(100% - 34px); // height: 100px;
        box-shadow: none;
        .AddressRow {
            margin-top: 15px;
            margin-bottom: 0px; // height: 40px;
            // background:gold !important;
            .lblUserName {
                color: black;
                font-size: 3.7vw;
                text-align: left;
                font-family: $Montserrat-Regular;
                background: white;
                padding-left: 16px;
                width: 50%;
            }
            .lblPhoneNumber {
                color: black;
                font-size: 3.17vw;
                font-family: $montserrat-light;
                background: white;
                width: 30%;
                text-align: center;
            }
            .btnEdit {
                width: 50px; // height: 100% !important;
                color: white;
                text-align: center;
                border-radius: 9.5px;
                font-size: 2.65vw;
                margin-top: 0px !important;
                float: right;
                font-family: $montserrat-light;
                background: $Beautyapp-gradient-color; 
            }
        }
        .lblAddress {
            font-family: $Montserrat-Regular;
            font-size: 3.7vw !important;
            color: rgb(96, 96, 96);
            margin-left: 0.5px;
        }
    }
    .btnAddAddress {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
        background: white;
        color: rgb(224, 78, 128);
        font-size: 4.76vw;
        font-family: $Montserrat-Regular;
        margin-top: 10px;
    }
    .cartCard {
        // width: calc(100% - 30px) !important;
        margin-left: 12px;
        margin-right: 12px;
        background: white !important; // box-shadow: 5px 2px 5px 15px rgba(96, 96, 96, 0.07);
        margin-top: 15px;
        margin-bottom: 15px;
        
        .colCheckBox {
            background: white;
            ion-checkbox {
                // background: green !important;
                width: 12.7px;
                height: 12.7px;
                margin-left: 4.5px !important;
                float: left;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                .checkbox-icon {
                    border-color: rgb(77, 77, 77);
                    background-color: white;
                }
            }
        }
        .colImage {
            background: white;
            img {
                width: 70px;
                height: 70px;
                position: relative;
                top: 0; // transform: translateY(-18%);
                left: 50%;
                transform: translateX(-50%);
                background: white;
                border-radius: 5px;
            }
        }
        .colRight {
            margin-bottom: 8px; // background:green;
            margin-left: -3px;
            .lblProductName {
                // margin-left: 6px;
                font-size: 3.97vw;
                color: rgb(35, 31, 32);
                font-family: $Montserrat-Bold !important;
                width: 100%;
                background: white;
                line-height: 18px;
                margin-top: 10px; // text-decoration: underline;
            }
            .lblProductPrice {
                background: white;
                font-size: 4.23vw;
                color: rgb(96, 96, 96);
                padding: 0px;
                margin: 0px;
                font-family: 'Montserrat-Regular' !important;
                ;
                text-align: left !important;
                margin-top: 0px !important; // font-size: 4.76vw;
                // color: rgb(227, 63, 73);
                // font-family: $Montserrat-Bold !important;
                // background: white;
                // margin-top: 5px;
                // margin-bottom: 7px;
            }
            .floatLeft {
                float: left !important;
            }
            .floatRight {
                float: right !important;
                margin-right: 20px;
            }
            .QuantyRow {
                width: 100%;
                height: 15px;
                margin-bottom: 10px;
                .lblItemInStock {
                    letter-spacing: -0.04;
                    text-align: left;
                    font-size: 3.17vw;
                    background: white;
                    font-family: $montserrat-light;
                }
                .ColQuantityValue {
                    border-left: 1px solid rgb(238, 238, 238);
                    border-right: 1px solid rgb(238, 238, 238);
                    .lblQuantity {
                        font-size: 3.17vw;
                        text-align: center;
                        margin-right: 2px;
                        color: rgb(227, 63, 73)
                    }
                }
                .imgIncre {
                    width: 9px;
                    height: 9px;
                    margin-left: 4px;
                    margin-top: 3.5px;
                }
                .imgDecre {
                    width: 10px;
                    height: 1px;
                    background: grey;
                    margin-left: 0px;
                }
            }
        }
        .salBackImage {
            height: 218px;
            width: 100%; // object-fit: fill;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0; // margin-top: 30px;
        }
        .lblTipxitle {
            margin-left: 6px;
            font-size: 4.23vw;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-SemiBold !important; // background: green;
            // background: green;
            width: calc(100% - 100px);
            float: left;
        }
        .btnAddToCart {
            width: 80px;
            height: 20px;
            border-radius: 8px;
            float: right;
            margin-right: 2px;
            position: relative;
            top: 0 !important;
            margin-top: 3px !important; // background: Transparent ;
            // color: grey;
        }
        .lblTipsDescripxion {
            color: rgba(60, 60, 60, 0.9); // max-height: 50px !important;
            font-family: $Montserrat-Medium !important;
            margin-left: 6px;
            margin-right: 6px; //
            // background: purple;
            width: 100%;
        }
        ion-icon {
            font-size: 6.61vw;
            text-align: center; // background: deeppink !important;
        }
        .lbl-separators {
            width: calc(100% - 22px) !important;
            height: 1pt; // margin-left: 11px;
            // margin-right: 11px;
            background: rgba(0, 0, 0, 0.1);
            height: 1pt; // margin-top: 5px !important;
            margin: 10px 11px !important;
        }
    }
    .applyVoucher {
        background: white !important;
        margin-left: 17px;
        margin-right: 17px;
        width: calc(100% - 34px);
        box-shadow: none; // height: 100px;
        .lblSubTotal {
            float: left; // width: 50%;
            text-align: left; // padding-left: 11px;
            background: transparent;
            font-size: 4.23vw;
            color: rgb(96, 96, 96);
            font-family: $Montserrat-Regular;
        }
        .lblSubTotalValue {
            float: right; // width: 45%;
            background: transparent;
            text-align: right !important;
            font-size: 4.23vw;
            padding-right: 0px; // color: rgb(224, 78, 128);
            color: rgb(227, 63, 73);
            font-family: $montserrat-light; // background: blue;
        }
        .bold-grand-total {
            font-size: 4.23vw !important;
            font-family: $Montserrat-Bold !important;
        }
        .grand-total-separator {
            border-top: 1px solid grey;
        }
        .lblActualShipping {
            float: left;
            width: 50%;
            text-align: left;
            padding-left: 11px;
            background: transparent;
            font-size: 4.23vw;
            color: black;
            font-family: $Montserrat-Regular;
        }
        .lblActualShippingValue {
            float: right;
            width: 45%;
            text-align: right;
            background: transparent;
            font-size: 4.23vw;
            padding-right: 10px;
            color: rgb(224, 78, 128);
            font-family: $montserrat-light;
            margin-right: 0pt !important;
        }
        .lblSepator {
            width: calc(100% - 22px);
            height: 1px;
            margin-left: 11px;
            margin-right: 11px;
            background: rgb(184, 184, 184);
        }
        .VourcherRow {
            margin-top: 10px !important; // background: green;
            .lbl-enter-coupen {
                font-size: 3.4vw;
                color: rgb(96, 96, 96);
                line-height: 30px;
                font-family: $Montserrat-Regular;
            }
            ion-input {
                input {
                    text-align: center;
                    padding-right: 2px;
                    /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
                    ::-webkit-input-placeholder {
                        text-align: center;
                        padding-right: 2px;
                    }
                }
            }
            .inputPromoCode {
                // padding-left: 2px;
                text-align: right !important;
                height: 38px !important;
                border: 1px solid $lightPink;
                position: relative;
                top: 40%;
                transform: translateY(-40%);
                line-height: 38px;
                // margin-right: 0px !important;
                margin-left: 5px !important;
            }
            .btnApply {
                width: 80% !important;
                color: white !important;
                font-family: $Montserrat-Regular;
                font-size: 3.97vw;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                background: $Beautyapp-gradient-color;
                border-radius: 8px;
            }
            .lblAfterApplyingVourcher {
                text-align: right;
                font-size: 4.5vw;
                padding-right: 4px !important;
                color: rgb(237, 63, 73);
                background: white !important;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-family: $Montserrat-Bold;
            }
        }
    }
    .summaryRow {
        width: 100%;
        background: rgb(227, 63, 73);
        .btn-place-order {
            height: 48px;
            width: 160px;
            margin: 10px 0px !important;
            font-family: $Montserrat-Bold;
            font-size: 3.7vw;
            color: rgb(227, 63, 73);
            border-radius: 24px;
            background: white;
            line-height: 34px;
            position: relative;
            top: 25%;
            transform: translateY(-25%);
            left: 50%;
            transform: translateX(-50%);
            right: 10;
            font-family: $Montserrat-Bold;
        }
    }
    .headerQuantyRow {
        width: 100% !important;
        margin-top: 10pt;
        .lblQtyTitle {
            font-size: 4.23vw;
            margin-top: 4pt;
            width: 100% !important;
        }
    }
    .QuantyRow {
        width: 100%;
        .lblQtyTitle {
            font-size: 4.23vw;
            margin-top: 4pt;
            border: 1px solid rgba(255, 165, 0, 0.5);
        }
        .lblQuantity {
            font-size: 4.92vw;
            text-align: center;
            margin-right: 2pt;
            margin-top: 4pt;
        }
    }
    .lblTotalPriceHeading {
        font-size: 16pt;
    }
    .lbltotalPrice {
        text-align: right;
        font-size: 16pt;
        font-weight: bold;
    }
    .rowPaymentMethod {
        margin-left: 18px;
        .colImgPaymentMethodIcon {
            img {
                width: 24px;
                height: 19px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .colImgPaymentMethodName {
            .lblPaymentMethodName {
                color: $mostlyUsedColor;
                padding-left: 2px;
                text-align: left;
                font-size: 3.7vw;
                font-family: $Montserrat-Bold !important;
            }
        }
        .colImgGow {
            img {
                width: 7px;
                height: 13px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                left: 50%;
            }
        }
    }
    .ion-item-payment-method {
        border: 1px solid white;
        padding: 0px !important;
        margin: 0px !important;
    }
    .payment-method {
        // background: red !important;
        font-size: 3.7vw !important;
        font-family: $Montserrat-Medium !important;
        width: 50%;
        .payment-method-options {
            font-size: 2vw !important; // background: purple !important;
        }
    }
    .lblRecommendedMethods {
        width: 80px !important;
        margin-left: 15px;
        color: $mostlyUsedColor;
        text-align: left;
        font-size: 4.23vw;
        font-family: $Montserrat-Bold !important;
    } // .lblPaymentMethods {
    //     margin-top: 28px !important;
    // }
    $popover-ios-width: 100%;
    ion-select {
        max-width: 50% !important;
    }
    .phone-number-container {
        margin-left: 17px !important;
        margin-right: 17px !important;
        width: calc(100% - 34px); // border: 0px solid blue;
        margin-top: 0px; // animation: slide-animation-phone-number 0.3s 0s ease-in-out forwards;
        .lblInputAccountNumberCNIC {
            color: $mostlyUsedColor !important;
            font-size: 3.97vw;
            font-family: $Montserrat-Regular;
            margin-top: 0px;
        }
    }
    payment-instruction {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    .lblSeparator {
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        height: 1pt;
        margin-top: 10px !important;
    }
    .lblSeparator2 {
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        height: 1pt;
        margin-top: 5px !important;
    }
    .lbl-separator-second {
        margin-bottom: 10px;
        margin-top: 0pt !important;
    }
    .item-md.item-block,
    .item-ios.item-block .item-inner {
        border-bottom: none;
        border: none;
    }
    @keyframes slide-animation-phone-number {
        0% {
            opacity: 0;
            transform: translateX(-100px) // transform: scale(0.7);
        }
        100% {
            opacity: 1 !important;
            transform: translateX(0px) // transform: scale(1);
        }
    }
    .AddressListingCard {
        width: calc(100% - 20pt);
        background: rgb(246, 246, 246) !important;

        border-radius: 1.7pt;
        margin: 4pt 10pt !important;
        padding: 0pt 0pt;

        div.select-text {
            background: green;
            visibility: hidden;
        }
        div.select-icon {
            visibility: hidden
        }
        .checkBoxCol {
            position: relative;
            width: 100%;
            margin-bottom: 1pt;

            ion-checkbox {
                width: 10px !important;
                height: 10px !important;
                margin-left: 5pt;
                margin-right: 3pt;
                float: left;
                position: relative;
                top: 40%;
                left: 5%;
                transform: translate(-40%, -5%);
                border-radius: 5px !important;
                z-index: 99999999;
                .checkbox-icon {
                    border-color: rgb(236, 78, 137);
                    background-color: white;
                    border-radius: 2px;
                }
                .checkbox-icon.checkbox-checked {
                    border-color: rgb(236, 78, 137);
                    background-color: white;
                    border-radius: 2px;
                    div.checkbox-inner {
                        border-color: rgb(236, 78, 137);
                    }
                }
            }
        }
        .category-name {
            width: 100%; // height: 100%;
            color: black;
            font-size: 3.7vw;
            font-family: $Montserrat-SemiBold !important; // 
            text-align: left;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 3pt;
        }
        .phone-number {
            color: rgb(227, 63, 73);
        }
        .img-MoreOpiton {
            width: 6px;
            height: 22px;
            float: right;
            margin-top: 5px;
            margin-right: 4px;
        }
    }
    .address-checked {
        background: rgb(255, 255, 255); // background: green;
    }
    // .address-un-checked {
    //     background: rgb(246, 246, 246) !important;
    // }
}