<ion-header [ngClass]="isPayementProcessing ? 'disabledHeader' : 'emptyClass'" class="ionDefaultHeader">

  <ion-row class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 class="colHheaderLabel">
      <ion-label class="upperHeading" (click)="removeAllAddress()">Checkout</ion-label>
    </ion-col>
    <ion-col col-2 class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>


<ion-content class="BaseContent">


  <div [ngClass]="isPayementProcessing ? 'disabledContent' : 'emptyClass'" *ngIf="!showPaymentInstruction">
    <ion-label class="lblDelieveryAddress"> Delivery Address</ion-label>
    <ion-card class="addressCard">
      <ion-row class="AddressRow">
        <ion-col *ngIf="!defaultAddress && myCustomer" col-6 class="lblUserName" (click)="btnEditAddressTapped()">
          {{myCustomer.cust_name}}</ion-col>
        <ion-col *ngIf="!defaultAddress && myCustomer" col-4 class="lblPhoneNumber" (click)="btnEditAddressTapped()">
          {{myCustomer.cust_phone}}</ion-col>
        <ion-col *ngIf="defaultAddress " col-6 class="lblUserName" (click)="btnEditAddressTapped()">
          {{defaultAddress.o_contact_person}}</ion-col>
        <ion-col *ngIf="defaultAddress " col-4 class="lblPhoneNumber">{{defaultAddress.o_phone}}</ion-col>
        <ion-col col-2 *ngIf="defaultAddress" tappable (click)="btnShowPreviousDeliveryAddressTapped()">
          <!-- <button ion-button class="btnEdit" (click)="btnEditAddressTapped()">Edit</button> -->
          <img class="img-dropdown-address" src="./assets/imgs/drop-down-arrow.png">
        </ion-col>
        <ion-label no-padding no-margin text-wrap class="lblAddress" *ngIf="defaultAddress"
          (click)="btnEditAddressTapped()">
          {{defaultAddress.o_address}}, {{defaultAddress.o_city}} </ion-label>
      </ion-row>
    </ion-card>
    <ion-label no-padding no-margin class="lblSeparator"></ion-label>
    <button *ngIf="!defaultAddress" ion-button class="btnAddAddress" (click)="btnAddAddressClicked()">+ Add
      Address</button>


    <button [hidden]="!shouldShowPreviousDeliveryAddress" ion-button class="btnAddAddress"
      (click)="btnAddAddressClicked()">+ Add
      Address</button>

    <ion-row [hidden]="!shouldShowPreviousDeliveryAddress" no-padding no-margin no-lines
      *ngFor="let shipAddres of ShippingAddressArray let i=index;"
      [ngClass]="shipAddres.checked ? 'AddressListingCard address-checked' : 'AddressListingCard address-un-checked' "
      (click)="shippingAddressSelected(shipAddres, i)">
      <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1 (click)="shippingAddressSelected(shipAddres,i)">
        <ion-checkbox item-start class="CheckBox" [checked]="shipAddres.checked"></ion-checkbox>
      </ion-col>

      <ion-col class="serviceNameCol" col-10>
        <ion-label text-wrap class="category-name" no-padding no-margin no-lines text-capitalize text-wrap
          text-capitalize> {{shipAddres.o_contact_person}}, {{shipAddres.o_address}}, {{shipAddres.o_city}}
          <br>
          <span class="category-name phone-number">{{shipAddres.o_phone}}</span>
        </ion-label>

      </ion-col>
      <ion-col col-1 (click)="btnMoreOptionTapped()">
        <img class="img-MoreOpiton" src="./assets/imgs/more-icon.png">

        <ion-select (ionChange)="btnMoreOptionTapped($event,shipAddres )" interface="popover">
          <ion-option>&nbsp;&nbsp;Delete</ion-option>
          <ion-option>&nbsp;&nbsp;Edit</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-item class="ion-item-payment-method" *ngIf="orderGrandTotal && orderGrandTotal > 0">

      <ion-label *ngIf="orderGrandTotal && orderGrandTotal > 0" class="lblDelieveryAddress">Payment Methods</ion-label>
      <ion-select *ngIf="orderGrandTotal && orderGrandTotal > 0" #secondSelectPayment class="payment-method"
        [(ngModel)]="ngModalPaymentMethod" interface="popover" style="width:100% !important;"
        (ionChange)="paymentMethodChanged()">

        <ion-option class="payment-method-options">&nbsp;&nbsp;{{productPaymentMethodsOptions.Mobile_Account}}
        </ion-option>
        <ion-option class="payment-method-options">&nbsp;&nbsp;{{productPaymentMethodsOptions.Jazz_Cash_Voucher}}
        </ion-option>
        <ion-option class="payment-method-options">&nbsp;&nbsp;{{productPaymentMethodsOptions.Cash_On_Delievery}}
        </ion-option>
        <ion-option class="payment-method-options">&nbsp;&nbsp;{{productPaymentMethodsOptions.Debit_Credit_Card}}
        </ion-option>

      </ion-select>
    </ion-item>
    <ion-item class="phone-number-container"
      *ngIf='selectedPaymentMethod === productPaymentMethodsForServer.jazzCashMobileAccount || selectedPaymentMethod === productPaymentMethodsForServer.jazzCashVoucher'>
      <ion-label no-padding no-margin class="lblInputAccountNumberCNIC" floating>Phone Number</ion-label>
      <ion-input no-padding no-margin class="lblInputAccountNumberCNIC" type="tel" maxlength="11"
        [(ngModel)]="txtPaymentMobileNumber" (keyup)="shouldChangeCharacter($event.target)"></ion-input>
    </ion-item>
    <ion-label no-padding no-margin class="lblSeparator lbl-separator-second "></ion-label>


    <ion-label class="lblDelieveryAddress lbl-payment-method-title">Order Items</ion-label>
    <ion-row no-lines class="cartCard" *ngFor="let item of CartItems let i=index;" [hidden]="!item.isChecked">

      <ion-col col-3 class="colImage">

        <img [src]=productsImageURL+item.p_image onError="this.src='./assets/imgs/defaultProduct.jpg'">
      </ion-col>

      <ion-col col-9 class="colRight">
        <ion-label no-padding no-margin no-lines text-wrap class="lbl-product-name"
          (click)="showProductDetailTapped(item, i)">{{item.p_name}}</ion-label>
        <ion-label no-padding no-margin no-lines text-wrap class="lbl-product-price-value floatLeft ">Quantity:
          {{item.p_quantity}}</ion-label>
        <ion-label no-padding no-margin no-lines text-wrap class="lbl-product-price-value floatRight ">
          {{currencySymbol}} {{item.p_price * item.p_quantity}}
        </ion-label>

      </ion-col>
      <ion-label no-padding no-margin class="lbl-separators"></ion-label>
    </ion-row>

    <ion-label [hidden]="true" class="lblDelieveryAddress"> Delivery </ion-label>
    <ion-card class="applyVoucher">


      <ion-row>
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal"> Order Amount </ion-label>

        </ion-col>
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotalValue"> {{currencySymbol}} {{orderSubTotal}} </ion-label>


        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal"> + Delivery Charges </ion-label>
        </ion-col>
        <ion-col>

          <ion-label no-padding no-margin class="lblSubTotalValue">
            Free</ion-label>

        </ion-col>
      </ion-row>




      <ion-row *ngIf="orderDeliveryCharges && orderDeliveryCharges > 0">
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal"> + Cash on Delivery charges </ion-label>
        </ion-col>
        <ion-col>

          <ion-label no-padding no-margin class="lblSubTotalValue">
            {{currencySymbol}} {{orderDeliveryCharges}}</ion-label>

        </ion-col>
      </ion-row>

      <ion-row *ngIf="ngModelUsePromotion">
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal"> - Promotional Discount </ion-label>
        </ion-col>
        <ion-col>

          <ion-label no-padding no-margin class="lblSubTotalValue">
            {{currencySymbol}} {{selectedPromotionAmount}}
          </ion-label>

        </ion-col>
      </ion-row>
      <ion-row *ngIf="!ngModelUsePromotion && dicounAmounttOnVoucher > 0">
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal"> - Voucher Discount </ion-label>
        </ion-col>
        <ion-col>

          <ion-label no-padding no-margin class="lblSubTotalValue">
            {{currencySymbol}} {{dicounAmounttOnVoucher}}
          </ion-label>

        </ion-col>
      </ion-row>
      <ion-row *ngIf="ngModelUseCredit">
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal"> - Credit Used </ion-label>
        </ion-col>
        <ion-col>

          <ion-label no-padding no-margin class="lblSubTotalValue">
            {{currencySymbol}}{{usedCreditStore}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-label no-padding no-margin class="lblSeparator"
        *ngIf="!ngModelUsePromotion  && dicounAmounttOnVoucher === 0"></ion-label>
      <ion-row no-padding no-margin class="VourcherRow" *ngIf="!ngModelUsePromotion  && dicounAmounttOnVoucher === 0">

        <ion-col no-padding no-margin col-4>
          <ion-label class="lbl-enter-coupen">Enter Coupon</ion-label>
        </ion-col>
        <ion-col col-4>
          <button ion-button class="btnApply" (click)="btnApplyVoucher()">Apply</button>
        </ion-col>
        <ion-col no-padding no-margin>

          <!-- <ion-item class="phone-number-container" >
            <ion-label hidden no-padding no-margin class="lblInputAccountNumberCNIC" floating>Phone Number</ion-label>
            <ion-input no-padding no-margin class="lblInputAccountNumberCNIC" type="tel" maxlength="11" placeholder="Test"
              [(ngModel)]="txtPaymentMobileNumber" (keyup)="shouldChangeCharacter($event.target)"></ion-input>
          </ion-item> -->

          <!-- <ion-item no-padding no-margin class="phone-number-container" >
            <ion-label no-padding no-margin class="lblSubTotal" floating>Enter Coupon</ion-label>
            <ion-input no-padding no-margin class="lblInputAccountNumberCNIC" 
              [(ngModel)]="txtApplyVoucher"></ion-input>
          </ion-item> -->


          <ion-item no-padding no-margin>
            <ion-input no-padding no-margin class="inputPromoCode" [(ngModel)]="txtApplyVoucher" placeholder="####"
              (keyup.enter)="handleReturnkey()"></ion-input>

          </ion-item>


        </ion-col>



        <!-- <ion-col col-4>
          <ion-label no-padding no-margin class="lblAfterApplyingVourcher"> {{currencySymbol}} {{orderGrandTotal}}
          </ion-label>

        </ion-col> -->
      </ion-row>
      <ion-label no-padding no-margin class="lblSeparator2"></ion-label>
      <ion-row style="margin-top:10px !important">
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotal">Order Total </ion-label>


        </ion-col>
        <ion-col>
          <ion-label no-padding no-margin class="lblSubTotalValue bold-grand-total ">
            {{currencySymbol}} {{orderGrandTotal}} </ion-label>


        </ion-col>
      </ion-row>







    </ion-card>

    <!-- <ion-row no-padding no-margin>
    <ion-col [hidden]="true" no-padding no-margin col-6 class="tcol" *ngFor="let item of items let i=index;">

      <ion-row no-padding no-margin class="rowPaymentMethod" (click)="onCashOnDelieveryClick()">
        <ion-col col-2 class="colImgPaymentMethodIcon">
          <img src="./assets/imgs/cashOnDelievery.png" alt="">
        </ion-col>

        <ion-col no-padding no-margin col-10 class="colImgPaymentMethodName">
          <ion-label text-capitalize class="lblPaymentMethodName">{{item}}</ion-label>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row> -->




    <!-- <ion-item>
      <ion-label class="lblInputAccountNumberCNIC" floating>Amount</ion-label>
      <ion-input class="lblInputAccountNumberCNIC" type="tel" [(ngModel)]="txt" ></ion-input>
    </ion-item> -->
  </div>

  <div class="custom-spiner" *ngIf="isPayementProcessing">
    <div class="spinerBackground">
      <ion-spinner class="spinner-energized"></ion-spinner>
      <div class="btn-cancel">
        <div class="btn-cancel-custom" (tap)="cancelPayment()">
          Cancel</div>
      </div>

    </div>
  </div>

  <img class="payment-instruction" *ngIf="showPaymentInstruction" src="./assets/imgs/payment-instruction.png" alt="">
</ion-content>

<ion-footer *ngIf="!showPaymentInstruction">
  <ion-row [ngClass]="isPayementProcessing ? 'disabledFooter' : 'emptyClass'" class="summaryRow">

    <button ion-button full *ngIf="defaultAddress" class="btn-place-order" (tap)="placeOrderTapped()">Place
      Order</button>
    <button ion-button full *ngIf="!defaultAddress" class="btn-place-order"
      (click)="btnAddAddressClicked()">Continue</button>

  </ion-row>

</ion-footer>