<ion-header class="ionHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> Profile </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>
</ion-header>

<ion-content class="profile-content">
  <!-- profile new dsign  -->

  <div class="card-profile">
    <div class="Profile-TopImage">
      <img [src]="base64Image" (click)="presentActionSheet()" />
    </div>
    <div>
      <div hidden class="Profile-nameTopPlaceholder">
        Name
      </div>
      <div class="Profile-Input">
        <ion-input type="text" [(ngModel)]="cust_name" clearInput (focusout)="txtCustNameEndEditing($event.target)"
          class="topInputField" (keyup.enter)="handleReturnkey()" placeholder="Enter your  Name"></ion-input>


      </div>

      <p class="Profile-errorStyle" ion-text [hidden]="isValidName" color="danger" padding-left>
        {{errorMessageName}}
      </p>
      <div hidden class="Profile-phoneTopPlaceholder">
        Phone
      </div>
      <div class="Profile-Input">
        <ion-input type="text" disabled="true" [(ngModel)]="cust_phone" clearInput
          (focusin)="shouldBeginEditing($event.target)" (focusout)="endEndEditing($event.target)" class="topInputField"
          (keyup)="shouldChangeCharacter($event.target)" (keyup.enter)="handleReturnkey()"></ion-input>
      </div>


      <div hidden class="Profile-emailTopPlaceholder">
        Email
      </div>
      <div class="Profile-Input">
        <ion-input type="text" [(ngModel)]="cust_email" (focusout)="txtCustEmailEndEditing($event.target)" clearInput
          class="topInputField" (keyup.enter)="handleReturnkey()" placeholder="Enter your  Email"></ion-input>



      </div>

      <p class="Profile-errorStyle" ion-text *ngIf="errorMessageEmail.length > 0" color="danger" padding-left>
        {{errorMessageEmail}}
      </p>
      <div hidden class="Profile-addressTopPlaceholder">
        Address
      </div>
      <div class="Profile-Input">
        <ion-input type="text" [(ngModel)]="cust_address" (focusout)="txtCustAddressEndEditing($event.target)"
          clearInput class="topInputField" (keyup.enter)="handleReturnkey()" placeholder="Enter your Address">
        </ion-input>


      </div>
      <p class="Profile-errorStyle" ion-text *ngIf="errorMessageAddress.length > 0" color="danger" padding-left>
        {{errorMessageAddress}}
      </p>

      <div hidden class="Profile-addressTopPlaceholder">
        City
      </div>
      <div class="Profile-Input" (click)="customerCityTapped()">
        <ion-input type="text" [(ngModel)]="cust_city" (focusout)="txtCustCityEndEditing($event.target)" clearInput
          class="topInputField" (keyup.enter)="handleReturnkey()" placeholder="Enter your City name"></ion-input>


      </div>
      <p class="Profile-errorStyle" ion-text *ngIf="errorMessageCity.length > 0" color="danger" padding-left>
        {{errorMessageCity}}
      </p>

      <!-- <div  class="Profile-addressTopPlaceholder">
        Province
      </div> -->
      <ion-item class="province-item">

        <ion-label class="label-address">Province</ion-label>
        <ion-select [(ngModel)]="cust_province" interface="popover" class="select-province">
          <ion-option value="Punjab">&nbsp;&nbsp;Punjab</ion-option>
          <ion-option value="KPK">&nbsp;&nbsp;KPK</ion-option>
          <ion-option value="Sindh">&nbsp;&nbsp;Sindh</ion-option>
          <ion-option value="Balochistan">&nbsp;&nbsp;Balochistan</ion-option>
          <ion-option value="FATA">&nbsp;&nbsp;FATA</ion-option>
        </ion-select>
      </ion-item>
      <div hidden class="Profile-Input">
        <!-- <ion-input type="text" [(ngModel)]="cust_province" (focusout)="txtCustProvinceEndEditing($event.target)"
          clearInput class="topInputField" (keyup.enter)="handleReturnkey()" placeholder="Enter your Province name"></ion-input> -->
      </div>

      <p class="Profile-errorStyle" ion-text *ngIf="errorMessageProvince.length > 0" color="danger" padding-left>
        {{errorMessageProvince}}
      </p>
      <ion-card hidden *ngIf="valueforngif" class="GenderCard" radio-group [(ngModel)]="customerGender">
        <div class="MaleCheckBox">
          <ion-label item-start class="lbl-gender" (click)="genderMaleTapped()">I am male</ion-label>
          <ion-radio [checked]="isGenderMale" value="male" (click)="genderMaleTapped()"></ion-radio>
        </div>
        <div class="FemaleCheckBox">
          <ion-label item-end class="lbl-gender" (click)="genderFemaleTapped()">I am female</ion-label>
          <ion-radio [checked]="!isGenderMale" value="female" (click)="genderFemaleTapped()" item-end></ion-radio>
        </div>
      </ion-card>
      <ion-list *ngIf="valueforngif" no-padding no-margin radio-group [(ngModel)]="customerGender" class="GenderList">
        <ion-row no-padding no-margin>
          <ion-col col-4 no-padding no-margin>
            <ion-item no-padding no-margin>
              <ion-label no-padding no-margin>Are you a: </ion-label>
            </ion-item>
          </ion-col>
          <ion-col no-padding no-margin col-4>
            <ion-item item-right no-padding no-margin
              [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
              <ion-radio item-left value="female" checked="!isGenderMale" (ionSelect)="genderFemaleTapped()">
              </ion-radio>
              <ion-label item-right no-padding no-margin>Female</ion-label>
            </ion-item>

          </ion-col>
          <ion-col no-padding no-margin col-4 >
            <ion-item  item-right no-padding no-margin [ngClass]="isGenderMale ? 'SelectedMaleGender':'maleGender' ">
              <ion-radio  no-padding no-margin item-left value="male" checked="isGenderMale"
                (ionSelect)="genderMaleTapped()"></ion-radio>
              <ion-label item-right no-padding no-margin>Male</ion-label>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-list>

    </div>
  </div>
  <!-- end profile new design -->
  <!-- old code profile -->
  <!-- <div class="container" style="padding-bottom:15px; margin-top: 0pt;">
    <div class="TopImage">
      <img [src]="base64Image" style="height:82px; width:82px; border-radius: 50%;" />
      
        <div class="imgwrap" style="margin-top:-20px;">
          <img style="height:55px;   width:55px;" (click)="presentActionSheet()" src="./assets/imgs/eclips_setting.png">
        </div>
        <div class="imgwrap" style="margin-top:-45px;">
          <img (click)="presentActionSheet()" style="height:25px; width:25px;  " src="./assets/imgs/eclips_background.png">
        </div>
      
    </div>
  </div>
  <div class="container" style="padding-bottom:1px;">
    <div class="InputWrapper">
      <p style="color:rgb(154,154,160);font-family: $Montserrat-Medium !important;font-size:15px; padding-top:15px;">
        Name
      </p>
    </div>
    <div style="  padding-left: 10px;">
      <ion-input type="text" [(ngModel)]="cust_name" (focusout)="txtCustNameEndEditing($event.target)" style="font-family: $Montserrat-Medium !important;font-size:18px;width:100%; padding: 0px !important; margin:0;"></ion-input>
      <p style="width:100%; padding: 0px !important; margin:0;" ion-text [hidden]="isValidName" color="danger"
        padding-left>
        {{errorMessageName}}
      </p>
    </div>

    <div class="custom_separator" style=" line-height:0; padding: 0px; ">
    </div>

    <div class="InputWrapper">
      <p style="color:rgb(154,154,160);font-family: $Montserrat-Medium !important;font-size:15px;">
        Phone
      </p>
    </div>


    <div style="  padding-left: 10px;">
      <ion-input type="text" [(ngModel)]="cust_phone" disabled="true" style=" font-family: $Montserrat-Medium !important;font-size:18px;
     width:100%; padding: 0px !important; margin:0;"></ion-input>
    </div>

    <div class="custom_separator" style=" line-height:0; padding: 0px; ">
    </div>



    <div class="InputWrapper">
      <p style="color:rgb(154,154,160);font-family: $Montserrat-Medium !important;font-size:15px;">
        Email
      </p>
    </div>


    <div style="  padding-left: 10px;">
      <ion-input type="text" [(ngModel)]="cust_email" (focusout)="txtCustEmailEndEditing($event.target)" style=" font-family: $Montserrat-Medium !important;font-size:18px;
       width:100%; padding: 0px !important; margin:0;"></ion-input>

      <p style="width:100%; padding: 0px !important; margin:0;" ion-text *ngIf="errorMessageEmail.length > 0" color="danger"
        padding-left>
        {{errorMessageEmail}}
      </p>

    </div>

    <div class="custom_separator" style=" line-height:0; padding: 0px; ">
    </div>


    <div class="InputWrapper"   hidden>
      <p style="color:rgb(154,154,160);font-family: $Montserrat-Medium !important;font-size:15px;">
        Postal Code
      </p>
    </div>

    <div hidden style="padding-left: 10px;">
      <ion-input text-capitalize	 type="text" [(ngModel)]="cust_zip" (focusout)="txtCustZipEndEditing($event.target)" style=" font-family: $Montserrat-Medium !important;font-size:18px;
       width:100%; padding: 0px !important; margin:0;"></ion-input>
      <p style="width:100%; padding: 0px !important; margin:0;" ion-text [hidden]="isValidLocation" color="danger"
        padding-left>
        {{errorMessageLocation}}
      </p>
    </div>
  </div>
  <ion-list radio-group [(ngModel)]="customerGender" class="GenderList">
      <ion-item [ngClass]="isGenderMale ? 'selectedMaleGender':'maleGender' ">
  
        <ion-radio value="male" (ionSelect)="genderMaleTapped()"></ion-radio>
        <ion-label>I am male</ion-label>
      </ion-item>
      <ion-item [ngClass]="!isGenderMale ? 'selectedFemaleGender': 'femaleGender'">
  
        <ion-radio value="female" (ionSelect)="genderFemaleTapped()"></ion-radio>
        <ion-label>I am female</ion-label>
      </ion-item>
  </ion-list> -->
  <!-- old code profile -->
  <!-- old code gender  -->
  <!-- <ion-card class="GenderCard">
  <ion-card-header>
      Gender
    </ion-card-header>
  <div class="MaleCheckBox">
      <ion-checkbox  [checked]="isGenderMale" item-start (click)="GenderTapped()" ></ion-checkbox>
    <ion-label >I am male</ion-label>
    </div>
    <div class="FemaleCheckBox">
      <ion-checkbox [checked]="!isGenderMale" item-end (click)="GenderTapped()"></ion-checkbox>
    <ion-label >I am female</ion-label>
    </div>
  </ion-card> -->
  <!-- old code gender  -->
</ion-content>
<ion-footer *ngIf="valueforngif" style="height: 47px;  padding-bottom: 10px !important;">
  <button ion-buton class="btnUpdateProfile" (click)="updateCustomer()">
    Update Profile</button>
</ion-footer>