.ios,
.md {
    page-latest-trends {
        .ionHeader {
            background: $Beautyapp-gradient-color; // background-image: linear-gradient(to bottom, #ff5f6d, #ff7a65, #ff9362, #ffac66, #ffc371);
            .backIcon {
                width: 29pt;
                height: 20.4pt;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                // background: green; 
                transition: 0.2s linear;
            }
            .backButton {
                width: 39pt;
                height: 26pt;
                position: absolute;
                margin-top: 26pt;
                margin-left: 12.5pt;
                z-index: 9; // 
                // background: red;
            }
            .menuButton {
                width: 35pt;
                height: 25.5pt;
                margin-top: 25pt;
                right: 8.5pt;
                z-index: 1;
                float: right; // 
                // background: green;
            }
            .menuIcon {
                width: 25pt;
                height: 8.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
            .ExpandAbleSection {
                // background: green;
                width: 100%;
                margin-top: 0pt;
                margin-bottom: 40pt;
                height: 130px;
                .lblLatestTrendsHeading {
                    width: 100%;
                    height: 26pt;
                    margin-top: 8.3pt;
                    margin-left: 18px;
                    font-size: 24pt !important;
                    text-align: left;
                    letter-spacing: -1px;
                    line-height: 34pt;
                    color: white;
                    // font-family: $Montserrat-Bold !important;
                    // font-family: $Montserrat-Medium; 
                    font-family: $Montserrat-Bold !important; 
                    transition: 0.2s linear; // background  : deeppink;
                }
                .SearchCard {
                    width: calc(100% - 29pt);
                    height: 33.5pt;
                    margin-top: 20.7pt;
                    margin-left: 14.5pt;
                    margin-right: 14.5pt;
                    border-radius: 14.5pt; // 
                    transition: 0.2s linear; // background: gold;
                    .searchIcon {
                        height: 18.5pt;
                        width: 18.5pt;
                        margin-left: 10.5pt;
                        margin-top: 9pt;
                        margin-right: 5pt; // background: gold;
                        float: left;
                    }
                    .txtSearchStyles {
                        // background: deeppink !important; 
                        height: 30pt;
                        width: calc(100% - 40pt);
                        float: right;
                        margin-top: 1.5pt;
                        margin-bottom: 1.5pt;
                        margin-right: 2pt; // margin: 10pt 2pt 0pt 0pt;
                        line-height: 18pt;
                        font-size: 4.65vwpt;
                        background: white;
                        color: rgba(0, 0, 0, 0.54);
                        font-family:"font-family: $Montserrat-MediumDisplay_Regular";
                        
                    }
                }
            }
            .GenderSegement {
                height: 35pt;
                margin-top: 33pt !important;
                position: absolute;
                top: 10;
                bottom: 0;
                margin-top: 10pt; // z-index: ;
                // background: purple;
                transition: 0.2s linear;
                .segment-button {
                    height: 34pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    padding-top: 10pt;
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 16pt;
                    line-height: 9.8pt;
                    // font-family: $Montserrat-Medium;
                    font-family: $Montserrat-SemiBold !important; 
                }
                .segment-button.segment-activated {
                    height: 34pt;
                    border-bottom-color: rgb(255, 95, 109) !important; // border-bottom-width: 1px !important;
                    border-bottom-width: 2.5pt !important;
                    ; // background: purple !important;
                    
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    padding-top: 10pt;
                    color: rgba(255, 255, 255, 1);
                    line-height: 25px;
                    font-size: 16pt;
                    line-height: 9.8pt;
                    // font-family: $Montserrat-Medium; 
                    font-family: $Montserrat-SemiBold !important;
                    // background: deeppink !important;
                }
            }
            .menu-animated {
                -webkit-transition: -webkit-transform 15000ms ease;
                -moz-transition: -moz-transform 15000ms ease;
                transition: transform 15000ms ease;
            }
            .lblLatestTrendSmallerHeading {
                width: 100pt;
                height: 12pt;
                font-size: 5.29vw !important; // text-align: left;
                // letter-spacing: -1px;
                line-height: 12pt;
                margin-top: 28pt;
                position: fixed;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                color: white;
                font-family: $Montserrat-Medium; 
                
            }
        }
        .CollapsedHeader {
            height: 81pt;
            background: $Beautyapp-gradient-color;
            .backIcon {
                width: 29pt;
                height: 20.4pt;
                margin-top: 28pt;
                margin-left: 12.5pt;
                z-index: 9; // background: green; 
            }
            .backButton {
                width: 39pt;
                height: 26pt;
                position: absolute;
                margin-top: 43pt;
                margin-left: 15.5pt;
                z-index: 9999; // background: red;
            }
            .menuButton {
                width: 35pt;
                height: 25.5pt;
                margin-top: 25pt;
                right: 8.5pt;
                z-index: 1;
                float: right; // 
                // background: green;
            }
            .menuIcon {
                width: 25pt;
                height: 8.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                // background: green;
            }
            // .lblLatestTrendsHeading {
            //     width: 77pt;
            //     height: 10pt;
            //     font-size: 4.23vw !important; // text-align: left;
            //     // letter-spacing: -1px;
            //     line-height: 10pt;
            //     margin-top: 29pt;
            //     position: fixed;
            //     left: 45%;
            //     top: 0;
            //     transform: translateX(-45%);
            //     color: white;
            
            //     // background  : gold;
            // }
            .GederSegement {
                height: 18pt;
                position: absolute;
                bottom: 0; // background: green !important; 
                .segment-button {
                    height: 18pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    color: rgba(255, 255, 255, 0.6);
                    line-height: 20px;
                    font-size: 10.7px; // font-weight: bold;
                    font-family: $Montserrat-Medium; // font-family: 'font-family: $Montserrat-MediumDisplay_Mdeium' !important; // background: deeppink !important;
                }
                .segment-button.segment-activated {
                    height: 18pt; // border-bottom-color: rgb(255, 95, 109) !important; // border-bottom-width: 1px !important;
                    // border-bottom-width: 1.5pt !important;
                    ; // background: purple !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    color: rgba(255, 255, 255, 1);
                    line-height: 20px;
                    font-size: 3.17vw; // font-weight: bold;
                    font-family: $Montserrat-Medium; // font-family: 'font-family: $Montserrat-MediumDisplay_Mdeium' !important; // img {
                }
            }
        }
        ion-content {
            background: white
        }
        .mainContent {
            background: rgb(235, 235, 235); // margin-top: 0vh;
            .lblNoData {
                width: 100%;
                padding-top: 20%;
                // padding-bottom: 10%;
                align-content: center;
                text-align: center;
                position: absolute;
                .imgNothingFound {
                    height: 130pt;
                    width: 130pt;
                    // background: darkorange;
                }
                .lblNothingFound {
                    // background: red !important;
                    align-content: center;
                    text-align: center;
                    height: 25pt;
                 
                    margin-top: 20pt; // background: green;
                    line-height: 25pt;
                    font-family: $Montserrat-Regular;
                    font-size: 5.29vw;
                }
            }
        }
        button {
            align-items: baseline;
        }
        .SalonServicesSearchListingScroll {
            width: 100%; // border-radius: 100px !important;
            height: 80vh !important;
            margin-top: 0px;
            margin-bottom: 0px;
            z-index: 879; // .btnTagObject {
            box-shadow: none !important;
            background: white;
            .SalonServicesSearchCard {
                // background: darkgoldenrod !important;
                margin-top: 0pt !important;
                margin-right: 0px !important; // background: green; // width: 100% !important;
                width: 100%;
                height: 100% !important;
                box-shadow: none;
                opacity: 1;
                ion-card-content {
                    width: 100%;
                    box-shadow: none; // 
                    
                    margin: 5pt 0pt 5pt 0pt !important; // background: transparent; // .imgHash {
                    .lblSalonOrServiceName {
                        width: 100% !important;
                        line-height: 15pt;
                        color: grey;
                        font-size: 4.92vw;
                        font-family: $Montserrat-Medium;
                        letter-spacing: 1pt;
                        float: left;
                        hyphens: auto !important;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        // background: deeppink;
                    }
                }
            }
        } // }
        button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
            margin-top: -4vh !important; // background: green;
        }
        .backImage {
            height: 29px !important;
            width: 52px !important;
            padding-top: 7px;
            object-fit: contain;
            color: white;
            margin-top: 25px;
            margin-left: -50px;
            z-index: 1;
        }
        .toolbar-title {
            height: 102px;
        } // .CustomerGender {
        //     // width: 60px;
        //     // height: 30px;
        //     margin-top: 0px;
        //     z-index: 1000; // background: red;
        //     // float: right;
        //     padding: 0px;
        //     margin: 0px !important; // font-size: 2.6rem;
        //     line-height: 2.8rem;
        //     background: red
        // }
        @keyframes popControllerWitTransform {
            0% {
                transform: translate3d(0, 0, 0)
            }
            5% {
                transform: translate3d(400px, 0, 0)
            }
            100% {
                transform: translate3d(450px, 0, 0)
            }
        }
        .highlightText {
            // background: yellow;
            color: black;
            font-size: 4.76vw;
            font-weight: bold;
            line-height: 23px;
            font-family: $Montserrat-Medium !important;
        }
        .testButton {
            // background: blue !important;//rgb(235, 135, 235) !important;
            width: calc(100% - 18.6pt);
            margin-left: 9.3pt !important;
            margin-right: 9.3pt !important;
            margin-top: 11.3pt;
            z-index: 50;
            // background: blue;
            .OutCard {
                width: 100%;
                height: 65pt; // background: rgb(245, 245, 245);
                background: rgb(255, 255, 255); // background: green;
                // border-bottom-color: red;// rgba(0  , 0, 0,0.6) !important; // border-bottom-width: 1px !important;
                // border-bottom-width: 2.5pt !important;
                // background: green;
                border-radius: 1.7pt;
                padding: 0pt !important;
                margin: 0pt !important;
                .categoryImage {
                    width: 50pt !important;
                    height: 50pt !important;
                    margin-top: 8pt;
                    margin-bottom: 8pt;
                    margin-left: 8.3pt;
                    margin-right: 10pt;
                    border-radius: 2.5pt;
                    float: left; // background: gold;
                    transition: all 2s ease-in-out;

                }
                .categoryName {
                    width: calc(100% - 58.3pt - 15pt) !important; // width: 180pt; // margin-top: 10pt !important; 
                    color: rgba(27, 27, 27, 0.9);
                    font-size: 5.29vw;
                    // font-family: $Montserrat-Medium; // 
                    font-family: $Montserrat-SemiBold !important; 
                    
                    background: white;
                    text-align: left;
                    vertical-align: center !important;
                    float: right;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 3pt;
                }
            }
        }
        .stylesCategoriesCard {
            width: 100%; //calc(100% - 10pt);
            margin-right: 5pt;
            margin-left: 5pt;
            margin-left: 0pt !important;
            margin-right: 0pt !important;
            background: rgb(245, 245, 245); // background: red;
            .stylesCategoriesCardContent {
                width: 100% !important;
                height: 30pt !important;
                background: rgb(255, 255, 255); // background: blue !important;
                margin-top: 1pt;
                margin-bottom: 1pt;
                .subCategoryName {
                    width: 100%;
                    color: rgba(27, 27, 27, 0.9);
                    font-size: 4.5vw;
                    // font-family: $Montserrat-Medium;
                    font-family: $Montserrat-Medium !important;
                    text-align: left;
                    // line-height: 20pt;
                    padding-left: 10pt;
                    margin-right: 19pt;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%); // transition: 2.2s linear;
                    // background: green;
                }
            } // }
        }
    }
    .slide-in{
        -webkit-animation: slideInSmooth ease-in 1;
       animation: slideInSmooth ease-in 1;
       -webkit-animation-fill-mode: forwards;
       animation-fill-mode: forwards;
       -webkit-animation-duration: 350ms;
       animation-duration: 350ms;
       background: transparent !important;
     }
     @keyframes slideInSmooth {
        0% {
            opacity: 0;
            transform: translateY(-15pt);
        //   -webkit-transform: translate3d(-100%,0,0);
        }
       
        50% {
            
        //   -webkit-transform: translate3d(50%,0,0);
        }
       
        100% {
            opacity: 1;
            transform: translateY(0pt);
        //   -webkit-transform: translate3d(0,0,0);
        }
      }
}