<ion-header class="ionHeader">
    <button ion-button (click)="btnBackTapped()" clear class="backButton"></button>
    <img class="backIcon" src="./assets/imgs/back.png" />

    <button class="menuButton" ion-button clear menuToggle></button>
    <img class="menuIcon" src="./assets/imgs/menu.png"  menuToggle/>

 
        <!-- for android -->
  <expandable-header  *ngIf="isAndroidPlatForm"  [scrollArea]="mycontent" headerHeight="150" 
  class="ExpandAbleSection">
      <ion-label class="lblLatestTrendsHeading">Latest Trends</ion-label>
      <ion-card class="SearchCard">
          <img class="searchIcon" src="assets/imgs/ltsearch.png" />
          <ion-input class="txtSearchStyles" clearInput [(ngModel)]="txtSearchSalon" (focusin)="shouldBeginEditing($event.target)"
              (focusout)="endEndEditing($event.target)" (keyup)="shouldChangeCharacter($event.target)" (keyup.enter)="handleReturnkey()"
              placeholder="Search Styles"></ion-input>
    </ion-card>
  </expandable-header>
   <!-- for ios -->
   <expandable-header *ngIf="!isAndroidPlatForm"   [scrollArea]="mycontent" headerHeight="130" 
   class="ExpandAbleSection">
       <ion-label class="lblLatestTrendsHeading">Latest Trends</ion-label>
       <ion-card class="SearchCard">
           <img class="searchIcon" src="assets/imgs/ltsearch.png" />
           <ion-input class="txtSearchStyles" clearInput [(ngModel)]="txtSearchSalon" (focusin)="shouldBeginEditing($event.target)"
               (focusout)="endEndEditing($event.target)" (keyup)="shouldChangeCharacter($event.target)" (keyup.enter)="handleReturnkey()"
               placeholder="Search Styles"></ion-input>
       </ion-card>
   </expandable-header>


    <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
        <ion-segment-button value="man" (click)="menLatestTrendsTapped()">Men</ion-segment-button>
        <ion-segment-button value="woman" (click)="wommenLatestTrendsTapped()">Women</ion-segment-button>
    </ion-segment>
    <ion-label class="lblLatestTrendSmallerHeading" id="HideThisBaster">Latest Trends</ion-label>


</ion-header>

<ion-content class="mainContent" fullscreen #mycontent ng-controller="MainCtrl" delegate-handle="mainScroll">

    <div *ngIf="!showTagsPopOver">


        <button no-padding no-margin class="testButton" detail-none (click)="expandItem(item)" *ngFor="let item of LatestTrendsStyles let i=index;">


            <!-- [@expand]="state" -->
            <ion-card-content no-padding no-margin no-border class="OutCard">
                <img class="categoryImage" [src]=imageUrl+item.sc_image>

                <div text-wrap class="categoryName">{{item["sc_name"]}}</div>
            </ion-card-content>

            <expandable id="book" [expandHeight]="item.count * 30" [expanded]="item.expanded" class="ExpandAble">
                <ion-card no-padding no-margin no-border class="stylesCategoriesCard" *ngIf="selectedStyle && selectedStyle.sc_id === item.sc_id">
                    <ion-card-content no-padding no-margin no-border class="stylesCategoriesCardContent" *ngFor="let subStyle of LatestTrendsSubStyles let i=index;"
                        (click)="showPostsForStyles(subStyle)">
                        <ion-label no-padding no-margin text-wrap class="subCategoryName">{{subStyle["ssc_name"]}}</ion-label>
                    </ion-card-content>
                </ion-card>

            </expandable>

        </button>
    </div>
    <div class="lblNoData" *ngIf="noStyleFound">

        <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
        <ion-label class="lblNothingFound">No Style Found</ion-label>
    </div>

    <ion-scroll scrollY="true" class="SalonServicesSearchListingScroll" *ngIf="showTagsPopOver && !noStyleFound">
        <ion-card class="SalonServicesSearchCard">

            <ion-card-content *ngFor="let tag of filteredTags; let i=index;" (click)="showPostsForStyles(tag)">
                <ion-label no-padding no-margin no-lines text-capitalize class="lblSalonOrServiceName"
                    md-highlight-text="txtSearchStyles" [innerHTML]="highlight(tag.keyword)">{{tag.keyword}}</ion-label>
            </ion-card-content>
        </ion-card>
    </ion-scroll>

</ion-content>