<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading" [hidden]="!isForProductCategory" >Beauty Products</ion-label>
      <ion-label class="upperHeading" [hidden]="isForProductCategory">Products By Brands</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<!-- <ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Beauty Products</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header> -->

<ion-content class="baseContainer">
  <div class="ScrollFixOnCat"></div>
  <ion-row no-margin no-padding class="productCategoryRow" [hidden]="!isForProductCategory"  *ngFor="let beautyTip of ProductCategories let i=index;"
    class="productCategoryRow" no-padding no-margin (click)="categoryClicked(beautyTip,i)">
    <ion-col col-1>

    </ion-col>
    <ion-col col-3 no-margin no-padding class="colProductImg">
      <img class="img" [src]=categoryImageUrl+beautyTip.pc_image onError="this.src='http://nopso.qwpcorp.com/apis_pk/cat_images/default.png'" />
    </ion-col>
    <ion-col col-6 no-margin no-padding class="colProductName">
      <div text-wrap class="productCategoryName">{{beautyTip.pc_name}} </div>
    </ion-col>
    <ion-col col-2 no-margin no-padding class="colGo">
      <img src="./assets/imgs/go.png" />
    </ion-col>
    <div class="Separator"></div>
  </ion-row>

  <ion-row no-margin no-padding [hidden]="isForProductCategory" class="productCategoryRow" *ngFor="let productBrand of ProductBrands let i=index;"
    class="productCategoryRow" no-padding no-margin (click)="brandClicked(productBrand,i)">
    <ion-col col-1>

    </ion-col>
    <ion-col col-3 no-margin no-padding class="colProductImg">

      <!-- <img class="img" src="../../assets/imgs/bc.png"> -->
      <img class="img" [src]=categoryImageUrl+productBrand.pb_image onError="this.src='http://nopso.qwpcorp.com/apis_pk/cat_images/default.png'" />
    </ion-col>
    <ion-col col-6 no-margin no-padding class="colProductName">
      <div text-wrap class="productCategoryName">{{productBrand.pb_name}} </div>
    </ion-col>
    <ion-col col-2 no-margin no-padding class="colGo">
      <img src="./assets/imgs/go.png" />
    </ion-col>
    <div class="Separator"></div>
  </ion-row>
  <!-- <ion-row class="servicesRow">
    <ion-col col-6 *ngFor="let beautyTip of ProductCategories let i=index;" [ngClass]=" i%2 === 0 ? 'servicesColumnEven' : 'servicesColumnOdd' "
      no-padding no-margin (click)="categoryClicked(beautyTip,i)">
      <img class="serviceImage" [src]=categoryImageUrl+beautyTip.btc_image onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" />
      <div class="proudctNameAndPrice">
        <div class="serviceName">{{beautyTip.pc_name}}</div>
        <div class="productPrice">Rs. {{beautyTip.p_price}}</div>
      </div>
      <div class="ProductHeart">
        <img src="../../assets/imgs/pfav.png">
      </div>
    </ion-col>
  </ion-row> -->

  <ion-fab *ngIf="CartItems && CartItems.length > 0" bottom right (click)="btnViewCartTapped()" class="FabBase" style="margin-right:5pt; margin-bottom:5pt;">
    <button ion-fab color='light' class="fabButton">
      <img src="./assets/imgs/cart.png">

    </button>
    <ion-badge class="myBadge" *ngIf="CartItems"> {{this.CartItems.length}} </ion-badge>
  </ion-fab>
</ion-content>