    page-product-categories {
        $primaryBackground-color: linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));
        // @import "../../animate.css";
        .miniHeader {
            height: 50pt;
            background: $primaryBackground-color; // linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));
            .headerRow {
                .backIcon {
                    width: 35px;
                    height: 15px;
                    margin-top: 28pt;
                    margin-left: 12.5pt;
                    margin-bottom: 0pt;
                    z-index: 99999; // 
                    transition: 0.2s linear;
                }
                .colHheaderLabel {
                    .upperHeading {
                        // height: 30px;
                        color: #ffffff;
                        font-family: $Montserrat-Bold !important;
                        font-size: 5.29vw;
                        width: 100%;
                        margin-top: 14px !important;
                        text-align: center;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .colMenu {
                    background: transparent !important;
                    .menuIcon {
                        width: 30px;
                        height: 17px;
                        margin-top: 31pt;
                        position: absolute;
                        right: 15.5pt;
                        z-index: 1;
                        transition: 0.2s linear;
                    }
                }
            }
            .backIcon {
                width: 29pt;
                height: 20.4pt;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                // background: green; 
                transition: 0.2s linear;
            }
            .backButton {
                width: 39pt;
                height: 26pt;
                position: absolute;
                margin-top: 26pt;
                margin-left: 12.5pt;
                z-index: 9; // 
                // background: red;
            }
            .menuButton {
                width: 35pt;
                height: 25.5pt;
                margin-top: 25pt;
                right: 8.5pt;
                z-index: 1;
                float: right; // 
                // background: green;
            }
            .menuIcon {
                width: 25pt;
                height: 8.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
            .lblLatestTrendsHeading {
                width: 100%;
                margin-top: 27pt;
                font-size: 4.92vw !important;
                letter-spacing: -1px;
                color: white;
                font-family: $Montserrat-Bold !important;
                transition: 0.2s linear;
                text-align: center;
            }
        }
        .ionHeader {
            // height:230px !important;
            background: $primaryBackground-color; // linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));
            .headerRow {
                margin-top: 15pt;
                margin-bottom: 15pt;
                .backIcon {
                    width: 35px;
                    height: 15px;
                    margin-top: 28pt;
                    margin-left: 12.5pt;
                    margin-bottom: 0pt;
                    z-index: 99999; // 
                    transition: 0.2s linear;
                }
                .colHheaderLabel {
                    .upperHeading {
                        // height: 30px;
                        color: #ffffff;
                        font-family: $Montserrat-Bold !important;
                        font-size: 5.29vw;
                        width: 100%;
                        margin-top: 14px !important;
                        text-align: center;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .backIcon {
                width: 29pt;
                height: 20.4pt;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                // background: green; 
                transition: 0.2s linear;
            }
            .backButton {
                width: 39pt;
                height: 26pt;
                position: absolute;
                margin-top: 26pt;
                margin-left: 12.5pt;
                z-index: 9; // 
                // background: red;
            }
            .menuButton {
                width: 35pt;
                height: 25.5pt;
                margin-top: 25pt;
                right: 8.5pt;
                z-index: 1;
                float: right; // 
                // background: green;
            }
            .menuIcon {
                width: 25pt;
                height: 8.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
            .HeaderCard {
                // background: red;
                width: 100% !important;
                height: 80pt;
                padding: none;
                margin-top: 10pt;
                margin-bottom: 10pt;
                background: transparent;
                box-shadow: none;
                .featuredImage {
                    margin-left: 27px !important;
                    padding: 20px;
                    margin-top: 0pt;
                    background: white;
                    width: 102px;
                    align-content: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                }
                .upperHeading {
                    color: white;
                    margin-top: -80px !important;
                    margin-left: 140px !important;
                    font-size: 30px;
                    font-family: $Montserrat-SemiBold !important;
                    text-align: center;
                    margin-bottom: 6pt; // background: green;
                }
                .subHeading {
                    color: white;
                    margin-left: 140px !important;
                    font-size: 3.43vw;
                    margin-top: -10px;
                    font-family: $Montserrat-Medium !important;
                    text-align: center; // background: blue !important;
                }
            }
            .lblLatestTrendsHeading {
                width: 100%; // height: 26pt;
                margin-top: 8.3pt;
                margin-left: 18px;
                font-size: 20pt !important;
                text-align: left;
                letter-spacing: -1px;
                line-height: 34pt;
                color: white;
                font-family: $Montserrat-Bold !important;
                transition: 0.2s linear;
            }
            .GenderSegement {
                height: 20pt;
                margin-bottom: 0pt !important;
                bottom: 0;
                transition: 0.2s linear;
                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    padding-top: 10pt;
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 16pt;
                    line-height: 5.8pt; // background: blue !important;
                    font-family: $Montserrat-SemiBold !important;
                }
                .segment-button.segment-activated {
                    height: 25pt; // border-bottom-color: rgb(255, 95, 109) !important; // border-bottom-width: 1px !important;
                    // border-bottom-width: 1pt !important;
                    // background: purple !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    padding-top: 10pt;
                    color: rgba(255, 255, 255, 1);
                    line-height: 5.8pt !important;
                    font-size: 16pt;
                    line-height: 9.8pt; // font-family: $Montserrat-Medium; 
                    font-family: $Montserrat-SemiBold !important; // background: deeppink !important;
                }
            }
        }
        .baseContainer {
            background: rgb(238, 238, 238);
        }
        .backIcon:active {
            background-color: transparent;
        }
        .backIcon:focus {
            background-color: transparent;
        }
        .servicesRow {
            width: 100%; // 
            // margin-top: 10pt !important;
            .servicesColumnEven {
                margin-top: 15pt;
                border-left: rgb(238, 238, 238) solid 16pt;
                border-right: rgb(238, 238, 238) solid 8pt;
                width: 100% !important;
                background: #e3e4e8; // background: green;
                .serviceImage {
                    width: 100%;
                    height: 130pt;
                }
                .proudctNameAndPrice {
                    margin-top: 5pt;
                    background: white;
                    .serviceName {
                        color: rgb(35, 31, 32);
                        font-size: 4.92vw;
                        position: relative;
                        font-family: $Montserrat-Bold !important;
                        text-align: center; // background: green;
                    }
                    .productPrice {
                        color: rgb(226, 78, 129);
                        position: relative;
                        font-size: 4.23vw;
                        font-family: $Montserrat-Bold !important;
                        text-align: center; // background: blue;
                        margin-top: 0pt !important;
                    }
                }
                .ProductHeart {
                    background: rgb(226, 78, 129);
                    width: 38pt;
                    height: 38pt;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-right: 9pt;
                    margin-top: 11pt;
                    border-radius: 50% !important;
                    img {
                        width: 16pt;
                        height: 16pt;
                    }
                    padding: 11pt;
                }
            }
            .servicesColumnOdd {
                border-right: rgb(238, 238, 238) solid 16pt;
                border-left: rgb(238, 238, 238) solid 8pt;
                width: 100% !important;
                background: #e3e4e8;
                margin-top: 15pt; // background: orange;
                .serviceImage {
                    width: 100%;
                    height: 130pt;
                }
                .proudctNameAndPrice {
                    margin-top: 5pt;
                    background: white;
                    .serviceName {
                        color: rgb(35, 31, 32);
                        font-size: 4.92vw;
                        position: relative;
                        font-family: $Montserrat-Bold !important;
                        text-align: center; // background: #000;
                    }
                    .productPrice {
                        color: rgb(226, 78, 129);
                        position: relative;
                        font-size: 4.23vw;
                        font-family: $Montserrat-Bold !important;
                        text-align: center;
                    }
                }
                .ProductHeart {
                    background: rgb(226, 78, 129);
                    width: 38pt;
                    height: 38pt;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-right: 9pt;
                    margin-top: 11pt;
                    border-radius: 50% !important;
                    img {
                        width: 16pt;
                        height: 16pt;
                    }
                    padding: 11pt;
                }
            }
        }
        .FabBase {
            background: transparent !important;
            height: 40pt;
            width: 40pt;
            margin-bottom: 15pt !important;
            .fabButton {
                background: rgb(237, 111, 156);
            }
            .myBadge {
                background: white;
                position: fixed;
                float: right !important;
                right: 0 !important;
                z-index: 999999; // 
                font-weight: bold;
                padding-top: 6pt;
                border-radius: 50%;
                color: rgb(237, 111, 156); // font-family: $Montserrat-Bold !important;
                // font-size: 4.23vw;
                margin-right: 10pt !important;
                margin-top: -13pt !important;
            }
        }
        .ScrollFixOnCat {
            background: rgb(238, 238, 238);
            height: 2pt;
            width: 100%;
        }
        .productCategoryRow {
            width: 100%;
            height: 134px !important;
            background: transparent;
            .colProductImg {
                width: 100%;
                ;
                background: transparent;
                height: 100%;
                img {
                    width: 94px !important;
                    height: 95px !important; // 
                    background: transparent;
                    border-radius: 20pt;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    float: left;
                    margin-left: -8pt;
                }
            }
            .colProductName {
                width: 100%;
                height: 100%;
                background: transparent;
                .productCategoryName {
                    color: rgb(35, 31, 32);
                    font-size: 4.76vw;
                    padding-left: 11px;
                    font-family: $Montserrat-Bold !important;
                    text-align: left;
                    letter-spacing: 0.1pt !important;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-overflow: ellipsis;
                    max-height: 133pt;
                    white-space: nowrap;
                }
            }
            .colGo {
                width: 100%;
                background: transparent;
                img {
                    width: 11px;
                    height: 20px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 50%;
                }
            }
            .Separator {
                width: 100%;
                height: 2pt;
                background: rgb( 227, 227, 227);
            }
        }
    }