<!--
  Generated template for the LatestTrendSubCatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="height:116px !important;  background: linear-gradient(0deg, rgba(255, 195, 113,1), rgba(255, 95, 109,1));background-blend-mode: multiply;">
  <div class="backButton"  style="padding:5px;" (click)="goBack()" >
    <img style="height:20px; width:20px;"  src="./assets/imgs/back_white.png">  
  </div>
  <div class="headerLabel">
    {{cateogry}}
    <span class="subHeader">
      Latest Trends
    </span>
  </div>
</ion-header> -->

<ion-header class="ionHeader" >
    <button ion-button (click)="btnBackTapped()" clear class="backButton"  ></button>
    <img class="backIcon"  src="./assets/imgs/back.png" />  

    
<button ion-button clear class="menuButton"  menuToggle></button>
        <img class="menuIcon" src="./assets/imgs/menu.png" />

  <!-- <button ion-button clear class="menuButton"  menuToggle></button>
        <img class="menuIcon" src="./assets/imgs/menu.png" /> -->

    <!-- <ion-navbar style="height:116px">
    </ion-navbar> -->
    <ion-title class="title"> 
      <div class="headerLabel">{{cateogry}} <span class="subHeader">Latest Trends</span></div>
    </ion-title>
</ion-header>

<ion-content class="contnet">
<ion-row class="servicesRow">
  <ion-col class="servicesColumn" *ngFor="let item of categories let i=index;" no-padding no-margin>
    <div class="serviceBox" (click)="categoryClicked(i)">
      <img class="serviceImage" [src]=imageUrl+item.ssc_image/>
      <div class="serviceName">{{item["ssc_name"]}}</div>
    </div>
  </ion-col>
</ion-row>
</ion-content>
