page-latest-trend-sub-cat {
    .ionHeader {
        height: 18.2vh;
        background: linear-gradient(0deg, rgba(255, 195, 113, 1), rgba(255, 95, 109, 1));
        .backIcon {
            width: 2.64vh;
            height: 3vh;
            position: fixed;
            display: block;
            top: 0; // padding: 0px;
            left: 1vh;
            margin-top: 6.2vh !important; // background: green;
            // z-index: 1; // background: green;
        }
        .backButton {
            width: 55px;
            height: 35px;
            position: fixed;
            top: 0;
            display: block;
            left: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 1; //  background: red;
        } // .navBar {
        // height: 116px;
        // height: 14vh;
        // height: 18.2vh;
        // background: green;
        .menuButton {
            width: 55px;
            height: 35px;
            position: fixed;
            top: 0;
            display: block;
            right: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 1; // background: red;
        }
        .menuIcon {
            // height: 13px;
            // width: 52px;
            height: 2vh;
            width: 6.5vh;
            position: fixed;
            top: 0; // padding: 0px;
            right: 5px;
            margin-top: 6.2vh !important; // background: green;
            z-index: 1; // background: green;
        } // }
        .headerLabel {
            position: absolute; // bottom:16px;
            top: 11.69vh;
            left: 2.63vh !important;
            text-align: center;
            font-size: 34px;
            color: white;
            overflow: hidden;
            letter-spacing: 0.5px;
            font-family: $Montserrat-Bold !important; // background: purple;
        }
        .subHeader {
            font-size: 3.43vw;
            font-family: $Montserrat-Medium !important;
            color: rgb(253, 211, 176)
        }
    } // style="height:116px !important;background:linear-gradient(0deg, rgba(255, 195, 113,1), rgba(255, 95, 109,1));"
    // .menuButton {
    //     height: 35px;
    //     width: 55px;
    //     position: fixed;
    //     top: 0;
    //     display: block;
    //     right: 0;
    //     margin-top: 25px !important; // background: red;
    //     color: white;
    //     z-index: 1;
    // }
    // .menuIcon{
    //     height: 13px;
    //     width:52px;
    //     position: fixed;
    //     top: 0;
    //     // padding: 0px;
    //     right: 5px;
    //     margin-top: 35px !important;
    //     // background: green;
    //     z-index: 1;
    // }
    ion-content {
        background: white
    }
    .contnet {
        background: white;
    }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        // margin-top: -50px;
        margin-top: -8vh !important; // background: green;
        // background: green;
    }
    // .backIcon {
    //     width: 40px;
    //     color: white;
    //     margin-top: 15px !important;
    //     background: transparent;
    //     height: 40px;
    //     padding: 0px;
    //     opacity: 1.0;
    // }
    // .backButton {
    //     position: absolute;
    //     bottom: 50px;
    //     text-align: center;
    //     font-size: 30px;
    //     color: white
    // }
    // .backIcon:active {
    //     background-color: transparent;
    // }
    // .backIcon:focus {
    //     background-color: transparent;
    // }
    // .backImage {
    //     height: 29px !important;
    //     width: 52px !important;
    //     padding-top: 7px;
    //     object-fit: contain;
    //     color: white;
    //     margin-top: 25px;
    //     margin-left: -50px;
    //     z-index: 1;
    // }
    .featuredImage {
        height: 102px;
        margin-left: 27px !important;
        padding: 20px;
        margin-top: 23px !important;
        background: white; // margin-bottom: 25px !important;
        width: 102px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .upperHeading {
        color: white;
        margin-top: -80px !important;
        margin-left: 140px !important;
        font-size: 30px;
        font-family: $Montserrat-SemiBold !important;
    }
    .subHeading {
        color: white;
        margin-left: 140px !important;
        font-size: 3.43vw;
        margin-top: -10px;
        font-family: $Montserrat-Medium !important;
    }
    .servicesRow {
        width: 100%; // align-content: center;
    }
    .servicesColumn {
        border-bottom: rgb(231, 231, 231) solid 1px;
        border-right: rgb(231, 231, 231) solid 1px;
        width: 50% !important;
        height: 181px; // align-content: center;
        // text-align: center;
    }
    .serviceBox {
        width: 50% !important;
        align-content: center;
        text-align: center;
    }
    .serviceImage {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75px !important;
        height: 75px !important;
        margin-top: 35px;
        border-radius: 37.5px;
        object-fit: cover;
        margin-left: (50vw / 2) - 11
    }
    .serviceName {
        color: rgb(252, 173, 58);
        font-size: 5vw;
        margin-top: 20px;
        font-family: $Montserrat-Medium !important;
        width: 40vw !important;
        text-align: center;
        margin-left: 5vw !important;
    }
    .label-ios {
        margin: 0;
    }
    .label-md {
        margin: 0px 0px 0px 0px;
    }
}