<ion-header id="productsIonHeaderID" [ngClass]=" slideOutNow === true ? 'ionHeader slide-Header-out' : 'ionHeader slide-Header-In'"  [hidden]="shouldShowMiniHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label text-wrap class="upperHeading">{{parentSectionName}} near you</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>

  </div>
  <div class="searchSection">
    
    <div class="searchInput">

        <ion-input  style="color: #ffffff  !important;" [(ngModel)]="txtSearchSalon" (focusin)="shouldBeginEditing($event.target)" (focusout)="endEndEditing($event.target)"
        class="searchInputField" (keyup)="shouldChangeCharacter($event.target)" (keyup.enter)="handleReturnkey()"
        placeholder="Search {{parentSectionName}}"></ion-input>

    </div>
      <div class="searchButton" *ngIf="txtSearchSalon.length > 0">
        <div class="serachlbl" (click)='searchOverInternet()'>
            {{serverSearchlbl}}
        </div>
      </div>
      <div class="clear">
      </div>
  </div>
  <div hidden class="divInput">
    <img class="searchIcon" src="./assets/imgs/search_icon_new.png" />
    <ion-input clearInput [(ngModel)]="txtSearchSalon" (focusin)="shouldBeginEditing($event.target)" (focusout)="endEndEditing($event.target)"
      class="topInputField" (keyup)="shouldChangeCharacter($event.target)" (keyup.enter)="handleReturnkey()"
      placeholder="Search {{parentSectionName}}"></ion-input>
  </div>
  <ion-scroll #scroll    scrollY="true" class="SalonServicesSearchListingScroll" *ngIf="showTagsPopOver">
      <ion-card   class="SalonServicesSearchCard">
        <ion-card-content *ngFor="let tag of filteredTags; let i=index;" (click)="btnStyleTapped(tag,i)">
          <label position="fixed" text-capitalize class="lblSalonOrServiceName" md-highlight-text="txtSearchStyles" [innerHTML]="highlight(tag.keyword)">{{tag.keyword}}</label>
        </ion-card-content>
      </ion-card>
    </ion-scroll>
</ion-header>
<ion-header id="miniHead" [hidden]="!shouldShowMiniHeader " class="miniHeader">
  <ion-row>
    <ion-col no-padding no-margin no-lines col-2 (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    
    <ion-col no-padding no-margin no-lines >
      <ion-label text-wrap class="header-title" *ngIf="!selectedProductCategory">{{parentSectionName}} near you</ion-label>
    </ion-col>
    
    <ion-col no-padding no-margin no-lines col-2 menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
</ion-header>
<ion-content style="background:white; margin-top: 5px;"   (ionScroll)="scrollHandler($event)">
   <div class="localSideSalons"  *ngIf="!isServerSearching">
  <div style="margin-top:0px; background: white;" >
    <ion-list class="salonCard" *ngFor="let salon of allSalon; let i = index">
      <!-- <ion-header class="myHeader" *ngIf="salonCardOptions && !salonCardOptions.shouldScroll">
        <button ion-button (click)="btnBackTapped()" clear class="backButton"></button>
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-header> -->
      <img *ngIf="salon.fav_id !== 0"  class="imgFavoriteSalon" src="./assets/imgs/heart_filled.png"
        (click)="makeSalonFavoriteTapped( salon, i)" />
      <img *ngIf="salon.fav_id === 0 " class="imgFavoriteSalon"
        src="./assets/imgs/heart_empty.png" (click)="makeSalonFavoriteTapped( salon, i)" />
      <img class="salBackImage" *ngIf=" salon.sal_pic.length == 0" (click)='openDetailsPage(salon)'
        [src]="salonImagesURL + defaultSalonPicName"  />
      <img class="salBackImage" *ngIf=" salon.sal_pic.length > 0" (click)='openDetailsPage(salon)'
        [src]="salonImagesURL +salon.sal_pic" 
        onError="this.src='./assets/imgs/lisa.png'"
        />
      <ion-card no-lines no-padding no-margin class="promotionContainer" *ngIf=" salon.sal_active_promotions != 0">
        <ion-label no-padding no-margin class="oferrTitle">{{getPromotions(salon.sal_id)}}</ion-label>
        <p class="btnViewAllPromotions"  *ngIf="salon.sal_active_promotions> 1" (click)="btnAllOfferTaped(salon.sal_id, salon.sal_name, salon.sal_pic)">More Promotions</p>
      </ion-card>
      <ion-label no-lines no-padding no-margin text-wrap text-left class="salonName">  {{salon["sal_name"]}}</ion-label>
      <ion-row no-lines no-padding no-margin class="SalonAddress">
        <ion-col no-padding no-margin col-9>
          <ion-label text-wrap no-lines no-padding no-margin  class="lblAddress">{{salon.sal_address}} {{salon.sal_zip}}</ion-label>
        </ion-col>
        <ion-col hidden col-3 no-padding no-margin text-wrap >
          <div class="PinImageWithDistance">
            <img class="pinImage" src="./assets/imgs/sal_pinLocation.png" />
            <ion-label no-lines no-padding no-margin text-wrap class="pinDistance"> {{ salon.distance | number : '1.1-1'}} {{distanceUnit}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-card no-lines no-padding no-margin class="ratingCard">
        <ion-label no-padding no-padding *ngIf="salon.sal_rating > 0" text-wrap class="ratingValue"> {{roundRatingUpToOneDecimal(salon.sal_rating)}} </ion-label>
        <rating no-padding no-padding [(ngModel)]="salon.sal_rating" readOnly="true" max="5" [ngClass]="salon.sal_rating == 0 ? 'withNoRating' : 'withRating' "
          emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
        </rating>
        <ion-label no-padding no-padding *ngIf="salon.sal_rating == 0" class="notEnoughRating">
          Not Enough Ratings
        </ion-label>
      </ion-card>
      <div *ngIf="allSalons && allSalons.length > 1" class="salonSeparator"></div>
    </ion-list>

  </div>
  <ion-infinite-scroll (ionInfinite)="loadMoreSalons($event)" distance="1%" loaddingSpinner="bubble">
    <ion-infinite-scroll-content ng-if="hasMoreData"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>   
    <div *ngIf="isServerSearching" >
    <div style="margin-top:0px; background: white;" *ngIf="serverSearchSalon"  >
        <ion-list class="salonCard" *ngFor="let salon of serverSearchSalon; let i = index">
       <img *ngIf="salon.favsal != 0"  class="imgFavoriteSalon" src="./assets/imgs/heart_filled.png"
        (click)="makeSalonSearchFavoriteTapped( salon, i)" />
    
       <img *ngIf="salon.favsal == 0 " class="imgFavoriteSalon"
        src="./assets/imgs/heart_empty.png" (click)="makeSalonSearchFavoriteTapped( salon, i)" />
       <img class="salBackImage" *ngIf=" salon.sal_pic.length == 0" (click)='openDetailsPage(salon)'
        [src]="salonImagesURL + defaultSalonPicName"  />
       <img class="salBackImage" *ngIf=" salon.sal_pic.length > 0" (click)='openDetailsPage(salon)'
        [src]="salonImagesURL +salon.sal_pic" 
        onError="this.src='./assets/imgs/lisa.png'" />

          <!-- <img  *ngIf="salon.fav_id !== 0"  class="imgFavoriteSalon" src="./assets/imgs/heart_filled.png"
            (click)="makeSalonFavoriteTapped( salon, i)" />
          <img hidden *ngIf="salon.fav_id === 0 " class="imgFavoriteSalon"
            src="./assets/imgs/heart_empty.png" (click)="makeSalonFavoriteTapped( salon, i)" />
          <img class="salBackImage" *ngIf=" salon.sal_pic.length == 0" (click)='openDetailsPageSearch(salon)'
            [src]="salonImagesURL + defaultSalonPicName"  />
          <img class="salBackImage" *ngIf=" salon.sal_pic.length > 0" (click)='openDetailsPageSearch(salon)'
            [src]="salonImagesURL +salon.sal_pic" 
            onError="this.src='./assets/imgs/lisa.png'"
            /> -->
          <ion-card no-lines no-padding no-margin class="promotionContainer" *ngIf=" salon.sal_active_promotions != 0">
            <ion-label no-padding no-margin class="oferrTitle">{{getPromotions(salon.sal_id)}}</ion-label>
           
            <p class="btnViewAllPromotions"  *ngIf="salon.sal_active_promotions> 1" (click)="btnAllOfferTaped(salon.sal_id, salon.sal_name, salon.sal_pic)">More Promotions</p>
          </ion-card>
          <ion-label no-lines no-padding no-margin text-wrap text-left class="salonName">   {{salon["sal_name"]}}</ion-label>
          <ion-row no-lines no-padding no-margin class="SalonAddress">
            <ion-col no-padding no-margin col-9>
              <ion-label text-wrap no-lines no-padding no-margin  class="lblAddress">{{salon.sal_address}} {{salon.sal_zip}}</ion-label>
            </ion-col>
            <ion-col hidden col-3 no-padding no-margin text-wrap >
              <div hidden class="PinImageWithDistance">
                <img class="pinImage" src="./assets/imgs/sal_pinLocation.png" />
                <ion-label no-lines no-padding no-margin text-wrap class="pinDistance"> {{ salon.distance | number : '1.1-1'}} {{distanceUnit}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-card no-lines no-padding no-margin class="ratingCard">
            <ion-label no-padding no-padding *ngIf="salon.sal_rating > 0" text-wrap class="ratingValue"> {{roundRatingUpToOneDecimal(salon.sal_rating)}} </ion-label>
            <rating no-padding no-padding [(ngModel)]="salon.sal_rating" readOnly="true" max="5" [ngClass]="salon.sal_rating == 0 ? 'withNoRating' : 'withRating' "
              emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
            </rating>
            <ion-label no-padding no-padding *ngIf="salon.sal_rating == 0" class="notEnoughRating">
              Not Enough Ratings
            </ion-label>
          </ion-card>
          <!-- <div *ngIf="allSalons && allSalons.length > 1" class="salonSeparator"></div> -->
        </ion-list>
    </div>
    </div>
</ion-content>