page-rate-appointment {

    .content {
        background-color:white// rgb(225, 225, 225);
    }

    .backButton{
        position: absolute;
        bottom:50px;
        text-align:center;
        font-size:30px;
        color:white
      }

      .headerLabel{
        position: absolute;
        bottom:16px;
        left:13.5px;
        text-align:center;
        font-size:30px;
        font-weight:600;
        color:white;
       
      }

      .topLabel{
        color: black;
        //   width: 100%;
        margin-top: 35px;
        font-size: 4.5vw;
        margin-left: 16px !important;
        font-weight: 500;
        margin-right: 16px !important;
      }

      ul {
        padding: 0px !important;
        &.rating li {
          padding: 5px 0px 0px !important;
          margin: 2px !important;
          color: rgb(222, 32, 90);

         
          ion-icon {
            font-size: 58px;
          }
        }
      }

      .rating{
        margin-top: 30px;
        height:58px;
        align-content: center;
        text-align: center;
        padding-top: 1px !important;
      }

      .textArea{
        background: rgba(170, 170, 170, 0.3);
        height:120px;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 5px;
        margin-left: 5% !important;
        margin-top: 20px !important;
        margin-right: 5% !important;
        width: 90%;
        padding-left: 5px;
        font-size: 4.23vw;
        font-weight: 400;
    }

    .disclaimerAndWordCount{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .disclaimer{
        // font-size: 8px;
        font-size: 2.5vw; 
    }

    .wordCount{
        font-size: 3.7vw;
        float: right;
    }

    .submit{
        width: 31.7vw;
        height: 12vw;
        background: rgb(255, 95, 109);
        color: white;
        font-size: 5vw;
        font-weight: 500;
        border-radius: 5px;
        position: relative;

        left: 50% !important;
        transform: translateX(-50%) !important;
        // float: right;
        // margin-right: 5% !important;
        margin-top: 5.2vw !important;

    }
}
