page-in-active-salon {
    .header{
        align-content:  center;
        width:          100%;
        height:         116px;
        margin:         0px !important;
        line-height:    116px;
        color:          white;
        text-align:     center;
        background:     linear-gradient(to bottom, rgb(255, 95, 109), rgb(255, 195, 133));
        font-size:      28px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Semibold' !important;
    }
    
    .headerLabel{
        position: absolute;
        // bottom:26px;
        // left:13.5px;
        text-align:center;
        font-size:40px;
        font-family: "Artista" !important;
        color:white;
        width:100%;
      }

      .backIcon{
        width: 40px;
        margin-top: 38px;
        background: transparent;
        height: 40px;
        float: left;
        color: white;
        padding: 0px;
        opacity: 1.0;
        z-index: 100;
    }

    .backIcon:active{
        background-color: transparent;
    }

    .backIcon:focus{
        background-color: transparent;
    }

    .backImage{
        height: 29px !important;
        width: 52px !important;
        padding-top: 7px;
        object-fit: contain;
        color:white;
        margin-top: 25px;
        margin-left: -50px;
        z-index: 1;
    }


    .nameLable{
        width:          100%;
        padding-left:   20px;
        margin-top:     30px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .nameTextF{
        padding-left:   20px;
        padding-right:  20px;
        align-content:  center;
        text-align:     center;   
    }

    .phoneLabel{
        width:          100%;
        padding-left:   20px;
        margin-top:     10px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .phoneTextF{
        padding-left:   20px;
        padding-right:  20px;
        align-content:  center;
        text-align:     center;
    }

    .servicesLabel{
        width:          100%;
        padding-left:   20px;
        margin-top:     10px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .servicesTextF{
        padding-left:   20px;
        padding-top:2px;
        padding-bottom: 0px;
        // padding-right:  20px;
        background: rgb(240, 240, 240);
        height: 90px;
        text-align: center;
        line-height: 18px;
        width: 90%;
        border-radius: 5px;
        left: 5%;
        align-content:  center;
        text-align:     center;
        margin-top: 20px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .dateTimeTF{
        padding-left:   20px;
        padding-right:  20px;
        background: rgb(240, 240, 240);
        height: 50px;
        text-align: center;
        line-height: 30px;
        width: 90%;
        border-radius: 5px;
        left: 5%;
        align-content:  center;
        text-align:     center;
        margin-top: 20px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .timeSection{
        padding-left:   0px;
        padding-right:  20px;
        background: rgb(240, 240, 240);
        height: 50px;
        line-height: 30px;
        width: 90%;
        border-radius: 5px;
        margin-left: 5%;
        padding-top:8px;
        align-content:  left;
        text-align:     left;
        margin-top: 20px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .timeLabel{
        width:          100%;
        padding-left:   20px;
        margin-top:     10px;
        font-size:      18px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Medium' !important;
    }

    .timeTextF{
        padding-left:   20px;
        padding-right:  20px;
        align-content:  center;
        text-align:     center;
    }

    .inActiveSalon{
        font-size:      27px;
        width: 100%;
        text-align: center;
        margin-top: 50px;
        height: 40px;
        font-family:    'font-family: $Montserrat-MediumDisplay_Bold' !important;
    }

    .instruction{
        height: 40px;
        font-size:      20px;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-family: $Montserrat-SemiBold !important;
    }

    .sendButton{
        background: rgb(255, 95, 109);
        text-align: center;
        font-size: 5.29vw;
        margin-left: 5%;
        width:90%;
        border-radius: 5px;
        font-family: $Montserrat-SemiBold !important;
        color:white;
      }
}

