<!--
  Generated template for the InActiveSalonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <button ion-button clear icon-only class="backIcon" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <div class="headerLabel">BeautyApp</div>

</ion-header>

<ion-content>

  <div class="inActiveSalon">This salon is Inactive</div>
  <div class="instruction">Enter your desired services</div>

  <ion-textarea [(ngModel)]="servicessss" rows="4" class="servicesTextF" placeholder="Services e.g. Hair Cut"></ion-textarea>
    
  <ion-input [ngModel]="selectedDate | date:'EEEE dd MMMM, yyyy'" class="dateTimeTF" item-right ion-datepicker (ionChanged)="setDate($event);" [min]="today" full="false" calendar="true" placeholder="Select Date">
  </ion-input>
  
  <ion-item class="timeSection">
    <ion-multi-picker style="height:50px;line-height:50px;padding-top:9px;" placeholder="Select Time" id="default" [(ngModel)] = "selectedTime" item-content [multiPickerColumns]="timeCols"></ion-multi-picker>
  </ion-item>

  <div class="sendButton" (click)="sendFeedback()">
    <p style="padding:13px; text-align:center">
        Submit
    </p>
  </div>

</ion-content>
