page-appointments {
    .scroll-content {
        margin-bottom: 0pt !important; // margin-top: 50pt !important;
    }
    .alreadyRegister {
        width: calc(100% - 20px);
        margin-top: 20px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        .lblAlreadyRegister {
            // background: #ea3f49;
            font-family: $montserrat-light !important;
            font-size: 3.6vw !important; // font-weight: 700;
            color: rgb(60, 60, 60);
        }
        .lblLogin {
            padding-right: 30px !important;
            padding-left: 10px !important;
            padding-bottom: 10px !important; // background: black !important;
            font-size: 4.7vw !important;
            font-family: $montserrat-light !important; // text-decoration: underline !important;
            // margin-left: 10px !important;
            color: #ea3f49 !important;
        }
    }
    ion-content>.scroll-content {
        margin-bottom: 20px !important;
    }
    .ionHeader-dt {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        padding-bottom: 10px;
        background-image: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 31pt !important;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear; // background: blue !important
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5vw;
                    width: 100%;
                    margin-top: 20px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt !important;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }
    .BaseGenderSegment {
        //background: white !important;
        width: calc(100% - 30pt);
        margin-left: 15pt;
        margin-right: 15pt;
        height: 40.5pt; // position: absolute;
        // bottom: 0;
        padding-bottom: 2px !important; // top: 0 ;
        margin-top: 20pt; // bottom: -23.5pt;
        border-radius: 24.5pt; // z-index: 99999 !important;
        // margin-bottom: 15pt !important;
        .GenderSegement {
            background: transparent !important;
            width: 100%;
            height: calc(100% - 5pt);
            margin-bottom: 0pt !important;
            .segment-button {
                height: 25pt;
                background: transparent !important;
                border-color: transparent !important;
                margin-top: 0pt !important;
                margin-bottom: 0pt !important;
                line-height: 25pt !important; //color: rgb(35, 31, 32);
                color: white !important;
                font-size: 3.97vw;
                line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                font-family: $Montserrat-Regular;
            }
            .segment-button.segment-activated {
                height: 25pt;
                line-height: 25pt !important;
                margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                color: white !important;
                font-size: 4.5vw;
                font-family: $Montserrat-Regular;
                line-height: 30pt !important;
            }
        }
        .sliderContainer {
            margin-left: 22pt !important;
            margin-right: 22pt !important;
            margin-top: 3pt;
            height: 2pt;
            width: calc(100% - 44pt) !important;
            background-color: transparent;
            box-shadow: none;
            .slider {
                background: white !important; //  background-color: rgb(236, 78, 137) !important;
                height: 100% !important;
                margin-bottom: 0pt !important;
                width: calc(50% - 20pt); // float: right;
                padding-top: 5pt !important;
                margin-top: 0px;
                margin-bottom: 0pt;
                margin-left: 1px;
            }
        }
    }
    .miniHeader-dt {
        height: 50pt;
        background-image: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }
    ul {
        padding: 0px !important;
        &.rating li {
            padding: 2px 0px 0px !important;
            margin: 0px !important;
            color: #ffb400;
            ion-icon {
                font-size: 3.43vw;
            }
        }
    }
    .headerLabel {
        position: absolute;
        top: 73px;
        left: 13.5px;
        text-align: center;
        font-size: 30px;
        font-family: $Montserrat-SemiBold !important;
        color: black
    }
    .backIcon {
        width: 40px;
        margin-top: 25px !important;
        background: transparent;
        height: 40px;
        padding: 0px;
        opacity: 1.0;
    }
    .backIconButton {
        position: absolute;
        width: 40px;
        background: white;
        height: 40px;
        top: 25px;
        padding: 0px;
        opacity: 1.0;
    }
    .backIcon:active {
        background-color: transparent;
    }
    .backIcon:focus {
        background-color: transparent;
    }
    .menuIcon {
        height: 13px;
        width: 52px;
        position: fixed;
        top: 0; // padding: 0px;
        right: 5px;
        margin-top: 35px !important; // background: green;
        z-index: 1;
    }
    ion-icon {
        font-size: 35px;
        margin-left: 3px;
    }
    .menuButton {
        height: 35px;
        width: 55px;
        position: fixed;
        top: 0;
        display: block;
        right: 0;
        margin-top: 25px !important; // background: red;
        color: white;
        z-index: 1;
    }
    .content {
        // margin-top: 15px !important;
        margin-bottom: 0 !important; 
        // background: #ea3f49 !important;
        padding-bottom: 0 !important;
        // background: rgb(245, 245, 245) !important;
        
    }
    .topDivider {
        background: rgb(245, 245, 245);
        height: 66px;
        display: flex;
        margin: 0px;
        width: 100%;
        position: fixed;
        -webkit-overflow-scrolling: touch;
        z-index: 100;
    }
    .bottomDivider {
        background: rgb(245, 245, 245);
        height: 56px;
        margin: 0px;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
    .segmentBar {
        height: 40px;
        border-radius: 5px;
        margin: 16px; // margin-top: 0px;
        margin-bottom: 20px;
        position: fixed;
        width: 91vw;
        overflow: hidden;
        z-index: 100;
        background: white;
        text-align: center;
        line-height: 40px;
    }
    .lblcustName {
        font-size: 4.76vw;
        font-family: $Montserrat-SemiBold !important;
        margin-left: 72px !important;
        margin-top: 2px;
        height: 22px;
        width: 90pt; // width: calc(100% - 15vh);
    }
    .lblStatus {
        background: rgb(57, 181, 74);
        width: 60px;
        height: 16px;
        border-radius: 2px;
        margin-top: -5px;
        color: white;
        text-align: center;
        line-height: 14px;
        margin-left: 72px !important;
        font-size: 2.65vw;
        font-family: $montserrat-light !important;
    }
    .lblDate {
        margin-top: -28px;
        float: right;
        color: rgb(160, 158, 161);
        font-size: 3.97vw;
        font-family: $Montserrat-Medium !important;
    }
    .techPic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
    }
    .segmentItem {
        color: black;
        font-size: 3.97vw;
        font-family: $Montserrat-Medium !important;
        margin: 0px;
        height: 100%;
        width: 50%;
    }
    .noAppoLabel {
        color: black;
        font-size: 5.29vw;
        font-family: $Montserrat-SemiBold !important;
        z-index: 100;
        height: 21px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        line-height: 70% !important;
    }
    .apposList {
        background: white;
        // background: #ffb400 !important;
        border-radius: 5px;
        position: relative;
        margin: 16px !important;
        margin-top: 6px !important;
    }
    .apppintmentCell {
        height: 354px;
        background: red;
    }
    .salonName {
        margin: 0px !important;
        width: 100%;
        text-align: left;
        font-size: 5.29vw;
        font-family: $Montserrat-SemiBold !important;
        color: black;
        padding-left: 15px;
        line-height: 15pt;
        background: white; // padding-top: 0px;
        margin-top: 0px;
        padding: 10px 0px 10px 3px !important;
        border: 0.5px solid rgb(225, 225, 225);
        background: white;
    }
    .avatar {
        margin-left: 12px;
        margin-top: 15px;
    }
    .bullet {
        color: rgb(154, 154, 160);
        font-size: 22px;
        padding: 0px !important;
        text-align: center;
    }
    .serName {
        height: 25px !important;
        line-height: 25px;
        font-size: 3.7vw;
        margin-top: 2px;
        margin-left: 5px !important;
        font-family: $Montserrat-Medium !important;
        color: rgb(154, 154, 160);
    }
    .btnsContainer {
        height: 71px;
        text-align: center
    }
    .rating {
        // height:20px;
        position: absolute;
        width: 15vh !important;
        margin-top: -15px !important;
        right: 3px !important;
        padding-top: 0px !important;
    }
    .btnRateIt {
        margin-top: 5px;
        border-radius: 2px;
        color: white;
        font-family: $Montserrat-SemiBold !important;
        font-size: 15px;
        float: right;
        margin-right: 7%;
        height: 36px;
        width: 84%;
        background: rgb(255, 95, 109)
    }
    .btnCancel {
        margin-top: 8px;
        border-radius: 2px;
        color: white;
        font-family: $Montserrat-SemiBold !important;
        font-size: 15px;
        float: left;
        margin-left: 14px;
        height: 30px;
        width: 123px;
        background: rgb(255, 147, 111)
    }
    .btnReschedule {
        margin-top: 8px;
        border-radius: 2px;
        color: white;
        font-family: $Montserrat-SemiBold !important;
        font-size: 15px;
        float: right;
        margin-right: 14px;
        height: 30px;
        width: 123px;
        background: rgb(255, 95, 109)
    }
    .ion-label.label.label-ios {
        margin-top: -400px;
    }
    .lblNoData {
        width: 100%;
        height: 100%;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        position: absolute;
        margin: auto;
        overflow: auto; // background: darkorange;
        .imgNothingFound {
            height: 195px;
            width: 195px;
        }
        .lblNothingFound {
            // background: red !important;
            align-content: center;
            text-align: center; // height: 25pt;
            font-size: 5vw !important;
            margin-top: 36px; // 
            background: transparent;
            line-height: 25pt;
            margin-right: 5pt;
            margin-left: 5pt;
            width: calc(100% - 10pt);
            font-family: $Montserrat-Regular;
        }
    }
}