page-archives {
    ion-content{
        background: white;
    }
    .menuButton {
        width: 55px;
        height: 35px;
        position: fixed;
        top: -6px;
        display: block;
        right: 0;
        margin-top: 5vh !important; // background: red;
        color: white;
        z-index: 1; // 
        // background: red;
    }
    .menuIcon {
        // height: 13px;
        // width: 52px;
        height: 2vh;
        width: 6.5vh;
        position: fixed;
        top: 0; // padding: 0px;
        right: 5px;
        margin-top: 6.2vh !important; // background: green;
        // z-index: 1; // background: green;
    }
    .title{
        z-index: 999;
        margin-top: 10px;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
      }
    
      button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -50px;
        color: black;
      }

    .backIcon {
        width: 40px;
        color:white;
        margin-top: 15px;
        background: transparent;
        height: 40px;
        padding: 0px;
        opacity: 1.0;
    }
  
    .backIcon:active{
        background-color: transparent;
    }
  
    .backIcon:focus{
        background-color: transparent;
    }

    .headerLabel{
        position: absolute;
        bottom:16px;
        left:13.5px !important;
        text-align:center;
        font-size:34px;
        color:black;
        overflow: hidden;
        font-family: $Montserrat-Medium !important;
    }
    .subHeader{
        font-size: 3.43vw;
        font-family: $Montserrat-Medium !important;
        color: rgb(253, 211, 176)
    }

    .backButton{
        position: absolute;
        bottom:50px;
        text-align:center;
        font-size:30px;
        color:white
    }

    .featuredImage{
        height: 102px;
        margin-left: 28px !important;
        padding: 20px;
        padding-top: 53px;
        padding-bottom: 53px;
        width: 102px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .unFeaturedImage{
        height: 102px;
        margin-top: 20px !important;
        margin-bottom: 27px !important;
        padding: 17px;
        width: 102px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        border-radius: 5px;    
    }

    .currency{
        color: white;
        font-size: 4.76vw;
        position: absolute;
        // background: red;
        border-radius: 7px;
        text-align: center;
        line-height: 102px;
        left: 16px;
        top: 28px;
        height: 102px;
        width:102px;
        font-family: $Montserrat-Medium !important;
    }

    .featuredItem {
        // font-family: 'SF Pro Display' !important; 
        font-weight: 400;
        background: $Beautyapp-gradient-color;
        height: 208px !important;
        margin: 0px;
        padding-bottom: 0px !important;
    }
    
    .unFeaturedItem{
        height: 165px;
        margin: 0px;
        padding-bottom: 0px !important;
        margin-top: 20px;
        
    }
    
}