<!--
  Generated template for the ArchivesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="height:116px !important;background:white;">
  <div class="backButton"  style="padding:5px;" (click)="goBack()" >
    <img style="height:20px; width:20px;"  src="./assets/imgs/cutom_back_ico.png">  
    </div>
  <div class="headerLabel">
    Archives
  </div>
</ion-header> -->

<ion-header style="height:116px !important;background:white">
    <ion-navbar style="height:116px">
    </ion-navbar>
    <button ion-button clear class="menuButton" menuToggle></button>
  <img class="menuIcon" src="./assets/imgs/menu.png" />
    <ion-title class="title"> 
        <div class="headerLabel">Archives</div>
    </ion-title>
</ion-header>


<ion-content no-padding no-margin>

  <ion-item class="unFeaturedItem" style="background: $Beautyapp-gradient-color;">
    <ion-img item-left class="unFeaturedImage" src="./assets/imgs/whatsNew.png"></ion-img>
    <span style="font-family: $Montserrat-SemiBold !important; font-size:28px;color:white">
      What’s New
    </span><br>
    <span style="font-family: $Montserrat-Medium; font-size:18px; color:white">
      in BeautyApp
    </span>
  </ion-item>

<ion-item class="unFeaturedItem" style="">
  <div class="currency">£</div>  
  <img item-left class="unFeaturedImage" style="background: white;" src="./assets/imgs/offer.png" />
  
  <span style="font-family: $Montserrat-SemiBold !important; font-size:28px; font-weight:medium; color:white">
        Special Offers
    </span><br>
    <span style="font-family: $Montserrat-Medium; font-size:18px; color:white">
        in BeautyApp
  </span><br>
</ion-item>      
        
<ion-item class="unFeaturedItem" style="background: linear-gradient(to bottom left, rgb(255, 139, 7) 10%, rgb(255, 68, 43));">        
    
    <img item-left class="unFeaturedImage" style="background:white;" src="./assets/imgs/latestTrends.png" />
    <span style="font-family: $Montserrat-SemiBold !important; font-size:28px; font-weight:medium; color:white">
          Latest Trends
    </span><br>
    <span style="font-family: $Montserrat-Medium; font-size:15px; color:white">
          Must-know trends you’ll love
    </span><br>
</ion-item>

</ion-content>
