<ion-header class="ionHeader-dt" [nopso-hide-header]="myContent" [NopsoHeaderOptions]="nopsoHeaderOptions">
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="upperHeading"> All Collection </ion-label>
      </ion-col>
      <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
        <img class="menuIcon" src="./assets/imgs/menu.png" />
      </ion-col>
    </ion-row>
    <div class="BaseGenderSegment" no-margin no-padding>
      <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
        <ion-segment-button value="English" (click)="menTrendsTapepd()">Men's</ion-segment-button>
        <ion-segment-button value="Urdu" (click)="womenTrendsTapepd()">Women's</ion-segment-button>
      </ion-segment>
      <ion-card no-padding no-margin no-lines class="sliderContainer">
        <ion-card-content no-padding no-margin no-lines class="slider" id="slider_collection">
        </ion-card-content>
      </ion-card>
    </div>
  </ion-header>
  <ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader-dt">
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="upperHeading">All Collection</ion-label>
      </ion-col>
      <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
        <img class="menuIcon" src="./assets/imgs/menu.png" />
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content fullscreen #myContent class="body">
    <div class="Latest-trends-listing" ion-row>
      <ion-list *ngFor="let item of LatestTrendsStyles let i=index;" (click)="categoryClicked( item,i)"   class="trends-listing"
        no-padding no-margin>
        <div>
          <div class="trends-listing-imageContent">
            <img style="background:black;" no-lines no-margins no-padding class="trends-listing-image" [src]=imageUrl+item.sc_image
              onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" /><br>
          </div>
          <div class="tag-lbl">
              {{item["sc_name"]}} 
          </div>
          <div class="trends-listing-separator">
          </div>
        </div>
      </ion-list>
    </div>
  
  
       <div>
      <div  hidden   class="container-viewMore">
          <div class="viewMore-contents" >
            <div class="viewMore-lbl-img">
              <div class="viewMore-lbl">
                  View More Collection 
              </div>
              <div class="viewMore-icon">
                  <img src="./assets/imgs/back-ionc-home.png" />
                </div>
            </div>
          </div>
    </div>
  </div>
    
    <div  hidden class="viewMore-separator" >
      
    </div>
     
  
    <div hidden class="container-shares">
      <div class="fb-share">
        <div class="fb-share-contents">
          <div class="fb-icon">
  
            <img src="./assets/imgs/fb-icon.png" />
          </div>
          <div class="lbl">
            Share
          </div>
        </div>
      </div>
  
      <div class="tw-share">
        <div class="tw-share-contents">
          <div class="tw-icon">
            <img src="./assets/imgs/twiter-icon.png" />
          </div>
          <div class="tw-share-lbl">
            Share on Twitter
          </div>
        </div>
      </div>
  
      <div class="wt-share">
        <div class="fb-share-contents">
          <div class="fb-icon">
  
            <img src="./assets/imgs/whatsapp-icon.png" />
          </div>
          <div class="lbl">
            Share
          </div>
        </div>
      </div>
  
      <!-- <div class="tw-share">
          2
        </div>
        <div class="wt-share">
            3
          </div> -->
  
  
    </div>
  
  </ion-content>