page-favorite-salons {
    .ionHeader {
        height: 167pt; // background:green;
        // background: linear-gradient(to bottom , rgb(255, 95, 109) 50%, rgb(255, 95, 109) 50%,  rgb(255,155,113) 90%);//linear-gradient(to top, #FFC371, #FF5F6D); // background-image: linear-gradient(to bottom, #ff5f6d, #ff7a65, #ff9362, #ffac66, #ffc371);
        background: $Beautyapp-gradient-color; // background-image: linear-gradient(to bottom, #ff5f6d, #ff7a65, #ff9362, #ffac66, #ffc371);
        .backIcon {
            width: 29pt;
            height: 20.4pt;
            margin-top: 28pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 9; // 
            // background: green; 
            transition: 0.2s linear;
        }
        .backButton {
            width: 39pt;
            height: 26pt;
            position: absolute;
            margin-top: 26pt;
            margin-left: 12.5pt;
            z-index: 999999; // 
        }
        .menu-animated {
            -webkit-transition: -webkit-transform 15000ms ease;
            -moz-transition: -moz-transform 15000ms ease;
            transition: transform 15000ms ease;
        }
        .menuButton {
            width: 35pt;
            height: 25.5pt;
            margin-top: 38pt;
            right: 8.5pt;
            z-index: 1; // background: green;
            float: right;
        }
        .menuIcon {
            width: 25pt;
            height: 8.5pt;
            margin-top: 47pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // background: green;
        }
        .headerLabel {
            font-size: 34pt !important;
            margin-top: 0px !important;
            width: 100%;
            height: 34.5pt;
            margin-top: 10pt;
            margin-left: 18px;
            text-align: left;
            letter-spacing: -1px;
            line-height: 36pt;
            color: white;
            
            font-family: $Montserrat-Medium;
        }
        .FavoriteSegement {
            height: 38pt;
            position: absolute;
            bottom: 0;
            .segment-button {
                height: 38pt;
                line-height: 9.8pt;
                background: transparent !important;
                border-color: transparent !important;
                padding-top: 10pt;
                margin-top: 0pt !important;
                margin-bottom: 0pt !important;
                color: rgba(255, 255, 255, 0.5);
                font-size: 16pt;
                letter-spacing: 0.6pt;
                // font-family: $Montserrat-Medium;
                font-family: $Montserrat-SemiBold !important; 
            }
            .segment-button.segment-activated {
                height: 38pt;
                line-height: 9.8pt;
                border-bottom-color: rgb(255, 95, 109) !important; // border-bottom-width: 1px !important;
                border-bottom-width: 2.5pt !important;
                padding-top: 10pt;
                margin-top: 0pt !important;
                margin-bottom: 0pt !important;
                color: rgba(255, 255, 255, 1);
                font-size: 16pt;
                letter-spacing: 0.6pt;
                // font-family: $Montserrat-Medium;
                font-family: $Montserrat-SemiBold !important; 
                img {
                    margin-top: 0px;
                    margin-bottom: 5px;
                    width: 20.7px;
                    height: 18px;
                    line-height: 90px;
                }
            }
        }
    }
    .BaseContentContainer{
        // background: rgb(245, 245, 245);
        background: white;
        
    }
    .salonCell {
        // border-radius: 3px; // height: 377px;
        // margin: 0px !important;
        // background: white;
        width: 100%;
        margin-top: 0px;
        background: green;
    }
    .imgAvatar {
        background: $Beautyapp-gradient-color;
        height: 83px !important;
        width: 83px !important;
        margin-top: -41px; // z-index: 100;
        position: relative;
        float: right;
        margin-right: 16px;
    }
    .ShortSalonNamezz {
        background: white;
        position: relative;
        float: right;
        padding: 0px !important;
        margin-top: -41px; // z-index: 100;
        margin-right: 16px;
        width: 83px;
        height: 83px;
        border-radius: 50%;
        font-size: 5.29vw;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        border: 1px solid rgba($color: #000000, $alpha: 0.5) !important; // line-height: 30px;
    } // .salonsList {
    //     margin-top: 0px !important; // position: absolute;
    //     width: 100%;
    //     background: deeppink;
    .salonCard {
        width: 100%;
        background: white;
        box-shadow: none;
        .imgFavoriteSalon {
            position: absolute;
            z-index: 99999999;
            width: 30px;
            height: 30px; // top: 50px;
            margin-top: 5px;
            margin-right: 5px;
            right: 15px;
        }
        .salBackImage {
            height: 218pt;
            width: 100%; // object-fit: fill;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0;
        }
        .salonName {
            margin-top: 10.3pt;
            margin-left: 9.7pt;
            margin-right: 4pt;
            width: calc(100% - 16.5pt); // white-space: normal;
            // overflow: hidden;
            color: rgb(67, 67, 67);
            font-size: 6.34vw;
            line-height: 22.5pt;
            text-align: left;
            font-family: $Montserrat-Medium;
            background: transparent;
            // background: white !important;
        }
        .SalonAddress {
            margin-top: 5.3pt;
            width: calc(100% - 13.3pt);
            margin-left: 9.7pt;
            margin-right: 4pt !important;
            // background: white !important;
            margin-bottom: 4pt;
            position: relative;
            .lblAddress {
                float: left;
                margin-top: 0pt;
                margin-bottom: 0pt;
                margin-left: 0pt !important;
                margin-right: 0pt;
                font-size: 4.05vw;
                line-height: 15pt;
                color: rgb(150, 150, 150);
                font-family: $Montserrat-Medium;
                // background: green;
            }
            .PinImageWithDistance {
                // height: 13.7pt !important;
                // height: 100% !important;
                margin-top: 0pt;
                margin-right: 0pt;
                float: right !important;
                font-family: $Montserrat-Medium;
                // background: deeppink;
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                
                .pinImage {
                    width: 6pt;
                    height: 8.5pt;
                    float: left;
                    right: 0;
                    margin-right: 3pt !important;
                    margin-top: 4.5pt;
                }
                .pinDistance {
                    height: 100% !important;
                    font-size: 4.05vw;
                    letter-spacing: 0.6;
                    margin-top: 2.5pt;
                    margin-left: 0pt !important;
                    margin-right: 0pt;
                    color: rgb(255, 95, 109);
                    text-align: left;
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                }
            }
        }
        .starsParent {
            width: calc(100% - 34.5pt);
            height: 15pt;
            margin-top: 0pt !important;
            margin-left: 9.3pt;
            margin-right: 20pt;
            margin-bottom: 10pt;
            .star {
                width: 9.7pt;
                height: 8.3pt;
                margin-right: 4pt;
            }
        }
        .salonSeparator{
            width: 100%;
            height: 19pt;
            background: rgb(245, 245, 245) !important;
        }
    }
    .postCard {
        width: 100%;
        box-shadow: none;
        .lblPinKeyWords {
            text-align: center;
            font-size: 6.34vw;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-Medium; // font-family: 'font-family: $Montserrat-MediumDisplay_Regular' !important;
            margin-bottom: 26pt;
            margin-top: 9pt;
        }
        .imgFavorite {
            position: absolute;
            z-index: 99999999;
            width: 28pt;
            height: 26pt;
            margin-top: 15pt;
            right: 21pt; // 
        }
        .imgPost {
            width: 100% !important;
        }
    } // }
    .lblNoData {
        width: 100%;
        height: 100%;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        position: absolute;
        margin: auto;
        overflow: auto; // background: darkorange;
        .imgNothingFound {
            height: 195pt;
            width: 195pt;
        }
        .lblNothingFound {
            // background: red !important;
            align-content: center;
            text-align: center;
            height: 25pt;
            margin-top: 36px; // background: green;
            line-height: 25pt;
            font-family: $Montserrat-Regular;
            font-size: 5.29vw;
        }
    }
}