<ion-header  class="ionDefaultHeader"  >
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-1>
      </ion-col>
      <ion-col col-6 no-padding no-margin class="colHheaderLabel">
        <ion-label text-wrap class="upperHeading">Favorites</ion-label>
      </ion-col>
    </ion-row>
  </ion-header>
<ion-header hidden class="ionDefaultHeader">
    <button class="backButton" ion-button (click)="btnBackTapped()" clear></button>
    <img class="backIcon" src="./assets/imgs/back.png" />
    <button class="menuButton" ion-button clear menuToggle></button>
    <img class="menuIcon" src="./assets/imgs/menu.png" />
    <ion-label class="headerLabel">Favorites</ion-label>
    <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="FavoriteSegement" *ngIf="!showTagsPopOver">
        <ion-segment-button value="posts" (click)="FavoriteTapped()">Styles</ion-segment-button>
        <ion-segment-button value="salons" (click)="salonTapped()">Salons</ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content class="BaseContentContainer">
        <ion-segment hidden  no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="FavoriteSegement" *ngIf="!showTagsPopOver">
                <ion-segment-button value="posts" (click)="FavoriteTapped()">Styles</ion-segment-button>
                <ion-segment-button value="salons" (click)="salonTapped()">Salons</ion-segment-button>
            </ion-segment>
    <div *ngIf="isSalonSelected">
            <salon-card  [salonCardOptions]="salonCardOption"></salon-card>
        <!-- <ion-card no-padding no-margin class="salonCard" *ngFor="let salon of favoriteSalons; let i = index">
            <img *ngIf="salon.favsal === 1 " class="imgFavoriteSalon" src="./assets/imgs/heart_filled.png" (click)="makeSalonFavoriteTapped(salon)"
            />
            <img *ngIf="salon.favsal === 0 || salon.favsal === 'null' " class="imgFavoriteSalon" src="./assets/imgs/heart_empty.png" (click)="makeSalonFavoriteTapped(salon)"
            />
            <img class="salBackImage" *ngIf="salon.sal_pic.length == 0" (click)='openDetailsPage(salon)' [src]="salonImagesURL + defaultSalonPicName"
            />
            <img class="salBackImage" *ngIf="salon.sal_pic.length > 0" (click)='openDetailsPage(salon)' [src]="salonImagesURL +salon.sal_pic"
            />
            <ion-label no-lines no-padding no-margin text-wrap text-left class="salonName"> {{salon["sal_name"]}}</ion-label>
            <ion-row no-lines no-padding no-margin class="SalonAddress">
                <ion-col no-padding no-margin col-9>
                    <ion-label no-lines no-padding no-margin text-wrap class="lblAddress">{{salon.sal_address}} {{salon.sal_zip}}</ion-label>
                </ion-col>
                <ion-col col-3 no-padding no-margin text-wrap>
                    <div class="PinImageWithDistance">
                        <img class="pinImage" src="./assets/imgs/sal_pinLocation.png" />
                        <ion-label no-lines no-padding no-margin text-wrap class="pinDistance">{{ salon.distance | number
                            : '1.1-1'}} Miles</ion-label>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="starsParent">
                <img class="star" src="./assets/imgs/star.png" />
                <img class="star" src="./assets/imgs/star.png" />
                <img class="star" src="./assets/imgs/star.png" />
                <img class="star" src="./assets/imgs/star.png" />
                <img class="star" src="./assets/imgs/star.png" />
            </ion-row>
            <div class="salonSeparator"></div>
        </ion-card>
        <div class="lblNoData" *ngIf="noSalonFound">
            <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
            <ion-label class="lblNothingFound">No Salon Found</ion-label>
        </div> -->
    </div>
    <div *ngIf="isFavoriteSelected">
        <ion-card no-padding no-margin class="postCard" *ngFor="let post of favoritePosts; let i = index">
            <div *ngIf="post.imageUrl && post.imageUrl.length > 0 " style="background: white;">
                <img no-lines no-padding no-margin *ngIf="post.favpost === 1 " class="imgFavorite" src="./assets/imgs/heart_filled.png" (click)="makePostFavoriteTapped(post)"
                />
                <img *ngIf="post.favpost === 0 " class="imgFavorite" src="./assets/imgs/heart_empty.png" (click)="makePostFavoriteTapped(post)"
                />
                <img no-lines no-padding no-margin style="width: 100%;" class="imgPost" (click)="postImageTapped(post,$event)" [src]=post.imageUrl
                />
                <ion-label (click)="pinKeyWordTapped(post)" class="lblPinKeyWords" *ngIf="post['p_keywords']"> {{post.p_keywords}}
                    </ion-label>
            </div>
        </ion-card>
        <div class="lblNoData" *ngIf="noPostsFound">
            <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
            <ion-label class="lblNothingFound">No Post Found</ion-label>
        </div>
    </div>
</ion-content>