<ion-header >
  <div hidden class="haeding">
    <div class="haedingContent">
      Congratulations
     </div>
  </div>
 
</ion-header>


<ion-content >

    <!-- Column #1 - HTML5 Canvas area -->
   <section class="columns" >
        <section class="column">
         <canvas #canvasObj></canvas>
         </section>
        
     </section>

  <div  class="congratsContents">
      <img class="backIcon" src="./assets/imgs/congrats.png" />
      <div  class="lblCongrats">
          Congratulations! 
      </div>
      <div class="lblCongrats2">
          You have been given
      </div>
      <div class="lblCredits">
          Rs. {{totalCredits}} 
      </div>
      <div class="lblFreeCredits">
          free credit.
      </div>
      <div class="lblTersmAndCondition">
          Terms and conditions:
      </div>
      <div class="lblNotes">
          Free credit can only be redeemed on the app by placing an order. It’s not transferable.

          You can use maximum of {{credditsPercentage}}% of your As a free credit 
      </div>
      
      <div class="btnOk" >
          <div class="btnOkText" #bouncebtn  (click)="nextPage()">
             <div class="txt"> 
                Ok
             </div>
          </div>
      </div>
     
   
  </div>

</ion-content>
