page-congratsredits {
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      
      .columns{
          position: absolute;
      }

    .haeding{
        height: 60px !important;
        width: 100%;
        align-content: center;
        .haedingContent{
             width: 100%;
             margin-top: 20px !important;
             text-align: center;
             position: relative;
             top: 50%;
             transform: translateY(-50%);
             color: white !important;
             font-family: $Montserrat-Bold !important;
             font-size: 4.9vw;
        }
    }

    .congratsContents{
        // width: 100%;
        width: calc(100% - 30px);
        margin-left: 15px !important;
        margin-right: 15px !important;
        margin-top: 10px !important;
        text-align: center;
        position: absolute;
        img{
         width: 123px !important;
         height: 123px !important;
        }
        .lblCongrats{
            animation-name: fadeIn;
            animation-duration: 8s;
            
            margin-top: 26px !important;
            color: rgb(227, 63, 73);
            font-family: $Montserrat-Bold !important;
            font-size: 7.23vw;
        }
        .lblCongrats2{
            color: rgb(96, 96, 96);
            margin-top: 16px !important;
            font-size: 5.23vw;
            font-family: 'montserrat-light';
        }
        .lblCredits{
            margin-top: 5px !important;
            color: rgb(272, 111, 156);
            font-family: $Montserrat-Bold !important;
            font-size: 8.0vw;
        }
        .lblFreeCredits{
            color: rgb(96, 96, 96);
            margin-top: 19px !important;
            font-size: 5.23vw;
            font-family: 'montserrat-light';
        }
        .lblTersmAndCondition{
            color: rgb(35, 31, 32);
            margin-top: 20px !important;
            font-size: 5.23vw;
            font-family: 'montserrat-light';
        }
        .lblNotes{
            color: rgb(96, 96, 96);
            margin-top: 10px !important;
            font-size: 4.0vw;
            font-family: 'montserrat-light';
        }
        .btnOk{
            margin-top: 10px !important;
            // width: 170px !important;
            margin: auto;
            width: 50%;

            // background: red !important;
            text-align: center;
           
            .btnOkText{
               

                width: 170px !important;
                // background: yellow !important;
                border-radius: 24px !important;
                height: 50px !important;
                background-image: $Beautyapp-gradient-color;
               .txt{
                color: white !important;
                font-family: $Montserrat-Bold !important;
                font-size: 4.1vw;

                   padding-top: 16px !important;

               }
            }

        }
    }
}
