
<div [style.height]="calendarOptions.hieghtOfCalendar" [style.background]="calendarOptions.calendarBackgroundColor">


    <ion-label no-margin no-padding no-lines class="lblSelectedMonth">{{MonthName}},
        <span class="lblSelectedYear">{{YearName}}</span>
    </ion-label>
    <ion-row class="MainRowCotainer">
        <ion-col col-1 class="leftArrowCol">
            <img src="./assets/imgs/leftSwipe.png" (click)="ScrollLeft()" />
        </ion-col>

        <ion-col no-padding no-margin no-lines c-10 class="CalendarColumn">
            <ion-scroll  no-padding no-margin no-lines scrollX="true" class="calendarScrollView" [style.height]="calendarOptions.hieghtOfCalendar+'pt'"  >
                <ion-row no-padding no-margin no-lines nowrap [style.height]="calendarOptions.hieghtOfCalendar+'pt'" class="CalendarSubRow">

                    <ion-col no-padding no-margin no-lines *ngFor="let item of datesArray; let i=index;" class="dateColumn" col-2>
                        <!-- <div *ngIf="i == selectedIndex" class="selectedDateContainer">
                                                <div [style.color]="calendarOptions.seletedDayColor" class="selectedDay">
                                                        {{item.day}}
                                                </div>
                                                <div [style.color]="calendarOptions.selectedDateColor" class="selectedDate">
                                                    {{item.date}}
                                                </div>
                                                <div [style.color]="calendarOptions.selectedMonthAndYearColor" class="selectedMonthAndYear">
                                                    {{item.monthAndYear}}
                                                </div>
                                                
                                            </div> -->
                        <div [style.color]="calendarOptions.seletedDayColor" class="selectedDay">
                            {{item.day}}
                            
                            
                        </div>
                        <div *ngIf="i == selectedIndex" (click)="dateClicked(i)" [style.height]="calendarOptions.sizeOfCircle+'pt'" [style.width]="calendarOptions.sizeOfCircle+'pt'"
                            [style.line-height]="calendarOptions.sizeOfCircle+'pt'" [style.background]="calendarOptions.selectedBackgroundColor"
                            [style.border-radius]="calendarOptions.sizeOfCircle / 2 + 'pt'" [style.border]="calendarOptions.selectedBorderColor"
                            [style.color]="calendarOptions.selectedColor" class="dateCircle">
                            {{item.date}}
                        </div>

                        <div *ngIf="i != selectedIndex  && !item.dayNumber" (click)="dateClicked(i)" [style.height]="calendarOptions.sizeOfCircle+'pt'" [style.width]="calendarOptions.sizeOfCircle+'pt'"
                            [style.line-height]="calendarOptions.sizeOfCircle+'pt'" [style.background]="calendarOptions.circleBackgroundColor"
                            [style.border-radius]="calendarOptions.sizeOfCircle / 2 + 'pt'" [style.border]="calendarOptions.circleBorderColor"
                            [style.color]="calendarOptions.unSelectedDateColor" class="dateCircle">
                            {{item.date}}
                        </div>
                        <div *ngIf="i != selectedIndex && item.dayNumber " (click)="dateClicked(i)" [style.height]="calendarOptions.sizeOfCircle+'pt'" [style.width]="calendarOptions.sizeOfCircle+'pt'"
                            [style.line-height]="calendarOptions.sizeOfCircle+'pt'" [style.background]="calendarOptions.pomotionDaysColor"
                            [style.border-radius]="calendarOptions.sizeOfCircle / 2 + 'pt'" [style.border]="calendarOptions.circleBorderColor"
                             class="promotionDateCircle">
                             {{item.date}}
                        </div>
                        <!-- dayNumber -->

                    </ion-col>

                </ion-row>
            </ion-scroll>
        </ion-col>
        <ion-col col-1 class="rightArrowCol">
            <img src="./assets/imgs/rightSwipe.png" (click)="scrollToRight()" />

        </ion-col>

    </ion-row>







</div>