
<ion-fab   right top (click)="close()" class="fabButton">
    <button ion-fab>
      <ion-icon name="close-circle"></ion-icon>
    </button>
  </ion-fab>
  <ion-content >
  
    <img style="width: 100% !important;"   [src]="salonImagesURL +sal_pic"  />
    <ion-label class="allOffersTitle">{{sal_name}}

    </ion-label>
 

   
   





  

  
      <ion-list  no-padding no-margin no-lines *ngFor="let offer of offersForListing; let i= index;">
       
          <div class="servicesItems">
              <p class="fontStyle">
               {{offer.so_title}}
                <span style="float:right" class="ratefont"> </span>
              </p>
              <div style="height:10px;" *ngIf="lastIndex">
              </div>
            </div>
            <div>
              <p class="border"></p>
            </div>

     
      </ion-list>
  


   
  </ion-content>
