page-all-offers {

    .allOffersTitle {
        text-align: center;
        font-size: 5.82vw;
       
        letter-spacing: 0.3px;
        color: rgb( 16, 16, 16);
        margin-left: 16px;
        font-family: $Montserrat-Medium !important;
    }
    .fabButton {

        background: transparent !important;
        .fab {
            // background: blue !important;
            background: rgb(255, 111, 21);
            width: 40px;
            height: 40px;
            margin-top: 25px;
            // border: solid 2px white;
            .fab-close-icon {
                background: green !important;
            }
        }
    }
    


    .servicesItems{

        padding-bottom: 0px !important; 
        padding-top: 0px !important; 
         padding-left: 15px !important; 
         padding-right: 15px !important; 
         background-color: #ffffff;
         padding-right: 0px; margin:0px !important;
     }
     .fontStyle{
         text-align: center;
       
        color: rgb(67, 67, 67);
        font-family: $Montserrat-SemiBold !important;
        font-size: 3.97vw;
       
    }
    .border{
        border-bottom: rgb(67, 67, 67) 0.2pt solid; height: 0.5pt; width: 100%;
    }
    .ratefont{
        //  font-weight: 600;
         font-size: 3.97vw;
         font-family: $Montserrat-Medium !important;
         color: black;
     }
  
}


.PopOverClass {
    // background: deeppink !important;
    width: 100% !important;
    height: 100vh !important;
    .popover-wrapper {
        // background: deeppink !important;
        width: 100% !important;
        height: 100vh !important;
        .popover-content {
            top: 0% !important;
            right: 0% !important;
            bottom: 0% !important;
            left: 0% !important;
            width: 100% !important;
            height: 100vh !important;
            transform-origin: left top 0px;
        }
    }
}