<!--
  Generated template for the LatestTrensTipsCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="ionHeader">
  <button ion-button (click)="btnBackTapped()" clear class="backButton"></button>
  <img class="backIcon" src="./assets/imgs/back.png" />

  <button class="menuButton" ion-button clear menuToggle></button>
  <img class="menuIcon" src="./assets/imgs/menu.png" />

  <ion-card class="SubCategoryHeader">
    
    <img no-margin no-padding *ngIf="selectedSubCategory && selectedSubCategory.ssc_image.length > 0 " class="subCategoryImage" [src]=imageUrl+selectedSubCategory.ssc_image>

    
    <img no-margin no-padding *ngIf="imageUrlKeyWord" class="subCategoryImage" [src]=imageUrlKeyWord>


    <ion-label text-wrap *ngIf="selectedSubCategory && selectedSubCategory.ssc_name.length > 0 " class="lblSubCategoryName"> {{selectedSubCategory.ssc_name}}</ion-label>
    <ion-label text-wrap *ngIf="getPostsForKeyWordURL && getPostsForKeyWordURL.length > 0" class="lblSubCategoryName"> {{cateogry}}</ion-label>
    
  </ion-card>

  <!-- <ion-title class="title"> 
    <div text-wrap	class="headerLabel">{{cateogry}} <span class="subHeader">Latest Trends</span></div>
  </ion-title> -->

</ion-header>

<ion-content no-padding no-margin>
    <div class="lblNoData" *ngIf="noPostsFound">
        <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
        <ion-label class="lblNothingFound">No Post Found</ion-label>
    </div>
  <ion-list no-padding no-margin no-lines class="postsList" *ngIf="postsArray && postsArray.length > 0 " >
    <ion-card no-padding no-margin no-lines class="postCard" *ngFor="let post of postsArray; let i = index">
      <div *ngIf="post.p_setas_editor_img === 1 || post.p_setas_editor_img == '1'">
        <ion-label no-padding no-margin no-lines  class="lblFeatured" >Featured Image</ion-label>
      </div>
      <div *ngIf="post.p_setas_editor_img === 0 || post.p_setas_editor_img == '0'">
        <img *ngIf="isFav(post.favpost)" class="imgFavorite" src="./assets/imgs/heart_filled.png" (click)="makePostFavoriteTapped(post)"
      />

      <img *ngIf="!isFav(post.favpost)" class="imgFavorite" src="./assets/imgs/heart_empty.png" (click)="makePostFavoriteTapped(post)"
      />
      </div>
      

      <img no-padding no-margin no-lines class="PostImage" (click)="postImageTapped(post,$event)" [src]=post.imageUrl />
    
      <ion-label no-padding no-margin no-lines text-wrap (click)="pinKeyWordTapped(post)" class="lblPinKeyWords" *ngIf="post['p_keywords']">
        {{post.p_keywords}} </ion-label>
        
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" loaddingSpinner="bubble">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </ion-list>
  
</ion-content>