// background:linear-gradient(0deg, rgba(255, 195, 113,1), rgba(255, 95, 109,1));
page-latest-trens-tips-category {
    .ionHeader {
        height: 144pt;
        background: $Beautyapp-gradient-color; // background-image: linear-gradient(to bottom, #ff5f6d, #ff7a65, #ff9362, #ffac66, #ffc371);
        // background: linear-gradient(0deg, rgba(255, 195, 113, 1), rgba(255, 95, 109, 1)) !important;
        .backIcon {
            width: 29pt;
            height: 20.4pt;
            margin-top: 28pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 9; //  
            // background: green; 
        }
        .backButton {
            width: 39pt;
                height: 26pt;
                position: absolute;
                margin-top: 26pt;
                margin-left: 12.5pt;
                z-index: 99; //
            // background: red;
        }
        .menuButton {
            width: 35pt;
            height: 25.5pt;
            margin-top: 28pt;
            right: 8.5pt;
            z-index: 1;
            float: right;
            // background: green;
        }
        .menuIcon {
            width: 25pt;
            height: 8.5pt;
            margin-top: 37pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            // background: red;
        }
        .SubCategoryHeader {
            // margin-top: 0pt;
            height: 70pt;
            width: 100% !important;
            background: transparent;
            margin-bottom: 0pt !important;
            margin-left: 0pt;
            box-shadow: none; // 
            background: transparent;
            .subCategoryImage {
                width: 68pt;
                height: 68pt;
                margin-left: 18pt;
                margin-right: 8pt;
                float: left;
                border-radius: 10pt; // background: red;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
            .lblSubCategoryName {
                width: calc(100% - 18pt - 68pt - 13pt) !important;
                font-size: 16pt;
                letter-spacing: 0.4;
                color: white;
                font-family: $Montserrat-Medium;
                text-align: left;
                margin-right: 2pt;
                float: right;
                position: relative;
                top: 40%;
                transform: translateY(-50%); // 
                // background: deeppink;
            }
        }
        .headerLabel {
            position: absolute; // bottom:16px;
            top: 10vh;
            left: 2.63vh !important;
            text-align: center;
            vertical-align: middle !important;
            color: white;
            overflow: hidden;
            text-align: left;
            line-height: 30px; // 
            letter-spacing: 0.5px;
            height: 60px !important;
            font-size: 6.34vw !important;
            font-family: $Montserrat-Bold !important; // background: purple;
            // background: green;
            // width: 45vh !important;
            // background: darkgoldenrod;
        }
        .subHeader {
            font-size: 3.43vw;
            font-family: $Montserrat-Medium !important;
            color: rgb(253, 211, 176)
        }
    }
    .lblNoData {
        width: 100%;
        height: 100%;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        position: absolute;
        margin: auto;
        overflow: auto; // background: darkorange;
        .imgNothingFound {
            height: 195pt;
            width: 195pt;
        }
        .lblNothingFound {
            // background: red !important;
            align-content: center;
            text-align: center;
            height: 25pt;
            font-size: 6.61vw;
            margin-top: 36px; // background: green;
            line-height: 25pt;
        }
    }
    .postsList {
        width: 100%;
        margin-top: 0pt !important;
        margin-bottom: 0pt !important;
        margin-left: 0pt;
        margin-right: 0pt;
        background: white;
        
        
    }
    .postCard {
        width: 100%;
        margin-left: 0pt;
        margin-right: 0pt;
        // background: green;
       
        .PostImage {
            width: 100% !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            // background: purple;
        }
        .imgFavorite {
            position: absolute;
            z-index: 99999999;
            width: 28.7pt;
            height: 27.3pt; // top: 50px;
            margin-top: 18pt;
            margin-right: 5pt;
            right: 10px; // background: red;
        }
        .lblFeatured{
            position: absolute;
            z-index: 99999999;
            width: 80pt;
            height: 9.7pt; // top: 50px;
            margin-top: 10pt;
            margin-right: 5pt !important;
            right: 0pt; //
            //  background: red;
             color: rgba(255, 255, 255, 0.5);
            // color: rgba(255, 95, 109, 0.5);
            font-size: 3.44vw;
            line-height: 10pt;
            font-family: $Montserrat-Bold !important; 
        }
        .lblPinKeyWords {
            text-align: center;
            font-size: 6.34vw;
            margin-top: 3pt;
            margin-bottom: 15pt;
            font-family: $Montserrat-Medium;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-Medium !important;
        } 
    }
    // .lblNoData {
    //     width: 100%;
    //     height: 100%;
    //     padding-top: 10%;
    //     line-height: 100%;
    //     color: black;
    //     font-size: 4.76vw;
    //     font-family: $Montserrat-SemiBold !important;
    //     align-content: center;
    //     text-align: center;
    //     position: fixed;
    // }
    .popover-content {
        left: 5%;
        right: 5%;
        transform-origin: left top 0px;
        width: 90%;
        background: red !important;
    }
   
}