// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: rgb(255, 95, 109), secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, BeautyApp:#feb83d, favorite : #69BB7B, toggle-ios-background-color-off: purple, toggle-ios-border-color-off: purple, toggle-ios-background-color-on: brown, );
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$checkbox-ios-icon-checkmark-color:black;
$checkbox-ios-icon-checkmark-width:1px;
$toolbar-ios-title-text-color: black;
$tabbar-ios-background: rgba(255, 255, 255, 0.1);
// $alert-button-font-size : 10px !important;
// $alert-button-font-family :  'Montserrat-SemiBold';;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-ios-background: transparent;
$toolbar-md-background:transparent;
$toolbar-wp-background: transparent;
$header-gradient-background: linear-gradient(to left, rgb(239, 64, 76), rgb(236, 78, 137));
$PrimaryColor: linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));
$lightPink: rgb(230, 74, 137);
$DarkPink: rgb(227, 63, 73);
$mostlyUsedColor: rgb(35, 31, 32);
$toggle-ios-border-color-off: #ffffff;
$toggle-ios-height: 27px;
$toggle-ios-width: 51px;
// $toggle-md-track-height	: 20px !important   ;
// $toggle-md-track-width	: 50px !important;



// $toolbar-ios-border-style: none;
// $toolbar-md-border-style:none;
// $toolbar-wp-border-style: none;
//border-style
// .toolbar-background { background-color:rgba(255,255,255,1.0) !important;}
// .scroll-content{
//   background: url("../assets/imgs/background.png") no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover; 
// }
//CheckBox
$checkbox-md-icon-checkmark-color: black;
/// @prop Color of the checkbox icon checkmark
$toolbar-md-title-text-color:black;
$toolbar-wp-title-text-color: black;
$tabbar-md-background: rgba(255, 255, 255, 0.1);
$tabbar-wp-background: rgba(255, 255, 255, 0.1);
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
@font-face {
    font-family: 'montserrat-light';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/montserrat-light.ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'JameelNoori';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Jameel Noori Nastaleeq.ttf');
}

$font-family-base: 'Montserrat-Medium' !important;
$font-family-ios-base: 'Montserrat-Medium' !important;
$font-family-md-base: 'Montserrat-Medium' !important;
$font-family-wp-base: 'Montserrat-Medium' !important;
$montserrat-light: 'montserrat-light';
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-Medium: 'Montserrat-Medium';
$Montserrat-SemiBold: 'Montserrat-SemiBold';
$Montserrat-Bold: 'Montserrat-Bold';
$jameel-noori: 'JameelNoori'