page-view-cart {
    .promotion-detail-on-tap {
        background: white;
        width: 100%;
        // height: 30px;
        animation: cascadeInSimple 0.5s 0s ease-in-out forwards;
        margin: 0px 10px;
        width: calc(100% - 20px);
        border: 0.5px solid rgba(222, 32, 90,0.5);
        // border: 0.5px solid rgba(184, 184, 184, 1);
        text-align: center;
        padding: 5px 10px;
    }
    @keyframes cascadeInSimple {
        0% {
            opacity: 0;
            transform: translateX(-100px) // transform: scale(0.7);
        }
        100% {
            opacity: 1;
            transform: translateX(0px) // transform: scale(1);
        }
    }
    .double-line-test {
        // background: purple !important;
        border: 0px solid white;
        padding-bottom: 1px;
    }
    ion-content>.scroll-content {
        margin-bottom: 56px;
    }
    .miniHeader {
        height: 50pt;
        background: $Beautyapp-gradient-color; 
        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 27pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
        }
        .colCartImage {
            background: transparent;
            width: 22px;
            margin-top: 26pt;
            img {
                height: 19pt;
                width: 22pt;
                margin-top: -3px;
                float: right;
            }
        }
        .menuIcon {
            width: 30px;
            height: 17px;
            margin-top: 31pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1;
            transition: 0.2s linear;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27pt;
            font-size: 4.92vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .ionHeader {
        height: 80px;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        padding-bottom: 10px;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 27pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                .upperHeading {
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5vw;
                    width: 100%;
                    margin-top: 25px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colCartImage {
                background: transparent;
                width: 22px; // height: 14pt;
                margin-top: 26pt;
                img {
                    height: 19pt;
                    width: 22pt;
                    margin-top: -3px;
                    float: right;
                }
            }
            .menuIcon {
                width: 25pt;
                height: 11.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
        }
        .searchProductRow {
            background: rgb(170, 33, 83);
            margin-top: 15px;
            margin-bottom: 15pt;
            margin-left: 12.5pt;
            margin-right: 12.5pt;
            width: calc(100% - 25pt);
            border-radius: 5px; // background: deepskyblue;
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 8px;
            }
            ion-input {
                color: white !important;
                padding-left: 5px;
                font-size: 3.7vw;
                font-family: $montserrat-light;
            }
            .text-input::-moz-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input:-ms-input-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
        }
        .HeaderCard {
            // background: red;
            width: 100% !important;
            height: 80pt;
            padding: none;
            margin-top: 10pt;
            margin-bottom: 10pt;
            background: transparent;
            box-shadow: none;
            .featuredImage {
                margin-left: 27px !important;
                padding: 20px;
                margin-top: 0pt;
                background: white;
                width: 102px;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .upperHeading {
                color: white;
                margin-top: -80px !important;
                margin-left: 140px !important;
                font-size: 30px;
                font-family: $Montserrat-SemiBold !important;
                text-align: center;
                margin-bottom: 6pt; // background: green;
            }
            .subHeading {
                color: white;
                margin-left: 140px !important;
                font-size: 3.43vw;
                margin-top: -10px;
                font-family: $Montserrat-Medium !important;
                text-align: center; // background: blue !important;
            }
        }
        .lblLatestTrendsHeading {
            width: 100%; // height: 26pt;
            margin-top: 8.3pt;
            margin-left: 18px;
            font-size: 20pt !important;
            text-align: left;
            letter-spacing: -1px;
            line-height: 34pt;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
        }
    }
    .baseContainer {
        background: white; // z-index: 9999;
        margin-bottom: 400px !important;
    }
    .item-ios .toggle-ios {
        padding: 1.058vw 1.32vw;
    }
    .item-md .toggle-md {
        padding: 1.058vw 1.32vw;
    }
    .toggle-md,
    .toggle-ios .toggle-inner {
        background-color: white; // Whatever color you want
        // background: red !important;
    }
    .toggle-ios.toggle-checked .toggle-icon,
    .toggle-md.toggle-checked .toggle-icon {
        background-color: rgb(222, 32, 90);
    }
    .toggle-ios .toggle-icon {
        border-radius: 14px;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: red;
        -webkit-transition: background-color 300ms;
        transition: background-color 300ms;
        pointer-events: none;
    }
    .toggle-md .toggle-icon {
        border-radius: 14px;
        position: relative;
        display: block;
        /* width: 100%; */
        /* height: 100%; */
        background-color: #dedede;
        -webkit-transition: background-color 300ms;
        transition: background-color 300ms;
        pointer-events: none;
        position: relative;
        width: 36px;
        height: 14px;
    }
    .lbl-browse-category {
        color: rgb( 35, 31, 32);
        font-family: $Montserrat-SemiBold;
        font-size: 3.7vw;
        text-align: left;
        color: rgb(35, 31, 32);
        margin-left: 13px !important; // background: green;
    }
    .lbl-cust-store-amount {
        margin-top: 0pt;
        font-size: 3.4vw;
        text-align: left !important;
        letter-spacing: 0.3px;
        color: rgb(227, 63, 73);
        font-family: 'Montserrat-Regular' !important; // margin-top: 2px !important;
    }
    .text-center {
        width: 100%;
        text-align: center !important;
        font-size: 4vw;
        font-family: $Montserrat-SemiBold; // background: green !important;
    }
    .cartCard {
        margin: 8px 12px !important;
        width: calc(100% - 24px) !important;
        background: white !important; // background: gold !important;
        border-bottom: 0.5px solid rgba(184, 184, 184, 1);
        .lbl-product-name-row {
            width: 100%;
        }
        .lbl-product-name {
            // margin: 10px 12px;
            width: 100%; //calc(100% - 24px) !important;
            font-size: 3.97vw;
            color: rgb(35, 31, 32);
            font-family: $Montserrat-Bold !important;
            background: white;
            line-height: 18px;
            margin-top: 10px;
            padding-left: 0px !important;
            text-transform: capitalize !important;
            letter-spacing: 0.04px;
            background: transparent;
        }
        .col-left-image {
            background: transparent;
            &:first-of-type {
                flex: 0 0 20%;
            }
            .product-image {
                width: 8vh;
                height: 6vh;
                margin: 2px 4px 0px 2px;
                position: relative;
                left: 25%;
                transform: translateX(-25%);
                background: white; // left: 20%;
                // transform: translateX(-37%);
                z-index: 99;
                border-radius: 5px;
                background: transparent;
            }
        }
        .col-right {
            // width: 65% !important;
            // margin-bottom: 8px;
            background: transparent;
            .row-quanty {
                width: 100%;
                background: transparent; // height: 25px;
                // margin-top: 10px;
                .lbl-quantity-title {
                    padding-left: 2pt;
                    font-size: 4.23vw;
                    color: rgb(96, 96, 96);
                    font-family: $Montserrat-Regular;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .secondClass {
                    // width: 100px;
                    height: 29px; // 
                    background: transparent !important;
                    margin-top: 0pt !important;
                    border: 1px solid rgba(96, 96, 96, 0.2);
                    float: right; // 
                    margin-right: 0px !important; // text-align: center;
                    margin-bottom: 5px;
                    .imgDecre {
                        width: 10px;
                        height: 1.5px;
                        background: white;
                        position: relative;
                        top: 5%;
                        left: 35%;
                        transform: translateX(-35%);
                        transform: translateY(-5%);
                    }
                    .lbl-quantity-value {
                        height: 75%;
                        margin-top: 10%;
                        margin-bottom: 15%;
                        font-size: 3.97vw;
                        text-align: center; // margin-right: 2px;
                        color: rgb(227, 63, 73);
                        background: white;
                        line-height: 20px; // 
                        border-left: 1px solid rgba(96, 96, 96, 0.2);
                        border-right: 1px solid rgba(96, 96, 96, 0.2);
                    }
                    .imgIncre {
                        width: 9px;
                        height: 9px;
                        position: relative;
                        top: 40%;
                        left: 40%;
                        transform: translateX(-40%);
                        transform: translateY(-40%);
                    }
                }
            }
        }
        .calculated {
            float: right;
            margin-right: 0px;
            background: transparent;
        }
        .btn-remove-cart-item {
            // width: 100%;
            display: block !important;
            height: 30px;
            background: $header-gradient-background;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            margin-bottom: 0pt !important;
            ion-icon {
                margin-right: 7px;
                margin-left: 0px !important;
                position: relative;
                top: -7%;
                transform: translateY(7%); // padding-top: -15px !important;
            }
        }
        .lblSeparator {
            width: 100% !important;
            background: white;
            height: 1px;
        }
    }
    .summaryRow {
        width: 100%;
        background: rgb(227, 63, 73);
        height: 70px;
        .lblTotalPrice {
            font-family: $Montserrat-Bold !important;
            font-size: 4.76vw;
            letter-spacing: -0.04px;
            text-align: left;
            color: white;
            margin-left: 10px;
            background: transparent;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .btn-checkout {
            width: 80%;
            height: 48px;
            font-family: $Montserrat-Bold !important;
            font-size: 3.7vw;
            color: rgb(227, 63, 73);
            border-radius: 24px;
            background: white;
            position: relative;
            top: 35%;
            transform: translateY(-35%);
            right: 5%;
            margin-right: 0px;
            float: right;
        }
    }
    .removeButton {
        width: 100%
    }
    .lblNoData {
        width: 100%;
        padding-top: 30%;
        align-content: center;
        text-align: center;
        position: absolute;
        .imgNothingFound {
            width: 163px;
            height: 130px;
        }
        .lblNothingFound {
            align-content: center;
            text-align: center;
            height: 25pt;
            margin-top: 20pt; // background: green;
            line-height: 25pt;
            font-family: $Montserrat-Regular;
            font-size: 5.29vw;
        }
    }
    .btn-continue-shopping {
        width: 210px;
        height: 45px; // bottom: 30px;
        position: absolute;
        bottom: 20% !important;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(to right, #ec4e89 0%, #ef404c 100%) !important;
        border-radius: 18.5px;
        .button-inner {
            font-size: 4.2vw;
            font-family: $Montserrat-Bold;
        }
    }
    * {
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
        box-sizing: border-box; // background: green;
        // width: 200px;
        // max-height: 400px;
    }
    .float-right {
        float: right;
    }
    .fa {
        font-size: .8em;
        line-height: 22px !important;
    }
    div {
        display: inline-block;
        margin: 0px 0px;
    }
    div label,
    div ul li {
        display: block;
        width: 100px; // background: #ECF0F1;
        background: white;
        padding: 5px 10px;
        border-bottom: 1px solid rgba(184, 184, 184, .5);
        ;
        text-align: center;
        z-index: 999999;
        position: relative;
        font-family: $Montserrat-Regular;
    }
    div label:hover,
    div ul li:hover {
        background: $lightPink;
        color: white;
        cursor: pointer;
    } // selecct quantity should get this style
    div label {
        // color: #1ABC9C;
        // border-left: 4px solid #1ABC9C;
        // border-radius: 0 5px 0 0;
        position: relative;
        z-index: 2;
        img {
            width: 7px;
            height: 6px;
            float: right;
            margin-top: 5px;
        }
    }
    div input {
        display: none;
    } // to show and hide the dropdown
    div input~ul {
        position: relative;
        visibility: hidden;
        opacity: 0;
        top: -20px;
        z-index: 1;
    } // to give color of header like Quantity
    div input:checked+label {
        background: #1ABC9C;
        color: white;
    } // to show header label selected in start
    div input:checked~ul {
        visibility: visible;
        opacity: 1;
        top: 0;
    }
    .animate {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        /* Chrome and Safari */
        -moz-backface-visibility: hidden;
        /* Firefox */
        -ms-backface-visibility: hidden;
        /* Internet Explorer */
    }
    .slotRowBase {
        width: 100%;
        height: 45pt;
        overflow: hidden;
        width: 100%;
        margin: auto;
        background: white;
        .slotTime {
            float: right;
            margin: auto;
            .timelbl {
                font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-SemiBold !important; // background: green;
                margin-left: 30 !important;
                font-size: 3.97vw;
                color: rgb(77, 77, 77);
                position: relative !important;
                top: 35% !important;
                transform: translateY(-35%) !important;
            }
            .timevaluelbl {
                font-family: $Montserrat-SemiBold !important;
                font-size: 2.65vw !important;
                color: rgb(174, 174, 174);
                position: relative !important;
                top: 35% !important;
                transform: translateY(-35%) !important;
            }
        }
        .checkBoxCol {
            top: 2pt !important;
            left: 4pt !important; // width: 12.7pt;
            margin: auto; // background: red;
            ion-checkbox {
                // margin-left: 15px !important;
                position: relative !important;
                top: 50% !important;
                left: 25%;
                transform: translateY(-50%) !important;
                transform: translateX(-25%);
            }
        }
    }
}

/*
ion-checkbox {
                background: transparent !important;
                width: 10px;
                height: 10px;
                float: left;
                border-radius: 5px !important;
                position: relative;
                top: 45%;
                transform: translateY(-45%);
                margin-right: 2px;
                z-index: 99999999;
                .checkbox-icon {
                    border-color: rgb(96, 96, 96);
                    background-color: white;
                    border-radius: 2px;
                }
                .checkbox-icon.checkbox-checked {
                    border-color: rgb(236, 78, 137);
                    background-color: white;
                    border-radius: 2px;
                    div.checkbox-inner {
                        border-color: rgb(236, 78, 137);
                    }
                }
            }
*/