<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">My Cart</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
    
  </ion-row>

</ion-header>
<ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">My Carts</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>


<ion-content class="baseContainer" (ionScroll)="scrollHandler($event)">
  <!-- <ion-row> -->
  <!-- <ion-label  class="lbl-browse-category text-center">Use Credit</ion-label> -->
  <!-- </ion-row> -->
    
  <ion-item no-padding no-margin (click)="showStoredCreditDetail()"  *ngIf="selctedStoredCredit && selctedStoredCredit > 0 && CartItems && CartItems.length > 0" >
    <ion-label no-padding no-margin text-wrap class="lbl-browse-category" >Use store credit
      <span class="lbl-product-price-value" >{{currencySymbol}} {{ selctedStoredCredit}}</span>
    </ion-label>
    <ion-toggle no-padding no-margin [(ngModel)]="ngModelUseCredit" toggle-class="toggle-light"></ion-toggle>
  </ion-item>
  <ion-item no-padding no-margin (click)="showPromotionDetail()" *ngIf="selectedPromotions && CartItems && CartItems.length > 0">
    <ion-label no-padding no-margin text-wrap class="lbl-browse-category"  (tap)="shouldShowPromotionDetailTapped()">Use promotional credit
      <span class="lbl-product-price-value" >{{currencySymbol}} {{ selectedPromotions.pc_max_value}}* </span>
    </ion-label>
    <ion-toggle  no-padding no-margin [(ngModel)]="ngModelUsePromotion"  toggle-class="toggle-light"></ion-toggle>
  </ion-item>
  <!-- <div   *ngFor="let selectedPromotions of promotions" [hidden]="!shouldShowPromotionDetail" class="promotion-detail-on-tap" (click)="promotionTapped(selectedPromotions)">
    You have Rs.
    <span class="lbl-product-price-value"> {{selectedPromotions.pc_max_value}} </span>
    from 
    <span class="lbl-product-price-value"> {{selectedPromotions.pc_title}} </span>
    campaign. You can use 
    <span class="lbl-product-price-value"> {{selectedPromotions.pc_percent}} </span>
    % in one order. \nBigger the order, Bigger discount. \n  Expiry 
    <span class="lbl-product-price-value"> {{getFormattedDate(selectedPromotions.pc_expiry)}}. </span>
  </div> -->
  

  <!-- <ion-row class="BrowseCategoryRow">
    <ion-col col-6 (click)="showPromotionDetail()">

      <ion-item no-padding no-margin>
        <ion-label  no-padding no-margin text-wrap class="lbl-browse-category">Promotional</ion-label>
        <ion-toggle no-padding no-margin [(ngModel)]="ngModelUsePromotion" toggle-class="toggle-light"></ion-toggle>
      </ion-item>


    </ion-col>

    <ion-col no-padding no-margin col-6  (click)="showStoredCreditDetail()">
        <ion-item no-padding no-margin>
            <ion-label no-padding no-margin text-wrap class="lbl-browse-category">Use store credit
              <span class="lbl-cust-store-amount">(Rs.500)</span>
            </ion-label>
            <ion-toggle  no-padding no-margin [(ngModel)]="ngModelUseCredit" toggle-class="toggle-light"></ion-toggle>
          </ion-item>

    </ion-col>
  </ion-row> -->

  <ion-row no-lines class="cartCard" *ngFor="let cartItem of CartItems let i=index;">

    <ion-row class="lbl-product-name-row">
      <ion-label no-padding no-margin no-lines text-wrap class="lbl-product-name"
        (click)="showProductDetailTapped(cartItem)">{{cartItem.p_name}}</ion-label>
    </ion-row>

    <ion-row class="lbl-product-name-row">
      <ion-col class="col-left-image">
        <ion-checkbox [hidden]="true" [checked]="cartItem.isChecked" (ionChange)="getCheked(cartItem,i)"></ion-checkbox>
        <img class="product-image" [src]=productsImageURL+cartItem.p_image
          onError="this.src='./assets/imgs/defaultProduct.jpg'">
      </ion-col>

      <ion-col class="col-right">

        <ion-row class="row-quanty">
          <ion-col>
            <ion-label text-wrap no-padding no-margin no-lines class="lbl-product-price">Quantity: </ion-label>
          </ion-col>


          <ion-col>


            <ion-row class="secondClass">
              <!-- <ion-col col-4 (click)="DecrementQty(cartItem, i)">
                <img class="imgDecre" src="./assets/imgs/decre.png">

              </ion-col>

              <ion-col col-4>
                <ion-label no-padding no-margin no-lines text-wrap class="lbl-quantity-value"> {{cartItem.p_quantity}}
                </ion-label>

              </ion-col>
              <ion-col no-padding no-margin no-lines col-4 (click)="incrementQty(cartItem, i)">
                <img class="imgIncre" src="./assets/imgs/incre.png">

              </ion-col> -->

              <!-- <ion-item >

                <ion-select [selectOptions]="selectOptions" class="p-quantity" [(ngModel)]="pQuantity" interface="popover"
                style="width:400px !important;" (ionChange)="paymentMethodChanged()">
                
                <ion-option class="lbl-quantity-value" *ngFor="let item of dropDownDataSource">{{item}}</ion-option>
                
              </ion-select> 
            </ion-item>-->

              <div>
                <label *ngIf="!cartItem.shouldShowDropDown" (click)="showDropDown(cartItem,i)" class="double-line-test">
                  {{cartItem.p_quantity}}
                  <img src="./assets/imgs/downArrow.png" alt="">
                </label>
                <!-- <label (click)="showDropDown(i,$event)" *ngIf="selectedQuantity && selectedQuantity.length > 0" class="animate">{{selectedQuantity}}<i
                    class="fa fa-list float-right"></i></label> -->
                <ul class="animate" *ngIf="cartItem.shouldShowDropDown">
                  <li class="animate" *ngFor="let item of dropDownDataSource;" (click)="getQuantity(item,i)">{{item}}<i
                      class="fa fa-code float-right"></i></li>

                </ul>
              </div>
            </ion-row>

          </ion-col>
        </ion-row>


        <ion-row class="lbl-product-name-row">
          <ion-col>


            <ion-label no-padding no-margin class="lbl-product-price "> Unit Price:

            </ion-label>
          </ion-col>
          <ion-col>

            <ion-label no-padding no-margin class="lbl-product-price-value calculated">{{currencySymbol}}
              {{cartItem.p_price}}
            </ion-label>

          </ion-col>

        </ion-row>
        <ion-row class="lbl-product-name-row">
          <ion-col>


            <ion-label no-padding no-margin class="lbl-product-price "> Total:

            </ion-label>
          </ion-col>
          <ion-col>

            <ion-label no-padding no-margin class="lbl-product-price-value calculated">{{currencySymbol}}
              {{(cartItem.p_price) *
              cartItem.p_quantity }}

            </ion-label>

          </ion-col>

        </ion-row>


      </ion-col>

    </ion-row>


    <!-- <ion-row [hidden]="true" class="removeButton" [hidden]="isFromReOrder">
      <ion-col col-12>
        <button ion-button class="btn-remove-cart-item" (click)="btnRemoveFromCartTapped(cartItem,i)">
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row> -->

    <!-- </ion-row> -->

    <ion-label class="lblSeparator"></ion-label>
    <!-- <ion-row class="slotRowBase" *ngFor="let slot of techSlots let i=index;" (click)="slotDidSelected(slot , i)"
      
      >

      <ion-col col-2 class="checkBoxCol">
        <ion-checkbox item-start item-start (click)="slotDidSelected(slot ,i)" [checked]="true">
        </ion-checkbox>

      </ion-col>
      <ion-col no-padding no-margin col-10 class="slotTime">
        <ion-label no-padding no-margin text-capitalize class="timelbl">
          zahid test slot
        </ion-label>
        <ion-label no-padding no-margin text-capitalize class="timevaluelbl">
          test slot 2
        </ion-label>
      </ion-col>
    </ion-row> -->

  </ion-row>
  <div class="lblNoData" *ngIf="noProductAvailable">
    <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />

    <ion-label class="lblNothingFound" *ngIf="!selectedProductCategory">Your cart is empty.</ion-label>
  </div>
  <button ion-button *ngIf="CartItems && CartItems.length === 0" class="btn-continue-shopping"
    (click)="onBtnContinueShoppingTapped()">Continue Shopping</button>
</ion-content>
<ion-footer [hidden]="CartItems && CartItems.length === 0">
  <ion-row class="summaryRow" no-padding no-margin>
    <ion-col col-6 no-padding no-margin>
      <ion-label no-padding no-margin class="lblTotalPrice">Total: {{currencySymbol}} {{totalOrderPrice}}
      </ion-label>

    </ion-col>
    <ion-col col-6 no-padding no-margin>
      <button no-padding [disabled]="CartItems && CartItems.length === 0" class="btn-checkout"
        (tap)="btnCheckoutTapped()">Checkout</button>
    </ion-col>
  </ion-row>

</ion-footer>


<!-- <ion-col no-padding no-margin no-lines col-1>

        </ion-col> -->
<!-- <ion-col no-padding no-margin no-lines col-1 (click)="DecrementQty(cartItem, i)">
          <img class="imgDecre" src="./assets/imgs/decre.png">

        </ion-col>

        <ion-col no-padding no-margin no-lines col-2 class="ColQuantityValue">
          <ion-label no-padding no-margin no-lines text-wrap class="lblQuantityValue"> {{cartItem.p_quantity}}
          </ion-label>

        </ion-col>
        <ion-col col-1 no-padding no-margin no-lines>
          <img class="imgIncre" src="./assets/imgs/incre.png" (click)="incrementQty(cartItem, i)">

        </ion-col> -->

<!-- <ion-col no-padding no-margin no-lines col-1>

        </ion-col> -->


<!-- <ion-label no-padding no-margin class="lblPriceSummary">Order Price: {{totalOrderPrice}}</ion-label> -->

<!-- <ion-label class="lblBoldText" no-padding no-margin>
        Delivery Charges:
        <span class="lblDimText">Rs.{{DelieverCharges}}</span>

      </ion-label> -->