page-productdetail {
    $PrimaryColor: linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));
    $lightPink: rgb(230, 74, 137);
    $DarkPink: rgb(227, 63, 73);
    .miniHeader {
        height: 50pt;
        background: $Beautyapp-gradient-color; 
        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 27pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
        }
        .colCartImage {
            background: transparent;
            width: 22px; // height: 14pt;
            margin-top: 26pt;
            img {
                height: 19pt;
                width: 22pt;
                margin-top: -3px;
                float: right;
            }
        }
        .menuIcon {
            width: 25pt;
            height: 11.5pt;
            margin-top: 31pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27pt;
            font-size: 4.93vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .ionHeader {
        // height:230px !important;
        background: $Beautyapp-gradient-color;
        .headerRow {
            margin-top: 15pt;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 27pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deepskyblue;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5.29vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colCartImage {
                background: transparent;
                width: 22px; // height: 14pt;
                margin-top: 26pt;
                img {
                    height: 19pt;
                    width: 22pt;
                    margin-top: -3px;
                    float: right;
                }
            }
            .menuIcon {
                width: 25pt;
                height: 11.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
        }
        .searchProductRow {
            background: rgb(170, 33, 83);
            margin-top: 15px;
            margin-bottom: 15pt;
            margin-left: 12.5pt;
            margin-right: 12.5pt;
            width: calc(100% - 25pt);
            border-radius: 5px; // background: deepskyblue;
            img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 8px;
            }
            ion-input {
                color: white !important;
                padding-left: 5px;
                font-size: 3.7vw;
                font-family: $montserrat-light;
            }
            .text-input::-moz-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input:-ms-input-placeholder {
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
                font-size: 3.7vw;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
        }
        .HeaderCard {
            // background: red;
            width: 100% !important;
            height: 80pt;
            padding: none;
            margin-top: 10pt;
            margin-bottom: 10pt;
            background: transparent;
            box-shadow: none;
            .featuredImage {
                margin-left: 27px !important;
                padding: 20px;
                margin-top: 0pt;
                background: white;
                width: 102px;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            .upperHeading {
                color: white;
                margin-top: -80px !important;
                margin-left: 140px !important;
                font-size: 30px;
                font-family: $Montserrat-SemiBold !important;
                text-align: center;
                margin-bottom: 6pt; // background: green;
            }
            .subHeading {
                color: white;
                margin-left: 140px !important;
                font-size: 3.44vw;
                margin-top: -10px;
                font-family: $Montserrat-Medium !important;
                text-align: center; // background: blue !important;
            }
        }
    }
   
    .productCard {
        background: white;
        margin-left: 12.5pt;
        margin-right: 12.5pt;
        width: calc(100% - 25pt);
        margin-top: 10px;
        box-shadow: none;
        .productCard-lblProductDescription {
            color: rgb(35, 31, 32);
            font-size: 3.96vw;
            font-family: $Montserrat-Bold;
            margin-top: 3px;
            margin-bottom: 3px;
        }
        img {}
        .slideImages {
            background: #e1e2e6 !important;
            width: 100%;
            .salBackImage {
                width: 205pt;
                margin-top: 20pt;
                margin-bottom: 20pt;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                background: $PrimaryColor;
                position: relative;
                z-index: 0;
                background: transparent !important;
                max-height: 300px;
            }
        }
        .productPriceRow {
            background: white;
            margin-top: 15px;
            .productPriceRow-productPriceColumn {
                border-right: 1px solid rgb( 96, 96, 96);
                .lblTotalResult {
                    margin-top: 0pt;
                    padding-left: 0pt;
                    font-size: 10.5pt;
                    color: rgb(96, 96, 96);
                    font-family: $Montserrat-Bold;
                    .lblTotalResultValue {
                        font-size: 10.5pt;
                        text-align: left;
                        letter-spacing: 0.3px;
                        color: rgb(230, 74, 137);
                        margin-top: 13pt;
                        margin-bottom: 15pt;
                        font-family: $Montserrat-Bold;
                        text-decoration: line-through;
                    }
                }
            }
            .lblPrice {
                text-align: center !important;
                .seconndClass {
                    text-decoration: none !important;
                    color: rgb(205, 24, 24) !important;
                }
            }
            .zz {
                border-right: none;
            }
        }
        .productByRow {
            .productByRow-lblProductBY {
                font-size: 3.88vw;
                font-family: $montserrat-light;
                border-right: 1px solid rgb( 96, 96, 96);
                .lblFreeDelieveryValue {
                    font-size: 3.88vw;
                    font-family: $Montserrat-Regular;
                }
            }
            .noBorderClass {
                border-right: none !important;
            }
        }
        .ratingCard {
            width: 100%;
            background: transparent;
            box-shadow: none; // background: rgb(98, 147, 163);
            margin-bottom: 15pt;
            ul {
                padding: 0pt;
                margin-top: 2pt;
                margin-bottom: 0pt;
                background: transparent;
                &.rating li {
                    padding: 3pt 0pt 0pt 0pt !important;
                    background: none;
                    color: rgb(230, 74, 137) !important;
                    ion-icon {
                        font-size: 5.29vw;
                    }
                }
            }
            .ratingValue {
                margin-top: 3pt;
                margin-left: 10pt;
                margin-right: 3pt;
                float: left;
                white-space: normal;
                text-align: left;
                font-size: 3.88vw;
                font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-Medium !important;
                color: rgb(230, 74, 137) !important;
                position: relative; // background: red;
            }
            .withNoRating {
                float: left;
                margin-left: 16px;
                position: relative; // background: chocolate;
            }
            .withRating {
                float: left;
                margin-left: 2px;
                position: relative;
                margin-top: 0pt;
            }
            .notEnoughRating {
                text-align: left;
                font-size: 3.17vw;
                float: left;
                white-space: normal;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(150, 150, 150);
                position: relative;
                padding-left: 2pt;
                margin-top: 3pt;
                margin-left: 16px;
                margin-bottom: 5pt;
            }
        }
        .productCard-lblShareProductOn {
            padding-left: 3pt;
            color: rgb(35, 31, 32);
            font-size: 4.93vw;
            font-family: $Montserrat-Regular;
        }
        .productCard-shareProductButton {
            height: 35px;
            background: rgb( 73, 102, 182);
            ion-icon {
                margin-right: 5px;
            }
        }
        .twitter {
            background: rgb(60, 158, 234) !important
        }
        .whatsapp {
            background: rgb(37, 211, 102) !important;
        }
        .productCard-shareProductCard {
            background: red; // rgb(73, 102, 182);
            width: 100%;
            .shareProductCard-shareContent {
                background: rgb(73, 102, 182);
                img {
                    width: 12px;
                    height: 12px;
                    background: gold;
                }
                ion-label {
                    display: inline-block;
                    width: auto;
                    height: 26px;
                    color: rgb(255, 255, 255);
                    margin-left: 6px;
                    font-size: 3.44vw;
                    font-family: $Montserrat-Regular;
                    background: blueviolet;
                }
            }
        } // .container-shares {
        //     margin-top: 9px;
        //     display: flex;
        //     flex-direction: row;
        //     width: calc(100% - 0px);
        //     height: 24px;
        //     margin-bottom: 10px;
        //     background: red;
        //     .fb-share {
        //         padding-right: 7px;
        //         padding-left: 7px;
        //         background: rgb(73, 102, 182);
        //         .fb-share-contents {
        //             display: flex;
        //             flex-direction: row;
        //             width: 100%;
        //             .fb-icon {
        //                 img {
        //                     //margin-left: 7px;
        //                     margin-top: 6px;
        //                     width: 12px;
        //                     height: 12px;
        //                 }
        //             }
        //             .lbl {
        //                 color: rgb(255, 255, 255);
        //                 margin-left: 4px;
        //                 margin-top: 6px;
        //                 font-size: 2.65vw;
        //                 font-family: $Montserrat-Regular;
        //             }
        //         }
        //     }
        //     .tw-share {
        //         margin-left: 10px; //width: 158px;
        //         padding-right: 7px;
        //         padding-left: 7px;
        //         background: rgb(60, 158, 234);
        //         .tw-share-contents {
        //             display: flex;
        //             flex-direction: row;
        //             width: 100%;
        //             .tw-icon {
        //                 img {
        //                     //margin-left: 7px;
        //                     margin-top: 6px;
        //                     width: 12px;
        //                     height: 12px;
        //                 }
        //             }
        //             .tw-share-lbl {
        //                 color: rgb(255, 255, 255);
        //                 margin-left: 4px;
        //                 margin-top: 6px;
        //                 font-size: 2.65vw;
        //                 font-family: $Montserrat-Regular;
        //             }
        //         }
        //     }
        //     .wt-share {
        //         margin-left: 10px;
        //         padding-right: 7px;
        //         padding-left: 7px;
        //         background: rgb(37, 211, 102);
        //         .fb-share-contents {
        //             display: flex;
        //             flex-direction: row;
        //             width: 100%;
        //             .fb-icon {
        //                 img {
        //                     //margin-left: 7px;
        //                     margin-top: 6px;
        //                     width: 12px;
        //                     height: 12px;
        //                 }
        //             }
        //             .lbl {
        //                 color: rgb(255, 255, 255);
        //                 margin-left: 4px;
        //                 margin-top: 6px;
        //                 font-size: 2.65vw;
        //                 font-family: $Montserrat-Regular;
        //             }
        //         }
        //     }
        // }
        .lblTotalResult {
            margin-top: 15pt;
            padding-left: 2pt;
            font-size: 4.23vw;
            color: rgb(35, 31, 32);
            font-family: $Montserrat-Bold; // text-transform: uppercase;
            .lblTotalResultValue {
                font-size: 4.76vw;
                text-align: left;
                letter-spacing: 0.3px;
                color: rgb(96, 96, 96);
                margin-top: 13pt;
                margin-bottom: 15pt;
                font-family: $Montserrat-Regular; // text-transform: lowercase;
            }
        }
        .productCard-seeMoreOptions {
            background: white !important;
            width: 100%; // height: 60px;
            margin-bottom: 10px; // border: 1px solid rgba(96, 96, 96, 0.3px);
            padding-top: 16px;
            padding-bottom: 0px !important; //
            box-shadow: none !important; // background: deepskyblue !important;
            // animation: cascadeOutSimple 1s 0s ease-in-out forwards;
            .seeMoreOptions-lblSeemoreOption {
                float: left;
                position: relative;
                background: transparent;
                position: relative;
                left: 3px;
                bottom: 2px; // background: purple;
                font-size: 4.23vw;
                font-family: $Montserrat-SemiBold;
                color: black;
                margin-top: 0pt !important; // padding-left: 0pt !important;
            }
            .productDescription {
                padding: 0px 3px !important;
                font-size: 3.7vw;
                clear: both;
                color: rgb(96, 96, 96);
                font-family: $Montserrat-Regular;
                animation: cascadeInSimple 0.5s 0s ease-in-out forwards; // background: blue;
                margin-top: 0pt;
            }
            img {
                float: right;
                width: 6px;
                height: 10px;
                background: transparent;
                position: relative;
                top: 4px;
                right: 10px;
            }
            .productCard-lblFaceVariantTitle {
                padding-left: 10px;
                font-size: 3.96vw;
                clear: both;
                color: rgb(35, 31, 32);
                font-family: $Montserrat-Regular;
            }
            .productCard-lblFaceVariant {
                display: inline-block;
                width: auto;
                height: 26px;
                background: rgb(239, 240, 245);
                padding: 10px;
                text-align: center;
                vertical-align: middle;
                line-height: 6px;
                border-radius: 3px;
                font-family: $montserrat-light;
                font-size: 3.7vw;
                margin-left: 10px;
                margin-top: 0px;
            }
            .seeMoreOptions-VariantRow {
                background: white;
                margin-top: 0px;
                img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                ion-col {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    background: white;
                }
            }
            .seeMoreOptions-btnAddToCart {
                width: 130px;
                height: 35px;
                color: white;
                font-size: 3.7vw;
                font-family: $Montserrat-Regular;
                border-radius: 18px;
                background: $PrimaryColor;
                margin-left: 12px;
                margin-top: 10px;
            }
        }
        .productCard-lblFreeDelieveryBy {
            margin-top: 19pt; // padding-left: 15.5pt;
            font-size: 4.76vw;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-Bold; // text-transform: uppercase;
            .productCard-lblFreeDelieveryByValue {
                font-size: 4.76vw;
                text-align: left;
                letter-spacing: 0.3px;
                color: rgb(230, 74, 137);
                margin-top: 13pt;
                margin-bottom: 15pt;
                font-family: $Montserrat-Regular;
                text-transform: lowercase;
            }
        }
        .productCard-InStockOrOutOfStock {
            margin-top: 15px;
            font-size: 5.8vw;
            color: $DarkPink;
            font-family: $Montserrat-Bold; // text-transform: uppercase;
        }
        .productCard-lblSoldBy {
            font-size: 3.7vw;
            color: rgb(96, 96, 96);
            font-family: $Montserrat-Regular;
            .lblBrandName {
                color: $lightPink !important;
            }
            margin-bottom: 20px !important;
            margin-left: 2px; // background: blue;
        }
        .productCard-lblQuantity {
            margin-top: 10pt;
            font-size: 5.8vw;
            color: rgb(35, 31, 32);
            font-family: $Montserrat-Bold; // text-transform: uppercase;
            float: left;
        }
        .QuantyRow {
            width: 100pt;
            height: 40px;
            border: 1px solid rgba(96, 96, 96, 0.2);
            margin-bottom: 30px !important; // background: purple;
            margin-top: 10pt;
            margin-right: 10px;
            float: right;
            .ColQuantityValue {
                border-left: 1px solid rgb(238, 238, 238);
                border-right: 1px solid rgb(238, 238, 238);
                .lblQuantity {
                    font-size: 3.96vw;
                    text-align: center;
                    margin-right: 2px;
                    color: rgb(227, 63, 73);
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .imgIncre {
                width: 9px;
                height: 9px;
                position: relative;
                top: 40%;
                transform: translateY(-40%);
                left: 50%;
                transform: translateX(-50%);
            }
            .imgDecre {
                width: 10px;
                height: 1px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .tipsPostCard {
        box-shadow: none;
        width: 100%; // calc(100% - 32pt);
        background: white;
        .slideImages {
            background: #e1e2e6 !important;
            width: 100%;
        }
        .salBackImage {
            width: 205pt;
            margin-top: 20pt;
            margin-bottom: 20pt;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background: $PrimaryColor;
            position: relative;
            z-index: 0;
            background: transparent !important;
        }
        .productDetailSection {
            background: white;
            margin-left: 16pt;
            margin-right: 16pt;
            .lblTipTitle {
                margin-left: 6pt;
                font-size: 6.34vw;
                color: rgb(35, 31, 32);
                font-family: $Montserrat-Bold !important;
                float: left;
            }
            .lblTipsDescription {
                color: rgb(96, 96, 96);
                font-family: $montserrat-light !important;
                margin-left: 6pt;
                margin-right: 6pt;
                letter-spacing: -0.5;
                width: calc(100% - 12pt);
                text-align: justify;
            }
            .lblProductPrice {
                // width: 100%;
                margin-left: 6pt;
                font-size: 6.34vw;
                color: $lightPink;
                font-family: $Montserrat-Bold !important;
                background: white;
                margin-top: 10pt;
            }
        }
        .btnAddToCart {
            width: 140px !important;
            height: 26pt !important;
            border-radius: 8pt;
            float: right;
            margin-right: 2pt;
            position: relative;
            top: 0 !important;
            margin-top: 3pt !important;
        }
    }
    .lblDelieverHeader {
        font-size: 6.34vw;
        color: rgb(35, 31, 32);
        font-family: $Montserrat-Bold !important;
        width: calc(100% - 32pt);
        margin-left: 16pt;
        margin-right: 16pt; //
        background: transparent !important;
        margin-top: 28pt !important;
    }
    .delieverySection {
        background: white;
        width: calc(100% - 32pt);
        box-shadow: none;
        margin-left: 16pt;
        margin-right: 16pt;
        background: white; // box-shadow: 5px 2px 5px 15px rgba(96, 96, 96, 0.02);
        .lblAddressLine {
            color: rgb(96, 96, 96);
            font-family: $montserrat-light !important;
            letter-spacing: -0.5;
            width: 100%;
            text-align: left;
        }
        .lblDelieveryDays {
            margin-left: 6pt;
            font-size: 4.23vw;
            color: rgb(234, 78, 137);
            font-family: 'Montserrat-Light' !important;
            text-align: left;
            letter-spacing: -0.04pt;
        }
        .colProductPrice {
            .delieveryCharges {
                font-size: 5.6vw;
                color: $lightPink;
                font-family: $Montserrat-Bold !important;
                background: white;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .lbl2ndsepartor {
        font-size: 6.34vw;
        color: rgb(35, 31, 32);
        font-family: $Montserrat-Bold !important;
        width: calc(100% - 32pt);
        margin-left: 16pt;
        margin-right: 16pt; //
        background: transparent !important;
        margin-top: 38pt !important;
    }
    .servicesSection {
        // width: 100%;
        background: white;
        width: calc(100% - 32pt);
        box-shadow: none;
        margin-left: 16pt;
        margin-right: 16pt;
        background: white; // box-shadow: 5px 2px 5px 15px rgba(96, 96, 96, 0.02);
        img {
            width: 13pt !important;
            height: 10pt !important;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .lblAddressLine {
            color: rgb(96, 96, 96);
            font-family: $montserrat-light !important;
            letter-spacing: -0.5;
            width: 100%;
            text-align: left;
        }
        .lblDelieveryDays {
            margin-left: 6pt;
            font-size: 4.23vw;
            color: rgb(234, 78, 137);
            font-family: 'Montserrat-Light' !important;
            text-align: left;
            letter-spacing: -0.04pt;
        }
        .colProductPrice {
            .delieveryCharges {
                font-size: 5.6vw;
                color: $lightPink;
                font-family: $Montserrat-Bold !important;
                background: white;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .btnAddToCart {
        width: 140px;
        height: 26pt;
        border-radius: 18pt;
        position: relative;
        font-size: 3.7vw;
        font-family: $Montserrat-Regular;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 18pt;
        bottom: 15pt;
        background: linear-gradient(to right, rgb(236, 78, 137), rgb(239, 64, 74));
    }
    .FabBase {
        background: transparent !important;
        height: 40pt;
        width: 40pt;
        margin-bottom: 15pt !important;
        .fabButton {
            background: rgb(237, 111, 156);
        }
        .myBadge {
            background: white;
            position: fixed;
            float: right !important;
            right: 0 !important;
            z-index: 999999; // 
            font-weight: bold;
            padding-top: 6pt;
            border-radius: 50%;
            color: rgb(237, 111, 156);
            margin-right: 10pt !important;
            margin-top: -13pt !important;
        }
    }
}