<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Beauty Products</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

</ion-header>
<!-- <ion-header id="miniHead" *ngIf="shouldShowMiniHeader " class="miniHeader">
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
        <img class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="upperHeading">Beauty Products</ion-label>
      </ion-col>
      <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
        <img class="menuIcon" src="./assets/imgs/menu.png" />
      </ion-col>
    </ion-row>
  
  </ion-header> -->


<ion-content fullscreen #myContent class="baseContainer">

  <ion-card no-padding no-margin class="productCard">
    <ion-label no-padding no-margin text-wrap class="lbl-product-name">{{selectedProduct.p_name}}</ion-label>

    <ion-slides class="slideImages" pager="true" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let objProdImage of selectedProduct.productImages let i=index;">
        <img class="salBackImage" [src]="productsImageURL+objProdImage.pi_name" onError="this.src='https://nopso.qwpcorp.com/apis_pk/products_images/default.png'" />
      </ion-slide>


      <ion-slide *ngIf="!selectedProduct.productImages || selectedProduct.productImages.length === 0">
        <!-- <img class="salBackImage" src='https://nopso.qwpcorp.com/apis_pk/products_images/default.png' /> -->
        <img class="salBackImage" [src]=productsImageURL+selectedProduct.p_image onError="this.src='./assets/imgs/defaultProduct.jpg'">
      </ion-slide>

    </ion-slides>

    <ion-row class="productPriceRow" *ngIf="selectedProduct">
      <ion-col col-sm-8 col-md-6 col-lg-4 col-xl-3 text-wrap *ngIf="selectedProduct.p_rrp > selectedProduct.p_price "
        class="productPriceRow-productPriceColumn">
        <ion-label class="lblTotalResult"> RRP:
          <span class="lblTotalResultValue">{{currencySymbol}} {{selectedProduct.p_rrp | number : '1.0-0'}}</span>
        </ion-label>
      </ion-col>
      <ion-col col-sm-8 col-md-6 col-lg-4 col-xl-3 text-wrap class="productPriceRow-productPriceColumn lblPrice">
        <ion-label class="lblTotalResult">Price:
          <span class="lblTotalResultValue seconndClass">{{currencySymbol}} {{selectedProduct.p_price | number :
            '1.0-0'}}</span>
        </ion-label>
      </ion-col>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 text-wrap class="productPriceRow-productPriceColumn zz">
        <ion-label class="lblTotalResult lblPrice">save:
          <span class="lblTotalResultValue seconndClass">{{currencySymbol}} {{selectedProduct.p_rrp - selectedProduct.p_price}}</span>
        </ion-label>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="productPriceRow">
      <ion-col class="productPriceRow-productPriceColumn" col-4>
        <ion-label class="lblTotalResult"> RRP:
          <span class="lblTotalResultValue">{{selectedProduct.p_rrp}}</span>
        </ion-label>
      </ion-col>
      <ion-col class="productPriceRow-productPriceColumn lblPrice" col-4>
        <ion-label class="lblTotalResult">Price:
          <span class="lblTotalResultValue seconndClass">selectedProduct.p_price</span>
        </ion-label>
      </ion-col>
      <ion-col class="productPriceRow-productPriceColumn zz" col-4>
        
        <ion-label class="lblTotalResult lblPrice">save:
            <span class="lblTotalResultValue seconndClass">{{currencySymbol}} {{selectedProduct.p_rrp - selectedProduct.p_price | number : '1.0-0'}}</span>
          </ion-label>
      </ion-col>
    </ion-row> -->

    <ion-card no-lines no-padding no-margin class="ratingCard">
      <rating [(ngModel)]="productRating" readOnly="true" max="5" class="withRating" emptyStarIconName="star-outline"
        halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
      </rating>
    </ion-card>

    <ion-card class="productCard-seeMoreOptions" *ngIf="selectedProduct.p_description" no-lines no-padding no-margin id="productCard-seeMoreOptions"
      (click)="expandCollapseSeeMoreOptions(product, i)">
      <ion-label no-lines no-padding no-margin class="seeMoreOptions-lblSeemoreOption">Additional Detail </ion-label>
      <!-- <img class="imgCollapsed" [hidden]="selectedProduct.isShowingSeeMoreOptions" src="./assets/imgs/rightSwipe.png">
      <img class="imgExpanded" [hidden]="!selectedProduct.isShowingSeeMoreOptions" src="./assets/imgs/downArrow.png"> -->


      <div style="clear:both"></div>
      <!-- <div > -->
      <ion-label text-wrap class="productDescription">{{selectedProduct.p_description}}</ion-label>

      <!-- </div> -->

    </ion-card>

    <!-- <ion-label   class="lblTotalResult"> Promotion message
      <span class="lblTotalResultValue"> (1 promotion)</span>
    </ion-label> -->

    <!-- <ion-card no-lines no-padding no-margin id="productCard-seeMoreOptions" class="productCard-seeMoreOptions" (click)="expandCollapseSeeMoreOptions()">
      <ion-label no-lines no-padding no-margin class="seeMoreOptions-lblSeemoreOption">Promotion Available</ion-label>
      <img src="./assets/imgs/rightSwipe.png">
      <div style="clear:both"></div>
      <div [hidden]="!selectedProduct.isShowingSeeMoreOptions">
        <ion-label class="productCard-lblFaceVariantTitle">Select face wash variant </ion-label>
        <ion-label class="productCard-lblFaceVariant" *ngFor="let num of zz ">
          {{num}}
        </ion-label>

        <ion-row class="seeMoreOptions-VariantRow" no-padding no-margin>
          <ion-col col-1 no-padding no-margin>
            <img src="./assets/imgs/servicesChecked.png" alt="">
          </ion-col>
          <ion-col col-11 no-padding no-margin>
            <ion-label>Nam vel lorem a velit tincidunt mollis.</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="seeMoreOptions-VariantRow">
          <ion-col col-1 no-padding no-margin>
            <img src="./assets/imgs/servicesChecked.png" alt="">
          </ion-col>
          <ion-col col-11 no-padding no-margin>
            <ion-label>Phasellus sit amet ex nulla.</ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="seeMoreOptions-VariantRow">
          <ion-col col-1 no-padding no-margin>
            <img src="./assets/imgs/servicesChecked.png" alt="">
          </ion-col>
          <ion-col col-11 no-padding no-margin>
            <ion-label>Duis ultrices arcu in metus imperdiet venen.</ion-label>
          </ion-col>
        </ion-row>

        <button ion-buton class="seeMoreOptions-btnAddToCart" (click)="btnAddToCartTapped(product, i, $event)">Add To
          Cart</button>
      </div>
    </ion-card> -->

    <!-- <ion-label class="productCard-lblFreeDelieveryBy"> Free delivery
      <span class="productCard-lblFreeDelieveryByValue"> (by tomorrow)</span>
    </ion-label> -->
    <ion-label class="productCard-InStockOrOutOfStock">in stock</ion-label>
    <ion-label text-wrap class="productCard-lblSoldBy">Sold by
      <span class="productCard-lblSoldBy lblBrandName">{{selectedProduct.pb_name}}</span>
      and fulfilled by
      <span class="productCard-lblSoldBy lblBrandName">BeautyApp</span>.
    </ion-label>

    <!-- <ion-label [hidden]="true" [hidden]="isFromReviewOrder  || isFromProductPage" class="productCard-lblQuantity">quantity:</ion-label>
    <ion-row [hidden]="true" [hidden]="isFromReviewOrder || isFromProductPage" no-padding no-margin no-lines class="QuantyRow" style="margin-bottom:3pt;">

      <ion-col  [hidden]="true" no-padding no-margin no-lines col-4 (click)="DecrementQty()">
        <img class="imgDecre" src="./assets/imgs/decre.png">

      </ion-col>

      <ion-col no-padding no-margin no-lines col-4 class="ColQuantityValue">
        <ion-label no-padding no-margin no-lines text-wrap class="lblQuantity"> {{selectedProduct.p_quantity}}
        </ion-label>

      </ion-col>
      <ion-col col-4 no-padding no-margin no-lines (click)="incrementQty()">
        <img class="imgIncre" src="./assets/imgs/incre.png">

      </ion-col>

    </ion-row> -->
  </ion-card>
  <div class="lblNoData" *ngIf="noStyleFound">

    <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
    <ion-label class="lblNothingFound">No Product for {{selectedProduct.pc_name}}</ion-label>
  </div>

  <button ion-button *ngIf="!selectedProduct.isAddedtoCart" class="btnAddToCart" (tap)="btnAddToCartTapped()">Add To
    Cart</button>
  <button ion-button *ngIf="selectedProduct.isAddedtoCart" class="btnAddToCart" (tap)="btnAddToCartTapped()">Added To
    Cart</button>

  <ion-fab [hidden]="true" bottom right (click)="btnViewCartTapped()" class="FabBase" style="margin-right:5pt; margin-bottom:5pt;">
    <button ion-fab color='light' class="fabButton">
      <img src="./assets/imgs/cart.png">

    </button>
    <ion-badge class="myBadge" *ngIf="CartItems"> {{this.CartItems.length}} </ion-badge>
  </ion-fab>

</ion-content>

<!-- OLD Design CODE commented on November 29,2018 -->

<!-- <ion-label no-padding no-margin no-lines text-wrap class="lblDelieverHeader">Delivery</ion-label>
    <ion-row class="delieverySection">
      <ion-col col-9>
        <ion-label no-padding no-margin no-lines text-wrap class="lblAddressLine"> Sindh, Karachi-Gulshan-e-Iqbal,
          Block 15</ion-label>
        <ion-label no-padding no-margin no-lines text-wrap class="lblDelieveryDays">Home Devlivery 1-6 days</ion-label>
      </ion-col>
      <ion-col col-3 class="colProductPrice">
  
        <ion-label no-padding no-margin no-lines text-wrap class="delieveryCharges">Rs: 50</ion-label>
      </ion-col>
  
    </ion-row>
  
  
    <ion-label no-padding no-margin no-lines text-wrap class="lbl2ndsepartor">Services</ion-label>
    <ion-row class="servicesSection">
      <ion-col col-1><img src="./assets/imgs/servicesChecked.png"></ion-col>
      <ion-col col-11>
        <ion-label no-padding no-margin no-lines text-wrap class="lblAddressLine">100% Authentic</ion-label>
  
      </ion-col>
  
  
    </ion-row>
    <ion-row class="servicesSection">
      <ion-col col-1><img src="./assets/imgs/servicesChecked.png"></ion-col>
  
  
      <ion-col col-11>
        <ion-label no-padding no-margin no-lines text-wrap class="lblAddressLine">7 Days Returns</ion-label>
  
      </ion-col>
  
    </ion-row>
    <ion-row class="servicesSection">
      <ion-col col-1><img src="./assets/imgs/servicesChecked.png"></ion-col>
      <ion-col col-11>
        <ion-label no-padding no-margin no-lines text-wrap class="lblAddressLine">Warranty not available</ion-label>
  
      </ion-col>
  
    </ion-row>
   -->

<!-- SECTION 2 -->

<!-- <ion-label no-padding no-margin text-wrap class="productCard-lblProductShortDescription">{{selectedProduct.p_description}}</ion-label> -->
<!-- <img src="./assets/imgs/dummy-Project.png" (click)="btnShowProductDetailTapped(product,i)"> -->
<!-- <img [src]=productsImageURL+selectedProduct.p_image (click)="btnShowProductDetailTapped(product,i)"> -->


<!-- <ion-row class="productByRow">
      <ion-col col-4>
        <ion-label no-padding no-margin text-wrap class="productByRow-lblProductBY">by This Works</ion-label>
      </ion-col>

      <ion-col col-8>

        <ion-label no-padding no-margin text-wrap class="productByRow-lblProductBY noBorderClass ">Free Delivery by
          <span class="lblFreeDelieveryValue">TODAY, Nov 13</span>
        </ion-label>
      </ion-col>
    </ion-row> -->


<!-- <ion-label class="lblSeparator"></ion-label> -->

<!-- <ion-label class="productCard-lblShareProductOn">Share This Product on:</ion-label>
    <button class="productCard-shareProductButton" ion-button (click)="btnShareFacebookTapped()">
      <ion-icon name="logo-facebook"></ion-icon>
      Share
    </button>
    <button class="productCard-shareProductButton twitter" ion-button (click)="btnShareTwitterTapped()">
      <ion-icon name="logo-twitter"></ion-icon>
      Share on Twitter
    </button>
    <button class="productCard-shareProductButton whatsapp" ion-button (click)="btnShareWhatsAppTapped()">
      <ion-icon name="logo-whatsapp"></ion-icon>
      Share
    </button> -->

<!-- SECTION 3 -->

<!-- <ion-card no-padding no-margin no-lines class="tipsPostCard">
    <ion-slides class="slideImages" pager="true" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let objProdImage of selectedProduct.productImages let i=index;">
        <img class="salBackImage" [src]="productsImageURL+objProdImage.pi_name" onError="this.src='https://nopso.qwpcorp.com/apis_pk/products_images/default.png'" />
      </ion-slide>


      <ion-slide *ngIf="!selectedProduct.productImages || selectedProduct.productImages.length === 0">
        <img class="salBackImage" src='https://nopso.qwpcorp.com/apis_pk/products_images/default.png' />
      </ion-slide>

    </ion-slides>

    <div class="productDetailSection">
      <ion-label no-padding no-margin no-lines text-wrap class="lblTipTitle"> {{selectedProduct.p_name}}</ion-label>
      <ion-label no-padding no-margin no-lines text-wrap class="lblTipsDescription"> {{selectedProduct.p_description}}</ion-label>
      <ion-label no-padding no-margin no-lines text-wrap class="lblProductPrice">Rs: {{selectedProduct.p_price}}</ion-label>

    </div>
  </ion-card> -->

<!-- OLD Design CODE commented on November 29,2018 -->