page-product-sorting {
    .GenderList {
        padding: 0px !important;
        margin: 16px 16px 16px 16px !important;
        box-shadow: none; // height: 8.23vh !important; // background: dodgerblue !important;
    }
    .btnBookOrRequestAppointment {
        width: 100pt;
        height: 36px;
        font-family: 'montserrat-bold' !important;
        font-size: 3.9vw;
        line-height: 22.5pt;
        margin-top: 15.5px;
        color: white;
        border: 1px solid rgb(255, 95, 109);
        background: $Beautyapp-gradient-color2;
        border-radius: 2.8vw;
        // background: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
    }
}
