<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <!-- <ion-col hidden col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col> -->
    <ion-col no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Sort products on</ion-label>
    </ion-col>
    <!-- <ion-col hidden col-2 no-padding no-margin class="colMenu" menuToggle>
      <img hidden class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col> -->

  </ion-row>

</ion-header>



<ion-content padding>
  <ion-list radio-group [(ngModel)]="sortProductOn" class="GenderList">
    <ion-label no-padding no-margin>Price: </ion-label>
    <ion-row no-padding no-margin>

      <ion-col no-padding no-margin>
        <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
          <ion-radio item-left value="1" checked="!isGenderMale" (ionSelect)="productSortingMethodsChanged()">
          </ion-radio>
          <ion-label item-right no-padding no-margin>Low to high </ion-label>
        </ion-item>

      </ion-col>
      <ion-col no-padding no-margin>
        <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
          <ion-radio item-left value="2" checked="!isGenderMale" (ionSelect)="productSortingMethodsChanged()">
          </ion-radio>
          <ion-label item-right no-padding no-margin>High to low</ion-label>
        </ion-item>

      </ion-col>

    </ion-row>

  </ion-list>

  <ion-list radio-group [(ngModel)]="sortProductOn" class="GenderList">
    <ion-label no-padding no-margin>Name: </ion-label>
    <ion-row no-padding no-margin>

      <ion-col no-padding no-margin>
        <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
          <ion-radio item-left value="3" checked="!isGenderMale" (ionSelect)="productSortingMethodsChanged()">
          </ion-radio>
          <ion-label item-right no-padding no-margin>Ascending </ion-label>
        </ion-item>

      </ion-col>
      <ion-col no-padding no-margin>
        <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
          <ion-radio item-left value="4" checked="!isGenderMale" (ionSelect)="productSortingMethodsChanged()">
          </ion-radio>
          <ion-label item-right no-padding no-margin>Descending</ion-label>
        </ion-item>

      </ion-col>

    </ion-row>

  </ion-list>

  <ion-list radio-group [(ngModel)]="sortProductOn" class="GenderList">
    <ion-label no-padding no-margin>Date: </ion-label>
    <ion-row no-padding no-margin>

      <ion-col no-padding no-margin>
        <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
          <ion-radio item-left value="5" checked="!isGenderMale" (ionSelect)="productSortingMethodsChanged()">
          </ion-radio>
          <ion-label item-right no-padding no-margin>New to old </ion-label>
        </ion-item>

      </ion-col>

      <ion-col no-padding no-margin>
        <ion-item no-padding no-margin [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
          <ion-radio item-left value="6" checked="!isGenderMale" (ionSelect)="productSortingMethodsChanged()">
          </ion-radio>
          <ion-label item-right no-padding no-margin>Old to new</ion-label>
        </ion-item>

      </ion-col>

    </ion-row>

  </ion-list>


  <button style="text-transform: none;"  ion-button class="btnBookOrRequestAppointment"  (click)="btnBackTapped()" >Done</button>
  <!-- <button style="text-transform: none;"  ion-button class="btnBookOrRequestAppointment"  (click)="btnBackTapped()" >Reset</button> -->

</ion-content>