<ion-header class="ionDefaultHeader" >
  <div class="upperHeading">Booking Completed</div>
</ion-header>

<ion-content padding>
  <ion-label class="thankYou">
    Thank You
  </ion-label>
  <div class="acknowledgement">
    Your appointment request has been sent to {{salonName}}.
    You will be notified when your appointment is accepted/rejected.
  </div>

  <div hidden class="suggestions">
    Any suggestion for the BeautyApp improvements?
  </div>
  <ion-textarea hidden rows="5" maxLength="500" class="textArea" placeholder="We will love to have your feedback. We may send you some shopping vouchers if you love the BeautyApp as much as we do. Thanks for your help!">
  </ion-textarea>

</ion-content>
<ion-footer>
  <div class="btnNext" (click)="goToAppointments()">Go to Appointments</div>
</ion-footer>