<ion-header [ngClass]="!isFirstTime ? 'ionHeader' : 'noClass' ">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow"> </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <div id="testTap" (click)="eventName()"></div>
      <ion-label class="upperHeading" (tap)="switchEnviroment($event)"> Home </ion-label>
    </ion-col>
    <ion-col col-2 hidden no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>
</ion-header>
<ion-content>
  <!-- deal section -->

  <div *ngIf="!hideHompePage" [ngClass]="!customerExist ? 'strip_design_wrapper' : 'noClass' " >

    <div class="strip_design" *ngIf="!customerExist" [innerHtml]='sp_view_strip'>
    </div>
  </div>


  <ion-card hidden no-padding no-margin no-lines class="Home-page-deal-section">


    <div class="deal-section-deal-product">
      <div class="deal-section-deal-discount">
        50% OFF
      </div>
      <div class="deal-section-center-container">
      </div>
    </div>
  </ion-card>
  <div *ngIf="!hideHompePage">
    <ion-list class="Home-page-listing" *ngFor="let item of  homepageData" no-padding no-margin no-lines no-margins>
      <ion-item *ngIf="item.sort_order == 1 && item.isDeal!=1" class="featuredItem" (click)='findNextPage(item)'>
        <img item-left class="featuredImage" [src]="homeImageUrl + item.sectionImage" />
        <div class="featuredItem-sectionName-lbl" [innerHtml]='item.sectionName'>

        </div>

        <span text-wrap class="featuredItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
        <span text-wrap class="featuredItem-otherDescription-lbl">{{item.otherDescription}}</span>
        <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
      </ion-item>
      <ion-item no-padding no-margin class="unFeaturedItem" *ngIf="item.sort_order != 1 && item.isDeal!=1"
        (click)='findNextPage( item)'>
        <img item-left class="unFeaturedItemImage" [src]="homeImageUrl + item.sectionImage" />
        <div class="unFeaturedItem-sectionName-lbl" [innerHtml]='item.sectionName'>
        </div>
        <!-- <span class="unFeaturedItem-sectionName-lbl">{{item.sectionName}}</span><br> -->
        <span text-wrap class="unFeaturedItem-sectionDescription-lbl">{{item.sectionDescription}}</span><br>
        <span text-wrap class="unFeaturedItem-otherDescription-lbl">{{item.otherDescription}}</span>
        <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
      </ion-item>
      <div class="separator"> </div>
    </ion-list>
  </div>

<div
    style=" text-align: center; padding: 10px !important"
    *ngIf="hideHompePage">
    <div >
    </div>
     <div style="text-align: center; line-height: 30px; padding: 10px !important" 
        *ngIf="hideHompePage">
       <ion-fab   right top (click)="close()" class="fabButton">
          <button ion-fab>
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-fab>
       <div class="customSplash" [innerHtml]='customSplashHtml'>
       </div>
     </div>
</div>
</ion-content>