page-order-detail {
    .ionHeader {
        width: 100%;
        z-index: 999;
        padding-bottom: 10px;
        position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
        .BaseGenderSegment {
            //background: white !important;
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5pt; // position: absolute;
            // bottom: 0;
            padding-bottom: 2px !important; // top: 0 ;
            margin-top: 20pt; // bottom: -23.5pt;
            border-radius: 24.5pt; // z-index: 99999 !important;
            // margin-bottom: 15pt !important;
            .GenderSegement {
                background: transparent !important;
                width: 100%;
                height: calc(100% - 5pt);
                margin-bottom: 0pt !important;
                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    line-height: 25pt !important; //color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 3.97vw;
                    line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Regular;
                }
                .segment-button.segment-activated {
                    height: 25pt;
                    line-height: 25pt !important;
                    margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Regular;
                    line-height: 30pt !important;
                }
            }
            .sliderContainer {
                margin-left: 22pt !important;
                margin-right: 22pt !important;
                margin-top: 3pt;
                height: 2pt;
                width: calc(100% - 44pt) !important;
                background-color: transparent;
                box-shadow: none;
                .slider {
                    background: white !important; //  background-color: rgb(236, 78, 137) !important;
                    height: 100% !important;
                    margin-bottom: 0pt !important;
                    width: calc(50% - 20pt); // float: right;
                    padding-top: 5pt !important;
                    margin-top: 0px;
                    margin-bottom: 0pt;
                    margin-left: 1px;
                }
            }
        }
    }
    .lblDelieveryAddress {
        margin-top: 15px;
        margin-left: 17px;
        font-size: 3.97vw;
        font-family: $Montserrat-Bold !important;
        color: rgb(35, 31, 32) !important;
    }
    .addressCard {
        background: white !important;
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 0px !important;
        width: calc(100% - 34px); // height: 100px;
        box-shadow: none;
        .AddressRow {
            margin-top: 15px;
            margin-bottom: 0px; // height: 40px;
            // background:gold !important;
            .lblUserName {
                color: black;
                font-size: 3.7vw;
                text-align: left;
                font-family: $Montserrat-Regular;
                background: white;
                padding-left: 16px;
                width: 50%;
            }
            .lblPhoneNumber {
                color: black;
                font-size: 3.17vw;
                font-family: $montserrat-light;
                background: white;
                width: 30%;
                text-align: center;
            }
            .btnEdit {
                width: 50px; // height: 100% !important;
                color: white;
                text-align: center;
                border-radius: 9.5px;
                font-size: 2.65vw;
                margin-top: 0px !important;
                float: right;
                font-family: $montserrat-light;
                background: $Beautyapp-gradient-color; 
            }
        }
        .lblAddress {
            font-family: $Montserrat-Regular;
            font-size: 3.7vw !important;
            color: rgb(96, 96, 96);
            margin-left: 0.5px;
            margin-top: 8px;
            // background: green;
        }
    }
    .lbl-payment-method {
        margin-left: 17px;
        font-family: $Montserrat-Regular;
        font-size: 3.7vw !important;
        color: rgb(96, 96, 96);
        // margin-left: 0.5px;
        margin-top: 8px;
        // background: green;
    }
    .order-detail-listing {
        //   margin-top: 22px;
        margin-top: 10px !important;
        margin-bottom: 50px;
        padding-left: 18px !important;
        padding-right: 18px !important; //  margin-top: 30px;
        // align-content: center;
        .order-detail-content {
            //  margin-top: 10px !important;
            background: rgb(246, 246, 246); //    height: 155px;
            padding: 0px !important;
            width: calc(100% - 0px); //  border-bottom: 1px solid rgb(184, 184, 184);
            .order-detail-checkBoxSection {
                padding-left: 4px !important;
                padding-right: 5px !important;
                float: left;
                width: 27px;
                height: 92px; //background: red;
                .checkBox {
                    width: 25px !important;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                }
            }
            .order-detail-imageContent {
                // background: yellow !important;
                float: left;
                width: 63px;
                height: 92px;
                .order-detail-central-image {
                    background: rgb(231, 230, 230) !important;
                    width: 63px;
                    height: 59px;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                    .order-detail-image {
                        // border-radius: 20px;
                        // margin-left: 17px;
                        width: 48px;
                        height: 47px;
                        margin-left: 8px !important;
                        top: 50%;
                        position: relative;
                        transform: translateY(-50%);
                    }
                }
            }
            .order-detail-item-right {
                //  background:red;
                // text-align: center;
                // align-content: center;
                // align-items: center;
                float: right;
                width: 36px;
                height: 92px !important; // top: 50%;
                // position: relative;
                // transform: translateY(-50%);
                img {
                    height: 20px;
                    width: 20px;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                }
            }
            .order-detail-otherContent {
                //   background: lime;
                // height: 110px !important;
                // float: right;
                // width: calc(100% - 122px);
                // .otherContent-lblTitle {
                //     top: 50%;
                //     position: relative;
                //     transform: translateY(-50%);
                //     font-family: $montserrat-light !important;
                //     padding-left: 12px;
                //     font-size: 4.23vw;
                // }
                padding-left: 8px !important;
                height: 92px !important; //height: 110px !important;
                float: right;
                width: calc(100% - 90px);
                .order-detail-otherContent-lblTitle {
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%); // padding-left: 12px;
                    .order-detail-title {
                        font-family: 'montserrat-bold' !important;
                        font-size: 4.76vw;
                        color: rgb(35, 31, 32); //background: yellowgreen;
                    }
                    .order-detail-description {
                        // background: #c8c7cc;
                        margin-top: 9px !important;
                        font-family: $Montserrat-Regular !important;
                        font-size: 3.7vw !important;
                        color: rgb(96, 96, 96); // background:papayawhip;
                        span {
                            color: rgb(227, 63, 73); //  background: yellow !important;
                        }
                    }
                }
            }
            .order-detail-separator {
                height: 1px;
                width: 100% !important; // clear: both;
                background: rgb(184, 184, 184) !important;
            }
            .order-bottom-section {
                height: 62px !important; // background: orange !important;
                .Listing-Id-Date-row {
                    padding-top: 14px !important;
                    padding-left: 10px;
                    padding-right: 10px;
                    .Listing-orderId-lbl {
                        font-family: $Montserrat-Regular !important;
                        font-size: 3.17vw !important;
                        color: rgb(96, 96, 96);
                        float: left;
                        span {
                            font-family: $Montserrat-Regular !important;
                            font-size: 3.17vw !important;
                            color: rgb(227, 63, 73);
                        }
                    }
                    .Listing-orderDate-lbl {
                        float: right;
                        font-family: $Montserrat-Regular !important;
                        font-size: 3.17vw !important;
                        color: rgb(96, 96, 96);
                        span {
                            font-family: $Montserrat-Regular !important;
                            font-size: 3.17vw !important;
                            color: rgb(227, 63, 73);
                        }
                    }
                }
                .Listing-amount-row {
                    padding-top: 12px !important;
                    margin-bottom: 12px !important;
                    padding-left: 10px;
                    padding-right: 10px;
                    .Listing-amount-lbl {
                        font-family: $Montserrat-Regular !important;
                        font-size: 3.17vw !important;
                        color: rgb(96, 96, 96);
                        float: left;
                        span {
                            color: rgb(227, 63, 73); //  background: yellow !important;
                        }
                    }
                }
            }
        }
    }
    .checkbox-ios .checkbox-icon {
        border-radius: 50%;
        position: relative;
        width: 15px;
        height: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: #c8c7cc;
        background-color: #fff;
    }
    .Listing-buttons-row {
        height: 39px !important;
        padding-left: 10px;
        padding-right: 10px; // padding-bottom: 13px !important;
        margin: 0px !important;
        margin-top: 28px !important; // padding-top: 13px !important;
        width: 100% !important;
        text-align: center;
        .Listing-button-container {
            margin: 0px !important;
            padding: 0px !important;
            display: inline-block !important;
            .Listing-reorder-button {
                color: rgb(235, 46, 71);
                line-height: 9px !important;
                width: 102px !important;
                height: 39px !important;
                float: left !important;
                padding-top: 15px;
                border-radius: 18.5px;
                font-size: 3.17vw !important;
                background: rgb(246, 246, 246) !important;
                font-family: $Montserrat-Bold !important; //background: $Beautyapp-gradient-color;    
            }
            .Listing-cancel-button {
                margin-left: 10px;
                color: rgb(235, 46, 71);
                line-height: 9px !important;
                width: 102px !important;
                height: 39px !important;
                float: left !important;
                padding-top: 15px;
                border-radius: 18.5px;
                font-size: 3.17vw !important;
                background: rgb(246, 246, 246) !important;
                font-family: $Montserrat-Bold !important; //background: $Beautyapp-gradient-color;  
            }
        }
    }
    .cartCard {
        // width: calc(100% - 24px) !important;
        // margin-left: 12px;
        // margin-right: 12px;
        // background: white !important; // box-shadow: 5px 2px 5px 15px rgba(96, 96, 96, 0.07);
        // margin-top: 15px !important;
        // margin-bottom: 15px; // border-bottom: 1px solid grey;
        // padding-bottom: 5px;
        // background: gold !important;
        margin: 8px 12px !important;
        width: calc(100% - 24px) !important;
        background: white !important;
        // background: gold !important;
        border-bottom: 0.5px solid rgba(184, 184, 184,1);
        .colCheckBox {
            background: white;
            ion-checkbox {
                // background: green !important;
                width: 12.7px;
                height: 12.7px;
                margin-left: 4.5px !important;
                float: left;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                .checkbox-icon {
                    border-color: rgb(77, 77, 77);
                    background-color: white;
                }
            }
        }
        .colImage {
            background: white;
            img {
                width: 70px;
                height: 70px;
                position: relative; // top: 18%;
                // transform: translateY(-18%);
                left: 50%;
                transform: translateX(-50%);
                background: white;
                border-radius: 5px;
            }
        }
        .colRight {
            margin-bottom: 8px; // background:green;
            margin-left: -3px;
            .lbl-product-name {
                color: rgb(35, 31, 32);
                font-size: 3.96vw;
                font-family: 'Montserrat-Bold' !important;
                margin-top: 3px;
                width: 100%;
                text-transform: capitalize !important;
                margin-bottom: 6px !important; // background: red;
            }
            .lblProductName {
                // margin-left: 6px;
                font-size: 4.23vw;
                color: rgb(35, 31, 32);
                font-family: 'Montserrat-Regular' !important;
                width: 100%;
                background: white;
                line-height: 18px;
                margin-top: 10px;
                text-decoration: underline;
            }
            .lblProductPrice {
                font-size: 4.23vw;
                color: rgb(227, 63, 73);
                font-family: 'Montserrat-Regular' !important;
                background: white;
                margin-top: 5px;
                margin-bottom: 7px;
            }
            .floatLeft {
                float: left !important;
            }
            .floatRight {
                float: right !important;
                margin-right: 20px;
            }
            .QuantyRow {
                width: 100%;
                height: 15px;
                margin-bottom: 10px;
                .lblItemInStock {
                    letter-spacing: -0.04;
                    text-align: left;
                    font-size: 3.17vw;
                    background: white;
                    font-family: $montserrat-light;
                }
                .ColQuantityValue {
                    border-left: 1px solid rgb(238, 238, 238);
                    border-right: 1px solid rgb(238, 238, 238);
                    .lblQuantity {
                        font-size: 3.17vw;
                        text-align: center;
                        margin-right: 2px;
                        color: rgb(227, 63, 73)
                    }
                }
                .imgIncre {
                    width: 9px;
                    height: 9px;
                    margin-left: 4px;
                    margin-top: 3.5px;
                }
                .imgDecre {
                    width: 10px;
                    height: 1px;
                    background: grey;
                    margin-left: 0px;
                }
            }
        }
        .salBackImage {
            height: 218px;
            width: 100%; // object-fit: fill;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0; // margin-top: 30px;
        }
        .lblTipxitle {
            margin-left: 6px;
            font-size: 4.23vw;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-SemiBold !important; // background: green;
            // background: green;
            width: calc(100% - 100px);
            float: left;
        }
        .btnAddToCart {
            width: 80px;
            height: 20px;
            border-radius: 8px;
            float: right;
            margin-right: 2px;
            position: relative;
            top: 0 !important;
            margin-top: 3px !important; // background: Transparent ;
            // color: grey;
        }
        .lblTipsDescripxion {
            color: rgba(60, 60, 60, 0.9); // max-height: 50px !important;
            font-family: $Montserrat-Medium !important;
            margin-left: 6px;
            margin-right: 6px; //
            // background: purple;
            width: 100%;
        }
        ion-icon {
            font-size: 6.61vw;
            text-align: center; // background: deeppink !important;
        }
    }
    .lblSeparator {
        width: calc(100% - 24px) !important;
        background: rgb(184, 184, 184);
        height: 1px;
        margin: 10px 12px !important
        // border-bottom: 0.5px solid rgba(184, 184, 184,1);
    }
    .lblSeparator2 {
        width: 100% !important;
        background: rgb(184, 184, 184);
        height: 1px;
        margin: 10px 0px !important
        // border-bottom: 0.5px solid rgba(184, 184, 184,1);
    }
    .applyVoucher {
        background: white !important;
        margin-left: 17px;
        margin-right: 17px;
        width: calc(100% - 34px);
        box-shadow: none; // height: 100px;
        margin-bottom: 20px !important;
        .lblSubTotal {
            float: left; // width: 50%;
            text-align: left; // padding-left: 11px;
            background: transparent;
            font-size: 4.23vw;
            color: rgb(96, 96, 96);
            font-family: $Montserrat-Regular;
        }
        .lblSubTotalValue {
            float: right; // width: 45%;
            background: transparent;
            text-align: right !important;
            font-size: 4.23vw;
            padding-right: 0px; // color: rgb(224, 78, 128);
            color: rgb(227, 63, 73);
            font-family: $montserrat-light; // background: blue;
        }
        .bold-grand-total {
            font-size: 4.23vw !important;
            font-family: $Montserrat-Bold !important;
        }
        .grand-total-separator {
            border-top: 1px solid grey;
        }
        .lblActualShipping {
            float: left;
            width: 50%;
            text-align: left;
            padding-left: 11px;
            background: transparent;
            font-size: 4.23vw;
            color: black;
            font-family: $Montserrat-Regular;
        }
        .lblActualShippingValue {
            float: right;
            width: 45%;
            text-align: right;
            background: transparent;
            font-size: 4.23vw;
            padding-right: 10px;
            color: rgb(224, 78, 128);
            font-family: $montserrat-light;
            margin-right: 0pt !important;
        }
        .lblSepator {
            width: calc(100% - 22px);
            height: 1pt;
            margin-left: 11px;
            margin-right: 11px;
            background: rgb(184, 184, 184);
        }
        .VourcherRow {
            
            margin-top: 10px !important;
            // background: green;
            .lbl-enter-coupen {
                font-size: 3.4vw;
                color: rgb(96, 96, 96);
                line-height: 30px;
                font-family: $Montserrat-Regular;
            }
            
            ion-input {
                input {
                  text-align: right;
                  padding-right: 2px;
                  /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
                  ::-webkit-input-placeholder {
                    text-align: right;
                    padding-right: 2px;
                  }
                }
              }
            .inputPromoCode {
                // padding-left: 2px;
                text-align: right !important;
                height: 38px !important;
                border: 1px solid $lightPink;
                position: relative;
                top: 40%;
                transform: translateY(-40%);
                line-height: 38px;
                margin-right: 0px !important;
            }
            .btnApply {
                color: white !important;
                font-family: $Montserrat-Regular;
                font-size: 3.97vw;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                background: $Beautyapp-gradient-color;
            }
            .lblAfterApplyingVourcher {
                text-align: right;
                font-size: 4.5vw;
                padding-right: 4px !important;
                color: rgb(237, 63, 73);
                background: white !important;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-family: $Montserrat-Bold;
            }
        }
    }
}