<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> Order Detail </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>

</ion-header>

<ion-content fullscreen #myContent style="background:white;">
  <ion-label class="lblDelieveryAddress"> Delivery Address</ion-label>
  <ion-card class="addressCard">
    <ion-row class="AddressRow">
      <ion-col *ngIf="myCustomer" col-6 class="lblUserName">
        {{selectedOrder.o_contact_person}}
        <span></span>
      </ion-col>
      <ion-col col-6 class="lblPhoneNumber">{{selectedOrder.o_phone}}</ion-col>

    </ion-row>
    <ion-label no-padding no-margin text-wrap class="lblAddress">
      {{selectedOrder.o_address}}, {{selectedOrder.o_city}} </ion-label>



  </ion-card>
  <ion-label no-padding no-margin class="lblSeparator"></ion-label>
  <ion-label no-padding no-margin text-wrap class="lbl-payment-method">
    Payment Method:
    <span>{{selectedOrder.pt_name}} </span>

  </ion-label>
  <ion-label no-padding no-margin class="lblSeparator"></ion-label>

  <ion-row no-padding no-margin no-lines class="cartCard" *ngFor="let item of OrderDetail; let i=index;">
    <ion-col no-padding no-margin col-3 class="colImage">

      <img [src]=productsImageURL+item.p_image onError="this.src='./assets/imgs/defaultProduct.jpg'">

    </ion-col>

    <ion-col col-9 no-padding no-margin class="colRight">
      <ion-label no-padding no-margin no-lines text-wrap class="lbl-product-name"
        (click)="showProductDetailTapped(item, i)">{{item.p_name}}</ion-label>
      <ion-label no-padding no-margin no-lines text-wrap class="lblProductPrice floatLeft ">Quantity:
        {{item.p_quantity}}</ion-label>
      <ion-label no-padding no-margin no-lines text-wrap class="lblProductPrice floatRight">{{currencySymbol}}
        {{item.p_price *
          item.p_quantity |
          number : '1.0-0'}}</ion-label>

    </ion-col>

  </ion-row>

  <ion-card class="applyVoucher">


    <ion-row>
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal"> Order Amount </ion-label>

      </ion-col>
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotalValue bold-grand-total "> {{currencySymbol}}
          {{selectedOrder.o_amount}} </ion-label>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal"> + Delivery Charges </ion-label>
      </ion-col>
      <ion-col>

        <ion-label no-padding no-margin class="lblSubTotalValue">
          Free</ion-label>

      </ion-col>
    </ion-row>




    <ion-row *ngIf="selectedOrder.o_cod_charges > 0">
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal"> + Cash on Delivery charges </ion-label>
      </ion-col>
      <ion-col>

        <ion-label no-padding no-margin class="lblSubTotalValue">
          {{currencySymbol}} {{selectedOrder.o_cod_charges}}</ion-label>

      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedOrder.o_discount > 0">
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal"> - Promotional Discount </ion-label>
      </ion-col>
      <ion-col>

        <ion-label no-padding no-margin class="lblSubTotalValue">
          {{currencySymbol}} {{selectedOrder.o_discount}}
        </ion-label>

      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="!ngModelUsePromotion && dicounAmounttOnVoucher > 0">
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal"> - Voucher Discount </ion-label>
      </ion-col>
      <ion-col>

        <ion-label no-padding no-margin class="lblSubTotalValue">
          {{currencySymbol}} {{.selectedOrder.o_discount}}
        </ion-label>

      </ion-col>
    </ion-row> -->
    <ion-row *ngIf="selectedOrder.o_cust_store_credit > 0">
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal"> - Credit Used </ion-label>
      </ion-col>
      <ion-col>

        <ion-label no-padding no-margin class="lblSubTotalValue">
          {{currencySymbol}}{{selectedOrder.o_cust_store_credit}}
        </ion-label>

      </ion-col>
    </ion-row>

    <ion-label no-padding no-margin class="lblSeparator2"></ion-label>

    <ion-row style="margin-top:10px !important">
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotal">Order Total </ion-label>

      </ion-col>
      <ion-col>
        <ion-label no-padding no-margin class="lblSubTotalValue bold-grand-total ">
          {{currencySymbol}} {{roundAmound(selectedOrder.o_payable_amount)}} </ion-label>


      </ion-col>
    </ion-row>







  </ion-card>

</ion-content>



<ion-footer [hidden]="true" style="height: 91px; background: rgb(235, 46, 71);  padding-bottom: 24px !important;">

  <div class="Listing-buttons-row">
    <div class="Listing-button-container">
      <div class="Listing-reorder-button"
        *ngIf="(selectedOrder.o_status  === orderStatus.Cancelled || selectedOrder.o_status  === orderStatus.Delivered || selectedOrder.o_status  === orderStatus.Failed) && (selectedOrder.o_status  !== orderStatus.Processing || selectedOrder.o_status  !== orderStatus.Dispatched)  ">
        Reorder
      </div>
      <div class="Listing-cancel-button">
        Cancel
      </div>
      <div style="clear:both">
      </div>
    </div>
  </div>

</ion-footer>