<!--
  Generated template for the SalonAllServicesPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="height:116px !important;background: white;">
  <div class="backButton" style="padding:5px;" (click)="goBack()">
    <img style="height:20px; width:20px;" src="./assets/imgs/cutom_back_ico.png">
  </div>
  <div class="headerLabel">All Services </div>
</ion-header> -->

<ion-fab right top (click)="close()" class="fabButton">
  <button ion-fab>
    <ion-icon name="close-circle"></ion-icon>
  </button>
</ion-fab>

<ion-content padding style="padding: 10px; 
padding-top:0px;
margin:0px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; 
margin-left: 0px; background-color: #F5F5F5;">
<div style="margin-top: 5vh;">


  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)" no-lines style="padding: 0px;	margin:0px;"
    *ngFor="let service of servicesSortedByCat;  let i = index; let lastIndex=last">
    <ion-item no-lines class="itemStyle">
      <div *ngIf="(i!=0 && isServicescatChange(servicesSortedByCat[i-1].ssc_name, service.ssc_name) ) || i==0" style="	padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px; margin:0px; background-color: #ffffff;">
        <p *ngIf="(i!=0)" style="padding: 0px; height:10px; background-color: #F5F5F5; margin-left:0px;">
        </p>
        <p [ngClass]="i == 0 ? 'servicesHeader1stItem': 'servicesHeader'">
          <span class="lineStyle"> {{service.ssc_name}} </span>
        </p>
      </div>
      <div class="servicesItems">
        <p class="fontStyle">
          {{service.sser_name}}
          <span style="float:right" class="ratefont"> {{currencySymbol}} {{service.sser_rate}}</span>
        </p>
        <div style="height:10px;" *ngIf="lastIndex">
        </div>
      </div>
      <div style="height:15px; background-color: #F5F5F5;" *ngIf="lastIndex">
      </div>
    </ion-item>
  </ion-list>
</div>
</ion-content>