page-salon-all-services {

    .fabButton {

        background: transparent !important;
        .fab {
            // background: blue !important;
            background: rgb(255, 111, 21);
            width: 40px;
            height: 40px;
            margin-top: 15px;
            margin-right: 10px;
            // border: solid 2px white;
            .fab-close-icon {
                background: green !important;
            }
        }
    }
  
    .scroll-content {
        padding-top: 0 !important;
    }
 
    ion-navbar {
        opacity: 0.4;
        box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
    }
    ion-segment {
        padding: 0px 0px;
        opacity: 0.7;
        position: relative;
        top: -50px;
    }

    ion-segment-button {
        border-color: map-get($colors, primary) !important;
        color: #fff !important;
    }

  

 .ratefont{
    //  font-weight: 600;
     font-size: 3.97vw;
     font-family: $Montserrat-Medium !important;
     color: black;
 }
    ion-item {
        background-color: #fff;
    }
    
ion-navbar {
    opacity: 0.4;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
}
.lineStyle{
    border-bottom: 2px solid #000;
     padding-bottom: 2px;
}
.servicesHeader{
    padding-top: 15px !important; 
    padding-left: 15px !important;
    font-size: 5.29vw;
    padding-bottom: 15px !important; 
    margin-right: 15px !important;
    font-family: $Montserrat-SemiBold !important;
    color: rgb(0, 0, 0);
}
.servicesHeader1stItem{
    padding-bottom: 15px !important; 
    display: inline-block;
    
    padding-top: 5px !important;
    padding-left: 15px !important;
    margin-right: 15px !important;
    font-size: 5.29vw;
    font-family: $Montserrat-SemiBold !important;
    color: rgb(0, 0, 0);
}
.fontStyle{
    color: rgba(0,0,0,0.8);
    font-size: 3.97vw;
    font-family: $Montserrat-Medium !important;
}
.servicesItems{

    padding-bottom: 0px !important; 
    padding-top: 0px !important; 
     padding-left: 15px !important; 
     padding-right: 15px !important; 
     background-color: #ffffff;
     padding-right: 0px; margin:0px !important;
 }
 
 .itemStyle{
     padding-left: 0px !important; 
     background-color: #ffffff;
     padding-top:0px !important;
     padding-right: 0px;
      margin:0px !important;   
      border-radius:2px !important;   
 }

.item-inner {
    padding-right: 0px!important;
    padding-left: 0px!important;
 }
.full_card_width{
    width:100%;
    height:100%;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
}
.platform-ios .ios-header {
    height:calc(56px + 20px);
    min-height:calc(56px + 20px);
    padding-top:20px;
  }
  .label-ios {
    margin: 10px 0px 0px 0px;
}
.label-md {
    margin: 10px 0px 0px 0px;
}

.header_border{
    width:100%;
    height:100%;
	width:100%;
    height:2px;
	margin-top:10px;
	background-color: #F5F5F5;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.backImage{
    height: 29px !important;
    width: 52px !important;
    padding-top: 7px;
    object-fit: contain;
    // margin-left: -10px;
    margin-top: 25px;
    margin-left: -50px;
    z-index: 1;   
}
.headerLabel{
    position: absolute;
    bottom:16px;
    left:13.5px;
    text-align:center;
    font-size:30px;
    font-family: $Montserrat-SemiBold !important;
    color:black;
  }
  .backButton{
    position: absolute;
    bottom:50px;
    text-align:center;
    font-size:30px;
    color:white
  }
.backButton:active{
    background-color: transparent;
}
.backButton:focus{
    background-color: transparent;
}
      
}
