<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> My Orders </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>

</ion-header>

<ion-content fullscreen #myContent class="BaseContainer">
    <div *ngIf="publicUser">
        <div class="alreadyRegister">
            <p class="lblAlreadyRegister">
              login or sign up to view orders<span class="lblLogin" (click)="goToRegisterScreen()"><br />Register</span>
            </p>
          </div>

    </div>

  <div class="myOrder-listing">
    <ion-list *ngFor="let order of myOrders let i=index;" (click)="orderItemClick($event, order,i)" class="listingContent"
      no-padding no-margin>
      <ion-row no-padding no-margin class="Listing-address-row">

        <ion-col no-padding no-margin col-9 style="padding-left: 10px">
          <img src="./assets/imgs/location_ic.png" />

          <ion-label no-padding no-margin text-wrap class="address-row-left">{{order.o_address}}</ion-label>

        </ion-col>
        <ion-col no-padding no-margin col-3>

          <ion-label no-padding no-margin class="label-order-status">{{order.o_status}}</ion-label>

        </ion-col>
      </ion-row>
      <!-- <div class="Listing-address-row">

        <div class="address-row-left">
          <span> <img src="./assets/imgs/location_ic.png" /></span> {{order.o_address}}
        </div>
        <div class="address-row-right">
          {{order.o_status}}
        </div>
        <div style="clear: both;">
        </div>
      </div> -->

      <div class="Listing-Id-Date-row">
        <div class="Listing-orderId-lbl">
          Order ID: <span> {{order.o_id}} </span>
        </div>
        <div text-wrap class="Listing-orderDate-lbl">
          Order Date : <span> {{getFormattedDate(order.o_datetime)}} </span>

        </div>
        <div style="clear:both"> </div>
      </div>
      <div class="Listing-amount-row">
        <div class="Listing-amount-lbl">
          Order Total:
        </div>
        <div class="Listing-amount-rs">
          <!-- <span> {{currencySymbol}} {{sumOfOrder(order.o_amount, order.o_delivery_charges) }} </span> -->
          <span> {{currencySymbol}} {{roundAmound(order.o_payable_amount) }} </span>
        </div>
      </div>
      <div class="Listing-amount-row" *ngIf="order.o_tracking && order.o_tracking.length > 0">
        <div class="Listing-amount-lbl">
          Tracking Number:
        </div>
        <div class="Listing-amount-rs">
          <span> {{order.o_tracking}} </span>
        </div>
      </div>
      <div class="Listing-separator" [hidden]="(order.o_status  === orderStatus.Dispatched || order.o_status  === orderStatus.Processing)">
        <div class="separator">
        </div>
      </div>


      <div class="Listing-buttons-row">
        <div class="Listing-button-container">
          <div class="Listing-reorder-button" *ngIf="(order.o_status  === orderStatus.Cancelled || order.o_status  === orderStatus.Delivered  || order.o_status  === orderStatus.Failed) && (order.o_status  !== orderStatus.Processing || order.o_status  !== orderStatus.Dispatched)  "
            (click)="btnReOrderTapped(order, $event)">
            Reorder
          </div>
          <div class="Listing-cancel-button" *ngIf="(order.o_status  === orderStatus.Pending || order.o_status  === orderStatus.Placed) && (order.o_status  !== orderStatus.Processing || order.o_status  !== orderStatus.Dispatched)  "
            (click)="btnCancelTapped(order, $event)">
            Cancel
          </div>
          <div style="clear:both">
          </div>
        </div>
      </div>
      <div>
      </div>
      <!-- </ion-item> -->
    </ion-list>
  </div>
  <div class="lblNoData" *ngIf="noOrderAvailable && !publicUser">
    <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
    <ion-label class="lblNothingFound" *ngIf="!selectedProductCategory">You have not placed any order.</ion-label>
  </div>
</ion-content>