page-my-orders {
    .alreadyRegister {
        width: calc(100% - 20px);
        margin-top: 20px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        .lblAlreadyRegister {
            // background: #ea3f49;
            font-family: $montserrat-light !important;
            font-size: 3.6vw !important; // font-weight: 700;
            color: rgb(60, 60, 60);
        }
        .lblLogin {
            padding-right: 30px !important;
            padding-left: 10px !important;
            padding-bottom: 10px !important; // background: black !important;
            font-size: 4.7vw !important;
            font-family: $montserrat-light !important; // text-decoration: underline !important;
            // margin-left: 10px !important;
            color: #ea3f49 !important;
        }
    }
    
    .BaseContainer {
        // background: gold;
    }
    .ionHeader {
        width: 100%;
        z-index: 999;
        padding-bottom: 10px;
        position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
        .BaseGenderSegment {
            //background: white !important;
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5pt; // position: absolute;
            // bottom: 0;
            padding-bottom: 2px !important; // top: 0 ;
            margin-top: 20pt; // bottom: -23.5pt;
            border-radius: 24.5pt; // z-index: 99999 !important;
            // margin-bottom: 15pt !important;
            .GenderSegement {
                background: transparent !important;
                width: 100%;
                height: calc(100% - 5pt);
                margin-bottom: 0pt !important;
                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    line-height: 25pt !important; //color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 3.97vw;
                    line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Regular;
                }
                .segment-button.segment-activated {
                    height: 25pt;
                    line-height: 25pt !important;
                    margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                    color: white !important;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Regular;
                    line-height: 30pt !important;
                }
            }
            .sliderContainer {
                margin-left: 22pt !important;
                margin-right: 22pt !important;
                margin-top: 3pt;
                height: 2pt;
                width: calc(100% - 44pt) !important;
                background-color: transparent;
                box-shadow: none;
                .slider {
                    background: white !important; //  background-color: rgb(236, 78, 137) !important;
                    height: 100% !important;
                    margin-bottom: 0pt !important;
                    width: calc(50% - 20pt); // float: right;
                    padding-top: 5pt !important;
                    margin-top: 0px;
                    margin-bottom: 0pt;
                    margin-left: 1px;
                }
            }
        }
    }
    .miniHeader {
        height: 50pt;
        background: $Beautyapp-gradient-color; 
        .backIcon {
            width: 29pt;
            height: 20.4pt;
            margin-top: 28pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            // background: green; 
            transition: 0.2s linear;
        }
        .backButton {
            width: 39pt;
            height: 26pt;
            position: absolute;
            margin-top: 26pt;
            margin-left: 12.5pt;
            z-index: 9; // 
            // background: red;
        }
        .menuButton {
            width: 35pt;
            height: 25.5pt;
            margin-top: 25pt;
            right: 8.5pt;
            z-index: 1;
            float: right; // 
            // background: green;
        }
        .menuIcon {
            width: 25pt;
            height: 8.5pt;
            margin-top: 31pt;
            position: absolute;
            right: 15.5pt;
            z-index: 1; // 
            transition: 0.2s linear; // background: green;
        }
        .lblLatestTrendsHeading {
            width: 100%;
            margin-top: 27pt;
            font-size: 4.92vw !important;
            letter-spacing: -1px;
            color: white;
            font-family: $Montserrat-Bold !important;
            transition: 0.2s linear;
            text-align: center;
        }
    }
    .myOrder-listing {
        // background: red;
        
        margin-top: 22px !important;
        // padding-top: 42px !important;
        .listingContent {
            background: rgb(246, 246, 246);
            padding: 0px !important;
            width: calc(100% - 24px);
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 10px;
        }
        .Listing-address-row {
            // background: green;
            width: 100%;
            
            img {
                margin-top: 5px;
                margin-right: 5px !important; // margin-top: 1px !important;
                float: left;
                // text-align: center;
                height: 12px;
                width: 8px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 5px !important;
                

            }
            .address-row-left {
                margin-top: 5px;
                margin-left: 14px;
                // background: red; //    width: calc(100% - 70px); // height: 26pt;
                font-family: $Montserrat-Regular !important;
                font-size: 3.7vw !important; // float: left;
                
                position: relative;
                top: 50%;
                transform: translateY(-50%)
                
            }
            .label-order-status {
                
                margin-top: 5px;
                width: 78%;
                height: 22px;
                line-height: 18.8px !important; //
                
                border: 1px solid rgb(166, 166, 166);
                border-radius: 10px !important;
                float: right;
                color: rgb(222, 32, 90);
                font-size: 2.85vw !important;
                font-family: $montserrat-light !important;
                font-weight: bold;
                text-align: center;
                margin-right: 10px;
                
            }
        }
        .Listing-Id-Date-row {
            padding-top: 14px !important;
            padding-left: 10px;
            padding-right: 10px;
            .Listing-orderId-lbl {
                font-family: $Montserrat-Regular !important;
                font-size: 3.7vw !important;
                color: rgb(96, 96, 96);
                float: left;
                span {
                    font-family: $Montserrat-Regular !important;
                    font-size: 3.7vw !important;
                    color: rgb(236, 78, 135);
                }
            }
            .Listing-orderDate-lbl {
                float: right;
                font-family: $Montserrat-Regular !important;
                font-size: 3.7vw !important;
                color: rgb(96, 96, 96);
                span {
                    font-family: $Montserrat-Regular !important;
                    font-size: 3.7vw !important;
                    color: rgb(236, 78, 135);
                }
            }
        }
        .Listing-amount-row {
            padding-top: 13px !important;
            margin-bottom: 15px !important;
            padding-left: 10px;
            padding-right: 10px;
            .Listing-amount-lbl {
                font-family: $Montserrat-Regular !important;
                font-size: 3.43vw !important;
                color: rgb(96, 96, 96);
                float: left;
            }
            .Listing-amount-rs {
                font-family: $Montserrat-Bold !important; // font-family: $Montserrat-Regular !important;
                font-size: 3.7vw !important;
                color: rgb(236, 78, 135);
                float: left;
                float: right;
            }
        }
        .Listing-separator {
            padding-top: 13px !important;
            .separator {
                background: rgb(184, 184, 184);
                
                height: 0.5px;
                width: 100% !important;
            }
        }
        .Listing-buttons-row {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 13px !important;
            margin: 0px !important;
            padding-top: 13px !important;
            width: 100% !important;
            text-align: center;
            .Listing-button-container {
                margin: 0px !important;
                padding: 0px !important;
                display: inline-block !important;
                .Listing-reorder-button {
                    color: white;
                    line-height: 9px !important; // border-radius: 14px !important;
                    width: 80px !important; // padding: 10px;
                    height: 27px !important;
                    float: left !important;
                    padding-top: 9px;
                    border-radius: 18.5px;
                    font-size: 3.7vw !important;
                    background: $Beautyapp-gradient-color;
                }
                .Listing-cancel-button {
                    margin-left: 10px !important;
                    color: white;
                    line-height: 9px !important; // border-radius: 14px !important;
                    width: 80px !important; // padding: 10px;
                    height: 27px !important;
                    float: left !important;
                    padding-top: 9px;
                    border-radius: 18.5px;
                    font-size: 3.7vw !important;
                    background: $Beautyapp-gradient-color;
                }
            }
        }
    }
    .lblNoData {
        width: 100%;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        position: absolute;
        .imgNothingFound {
            width: 163px;
            height: 130px;
        }
        .lblNothingFound {
            align-content: center;
            text-align: center;
            height: 25pt;
            margin-top: 20pt; // background: green;
            line-height: 25pt;
            font-family: $Montserrat-Regular;
            font-size: 5.29vw;
        }
    }
}