<ion-header   class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-1>
    </ion-col>
    <ion-col col-6 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Beauty Trends </ion-label>
    </ion-col>
    <ion-col  col-1 class="colCartImage">
      <img src="./assets/imgs/cart.png" *ngIf="CartItems && CartItems.length > 0">
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>

  
</ion-header>

<ion-content  fullscreen #myContent>
  
  <div class="genderSelection">
    <div class="BaseGenderSegment" no-margin no-padding>
        <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
          <ion-segment-button value="English" (click)="menTrendsTapepd()">Men's</ion-segment-button>
          <ion-segment-button value="Urdu" (click)="womenTrendsTapepd()">Women's</ion-segment-button>
        </ion-segment>
        <ion-card no-padding no-margin no-lines class="sliderContainer">
          <ion-card-content no-padding no-margin no-lines class="slider" id="slider_listing">
          </ion-card-content>
        </ion-card>
      </div>
 </div>


        <!-- Feature item section -->
      <div  class="Latest-trends-feature-item" *ngIf="FashionStyFeatureItem"  (click)="fashionClicked()"  >
         <div class="feature-item-title">
           {{FashionStyFeatureItem.sc_name}}
         </div>
         <div class="feature-item-image">
            <img  
            [src]=imageUrl+FashionStyFeatureItem.sc_image
            onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" />
         </div>
         <div class="feature-item-collection-name">
            {{FashionStyFeatureItem.ssc_name}}
            
         </div>
         <div hidden class="feature-item-separator">
            
         </div>
         <div hidden class="feature-item-viewAllCollection">
                <!-- View All Winter Trends -->
                <div    class="container-viewMore">
                    <div class="viewMore-contents" >
                      <div class="viewMore-lbl-img">
                        <div class="viewMore-lbl">
                            View All {{FashionStyFeatureItem.sc_name}}
                        </div>
                        <div class="viewMore-icon">
                            <img src="./assets/imgs/back-ionc-home.png" />
                          </div>
                      </div>
                    </div>
              </div>
         </div>
         <div hidden class="feature-item-separator2">
          </div>
      </div>
          <!-- View all archive collection section  -->
      <div  *ngIf="archiveFashionName" class="Latest-trends-viewAllCollection" (click)="archiveCategoryClicked()" >
        <div class="viewAllCollection-items">
            <div>
                <div class="viewAllCollection-imageContent">
                  <img  style="background:black;" no-lines no-margins no-padding   class="viewAllCollection-image"  src="./assets/imgs/collection.png"  onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'"/><br>
               </div>
               <div class="viewAllCollection-item-right">
                   <img   src="./assets/imgs/back-ionc-home.png" />
               </div>
               <div class="viewAllCollection-otherContent">
                 <div class="viewAllCollection-otherContent-lblTitle">
                 <div class="viewAllCollection-title">
                    View All Collection 
                </div>
                <div class="viewAllCollection-description">
                    <ion-label class="label" no-lines no-padding no-margin text-wrap  class="lblTitle">
                        {{archiveFashionName}}
                      </ion-label>      
               </div>
             </div>
               </div>
               <div hidden   class="viewAllCollection-separator" >
               </div>
              </div>
        </div>
      </div>
       <!-- Favorite trend listing section  -->
       <div   *ngIf="isFavourites" style="background: rgb(238, 238, 238) !important; margin-top: 30px !important;" ion-row > 
        <ion-list   (click)="favoriteClicked( item,i)"   class="favorite-trends-listing" no-padding no-margin >
             <!-- <ion-item no-lines no-margins no-padding class="unFeaturedItem" (click)='findNextPage(item)'> -->
               <div>
               <div class="trends-listing-imageContent">
                 <img  style="background:black;" no-lines no-margins no-padding   class="trends-listing-image" src="./assets/imgs/favourite.png"     onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'"/><br>
              </div>
              <div class="trends-listing-item-right">
                  <img   src="./assets/imgs/back-ionc-home.png" />
              </div>
              <div class="trends-listing-otherContent">
                <div class="trends-listing-otherContent-lblTitle">
                <div class="trends-listing-title">
                    Favorite Trends  
               </div>
               <div class="trends-listing-description">
                    View all Favorite  Trends
              </div>
            </div>
              </div>
              <div hidden  class="trends-listing-separator" >
              </div>
             </div>
             <!-- </ion-item> -->
   </ion-list>
   </div> 

      <!-- Latest trend listing section  -->
   <div    class="trends-separator" >
  </div>

     <div class="Latest-trends-listing" ion-row > 
        
          <ion-list *ngFor="let item of LatestTrendsStyles let i=index;"  (click)="categoryClicked( item,i)"   class="trends-listing" no-padding no-margin >
               <!-- <ion-item no-lines no-margins no-padding class="unFeaturedItem" (click)='findNextPage(item)'> -->
                 <div>
                 <div class="trends-listing-imageContent">
                   <img  style="background:black;" no-lines no-margins no-padding   class="trends-listing-image" [src]=imageUrl+item.sc_image    onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'"/><br>
                </div>
                <div class="trends-listing-item-right">
                    <img   src="./assets/imgs/back-ionc-home.png" />
                </div>
                <div class="trends-listing-otherContent">
                  <div class="trends-listing-otherContent-lblTitle">
                  <div class="trends-listing-title">
                      {{item["sc_name"]}} 
                 </div>
                 <div class="trends-listing-description">
                    View all {{item["sc_name"]}} Trends
                </div>
              </div>
                </div>
                <div hidden  class="trends-listing-separator" >
                </div>
               </div>
               <!-- </ion-item> -->
     </ion-list>
     </div> 
</ion-content>