page-latest-trends-listing {
    //header section style
    .ionHeader-dt {
        width: 100%;
        z-index: 999;
        position: relative;
        background-image: $Beautyapp-gradient-color; // background-image: linear-gradient(to top right, rgb(236, 78, 137), rgb(239, 64, 76));
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colCartImage {
                background: transparent;
                width: 22px; // height: 14pt;
                margin-top: 26pt;
                img {
                    height: 19pt;
                    width: 22pt;
                    margin-top: -3px;
                    float: right;
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
        
    }
    .genderSelection{
        margin-top: -20px !important;
        background: #ffffff !important;
        // background-image: $Beautyapp-gradient-color;
        width: calc(100% - 0pt);
        .BaseGenderSegment {
            // margin-top: 70px !important;
            
            //background: white !important;
               width: calc(100% - 30pt);
               margin-left: 15pt;
               margin-right: 15pt;
               height: 40.5pt; // position: absolute;
               // bottom: 0;
              // padding-bottom: 2px !important;
               // top: 0 ;
               margin-top: 20pt; // bottom: -23.5pt;
               border-radius: 24.5pt; // z-index: 99999 !important;
               // margin-bottom: 15pt !important;
             //  background: #ec4e89;
               .GenderSegement {
                   background: transparent !important;
                   width: 100%;
                   height: calc(100% - 5pt);
                   margin-bottom: 0pt !important;
                   .segment-button {
                       height: 25pt;
                       background: transparent !important;
                       border-color: transparent !important;
                       margin-top: 0pt !important;
                       margin-bottom: 0pt !important;
                       line-height: 25pt !important;
                       //color: rgb(35, 31, 32);
                    //    color:  white !important;
                    color: #000000 !important;
                       font-size: 3.97vw;
                       line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                       font-family: $Montserrat-Regular;
                   }
                   .segment-button.segment-activated {
                       height: 25pt;
                       line-height: 25pt !important;
                       margin-bottom: 0pt !important;
                    //   color: rgb(35, 31, 32);
                    //    color:  white !important;
                       color: #000000 !important;
                       font-size: 4.5vw;
                       font-family: $Montserrat-Regular;
                       line-height: 30pt !important;
                   }
               }
               .sliderContainer {
                   margin-left: 22px !important;
                   margin-right: 22px !important;
                //    margin-top: 3px !important;
                   height: 2pt;
                   width: calc(100% - 44pt) !important;
                   background-color: transparent;
                   box-shadow: none;
                   .slider {
                    background-image: $Beautyapp-gradient-color;
                    //    background: white !important;
                     //  background-color: rgb(236, 78, 137) !important;
                       height: 100% !important;
                       margin-bottom: 0pt !important;
                       width: calc(50% - 20pt);
                       // float: right;
                       padding-top: 5px !important;
                       margin-top: 0px;
                       margin-bottom: 0pt;
                       margin-left: 1px;
                   }
               }           
           }
    
    }
    
    .miniHeader-dt {
        height: 50pt;
        background-image: $Beautyapp-gradient-color;
        
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }



    .Latest-trends-feature-item{
        margin-top:10px !important;
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
        .feature-item-title{
            color: rgb(35, 31, 32);
            font-family: $Montserrat-Bold !important;
            font-size: 3.7vw;
        }
        .feature-item-image{
           // background:yellow;
            margin-top: 10px;
            width: 100% !important;
                  img {
                    display: block;
                      width: 100% !important;
                  } 
        }
        .feature-item-collection-name{
            margin-top: 7px;
            //background:red;
            font-family: $Montserrat-Regular;
            color: rgb(35, 31, 32);
            font-size: 3.7vw;

        }
        .feature-item-separator{
            margin-top: 19px;
            margin-bottom: 14px;
            height: 1px;
           background: rgb(184, 184, 184);


        }
        .feature-item-viewAllCollection{
                   height: 15px;
            .container-viewMore {
                //margin-bottom: 30px;
               //width: calc(100% - 0px);
              
               .viewMore-contents{
                   //width: 100%;
                
                position: relative;
                left: 50%;
                
                transform: translate(  -50%);
                //background: rgb(73, 102, 182);
                .viewMore-lbl-img{
                    display: flex;
                    flex-direction: row;
                      width: 100%;
                      .viewMore-icon{
                        margin-top: -2px;
                      
                        img{           
                            margin-left: 5px;
                            // margin-top: -2px;
                            width: 10px;
                            height: 6px;
                        }      
                      }
                      .viewMore-lbl{
                         
                          color: rgb(230, 74, 137);
                          margin-left: 4px;
                          font-size:   12.5px;
                          font-family: $Montserrat-Regular;
                      }
                   }
               }  
            }
        }
        .feature-item-separator2{
            margin-top: 14px;
            height: 1px;
            background: rgb(184, 184, 184);
        }
        
    }
    .Latest-trends-viewAllCollection{
        margin-top: 19px;
        background: orange;

        .viewAllCollection-items {
            // background:red;
            background: rgb(238, 238, 238);
            height: 111px;
             padding: 0px !important;
             width: calc(100% - 0px);
             .viewAllCollection-imageContent {
                 float: left;
                 width: 86px;
                 height: 111px;
                 .viewAllCollection-image {
                     border-radius: 20px;
                     margin-left: 17px;
                     width: 69px;
                     height: 69px;
                     top: 50%;
                     position: relative;
                     transform: translateY(-50%);
                 } 
             }
             .viewAllCollection-item-right{
    
                 float: right;
                 width:36px;
                 height: 110px;
                 img {
                     height: 20px;
                     width: 20px;
                     top: 50%;
                     position: relative;
                     transform: translateY(-50%);
                 }
             }
     
             .viewAllCollection-otherContent {
                 
                 height: 110px !important;
                 float: right;
                 width: calc(100% - 122px);
                 .viewAllCollection-otherContent-lblTitle {
                     top: 50%;
                     position: relative;
                     transform: translateY(-50%);
                     padding-left: 12px;
                     .viewAllCollection-title{
                        font-family: 'montserrat-bold' !important;
                        font-size: 4.23vw;
                        color: rgb(35, 31, 32);
                         //background: yellowgreen;
                     }
                     .viewAllCollection-description{
                      

                       
                        .lblTitle{
                            font-family: $montserrat-light !important;
                            font-size: 3.7vw;
                            -webkit-box-orient: vertical;
                            color: rgb(230, 74, 137);
                            overflow: hidden;
                            text-overflow: ellipsis;
                           display: -webkit-box;
                         -webkit-line-clamp: 2; 
                        }
                        // color: rgb(230, 74, 137);
                        // background:papayawhip;

                     }
                 }
                
             }
            
            
             .viewAllCollection-separator {
                 margin-top: 10pt !important;
                 margin-bottom: 10pt !important; // background: black;
                 height: 1px;
                 width: 100% !important;
                // clear: both;
             }
         }

    }
    .trends-separator{
      
       // margin-bottom: 10pt !important;
          background: rgb(184, 184, 184);
        // height: 1px;
        width: 100% !important;
    }
    .Latest-trends-listing { 
      
        margin-bottom: 50px;
      //  margin-top: 30px;
       // align-content: center;
        .trends-listing {
        //    background: rgb(255, 255, 255);
          
           height: 111px;
            padding: 0px !important;
            width: calc(100% - 0px);
            border-bottom: 1px solid rgb(184, 184, 184);
            .trends-listing-imageContent {
                float: left;
                width: 86px;
                height: 111px;
                .trends-listing-image {
                    border-radius: 20px;
                    margin-left: 17px;
                    width: 69px;
                    height: 69px;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                } 
            }
            .trends-listing-item-right{
             //  background:red;
                
                // text-align: center;
                // align-content: center;
                // align-items: center;
                float: right;
                width:36px;
                height: 111px;
                // top: 50%;
                // position: relative;
                // transform: translateY(-50%);
                img {
                    height: 20px;
                    width: 20px;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                }
            }
    
            
            .trends-listing-otherContent {
                // background: lime;
                // height: 110px !important;
                // float: right;
                // width: calc(100% - 122px);
                // .otherContent-lblTitle {
                //     top: 50%;
                //     position: relative;
                //     transform: translateY(-50%);
                //     font-family: $montserrat-light !important;
                //     padding-left: 12px;
                //     font-size: 4.23vw;
                // }

                 
                height: 110px !important;
                float: right;
                width: calc(100% - 122px);
                .trends-listing-otherContent-lblTitle {
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                    padding-left: 12px;
                    .trends-listing-title{
                       font-family: 'montserrat-bold' !important;
                       font-size: 4.23vw;
                       color: rgb(35, 31, 32);
                        //background: yellowgreen;
                    }
                    .trends-listing-description{
                       font-family: $montserrat-light !important;
                       font-size: 3.7vw;
                        color: rgb(230, 74, 137);
                       // background:papayawhip;

                    }
                }
               
            }
           
           
            .trends-listing-separator {
                
                bottom: 0;
                margin-top: 10pt !important;
                margin-bottom: 10pt !important; // background: black;
                height: 0px;
                width: 100% !important;
              //  clear: both;
               // background: red;
            }
        }
        
    }
  
    .favorite-trends-listing {
        //    background: rgb(255, 255, 255);
          
           height: 111px;
            padding: 0px !important;
            width: calc(100% - 0px);
            border-bottom: 1px solid rgb(184, 184, 184);
            border-top: 1px solid rgb(184, 184, 184);
            .trends-listing-imageContent {
                float: left;
                width: 86px;
                height: 111px;
                .trends-listing-image {
                    border-radius: 20px;
                    margin-left: 17px;
                    width: 69px;
                    height: 69px;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                } 
            }
            .trends-listing-item-right{
             //  background:red;
                
                // text-align: center;
                // align-content: center;
                // align-items: center;
                float: right;
                width:36px;
                height: 111px;
                // top: 50%;
                // position: relative;
                // transform: translateY(-50%);
                img {
                    height: 20px;
                    width: 20px;
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                }
            }
    
            
            .trends-listing-otherContent {   
                height: 110px !important;
                float: right;
                width: calc(100% - 122px);
                .trends-listing-otherContent-lblTitle {
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                    padding-left: 12px;
                    .trends-listing-title{
                       font-family: 'montserrat-bold' !important;
                       font-size: 4.23vw;
                       color: rgb(35, 31, 32);
                        //background: yellowgreen;
                    }
                    .trends-listing-description{
                       font-family: $montserrat-light !important;
                       font-size: 3.7vw;
                        color: rgb(230, 74, 137);
                       // background:papayawhip;

                    }
                }
               
            }
           
           
            .trends-listing-separator {
                
                bottom: 0;
                margin-top: 10pt !important;
                margin-bottom: 10pt !important; // background: black;
                height: 0px;
                width: 100% !important;
              //  clear: both;
               // background: red;
            }
    }

    //static style for all pages
    ion-content {
        background: white
    }
    .contnet {
        background: white;
    }
    .title {
        z-index: 999;
        height: 160px; // background: red;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
        top: 70px;
    }
    .navBar {
        height: 116px;
    } // button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
    //     margin-top: -50px;
    // }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -5px;
        color: black;
    }
    .toolbar-title {
        height: 102px;
        ;
    }
    .backIcon {
        width: 40px;
        margin-top: 30px;
        background: transparent;
        height: 40px;
        color: white;
        padding: 0px;
        opacity: 1.0;
    }
    .backIcon:active {
        background-color: transparent;
    }
    .backIcon:focus {
        background-color: transparent;
    }
    .backImage {
        height: 29px !important;
        width: 52px !important;
        padding-top: 7px;
        object-fit: contain;
        color: white;
        margin-top: 25px;
        margin-left: -50px;
        z-index: 1;
    }
   //end static style for all page section

   

    
   
    
}
