<ion-header style="height:116px !important;  background-image: linear-gradient(to right, #ec4e89 0%, #ef404c 100%) !important; ">
  <ion-navbar hideBackButton *navbar>
    <ion-title>BeautyApp</ion-title>
  </ion-navbar>


  <button hidden clear ion-button icon-only class="backIcon" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <div class="headerLabel">BeautyApp</div>

</ion-header>
<ion-content padding>
  <ion-list no-lines no-margin no-padding style="	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;   text-align: center;
   margin-top:20%; " class="ionItem">
    <p class="EnterActivationCode" style="font-size:14px; ">
      To complete BeautyApp activation, please provide your name, email
    </p>

    <div style="margin: 5%;">

      <ion-input  type="text" maxlength="100" [(ngModel)]="firstname" (keyup)="OnValueEnterName($event.target.value)" placeholder="Please enter your name"
        style=" 
     font-family: $Montserrat-Medium !important;font-size:15.6px;
     background: rgb(235, 235, 235);;width:100%;"></ion-input>
      <p style="margin-right:10%;" ion-text [hidden]="isValidName" color="danger" padding-left>
        {{errorMessageName}}
      </p>
    </div>

    <div style=" margin: 5%;">
      <ion-input type="text" maxlength="100" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="email" (keyup)="OnValueEnterEmail($event.target.value)"
        placeholder="Please enter your email" style="font-family: $Montserrat-Medium !important;font-size:15.6px;
          background: rgb(235, 235, 235);width:100%;" [(ngModel)]="username"></ion-input>
      <p style="margin-right:10%;" ion-text [hidden]="isValidEmail" color="danger" padding-left>
        {{errorMessageEmail}}
      </p>
    </div>

    <div [hidden]="true" style=" margin: 5%;">
      <ion-input  type="email" autocapitalize="off" maxlength="50" [(ngModel)]="location" (keyup)="OnValueEnterLocation($event.target.value)"
        placeholder="Please enter your post code" style="font-family: $Montserrat-Medium !important;font-size:15.6px;  background: rgb(235, 235, 235);width:100%;"
        [(ngModel)]="username"></ion-input>
      <p style="margin-right:10%;" ion-text [hidden]="isValidLocation" color="danger" padding-left>
        {{errorMessageLocation}}
      </p>
    </div>
    <!-- <ion-card class="GenderCard">
      <ion-card-header>
        Gender
      </ion-card-header>
      <div class="MaleCheckBox">
        <ion-checkbox  [checked]="isGenderMale" item-start (click)="GenderTapped()" ></ion-checkbox>
      <ion-label >I am male</ion-label>
      </div>
      <div class="FemaleCheckBox">
        <ion-checkbox [checked]="!isGenderMale" item-end (click)="GenderTapped()"></ion-checkbox>
      <ion-label >I am female</ion-label>
      </div>
    </ion-card> -->

    <!-- <ion-list radio-group [(ngModel)]="customerGender" class="GenderList">
        <ion-item [ngClass]="isGenderMale ? 'SelectedMaleGender': 'maleGender' " id="maleGender" >
          
          <ion-radio value="male" checked="isGenderMale" (ionSelect)="genderMaleTapped()" ></ion-radio>
          <ion-label>I am male</ion-label>
        </ion-item>
        <ion-item  [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender' " class="femaleGender" id="femaleGender">
            
            <ion-radio value="female" checked="!isGenderMale" (ionSelect)="genderFemaleTapped()" ></ion-radio>
            <ion-label>I am female</ion-label>
          </ion-item>
      </ion-list> -->
  

      <ion-list radio-group [(ngModel)]="customerGender" class="GenderList">
        <ion-item [ngClass]="isGenderMale ? 'SelectedMaleGender':'maleGender' " >
            

          <ion-radio value="male" checked="isGenderMale" (ionSelect)="genderMaleTapped()" ></ion-radio>
          <ion-label>I am male</ion-label>
        </ion-item>
        <ion-item  [ngClass]="!isGenderMale ? 'SelectedfemaleGender': 'femaleGender'">
            
            <ion-radio value="female" checked="!isGenderMale" (ionSelect)="genderFemaleTapped()" ></ion-radio>
            <ion-label>I am female</ion-label>
          </ion-item>
      </ion-list>
  


    <div style="margin-bottom:20px;margin-top:20px;">

      <span  [hidden]="true" (click)="useCurrentLocation()" style="font-family: $Montserrat-Medium !important;font-size:15.6px;">

        Use my current location

      </span>
    </div>
    
    <div class="custom_button" (click)='OnCompleteActivation()'>
      <p style="padding:13px;">
        Complete Activation
      </p>
    </div>
  </ion-list>
</ion-content>