page-sing-up {
    .logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
        img {
            max-width: 150px;
        }
    }
    .list {
        margin-bottom: 0;
    }
    .custom_button {
        background: rgb(255, 95, 109);
        font-size: 3.97vw;
        font-family: "font-family: $Montserrat-MediumDisplay_Medium" !important;
        margin: 5%;
        color: white;
    }
    .inputStyle {
        margin-left: 10%;
        margin-right: 10%;
    }
    .ionContent {
        background-color: #F5F5F5;
        width: 100%;
        height: 100%;
    }
    .EnterActivationCode {
        font-size: 6.34vw;
        font-family: "font-family: $Montserrat-MediumDisplay_Semibold" !important;
        font-weight: 700;
        color: rgb(60, 60, 60);
    }
    .label {
        margin: 0;
    }
    ion-item.p {
        padding-left: 0;
    }
    .label-md {
        margin: 0px 0px 0px 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .cusrsor {
        height: 100%;
        width: 100%;
    }
    .headerLabel {
        position: absolute;
        bottom: 26px; // left:13.5px;
        text-align: center;
        font-size: 40px;
        font-family: "Artista" !important;
        color: white;
        width: 100%;
    }
    .text-input-ios {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    }
    .text-input-md {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    }
    .GenderCard {
        // background: red;
        text-align: left;
        margin-top: 0px;
        box-shadow: none;
        .card-header {
            padding: 0px;
            margin-bottom: 10px; // background: rgb(70, 67, 67);
            color: rgb(60, 60, 60);
            font-size: 6.34vw;
            font-family: "font-family: $Montserrat-MediumDisplay_Semibold" !important;
        }
        .MaleCheckBox {
            width: 50%;
            height: 4vh; // background: deeppink;
            margin-left: 0px;
            float: left;
            .label {
                // background: gold;
                width: 80%;
                height: 4vh !important;
                float: right;
                line-height: 20px;
                margin-right: 2px;
                font-size: 3.7vw;
                font-family: "font-family: $Montserrat-MediumDisplay_Semibold" !important;
            }
            .checkbox {
                .checkbox-icon {
                    // border-color: #ff5f6d;
                    // background-color: #ff5f6d;
                    .checkbox-inner {}
                }
            }
        }
        .FemaleCheckBox {
            width: 50%;
            height: 4vh; // background: dodgerblue;
            float: right;
            margin-left: 0px;
            .checkbox {
                .checkbox-icon {
                    // border-color: green;
                    // background-color: green;
                }
            }
            .label {
                // background: gold;
                width: 80%;
                float: right;
                height: 4vh !important;
                line-height: 20px;
                margin-right: 2px;
                font-size: 3.17vw;
                font-family: "font-family: $Montserrat-MediumDisplay_Semibold" !important;
            }
        }
    }
    .GenderList {
        padding: 0px !important;
        margin: 0px 16px 0px 16px !important;
        box-shadow: none;
        height: 8.23vh !important; // background: dodgerblue !important;
        .maleGender {
            box-shadow: none; // color: white;
            padding: 0px !important; // 
            margin: 2px !important;
            background: orange !important;
            float: left;
            width: 48%;
            .item-inner {
                // background: green !important;
                .input-wrapper {
                    .label {
                        color: white;
                        font-size: 3.97vw;
                        font-family: $Montserrat-Medium !important;
                        padding: 0px !important;
                        padding: 0px 0px 0px 0.5vh !important;
                    }
                }
            }
        }
        .femaleGender {
            background: orange !important;
            box-shadow: none; // margin-right: 1vh;
            padding: 0px !important;
            margin: 2px !important;
            float: right;
            width: 48%;
            .item-inner {
                .input-wrapper {
                    .label {
                        color: white;
                        font-size: 3.97vw;
                        font-family: $Montserrat-Medium !important;
                        padding: 0px 0px 0px 0.5vh !important;
                        padding: 0px;
                    }
                }
            }
        }
        .SelectedMaleGender {
            box-shadow: none;
            background: green !important;
            padding: 0px !important; // 
            margin: 2px !important;
            float: left;
            width: 48%;
            .item-inner {
                background: green !important;
                background: green !important;
                .input-wrapper {
                    .label {
                        color: white;
                        font-size: 3.97vw;
                        font-family: $Montserrat-Medium !important;
                        padding: 0px !important;
                        padding: 0px 0px 0px 0.5vh !important;
                    }
                }
            }
        }
        .SelectedfemaleGender {
            background: green !important;
            box-shadow: none; // margin-right: 1vh;
            background: white !important;
            padding: 0px !important;
            margin: 2px !important;
            float: right;
            width: 48%;
            .item-inner {
                // background: green !important;
                background: green !important;
                .input-wrapper {
                    .label {
                        // color: rgb(154, 154, 160);
                        color: white;
                        font-size: 3.97vw;
                        font-family: $Montserrat-Medium !important;
                        padding: 0px 0px 0px 0.5vh !important;
                        padding: 0px;
                    }
                }
            }
        }
    }
}