<ion-header id="productsIonHeaderID"
  [ngClass]=" slideOutNow === true ? 'ionHeader slide-Header-out' : 'ionHeader slide-Header-In'"
  [hidden]="shouldShowMiniHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-1>

    </ion-col>
    <ion-col col-6 no-padding no-margin class="colHheaderLabel">

      <ion-label text-wrap class="header-title">Shop</ion-label>

    </ion-col>
    <ion-col col-1 class="colCartImage" (click)="btnViewCartTapped()">
      <img src="./assets/imgs/cart.png" *ngIf="CartItems && CartItems.length > 0">
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <ion-row no-padding no-margin class="searchProductRow" *ngIf="!filterToggle">

    <ion-col col-1>
      <img class="search-img-margin-left" src="./assets/imgs/searchProdoct.png">
    </ion-col>
    <ion-col col-10>
      <ion-input clearInput [(ngModel)]="txtSearchProduct" (focusin)="shouldBeginEditing($event.target)"
        (focusout)="endEndEditing($event.target)" (keyup)="shouldChangeCharacter($event.target)"
        (keyup.enter)="handleReturnkey()" placeholder="Search Beauty Products"></ion-input>

    </ion-col>
    <ion-col col-1 *ngIf="isSearching">
      <div class="divBtnClose" (click)="btnClearSearchTapped()">
        <img item-right class="btnClose" src="./assets/imgs/close.png" />

      </div>
    </ion-col>
    <ion-col col-1 *ngIf="!isSearching">
      <div class="divBtnClose" (click)="btnShowProductSortingPageTapped()">

        <img item-right class="btnClose" src="./assets/imgs/sort-by-alphabet.png" />
      </div>
    </ion-col>

  </ion-row>
  <ion-row no-padding no-margin class="searchProductRow  test-2-class" *ngIf="filterToggle">

    <ion-col col-10>

      <ion-label no-padding no-margin *ngIf="!isProductsByCategory">Products by
        <span class="by-brand-in-category">
          {{selectFilterName}}
        </span>
      </ion-label>
      <ion-label no-padding no-margin *ngIf="isProductsByCategory">Products in
        <span class="by-brand-in-category">
          {{selectFilterName}}
        </span>
      </ion-label>

    </ion-col>
    <ion-col class="col-img-search" col-2 (click)="toggle()">
      <img src="./assets/imgs/searchProdoct.png">
    </ion-col>

  </ion-row>
  <!-- <ion-icon class="heart" (tap)="doAnimation($event)" ></ion-icon> -->

  <ion-scroll #scroll scrollY="true" class="SalonServicesSearchListingScroll" *ngIf="isSearching">
    <ion-card no-padding no-margin class="SalonServicesSearchCard">
      <ion-card-content no-padding no-margin *ngFor="let product of searhedProducts; let i=index;"
        (click)="btnSearchedProductTapped(product,i)">
        <div text-capitalize class="lblSalonOrServiceName" md-highlight-text="txtSearchStyles"
          [innerHTML]="highlight(product.p_name)">
        </div>
        <div class="in-product-cateogry" *ngIf="product.p_type === 1 ">(in {{product.pc_name}}) </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll>
  <ion-card hidden class="SalonServicesSearchCard" [hidden]="!isSearching"
    *ngFor="let product of searhedProducts; let i=index;" (click)="btnSearchedProductTapped(product,i)">
    <div text-capitalize class="lblSalonOrServiceName" md-highlight-text="txtSearchStyles"
      [innerHTML]="highlight(product.p_name)">
    </div>
    <div class="in-product-cateogry" *ngIf="product.p_type === 1 ">(in {{product.pc_name}}) </div>
  </ion-card>

</ion-header>

<!-- <ion-header id="miniHead" [hidden]="!shouldShowMiniHeader " class="miniHeader">
  <ion-row>
    <ion-col no-padding no-margin no-lines col-2 (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>

    <ion-col col-1>

    </ion-col>
    <ion-col no-padding no-margin no-lines col-6>
      <ion-label text-wrap class="header-title" *ngIf="selectedProductCategory">{{selectedProductCategory.pc_name}}
      </ion-label>
      <ion-label class="header-title" *ngIf="!selectedProductCategory">Shop</ion-label>
    </ion-col>
    <ion-col col-1 class="colCartImage" (click)="btnViewCartTapped()">
      <img src="./assets/imgs/cart.png" *ngIf="CartItems && CartItems.length > 0">
    </ion-col>

    <ion-col no-padding no-margin no-lines col-2 menuToggle>

      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>


  </ion-row>
</ion-header> -->

<ion-content class="baseContainer" (ionScroll)="scrollHandler($event)">

  <ion-row [hidden]="isSearching" class="BrowseCategoryRow">
    <ion-col col-6>
      <ion-row (click)="browseCategories()">
        <ion-col col-10>
          <ion-label text-wrap class="lbl-browse-category">View by categories</ion-label>
        </ion-col>
        <ion-col col-2 class="colCategoryImage">
          <img src="./assets/imgs/productCategoryIcon.png">
        </ion-col>

      </ion-row>
    </ion-col>

    <ion-col no-padding no-margin col-6>
      <ion-row no-padding no-margin (click)="browseBrands()">

        <ion-col no-padding no-margin col-10>
          <ion-label text-wrap class="lbl-browse-category">View by brands</ion-label>
        </ion-col>
        <ion-col col-2 class="colCategoryImage">
          <img src="./assets/imgs/productCategoryIcon.png">
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>
  <div [hidden]="true"
    *ngIf="isInShowingMoreProductMode || (isSearching && searhedProducts && searhedProducts.length > 0 )">
    <ion-label class="lbl-price-heading">
      Total Results:
      <span class="lblTotalResultValue">{{searhedProducts.length }}</span>
    </ion-label>
    <ion-label class="lblSeparator"></ion-label>
  </div>


  <ion-row [hidden]='true' class="bigSaleRow" [hidden]="true">
    <ion-col col-4 class="bigSaleRow-colimgBigSale">
      <img class="colimgBigSale-firstImage" src="./assets/imgs/Home.png" alt="">
      <img class="colimgBigSale-secondImage" src="./assets/imgs/leastTrends.png" alt="">
    </ion-col>
    <ion-col col-8 class="bigSaleRow-colBigSaleInfo">
      <ion-label no-padding no-margin class="colBigSaleInfo-lblBigsale">BIG SALE</ion-label>
      <ion-label no-padding no-margin class="colBigSaleInfo-lblBigsaleDescription">100s of beauty products on sale.
      </ion-label>
      <button no-padding no-margin ion-button>Shop Now</button>
    </ion-col>
  </ion-row>

  <ion-card no-padding no-margin class="productCard" *ngFor="let product of products let i=index;">
    <ion-label no-padding no-margin text-wrap class="lbl-product-name">{{product.p_name}}</ion-label>
    <ion-card *ngIf="product.p_description" no-lines no-padding no-margin id="productCard-seeMoreOptions"
      class="productCard-seeMoreOptions" (click)="expandCollapseSeeMoreOptions(product, i)">
      <ion-label [hidden]="product.isShowingSeeMoreOptions" no-lines no-padding no-margin
        class="lbl-product-description">
        {{product.p_description}}</ion-label>
      <img class="imgCollapsed" [hidden]="product.isShowingSeeMoreOptions" src="./assets/imgs/rightSwipe.png">
      <img class="imgExpanded" [hidden]="!product.isShowingSeeMoreOptions" src="./assets/imgs/downArrow.png">


      <div style="clear:both"></div>
      <div [hidden]="!product.isShowingSeeMoreOptions">
        <ion-label [hidden]="!product.isShowingSeeMoreOptions" text-wrap class="productDescription">
          {{product.p_description}}</ion-label>

      </div>

    </ion-card>

    <!-- <img src="./assets/imgs/dummy-Project.png" (click)="btnShowProductDetailTapped(product,i)"> -->
    <!-- <img [src]=productsImageURL+product.p_image (click)="btnShowProductDetailTapped(product,i)" onError="this.src='./assets/imgs/defaultProduct.jpg'"> -->
    <img class="product-image" [src]=productsImageURL+product.p_image
      onError="this.src='./assets/imgs/defaultProduct.jpg'" (tap)="productImageTapped($event,product)">

    <ion-row class="productPriceRow">
      <ion-col col-sm-8 col-md-6 col-lg-4 col-xl-3 text-wrap *ngIf="product.p_rrp > product.p_price "
        class="productPriceRow-productPriceColumn">
        <ion-label class="lbl-price-heading"> RRP:
          <span class="lbl-price-heading-value">{{currencySymbol}}{{product.p_rrp}}</span>
        </ion-label>
      </ion-col>
      <ion-col col-sm-8 col-md-6 col-lg-4 col-xl-3 text-wrap class="productPriceRow-productPriceColumn lblPrice">
        <ion-label class="lbl-price-heading">Price:
          <span class="lbl-price-heading-value seconndClass">{{currencySymbol}}{{product.p_price}}</span>
        </ion-label>
      </ion-col>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 text-wrap [hidden]="product.p_rrp - product.p_price <= 0"
        class="productPriceRow-productPriceColumn zz">
        <ion-label class="lbl-price-heading lblPrice">save:
          <span class="lbl-price-heading-value seconndClass">{{currencySymbol}}{{(product.p_rrp - product.p_price) |
            number : '0.0-0'}}</span>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row [hidden]='false' class="productByRow">
      <ion-col col-4>
        <ion-label text-wrap *ngIf="selectedProductListingCase !== 4" class="lbl-brand-by">by
          <span class="lbl-brand-by lbl-brand-name" (tap)="filterProductsByBrand(product)"> {{product.pb_name}}</span>
        </ion-label>
        <ion-label text-wrap *ngIf="selectedProductListingCase === 4" class="lbl-brand-by">in
          <span text-wrap class="lbl-brand-by lbl-brand-name" (tap)="filterProductsByCategory(product)">
            {{product.pc_name}}</span>
        </ion-label>
      </ion-col>
      <ion-col col-4>
        <button no-padding no-margin class="btn-share-product" ion-button (click)="btnShareWithMenuTapped(product)">
          <img src="./assets/imgs/defaultShare.png" alt="">
          Share
        </button>
      </ion-col>

      <ion-col col-4>
        <ion-card no-lines no-padding no-margin class="ratingCard">
          <rating [(ngModel)]="productRating" readOnly="true" max="5" class="withRating"
            emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
            (ngModelChange)="onModelChange($event)">
          </rating>
        </ion-card>


        <!-- <ion-label no-padding no-margin text-wrap class="lbl-brand-by noBorderClass ">Free Delivery by
          <span class="lblFreeDelieveryValue">TODAY, Nov 13</span>
        </ion-label> -->
      </ion-col>
    </ion-row>


    <!-- <ion-row class="ratingShareRow" no-padding>
      <ion-col col-6 no-padding>
        <ion-card no-lines no-padding no-margin class="ratingCard">
          <rating [(ngModel)]="productRating" readOnly="true" max="5" class="withRating" emptyStarIconName="star-outline"
            halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
          </rating>
        </ion-card>
      </ion-col>
      <ion-col col-6 no-padding>
        <button no-padding no-margin class="btn-share-product" ion-button (click)="btnShareWithMenuTapped(product)">
          <img src="./assets/imgs/defaultShare.png" alt="">
          Share
        </button>
      </ion-col>
    </ion-row> -->

    <!-- <ion-label class="btn-share-product">Share This Product on:</ion-label> -->



    <!-- <ion-label class="productCard-lblShareProductOn">Share This Product on:</ion-label>
    <button class="productCard-shareProductButton" ion-button (click)="btnShareFacebookTapped()">
      <ion-icon name="logo-facebook"></ion-icon>
      Share
    </button>
    <button class="productCard-shareProductButton twitter" ion-button (click)="btnShareTwitterTapped()">
      <ion-icon name="logo-twitter"></ion-icon>
      Share on Twitter
    </button>
    <button class="productCard-shareProductButton whatsapp" ion-button (click)="btnShareWhatsAppTapped()">
      <ion-icon name="logo-whatsapp"></ion-icon>
      Share
    </button> -->


    <div [hidden]="false"></div>
    <button [hidden]=true attr.id=isAddedtoCart_{{product.p_id}} ion-buton class="btn-add-to-cart"
      (click)="btnAddToCartTapped(product, i, $event)">{{product.isAddedtoCart}}</button>
    <button *ngIf="!product.isAddedtoCart" attr.id=product-id.{{product.p_id}} ion-buton class="btn-add-to-cart"
      (click)="btnAddToCartTapped(product, i, $event)">Add
      To Cart</button>
    <button *ngIf="product.isAddedtoCart" attr.id=product-id.{{product.p_id}} ion-buton class="btn-add-to-cart"
      (click)="btnAddToCartTapped(product, i, $event)">Added
      To Cart</button>
    <ion-label class="lblSeparator"></ion-label>
  </ion-card>
  <div class="seeMoreProductContainer" [hidden]="true">
    <!-- <ion-label class="seeMoreProductContainer-lblSeparator"></ion-label> -->
    <button [hidden]="!products || products.length === 0" ion-button no-padding
      class="seeMoreProductContainer-btnSeeMoreProducts" (click)="btnSeeMoreProductsTapped()">See
      More Products
      <ion-icon class="" name="arrow-forward"></ion-icon>
    </button>
    <ion-label [hidden]="!products || products.length === 0" class="seeMoreProductContainer-lblSeparator"></ion-label>
  </div>


  <div class="lblNoData" *ngIf="!isSearching &&noProductAvailable">
    <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
    <ion-label class="lblNothingFound" *ngIf="selectedProductCategory">No Product for
      {{selectedProductCategory.pc_name}}</ion-label>
    <ion-label hidden class="lblNothingFound" *ngIf="!selectedProductCategory">No such product in our shop </ion-label>
  </div>
  <ion-fab [hidden]="isSearching || (CartItems && CartItems.length === 0)" bottom right (click)="btnViewCartTapped()"
    class="FabBase" style="margin-right:5pt; margin-bottom:5pt;" *ngIf="CartItems && CartItems.length > 0">
    <button ion-fab color='light' class="fabButton">
      <img src="./assets/imgs/cart.png">

    </button>
    <ion-badge class="myBadge" *ngIf="CartItems"> {{CartItems.length}} </ion-badge>
  </ion-fab>


  <!-- <ion-scroll scrollY="true" class="SalonServicesSearchListingScroll" *ngIf="isSearching">
    <ion-card class="SalonServicesSearchCard">
      <ion-card-content *ngFor="let product of searhedProducts; let i=index;" (click)="btnSearchedProductTapped(product,i)">
        <div text-capitalize class="lblSalonOrServiceName" md-highlight-text="txtSearchStyles" [innerHTML]="highlight(product.p_name)">
        </div>
        <div class="in-product-cateogry" *ngIf="product.p_type === 1 ">(in {{product.pc_name}}) </div>
      </ion-card-content>
    </ion-card>
  </ion-scroll> -->
  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)" distance="1%" loaddingSpinner="bubble">
    <ion-infinite-scroll-content ng-if="hasMoreData"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!-- <ion-refresher (ionRefresh)="loadMoreProducts($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->


<!-- Some OLD Code DATED: Tue 27, 2018 -->
<!-- <ion-row class="productRow">

    <ion-col col-6 *ngFor="let product of products let i=index;" [ngClass]=" i%2 === 0 ? 'servicesColumnEven' : 'servicesColumnOdd' "
      no-padding no-margin (click)="btnShowProductDetailTapped(product,i)">

      <img class="serviceImage" [src]=productsImageURL+product.p_image onError="this.src='https://nopso.qwpcorp.com/apis_pk/products_images/default.png'" />
      <div class="proudctNameAndPrice">
        <div class="productName">{{product.p_name}}</div>
        <div class="productPrice">{{currencySymbol}} {{product.p_price}}</div>
      </div>

      <div class="ProductHeart">
        <img src="./assets/imgs/pfav.png">
      </div>
    </ion-col>
  </ion-row> -->