page-products {
    .scroll-content {
        // margin-top: 0pt !important; // margin-top: 50pt !important;
    }
    .heart {
        cursor: pointer;
        height: 100px;
        width: 100px;
        background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: 2900%;
    }
    .heart:hover {
        background-position: right;
    }
    .is_animating {
        animation: heart-burst .8s steps(28) 1;
    }
    @keyframes heart-burst {
        from {
            background-position: left;
        }
        to {
            background-position: right;
        }
    }
    $PrimaryColor: linear-gradient(to bottom,
    rgb(222, 32, 90),
    rgb(243, 91, 138));
    .miniHeader {
        height: 17.6vw;
        background: $Beautyapp-gradient-color; 
        animation: slideInHeader 0.5s 0s ease-in-out forwards;
        ion-row {
            // background: green;
            height: 100%;
            .backIcon {
                width: 9.2vw;
                height: 3.96vw; // 
                margin-top: 14px !important;
                margin-left: 4.4vw;
                z-index: 99999;
                transition: 0.2s linear;
                position: relative;
                top: 50% !important;
                transform: translateY(-50%) !important; // 
                // background: darkorange;
            }
        }
        .colCartImage {
            // background: dodgerblue;
            width: 5.88vw; // margin-top: 31pt !important;
            img {
                height: 6.7vw;
                width: 7.5vw;
                margin-top: 14px !important;
                float: right;
                position: relative;
                top: 50% !important;
                transform: translateY(-50%) !important; // 
            }
        }
        .menuIcon {
            width: 7.93vw;
            height: 4.5vw;
            position: relative;
            top: 50% !important;
            margin-top: 12px !important;
            right: 10px;
            float: right;
            transform: translateY(-50%) !important;
            z-index: 1;
            transition: 0.2s linear;
        }
        .header-title {
            color: #ffffff;
            font-family: $Montserrat-Bold !important;
            font-size: 5.29vw;
            width: 100%;
            margin-top: 14px !important;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%); // background: deeppink;
        }
    }
    .slide-Header-In {
        animation: slideInHeader 0.5s 0s ease-in-out forwards;
    }
    .slide-Header-out {
        animation: slideOutHeader 0.5s 0s ease-in-out forwards;
    }
    .ionHeader {
        // height:230px !important;
        background: $Beautyapp-gradient-color;
        .headerRow {
            margin-top: 15pt;
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 31pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deepskyblue;
                .header-title {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important; // font-size: 5.29vw;
                    font-size: 5.29vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colCartImage {
                background: transparent;
                width: 22px;
                margin-top: 31pt !important;
                img {
                    height: 19pt;
                    width: 22pt;
                    margin-top: -3px;
                    float: right;
                }
            }
            .menuIcon {
                width: 25pt;
                height: 11.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // background: green;
            }
        }
        .test-2-class {
            background: transparent !important;
            animation: cascadeInSimple 0.5s 0s ease-in-out forwards;
        }
        .searchProductRow {
            padding: none !important;
            margin: none !important;
            background: rgb(170, 33, 83);
            margin: 15px 12.5px !important;
            width: calc(100% - 25px) !important;
            border-radius: 5px; // animation: search-container-slide-out 0.5s 0s ease-in-out forwards;
            .col-img-search {
                &:first-of-type {
                    flex: 0 0 20%;
                } // background: rgb(170, 33, 83);
                // border-radius: 10px;
                // background: green;
            }
            img {
                position: relative;
                top: 25%;
                transform: translateY(-25%);
                left: 35%;
                transform: translateX(-35%);
                width: 25px;
                height: 25px;
            }
            .search-img-margin-left {
                margin-left: 8px !important;
            }
            ion-input {
                color: white !important;
                padding-left: 5px;
                font-size: 3.7vw;
                font-family: $montserrat-light;
            }
            ion-label {
                color: white !important; // padding-left: 10px;
                margin: 5px 5px !important;
                font-size: 4vw;
                padding: 5px;
                font-family: $montserrat-light;
                text-align: center;
            }
            .by-brand-in-category {
                font-family: $Montserrat-Bold;
                font-size: 4.5vw;
                text-align: center !important; // background: purple;
            }
            .text-input::-moz-placeholder {
                color: white;
                font-size: 3.7vw;
                ;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input:-ms-input-placeholder {
                color: white;
                font-size: 3.7vw;
                ;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
            .text-input::-webkit-input-placeholder {
                text-indent: 0;
                color: white;
                font-size: 3.7vw;
                ;
                padding-left: 5px;
                font-family: $montserrat-light;
            }
        }
    }
    .baseContainer {
        background: white;
    }
    .BrowseCategoryRow {
        background: rgb(238, 238, 238);
        width: 100%;
        .lbl-browse-category {
            color: rgb( 35, 31, 32);
            font-family: $Montserrat-SemiBold;
            font-size: 3.7vw;
            text-align: center;
            color: rgb(35, 31, 32);
            margin-left: 13px !important;
        }
        .colCategoryImage {
            border-right: 1px solid rgba(128, 128, 128, 0.5);
            img {
                width: 15px;
                height: 15px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                float: left !important;
                float: right;
            }
        }
    }
    .lbl-price-heading {
        margin-top: 15pt;
        padding-left: 15.5pt; // font-size: 4.4vw;
        font-size: 4.4vw;
        color: rgba(27, 27, 27, 0.9);
        font-family: $Montserrat-Bold;
        .lbl-price-heading-value {
            font-size: 4.4vw;
            text-align: left;
            letter-spacing: 0.3px;
            color: rgb(230, 74, 137);
            margin-top: 13pt;
            margin-bottom: 15pt;
            font-family: $Montserrat-Bold;
        }
    }
    .lblSeparator {
        width: 100% !important; //calc(100% - 10pt);
        // margin-left: 5pt;
        // margin-right: 5pt;
        background: rgb(184, 184, 184);
        margin-bottom: 15pt;
        height: 1pt;
    }
    .bigSaleRow {
        width: 100%;
        height: 100pt;
        background: rgb(227, 63, 73);
        .bigSaleRow-colimgBigSale {
            .colimgBigSale-firstImage {
                width: 41pt;
                height: 51px;
                float: left;
                margin-bottom: 10px !important;
                position: absolute;
                bottom: 0pt;
                left: 15pt;
                z-index: 99;
            }
            .colimgBigSale-secondImage {
                width: 41pt;
                height: 81px;
                float: right;
                margin-bottom: 10px !important;
                position: absolute;
                bottom: 0pt;
                right: 3pt;
                z-index: 99;
            }
        }
        .bigSaleRow-colBigSaleInfo {
            .colBigSaleInfo-lblBigsale {
                font-size: 4.93vw;
                color: white;
                width: 100%;
                text-align: center;
                font-family: $Montserrat-Bold;
            }
            .colBigSaleInfo-lblBigsaleDescription {
                color: white;
                font-size: 3.53vw;
                text-align: center;
                font-family: $montserrat-light;
            }
            button {
                width: 62pt;
                height: 21pt;
                background: white;
                border-radius: 10.5pt;
                color: rgb(227, 63, 73);
                letter-spacing: -0.03pt;
                padding: 4pt;
                font-size: 3vw;
                font-family: $Montserrat-Regular;
                margin-top: 4pt;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .productCard {
        background: white;
        width: calc(100% - 25pt);
        box-shadow: none;
        margin-left: 12.5pt;
        margin-right: 12.5pt;
        .product-image {
            height: auto;
            width: auto;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-height: 300px;
        }
        .productPriceRow {
            background: white;
            margin-top: 15px;
            .productPriceRow-productPriceColumn {
                border-right: 1px solid rgb( 96, 96, 96);
                .lbl-price-heading {
                    margin-top: 0pt;
                    padding-left: 0pt;
                    font-size: 3.7vw;
                    color: rgb(96, 96, 96);
                    font-family: $Montserrat-Bold;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    .lbl-price-heading-value {
                        font-size: 3.7vw;
                        text-align: left;
                        letter-spacing: 0.3px;
                        color: rgb(230, 74, 137);
                        margin-top: 13pt;
                        margin-bottom: 15pt;
                        font-family: $Montserrat-Bold;
                        text-decoration: line-through;
                    }
                }
            }
            .lblPrice {
                text-align: center !important;
                .seconndClass {
                    text-decoration: none !important;
                    color: rgb(205, 24, 24) !important;
                }
            }
            .zz {
                border-right: none;
            }
        }
        .productByRow {
            .lbl-brand-by {
                font-size: 3.88vw;
                font-family: $montserrat-light; // border-right: 1px solid rgb( 96, 96, 96);
                .lblFreeDelieveryValue {
                    font-size: 3.88vw;
                    font-family: $Montserrat-Regular;
                }
                .lbl-brand-name {
                    color: $lightPink !important;
                    border-right: none !important;
                }
            }
            .noBorderClass {
                border-right: none !important;
            }
            .btn-share-product {
                // display:inline-block !important;
                padding-top: 2px; // float: right;
                // width: 100%;
                height: 28px !important;
                position: relative; // right: 0pt !important;
                // margin-right: 0pt !important;
                background: white;
                top: 25%;
                transform: translateY(-25%);
                left: 25%;
                transform: translateX(-25%);
                color: rgb(230, 74, 137) !important;
                box-shadow: none !important; // border: 1px solid rgb(184, 184, 184);
                // margin-right: 15px;
                img {
                    float: left;
                    width: 12pt;
                    height: 12pt;
                    margin-right: 10px;
                }
            }
            .ratingCard {
                width: 100%;
                box-shadow: none;
                position: relative;
                top: 50%;
                transform: translateY(-50%); // background: blue;
                float: right;
                ul {
                    padding: 0pt;
                    margin-top: 2pt;
                    margin-bottom: 0pt;
                    background: transparent;
                    &.rating li {
                        padding: 3pt 0pt 0pt 0pt !important;
                        background: none;
                        color: rgb(230, 74, 137) !important;
                        ion-icon {
                            font-size: 4.76vw;
                        }
                    }
                }
                .ratingValue {
                    margin-top: 3pt;
                    margin-left: 10pt;
                    margin-right: 3pt;
                    float: left;
                    white-space: normal;
                    text-align: left;
                    font-size: 3.88vw;
                    font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-Medium !important;
                    color: rgb(230, 74, 137) !important;
                    position: relative; // background: red;
                }
                .withNoRating {
                    float: left;
                    margin-left: 16px;
                    position: relative; // background: chocolate;
                }
                .withRating {
                    float: left;
                    margin-left: 2px;
                    position: relative;
                    margin-top: 0pt;
                }
                .notEnoughRating {
                    text-align: left;
                    font-size: 3.17vw;
                    float: left;
                    white-space: normal;
                    font-family: $Montserrat-SemiBold !important;
                    color: rgb(150, 150, 150);
                    position: relative;
                    padding-left: 2pt;
                    margin-top: 3pt;
                    margin-left: 16px;
                    margin-bottom: 5pt;
                }
            }
        }
        .ratingShareRow {
            margin: 10px 0px;
        }
        .productCard-lblShareProductOn {
            padding-left: 3pt;
            color: rgb(35, 31, 32);
            font-size: 4.93vw;
            font-family: $Montserrat-Regular;
        }
        .productCard-shareProductButton {
            height: 35px;
            background: rgb( 73, 102, 182);
            ion-icon {
                margin-right: 5px;
            }
        }
        .twitter {
            background: rgb(60, 158, 234) !important
        }
        .whatsapp {
            background: rgb(37, 211, 102) !important;
        }
        .productCard-shareProductCard {
            background: red; // rgb(73, 102, 182);
            width: 100%;
            .shareProductCard-shareContent {
                // background: rgb(73, 102, 182);
                img {
                    width: 12px;
                    height: 12px;
                    background: gold;
                }
                ion-label {
                    display: inline-block;
                    width: auto;
                    height: 26px;
                    color: rgb(255, 255, 255);
                    margin-left: 6px;
                    font-size: 3.43vw;
                    font-family: $Montserrat-Regular;
                    // background: blueviolet;
                }
            }
        }
        .productCard-seeMoreOptions {
            background: white !important;
            width: 100%; // height: 60px;
            margin-bottom: 10px;
            box-shadow: none; // border: 1px solid rgba(96, 96, 96, 0.3px);
            padding-top: 16px;
            padding-bottom: 16px; // 
            // animation: cascadeOutSimple 1s 0s ease-in-out forwards;
            box-shadow: none;
            .lbl-product-description {
                float: left;
                width: 85%;
                position: relative;
                background: transparent;
                position: relative;
                left: 10px;
                top: 2px;
                background: transparent;
                font-size: 3.7vw;
                font-family: $Montserrat-Regular;
                color: rgb(96, 96, 96);
            }
            .imgCollapsed {
                float: right;
                width: 6px;
                height: 10px;
                background: transparent;
                position: relative;
                top: 4px;
                right: 10px;
            }
            .imgExpanded {
                float: right;
                width: 10px !important;
                height: 6px;
                background: transparent;
                position: relative;
                top: 4px;
                right: 10px;
            }
            .productDescription {
                padding: 10px !important;
                font-size: 3.7vw;
                ;
                clear: both;
                color: rgb(96, 96, 96);
                font-family: $Montserrat-Regular;
                animation: cascadeInSimple 0.5s 0s ease-in-out forwards;
            }
            .productCard-lblFaceVariantTitle {
                padding-left: 10px;
                font-size: 3.96vw;
                clear: both;
                color: rgb(35, 31, 32);
                font-family: $Montserrat-Regular;
            }
            .productCard-lblFaceVariant {
                display: inline-block;
                width: auto;
                height: 26px;
                background: rgb(239, 240, 245);
                padding: 10px;
                text-align: center;
                vertical-align: middle;
                line-height: 6px;
                border-radius: 3px;
                font-family: $montserrat-light;
                font-size: 3.7vw;
                ;
                margin-left: 10px;
                margin-top: 0px;
            }
            .seeMoreOptions-VariantRow {
                background: white;
                margin-top: 0px;
                img {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                ion-col {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    background: white;
                }
            }
            .seeMoreOptions-btnAddToCart {
                width: 130px;
                height: 35px;
                color: white;
                font-size: 3.7vw;
                ;
                font-family: $Montserrat-Regular;
                border-radius: 18px;
                background: $PrimaryColor;
                margin-left: 12px;
                margin-top: 10px;
            }
        }
        .btn-add-to-cart {
            // width: 140px;
            // height: 26pt;
            width: 35.4vw;
            height: 10vw;
            color: white;
            font-size: 3.7vw;
            font-family: $Montserrat-Regular;
            border-radius: 4.7vw;
            background: $PrimaryColor;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .productRow {
        width: 100%;
        .servicesColumnEven {
            margin-top: 15pt;
            border-left: rgb(238, 238, 238) solid 12pt;
            border-right: rgb(238, 238, 238) solid 8pt;
            width: 100% !important;
            background: #e3e4e8;
            .serviceImage {
                width: 163pt;
                height: 130pt;
            }
            .proudctNameAndPrice {
                background: white;
                .productName {
                    color: rgb(35, 31, 32);
                    font-size: 4.93vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: $Montserrat-Bold !important;
                    text-align: center; // 
                }
                .productPrice {
                    color: rgb(226, 78, 129);
                    font-size: 4.23vw;
                    font-family: $Montserrat-Bold !important;
                    text-align: center;
                }
            }
            .ProductHeart {
                background: rgb(226, 78, 129);
                width: 38pt;
                height: 38pt;
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 9pt;
                margin-top: 11pt;
                border-radius: 50% !important;
                img {
                    width: 16pt;
                    height: 16pt;
                }
                padding: 11pt;
            }
        }
        .servicesColumnOdd {
            margin-top: 15pt;
            border-right: rgb(238, 238, 238) solid 12pt;
            border-left: rgb(238, 238, 238) solid 8pt;
            width: 100% !important;
            background: #e3e4e8;
            .serviceImage {
                width: 163pt;
                height: 130pt;
            }
            .proudctNameAndPrice {
                background: white;
                .productName {
                    color: rgb(35, 31, 32);
                    font-size: 4.93vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: $Montserrat-Bold !important;
                    text-align: center; //
                    background: transparent;
                }
                .productPrice {
                    color: rgb(226, 78, 129);
                    font-size: 4.23vw;
                    font-family: $Montserrat-Bold !important;
                    text-align: center;
                }
            }
            .ProductHeart {
                background: rgb(226, 78, 129);
                width: 38pt;
                height: 38pt;
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 9pt;
                margin-top: 11pt;
                border-radius: 50% !important;
                img {
                    width: 16pt;
                    height: 16pt;
                    margin-top: 1pt;
                }
                padding: 11pt;
            }
        }
    }
    .SalonServicesSearchListingScroll {
        background: white !important;
        width: 100%;
        height: 80vh !important; // margin-top: 10px;
        margin-bottom: 15px;
        z-index: 100; // .btnTagObject {
        box-shadow: none !important; // background: green;
        .SalonServicesSearchCard {
            // margin-top: 15px !important;
            // margin-right: 5px !important;
            // margin: 10px 15px;
            padding: 0px !important;
            background: white; // width: 100% !important;
            // background: darkgoldenrod !important;
            // height: 100vh !important; // height: 100px !important;
            box-shadow: none;
            opacity: 1; // ion-card-content {
            //     height: 4.3vh;
            //     box-shadow: none; //
            //     //  background: deepskyblue;
            //     padding: 0px 0px 0px 10px !important; // background: transparent; // .imgHash {
            //     }
            .lblSalonOrServiceName {
                // margin-top: 4px;
                // margin-left: 0px !important; // height: 3.8vh !important;
                width: 100% !important; // line-height: 2.8vh;
                color: grey; // font-family: $Montserrat-Medium !important;
                padding: 4px 12px !important;
                font-family: $montserrat-light;
                font-size: 4.23vw;
                letter-spacing: 1px; // float: left; // 
                // background: chocolate;
                text-transform: capitalize !important;
            }
            .in-product-cateogry {
                padding: 4px 12px !important;
                width: 100%; // height: 10px;
            }
        }
    }
    .seeMoreProductContainer {
        margin-bottom: 30px;
        margin-top: 0px !important;
        .seeMoreProductContainer-btnSeeMoreProducts {
            color: rgb(230, 74, 137);
            font-size: 3.96vw;
            font-family: $Montserrat-Regular;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background: white; // margin-top: 10px;
            margin-bottom: 0px;
            ion-icon {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        .seeMoreProductContainer-lblSeparator {
            width: calc(100% - 25pt);
            margin-left: 12.5pt;
            margin-right: 12.5pt;
            background: rgb(184, 184, 184);
            height: 1pt;
        }
    }
    .lblNoData {
        width: 100%;
        padding-top: 20%;
        align-content: center;
        text-align: center;
        position: absolute;
        .imgNothingFound {
            width: 163px;
            height: 130px;
        }
        .lblNothingFound {
            align-content: center;
            text-align: center;
            height: 25pt;
            margin-top: 20pt; // background: green;
            line-height: 25pt;
            font-family: $Montserrat-Regular;
            font-size: 5.29vw;
        }
    }
    .FabBase {
        background: transparent !important;
        height: 40pt;
        width: 40pt;
        margin-bottom: 15pt !important;
        .fabButton {
            background: rgb(237, 111, 156);
        }
        .myBadge {
            background: white;
            position: fixed;
            float: right !important;
            right: 0 !important;
            z-index: 999999; // 
            font-weight: bold;
            padding-top: 6pt;
            border-radius: 50%;
            color: rgb(237, 111, 156); // font-family: $Montserrat-Bold !important;
            // font-size: 4.23vw;
            margin-right: 10pt !important;
            margin-top: -13pt !important;
        }
    }
    @keyframes cascadeInSimple {
        0% {
            opacity: 0;
            transform: translateX(-100px) // transform: scale(0.7);
        }
        100% {
            opacity: 1;
            transform: translateX(0px) // transform: scale(1);
        }
    }
    @keyframes cascadeOutSimple {
        0% {
            opacity: 1;
            transform: translateY(0px);
            transform: scale(1);
        }
        50% {
            opacity: 0.5;
            transform: translateY(-70px);
            transform: scale(0.7);
        }
        100% {
            opacity: 0;
            transform: translateY(-100px) // transform: scale(0.5);
        }
    }
    @keyframes search-container-slide-out {
        0% {
            opacity: 0;
            transform: translateX(100px); // transform: scale(1);
        } // 50% {
        //     opacity: 0.5;
        //     transform: translateX(50px); // transform: scale(0.7);
        // }
        100% {
            opacity: 1;
            transform: translateX(0px) // transform: scale(0.5);
        }
    }
    @keyframes slideInHeader {
        0% {
            opacity: 0;
            transform: translateY(-100px) // transform: scale(0.7);
        }
        100% {
            opacity: 1;
            transform: translateY(0px) // transform: scale(1);
        }
    }
    @keyframes slideOutHeader {
        0% {
            // opacity: 1;
            transform: translateY(0px) // transform: scale(0.7);
        }
        100% {
            // opacity: 0;
            transform: translateY(-100px) // transform: scale(1);
        }
    }
    .highlightText {
        color: black;
        font-size: 4.23vw;
        line-height: 23px;
        font-family: $Montserrat-Regular;
        text-transform: capitalize !important;
    }
    .divBtnClose {
        width: 30px !important;
        height: 30px !important;
        float: right;
        position: relative;
        top: 50%; // background: blue !important;
        transform: translateY(-50%);
        .btnClose {
            width: 14px !important;
            height: 14px !important;
            z-index: 1; // 
        }
    }
}