page-pin-action-sheet {
    .myHeader{
        height:44pt;
        background:orange;
        .backIcon {
            width: 29pt;
            height: 20.4pt;
            margin-top: 22.6pt;
            margin-left: 12.5pt;
            z-index: 9; // 
            background: transparent; 
            transition: 0.2s linear;
        }
        
    }
    // .BackButton {
    //     z-index: 9098; // background: green !important;
    //     position: fixed;
    //     .backIcon {
    //         width: 29pt;
    //         height: 20.4pt;
    //         margin-top: 28pt;
    //         margin-left: 12.5pt;
    //         z-index: 9; // 
    //         // background: green; 
    //         transition: 0.2s linear;
    //     }
    //     .backButton {
    //         width: 39pt;
    //         height: 26pt;
    //         position: absolute;
    //         margin-top: 28pt;
    //         margin-left: 12.5pt;
    //         z-index: 9999; // 
    //         // background: red;
    //     }
    // }
    .imgPin{
        margin-right: 10pt !important;
        margin-top: 0pt;
    }
    .lblSalonNearMe {
        font-size: 10.3pt;
        text-align: left;
        letter-spacing: 0.3px;
        color: rgba( 104, 104, 104, 0.9);
        margin-left: 10pt;
        margin-top: 13pt;
        margin-bottom: 15pt;
        font-family: $Montserrat-Medium; 
        .SalonKeyWord{
            font-size: 5.1vw;
            
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-Medium; 

        }
    }
    .salonCard {
        width: 100%; // background: red;
        margin-bottom: 0pt;
        background: rgb(255, 255, 255);
        box-shadow: none;
        .salonName {
            margin-top: 12pt;
            margin-left: 14.5pt;
            margin-right: 2pt;
            font-size: 4.5vw;
            width: calc(100% - 16.5pt);
            white-space: normal;
            overflow: hidden;
            color: rgb(67, 67, 67);
            font-family: $Montserrat-Medium; // font-family: $Montserrat-Bold !important;
        }
        .SalonAddress {
            // padding: 0 ;
            // margin: 0 ; 
            margin-top: 8pt;
            width: 100%;
            height: 15pt;
            margin-left: 14.5pt; // background: green;
            .lblAddress {
                font-size: 4.05vw;
                width: calc(100% - 88pt);
                line-height: 11.5pt;
                color: rgb(150, 150, 150);
                font-family: $Montserrat-Medium; // font-family: $Montserrat-Medium !important; // background: red;
                height: 15pt;
                float: left;
                margin-top: 0px;
            }
            .PinImageWithDistance {
                width: 41pt; //calc(100% - calc(100% - 88pt));
                height: 15pt;
                margin-right: 18.3pt ;
                float: right;
                font-family: $Montserrat-Medium;
                // background: green;
                .pinImage {
                    width: 5pt;
                    height: 7.5pt;
                    float: left;
                    position: relative;
                    right: 0;
                    margin-right: 0pt !important;
                    margin-top: 3.25pt;
                    // background: purple;
                }
                .pinDistance {
                    height: 10pt;
                    float: right;
                    font-size: 7.7pt;
                    letter-spacing: 0.4;
                    margin-top: 2.5pt;
                    margin-left: 0pt;
                    margin-right: 0pt;
                    color: rgb(255, 95, 109);
                    text-align: left;
                    // background: blue;
                    
                    
                }
            }
        }
        .imgFavoriteSalon {
            position: absolute;
            z-index: 99999999;
            width: 30px;
            height: 30px; // top: 50px;
            margin-top: 5px;
            margin-right: 5px;
            right: 15px;
        }
        .salBackImage {
            height: 218pt;
            width: 100%; // object-fit: fill;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0;
        }
        .starsParent {
            width: calc(100% - 34.5pt);
            height: 15pt; // position: relative;
            margin-top: -3pt !important;
            margin-left: 14.5pt;
            margin-right: 20pt;
            margin-bottom: 21pt; // background: deeppink;
            .star {
                width: 14.5pt;
                height: 13pt;
                margin-right: 4pt;
            }
        }
        .ServicesCard {
            // width: calc(100% - 88pt);
            width: 100%;
            margin-top: 8pt;
            margin-bottom: 8pt; // background: green;
            box-shadow: none;
            .lblServiceName {
                font-size: 10.3pt;
                width: calc(100% - ( 10pt + 38pt + 10pt + 8pt));
                height: 15pt;
                line-height: 15pt;
                margin-left: 13.5pt;
                color: rgb(77, 77, 77);
                font-family: $Montserrat-Medium; // 
                // background: gold;
                float: left;
                margin-top: 0px;
            }
            .lblServicePrice {
                font-size: 3.88vw;
                width: 45pt;
                height: 15pt;
                line-height: 15pt;
                margin-right: 3.3pt;
                color: rgb(27, 27, 27);
                font-family: $Montserrat-Medium; // 
                // background: red;
                text-align: right;
                float: right;
                margin-top: 0px;
            }
            .lblServiceTime {
                font-size: 8.3pt;
                width: 50pt;
                height: 8pt;
                line-height: 9pt;
                margin-left: 13pt;
                color: rgb(174, 174, 174);
                font-family: $Montserrat-Medium;
                margin-top: 2.3pt;
                margin-bottom: 2pt; // background: green;
            }
        }
        .BookAppointmentItem {
            width: 100%;
            height: 45pt;
            border-top-width: 1pt !important;
            border-top-color: rgba(167, 167, 167, 0.4);
            // border: 1px solid rgba(167, 167, 167, 0.4);
            
            background: rgb(255, 255, 255);
            .btnBookAppointment {
                width: 133.3pt !important;
                height: 24pt !important;
                border-radius: 1.7pt;
                position: relative;
                left: calc((100% - 133pt)/2);
                right: calc((100% - 133pt)/2);
                transform: translateX(-50);
                margin-top: 10.5pt;
                margin-bottom: 10.5pt;
                
                background: white;
                color: rgb(255, 95, 109);
                font-size: 10.3pt;
                font-family: 'montserrat-bold' !important;
                line-height: 15pt;
            }
        }
        .separator{
            background: #f5f5f5;
            width: 100%;
            height: 17.7pt;
        }
    }
    /*
    .ionHeader {
        height: 18.2vh;
        background: linear-gradient(0deg, rgba(255, 195, 113, 1), rgba(255, 95, 109, 1)) !important;
        .backIcon {
            width: 2.64vh;
            height: 3vh;
            position: fixed;
            display: block;
            top: 0; // padding: 0px;
            left: 1vh;
            margin-top: 6.2vh !important; // background: green;
            z-index: 1; // background: green;
        }
        .backButton {
            width: 55px;
            height: 35px;
            position: fixed;
            top: 0;
            display: block;
            left: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 1; //  background: red;
        } // .navBar {
        // height: 116px;
        // height: 14vh;
        // height: 18.2vh;
        // background: green;
        .menuButton {
            width: 55px;
            height: 35px;
            position: fixed;
            top: 0;
            display: block;
            right: 0;
            margin-top: 5vh !important; // background: red;
            color: white;
            z-index: 1; // background: red;
        }
        .menuIcon {
            // height: 13px;
            // width: 52px;
            height: 2vh;
            width: 6.5vh;
            position: fixed;
            top: 0; // padding: 0px;
            right: 5px;
            margin-top: 6.2vh !important; // background: green;
            z-index: 1; // background: green;
        } // }
        .headerLabel {
            position: absolute; // bottom:16px;
            top: 11.69vh;
            left: 2.63vh !important;
            text-align: center;
            font-size: 3.8vh !important;
            color: white;
            overflow: hidden;
            line-height: 40px; // letter-spacing: 0.5px;
            font-family: $Montserrat-Bold !important; // background: purple;
            // background: green;
            // width: 45vh !important;
        }
        .subHeader {
            font-size: 3.43vw;
            font-family: $Montserrat-Medium !important;
            color: rgb(253, 211, 176)
        }
    }
     */
    // .salonScrol {
    //     width: 100%; // border-radius: 100px !important;
    //     height: 100vh !important;
    //     // margin-top: 0px;
    //     margin-bottom: 15px;
    //     z-index: 100; // .btnTagObject {
    //     box-shadow: none !important;
    // margin-top: 5vh;
    // width: 100%; 
    // height: 100vh !important; // margin-top: 0px;
    // margin-bottom: 15px;
    // z-index: 100; // .btnTagObject {
    // box-shadow: none !important; // background: deeppink !important;
    // .fabButton {
    //     background: transparent !important;
    //     .fab {
    //         // background: blue !important;
    //         background: rgb(255, 111, 21);
    //         width: 40px;
    //         height: 40px;
    //         margin-top: 25px;
    //         // border: solid 2px white;
    //         .fab-close-icon {
    //             background: green !important;
    //         }
    //     }
    // }
    .salonListingCell {
        border-radius: 3px; // height: 377px;
        background: white; // width: calc(100% - 24px) !important;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 10px !important;
        background: rgb(245, 245, 245);
        height: 14vh !important;
        img {
            margin: 0px !important;
            width: 100% !important;
        }
        .lblSalonName {
            width: 80% !important;
            height: 3vh;
            padding: 0px 0px 0px 10px;
            font-size: 3.17vw;
            margin-top: 5px !important;
            font-family: $Montserrat-Medium !important;
            background: transparent !important;
            float: left !important;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-top: 0px;
        }
        .lblNextAvailableAppoTime {
            width: 100% !important;
            height: 3vh;
            padding: 0px 0px 0px 10px;
            font-size: 3.17vw;
            font-family: $Montserrat-Medium !important;
            background: transparent !important;
            float: left;
            line-height: 20px;
            margin-top: 0px;
        }
        .btnBookAppointment {
            width: 83% !important;
            height: 7vh !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 3%;
            margin-right: 3%;
            color: white !important;
            background: rgb(255, 111, 21);
            letter-spacing: 0.2px;
            font-size: 3.91vw !important;
            float: left;
        }
        .imgFavorite {
            width: 30px !important;
            height: 30px !important;
            margin-top: 3vh !important;
            margin-right: 10px !important;
            float: right; // background: green;
        }
        .distance {
            // background: dodgerblue !important;
            width: 50px !important;
            height: 3vh !important;
            margin-top: 5px !important;
            float: right;
            margin-right: 2px; // background: darkorchid;
            .imgPin {
                width: 11px !important;
                height: 15px !important;
                margin-top: 2px !important;
            }
            .distanceInMiles {
                // background: orange;
                font-size: 3.17vw;
                font-family: 'font-family: $Montserrat-MediumDisplay_Regular' !important;
            }
        }
    } // }

    .tipsPostCard {
        width: 100%;
        box-shadow: none;
        
        .salBackImage {
            height: 218pt;
            width: 100%; // object-fit: fill;
            background: $Beautyapp-gradient-color;
            position: relative;
            z-index: 0; // margin-top: 30pt;
        }
        .lblTipTitle {
            margin-left: 6pt;
            font-size: 16pt;
            color: rgba(27, 27, 27, 0.9);
            font-family: $Montserrat-SemiBold !important; // background: green;
        }
        .lblTipsDescription {
            color: rgba(60, 60, 60, 0.9);
            // max-height: 50pt !important;
            font-family: $Montserrat-Medium !important;
            margin-left: 6pt;
            margin-right: 6pt; //
            p {
                color: rgba(60, 60, 60, 0.9);
                font-family: $Montserrat-Medium !important;
                font-size: 4.5vw;
            }
        }
        .lblViewMore {
            position: relative;
            margin-right: 10pt !important;
            float: right;
            padding: 0pt;
            margin: 0pt;
            margin-bottom: 3pt;
            text-align: right;
            color: rgba(123, 117, 117, 0.9);
            font-size: 3.88vw;
            font-family: $Montserrat-Bold !important; // font-family: $Montserrat-SemiBold !important;
            background: transparent; // 
            
        }

        
        .lblBoldTextUrdu {
            margin-right: 6pt;
            text-align: right;
            
            font-size: 6.34vw;
            // color: rgba(27, 27, 27, 0.9);
            font-family: JameelNoori !important !important;
            color: brown;
            margin-top: 2pt;
        }
        .lblTipsDescriptionUrdu {
            color: rgba(60, 60, 60, 0.9);
            font-family: $jameel-noori !important;
            // max-height: 45pt !important;
            margin-left: 6pt;
            margin-right: 6pt;
            text-align: left;
            margin-bottom: 10pt;
            
            p, div {
                color: rgba(60, 60, 60, 0.9);
                font-family: $jameel-noori !important;
                font-size: 16pt;
                text-align: right;
                // background: grey;
            }
        }
        .lblViewMoreUrdu {
            position: relative;
            margin-left: 10pt !important;
            float: left;
            padding: 0pt;
            margin: 0pt;
            margin-top: 5pt;
            margin-bottom: 5pt;
            text-align: right;
            color: black; //rgba(123, 117, 117, 0.9);
            font-size: 4.92vw;
            font-weight: bold;
            font-family: $jameel-noori !important;
            background: transparent; //
            // background: green !important;
        }
    }
}

.PopOverClass {
    // background: deeppink !important;
    width: 100% !important;
    height: 100vh !important;
    .popover-wrapper {
        // background: deeppink !important;
        width: 100% !important;
        height: 100vh !important;
        .popover-content {
            top: 0% !important;
            right: 0% !important;
            bottom: 0% !important;
            left: 0% !important;
            width: 100% !important;
            height: 100vh !important;
            transform-origin: left top 0px;
        }
    }
}