<ion-header class="ion-header font-for-header" no-border>
  <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
    <img class="backIcon" src="./assets/imgs/bback_old.png" />
  </ion-col>
  <img class="app-logo-in-header" src="./assets/imgs/logo-white.png" alt="">
</ion-header>


<ion-content class="ionContent" style="background:#ffffff">
  <div (click)='contentClick()'>

    <!-- <div hidden></div> -->

    <ion-label  class="EnterActivationCode font-for-sub-header">
      Enter activation code </ion-label>

    <ion-label class="EnterActivationCode font-for-sub-header-content " >
      Please enter the code we have just sent. to..1 </ion-label>
    <ion-label class="EnterActivationCode" style="font-size:18px; "> {{ phone_number}} </ion-label>


      <ion-input #inputPhoneNumberForOTP style=" margin: 5%; padding: 10px !important;" class="input-otp-phone-auth"
        type="tel" maxlength="11" pattern="123" pattren="^[0-9]" [(ngModel)]="customerOtp" (keyup)="OnValueEnter($event.target.value)"
        [(ngModel)]="username"></ion-input>





    <!-- <ion-row class="otp-number-row">
    <ion-col>


      <ion-input #inputFirstDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]" [(ngModel)]="otpFirstDigit"
        (focusout)="endEndEditing($event.target)" (keyup)="firstDigitTapped($event.target.value)"></ion-input>

    </ion-col>
    <ion-col>
      <ion-input #inputSecondDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
        [(ngModel)]="otpSecondDigit" (focusout)="endEndEditing($event.target)" (keyup)="secondDigitTapped($event)"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input #inputThirdDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]" [(ngModel)]="otpThirdDigit"
        (focusout)="endEndEditing($event.target)" (keyup)="thirdDigitTapped($event)"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input #inputForthDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]" [(ngModel)]="otpForthDigit"
        (focusout)="endEndEditing($event.target)" (keyup)="forthDigitTapped($event)"></ion-input>
    </ion-col>
  </ion-row> -->

    <!--  -->
    <!-- <ion-row class="otp-number-row">
        <ion-col>

          <ion-item no-padding no-margin>
            <ion-label></ion-label>
            <ion-input #inputFirstDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
              [(ngModel)]="otpFirstDigit" (keyup)="firstDigitTapped($event.target.value)"></ion-input>
    
          </ion-item>
    
        </ion-col>
        <ion-col>
          <ion-item no-padding no-margin>
            <ion-label></ion-label>
            <ion-input #inputSecondDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
              [(ngModel)]="otpSecondDigit" (keyup)="secondDigitTapped($event)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding no-margin>
            <ion-label></ion-label>
    
            <ion-input #inputThirdDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
              [(ngModel)]="otpThirdDigit" (keyup)="thirdDigitTapped($event)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding no-margin>
            <ion-label></ion-label>
            <ion-input #inputForthDigit class="otp-input" type="tel" maxlength="1" pattern="123" pattren="^[0-9]"
              [(ngModel)]="otpForthDigit" (keyup)="forthDigitTapped($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->




    <div class="didntReceivedCode">
      <ion-label class="notReceivedText">
        Didn't receive the code?
        <!-- [disabled]="objAuthCodeValidtion && objAuthCodeValidtion.isUserBlocked" -->
        <span class="resendCode" (tap)="resendActivationCode()">
          Resend code
        </span>
      </ion-label>
    </div>




    <!-- <div class="container" (click)="onClick($event)">
    <div class="item ttest" (click)="number1($event,1)">
      <p class="Numbers"> 1 </p>
    </div>
    <div class="item ttest" (click)="number1($event,2)">
      <p class="Numbers"> 2 </p>
    </div>
    <div class="item ttest" (click)="number1($event,3)">
      <p class="Numbers"> 3 </p>
    </div>

    <div class="item" (click)="number1($event,4)">
      <p class="Numbers"> 4 </p>
    </div>
    <div class="item" (click)="number1($event,5)">
      <p class="Numbers"> 5 </p>
    </div>
    <div class="item" (click)="number1($event,6)">
      <p class="Numbers"> 6 </p>
    </div>

    <div class="item" (click)="number1($event,7)">
      <p class="Numbers"> 7 </p>
    </div>
    <div class="item" (click)="number1($event,8)">
      <p class="Numbers"> 8 </p>
    </div>
    <div class="item" (click)="number1($event,9)">
      <p class="Numbers"> 9 </p>
    </div>

    <div class="itemLast" (click)="clearInput()">
      <p class="Numbers">
        <img style="height:20px; width:20px;" src="./assets/imgs/reset_keyboard.png">

      </p>
    </div>

    <div class="item" (click)="number1($event,0)">
      <p class="Numbers">
        0
      </p>
    </div>
    <div class="itemLast" (click)="clearLastIndex()">
      <p class="Numbers">
        <img style="height:30px; width:30px;" src="./assets/imgs/clear_keyboard.png">
      </p>
    </div>

  </div> -->
  </div>
</ion-content>
<!-- <ion-footer>

  <ion-row class="keyboard-row" (click)="onClick($event)">
    <ion-col col-4 class="keyboard-numbers" *ngFor="let item of items let i=index;" (click)="number1($event,item)">
      <ion-label *ngIf="!( i === 9 || i === 11) " class="label-digit">{{item}}</ion-label>
      <img *ngIf="i === 9" class="img-reset" src="./assets/imgs/reset_keyboard.png">
      <img *ngIf="i === 11" style="height:30px; width:30px;" src="./assets/imgs/clear_keyboard.png">
    </ion-col>
  </ion-row>
</ion-footer> -->

<!-- <ion-footer>
  <ion-row>
    <ion-col col-4 class="tcol" *ngFor="let item of items let i=index;">
      <ion-label *ngIf="!( i === 9 || i === 11) " class="tNum" (click)="number1($event,item)">{{item}}</ion-label>
      <img *ngIf="i === 9" style="height:30px; width:30px;" src="./assets/imgs/reset_keyboard.png" (click)="clearInput()">
      <img *ngIf="i === 11" style="height:30px; width:30px;" src="./assets/imgs/clear_keyboard.png" (click)="clearLastIndex()">
    </ion-col>
  </ion-row>

</ion-footer> -->