page-subcategories-pop-over {
    // .stylesCategoriesCard {
    //     width: calc(100% - 10pt);
    //     margin-right: 5pt;
    //         margin-left: 5pt;
    //     margin-left: 0pt !important;
    //     margin-right: 0pt !important;
    //     background: rgb(245, 245, 245);
    //     background: red;

    .slidesContainer {
        width: 100%; // border-radius: 100px !important;
        height: 350pt !important;
        margin-top: 0px;
        // overflow-y: auto;
        display: flex;
    flex-direction: column;
        // margin-bottom: 15px;
        // z-index: 100; // .btnTagObject {
        box-shadow: none !important;
            background: rgb(235, 235, 235);
        .stylesCategoriesCardContent {
            overflow-y: hidden;
  overflow-x: scroll;
            width: 100% !important;
            // width: calc(100% - 10pt);
                // margin-right: 5pt;
            // margin-left: 5pt;
            height: 28.3pt !important;
            background: rgb(255, 255, 255);
            // background: green;
            margin-top: 1pt;
            margin-bottom: 1pt;
            
            .subCategoryName {
                width: calc(100% - 58.3pt - 15pt) !important; // width: 180pt; // margin-top: 10pt !important; 
                color: rgba(27, 27, 27, 0.9);
                font-size: 4.23vw;
                font-family: $Montserrat-Medium;
                // background: deeppink;
                text-align: left;
                padding-left: 10pt;
                margin-right: 19pt;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.subCategoryPopOverClass {
    background: transparent !important;
    .popover-wrapper {
        background: transparent !important;
        .popover-content {
            overflow-y: auto;
           background: transparent !important;
            width: calc(100% - 20pt);
            max-height: 150pt;
            transform-origin: left top 0px;
            left: 10pt !important;
            right: 10pt !important;
            
        }
        .popover-arrow{
            width: 0pt !important;
            height: 0pt !important;
        }
    
}
}