
<ion-content>
    
    <!-- <ion-card no-padding no-margin no-border class="stylesCategoriesCard"  > -->
        <!-- <ion-card no-padding no-margin no-border class="stylesCategoriesCard"  > -->

    <!-- <ion-scroll scrollY="true" no-padding no-margin no-border class="stylesCategoriesCardContent" *ngFor="let item of subStyles let i=index;"
        (click)="presentPopover($event)">
        <ion-label no-padding no-margin text-wrap class="subCategoryName">{{item["ssc_name"]}}</ion-label>
    </ion-scroll> -->


    <ion-scroll scrollY="true" class="slidesContainer" id="button">
    <ion-card-content no-padding no-margin no-border class="stylesCategoriesCardContent" *ngFor="let item of subStyles let i=index;"
    (click)="presentPopover($event)">
    <ion-label no-padding no-margin text-wrap class="subCategoryName">{{item["ssc_name"]}} {{scrollHeight}} </ion-label>
</ion-card-content>
    </ion-scroll>
<!-- <ion-list overflow-scroll="true" no-padding no-margin no-border class="stylesCategoriesCardContent" *ngFor="let item of subStyles let i=index;" (click)="presentPopover($event)">
            <ion-label no-padding no-margin text-wrap	 class="subCategoryName">{{item["ssc_name"]}}</ion-label>
          </ion-list> -->
<!-- </ion-card> -->
    <!-- </ion-card> -->

</ion-content>
