<ion-header class="ionDefaultHeader" >
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">{{selectedBeautyTipsCategory.btc_name}}</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>
  <div hidden class="BaseGenderSegment" no-margin no-padding >
    <ion-segment  no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
      <ion-segment-button  value="English" (click)="postsInEnglishTapepd()">English</ion-segment-button>
      <ion-segment-button  value="Urdu" (click)="postsInUrduTapepd()">Urdu</ion-segment-button>
    </ion-segment>
    <ion-card no-padding no-margin no-lines class="sliderContainer">
      <ion-card-content no-padding no-margin no-lines class="slider" id="cba">
      </ion-card-content>
    </ion-card>
  </div>
</ion-header>
<ion-content fullscreen #myContent>
    


    <div class="genderSelection"> 
        <div class="BaseGenderSegment" no-margin no-padding>
          <ion-segment no-padding no-margin no-lines [(ngModel)]="GenderBasedTrends" class="GenderSegement">
            <ion-segment-button value="English" (click)="postsInEnglishTapepd()">English</ion-segment-button>
            <ion-segment-button value="Urdu" (click)="postsInUrduTapepd()">Urdu</ion-segment-button>
          </ion-segment>
          <ion-card no-padding no-margin no-lines class="sliderContainer">
            <ion-card-content no-padding no-margin no-lines class="slider_btd" id="slider_btd">
            </ion-card-content>
          </ion-card>
        </div>
      </div>
  <div class="feature-item-image">
      <img class="heroArticleImage"   onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" [src]=selectedBeautyTip.bt_imageUrl>
   </div>
   <div class="heroArticleContent" >
    <div class="heroArticleBottomContent">
      <div *ngIf="shouldShowPostsInEnglish">
        <ion-label no-lines no-padding no-margin text-wrap class="lblTitle"> {{selectedBeautyTip.bt_title}} </ion-label>
        <ion-label no-lines no-padding no-margin text-wrap class="lblDescription">
        </ion-label>
      </div>
      <div *ngIf="!shouldShowPostsInEnglish" class="urduTitle">
        <ion-label no-lines no-padding no-margin text-wrap class="lblTitleUrdu"> {{selectedBeautyTip.bt_title_urdu}}
        </ion-label>
        <ion-label no-lines no-padding no-margin text-wrap class="lblDescription">
        </ion-label>
      </div>
      <ion-card hidden no-lines no-padding no-margin class="ratingCard">
        <rating [(ngModel)]="myRating" readOnly="true" max="5" class="withRating" emptyStarIconName="star-outline"
          halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
        </rating>
      </ion-card>
    </div>
</div>
  <ion-card no-padding no-margin no-lines class="tipsPostCard">
      <div class="tipShare">
          <div class="shareBox"   >
          </div>
          <div class="shareBoxRight" (click)="btnShareTapped(selectedBeautyTip)">
            <div class="share-section"  >
              <div class="share-section-contents">
                <div class="share-icon" >
                  <img src="./assets/imgs/share_tips.png" />
                </div>
                <div class="share-lbl" >
                  Share
                </div>
              </div>
            </div>
          </div>
        </div>
    <div *ngIf="shouldShowPostsInEnglish">
      <!-- <img  hidden  class="salBackImage" [src]=tipDetail.bt_imageUrl (click)="postImageTapped(tipDetail,$event)" />
      -->
      <ion-label no-padding no-margin no-lines text-wrap class="lblTipTitle">
        {{selectedBeautyTip.bt_short_description}} 
      </ion-label>
      <ion-label no-padding no-margin no-lines text-wrap #ibt_test_test class="lblTipsDescription" [innerHtml]='selectedBeautyTip.bt_description'>
        <!-- {{selectedBeautyTip.bt_description}} -->
      </ion-label>
    </div>
    <div *ngIf="!shouldShowPostsInEnglish">
      <ion-label no-padding no-margin no-lines text-wrap class="lblTipTitleUrdu">{{selectedBeautyTip.bt_short_description_urdu}} </ion-label>
      <ion-label no-padding no-margin no-lines text-wrap class="lblTipsDescriptionUrduNew" [innerHtml]='selectedBeautyTip.bt_description_urdu'></ion-label>
    </div>
    <div class="tipShare">
        <div class="shareBox">
        </div>
        <div class="shareBoxRight" (click)="btnShareTapped(selectedBeautyTip)">
          <div class="share-section"  >
            <div class="share-section-contents">
              <div class="share-icon" >
                <img src="./assets/imgs/share_tips.png" />
              </div>
              <div class="share-lbl">
                Share
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-card>
  <!-- // Similler tips categories English-->
  <!-- <ion-row *ngIf="shouldShowPostsInEnglish"  class="beautyTipRow" no-padding no-margin>
    <ion-col no-padding no-margin col-6  *ngFor="let tipDetail of twoBeautyTips let i=index;" [ngClass]=" i%2 === 0 ? 'beautyTipColumnEven' : 'beautyTipColumnOdd'"
      (click)="categoryClicked(tipDetail,i)">
      <ion-label class="lblBeautyTag">{{tipDetail.btc_name}}</ion-label>
      <img class="serviceImage" [src]=tipDetail.bt_imageUrl onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" />
      <ion-label no-padding no-margin text-wrap class="lblShortDescription">{{tipDetail.bt_title}} </ion-label>
      <ion-label no-padding no-margin text-wrap class="lblFullDescription">{{tipDetail.bt_short_description}}</ion-label>
    </ion-col>
  </ion-row> -->
  <!-- //2 Similler tips categories English-->
  <div class="lstContent" ion-row *ngIf="shouldShowPostsInEnglish && twoBeautyTips">
    <div class="MazeedParhe"> More Similar Articles</div>
    <ion-list *ngFor="let tipDetail of twoBeautyTips let i=index;" (click)="categoryClicked($event, tipDetail,i)" class="listingContent"
      no-padding no-margin>
      <!-- <ion-item no-lines no-margins no-padding class="unFeaturedItem" (click)='findNextPage(item)'> -->
      <div>
        <div class="imageContent">
          <img style="background:black;" no-lines no-margins no-padding item-left class="unFeaturedImage" [src]=tipDetail.bt_imageUrl
            onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" /><br>
        </div>
        <div class="otherContent">
          <div class="lblTitle">
            <span class="tagStyle" (click)="beautyTipClicked($event,tipDetail,i)"> {{tipDetail.btc_name}} / </span>
            {{tipDetail.bt_title}}
          </div>
        </div>
        <div class="separator">
        </div>
      </div>
      <!-- </ion-item> -->
    </ion-list>
  </div>
  <!-- //2 Similler tips tips categories Urdu-->

  <!-- // Similler tips categories Urdu-->
  <!-- <ion-row *ngIf="!shouldShowPostsInEnglish && selectedBeautyTip.bt_title_urdu && selectedBeautyTip.bt_title_urdu.length > 0" class="beautyTipRow" >
      <ion-col no-padding no-margin col-6  *ngFor="let tipDetail of twoBeautyTips let i=index;" [ngClass]=" i%2 === 0 ? 'beautyTipColumnEven' : 'beautyTipColumnOdd'"
      (click)="categoryClicked(tipDetail,i)">
      <ion-label class="lblBeautyTag">{{tipDetail.btc_name}}</ion-label>
      <img class="serviceImage" [src]=tipDetail.bt_imageUrl onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" />
      <ion-label style="font-family: $jameel-noori !important; " no-padding no-margin no-lines text-wrap class="lblBoldTextUrdu">{{tipDetail.bt_title_urdu}}</ion-label>
      <ion-label style="font-family: $jameel-noori !important; " no-padding no-margin no-lines text-wrap class="lblTipsDescriptionUrdu">{{tipDetail.bt_short_description_urdu}}</ion-label>
    </ion-col>
    </ion-row> -->
  <!-- //2 Similler tips categories Urdu-->
  <div class="lstContentUrdu" *ngIf="!shouldShowPostsInEnglish && twoBeautyTips">
    <div *ngIf="twoBeautyTips" class="MazeedParhe"> مزیدمضمون پڑھیں۔ </div>
    <ion-list *ngFor="let tipDetail of twoBeautyTips let i=index;" (click)="categoryClicked($event, tipDetail,i)" class="listingContent"
      no-padding no-margin>
      <!-- <ion-item no-lines no-margins no-padding class="unFeaturedItem" (click)='findNextPage(item)'> -->
      <div>
        <div class="imageContent">
          <img style="background:black;" no-lines no-margins no-padding item-left class="unFeaturedImage" [src]=tipDetail.bt_imageUrl
            onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" /><br>
        </div>

        <div class="otherContent">

          <div class="lblTitle">
            <span class="tagStyle" (click)="beautyTipClicked($event,tipDetail,i)"> {{tipDetail.btc_name}} / &nbsp;
            </span> {{tipDetail.bt_title_urdu}}
          </div>

        </div>
        <div class="separator">

        </div>
      </div>
      <!-- </ion-item> -->
    </ion-list>
  </div>
  <!-- //End 2 Similler tips categories Urdu-->


  <!-- // here paste 2 More Categories  -->
  <ion-label class="moreOnBeautyTips"> More Beauty Tips On </ion-label>
  <ion-row class="servicesRow">
    <ion-col col-4 class="servicesColumn" *ngFor="let beautyTip of beautyTips let i=index;" no-padding no-margin
      (click)="beautyTipClicked($event,beautyTip,i)">
      <div class="serviceName">
        <img class="serviceImage" [src]=categoryImageUrl+beautyTip.btc_image onError="this.src='https://nopso.qwpcorp.com/apis_pk/beautytips_images/default.png'" /><br>

        {{beautyTip.btc_name}}
      </div>
    </ion-col>
  </ion-row>
  <div class="lblNoData" *ngIf="noStyleFound">
    <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
    <ion-label class="lblNothingFound">No beauty Tips for {{selectedBeautyTipsCategory.btc_name}}</ion-label>
  </div>

 </ion-content>