<ion-header class="ion-header font-for-header" no-border>
  <img class="app-logo-in-header" src="./assets/imgs/logo-white.png" alt="">
</ion-header>

<ion-content class="" style="background:#ffffff">
 
    <p style="padding:0; margin:0; margin-top: 5vh !important;" class="EnterActivationCode font-for-sub-header">
      Activate BeautyApp
    </p>
    <ion-label text-wrap class="EnterActivationCode  font-for-sub-header-content" style="font-size:18px; margin-top: 8px; ">
      Please enter your phone number
    </ion-label>
    <div style=" margin: 5%;">
      <ion-input #inputPhoneNumberForActivation class="font-for-sub-header-content" type="tel" maxlength="11" pattern="123" pattren="^[0-9]" [(ngModel)]="customerPhoneNumber" (keyup)="OnValueEnter($event.target.value)"
        placeholder="0300000000"  style="  background: rgb(235, 235, 235); font-size:15.6px;" [(ngModel)]="username"></ion-input>
  </div>
        <!-- <div style=" margin: 5%;"> -->
      <!-- <ion-item>
        <ion-label></ion-label>

        <ion-input #inputPhoneNumberForActivation class="font-for-sub-header-content" type="tel" maxlength="11"
          pattern="123" pattren="^[0-9]" [(ngModel)]="customerPhoneNumber" (focusout)="endEndEditing($event.target)" (keyup)="OnValueEnter($event.target.value)"
          placeholder="0300000000" style="  background: rgb(235, 235, 235); font-size:15.6px;" [(ngModel)]="username">
        </ion-input>
      </ion-item> -->
      <p style="margin: 5%;" ion-text [hidden]="isValid" color="danger" padding-left>
        {{errorMessage}}
      </p>
    <!-- </div> -->

    <button style="text-transform: none;" [disabled]="!isenabledNextbutton" ion-button
      class="lblLogin" (click)="sendActivationClickEvent()"> Continue.. </button>
</ion-content>