page-activate-salon {
    .ion-header {
        background: white;
        height: 116px !important;
        box-shadow: none !important;
        .app-logo-in-header {
            box-shadow: none !important;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0pt !important;
            margin-bottom: 0pt !important;
        }
        box-shadow: none;
    }
    
    .logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
        img {
            max-width: 150px;
        }
    }
    .list {
        margin-bottom: 0;
    }
    .custom_button {
        width: calc(100% - 30px) !important;
        min-height: 6vh;
        background: rgb(255, 95, 109);
        margin: 15px;
        color: white;
        font-size: 3.97vw;
    }
    .inputStyle {
        margin-left: 10%;
        margin-right: 10%;
    }
    .ionContent {
        background-color: #F5F5F5;
        width: 100%;
        height: 100%;
    }
    .margin-class{
        
    }
    .EnterActivationCode {
        font-size: 6.34vw;
        color: rgb(60, 60, 60);
        // background: green;
        width: 80%;
        margin: 0px 10% !important;
        text-align: center;
        
    }
    .label {
        margin: 0;
    }
    ion-item.p {
        padding-left: 0;
    }
    .label-md {
        margin: 0px 0px 0px 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .cusrsor {
        height: 100%;
        width: 100%;
    }
    .header_border {
        width: 2px;
        height: 100%;
        height: 100%;
        background-color: red;
    }
    .text-input-ios {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    }
    .text-input-md {
        margin: 11px 8px 11px 0;
        padding: 5px 5px 5px 10px;
        width: calc(100% - 8px);
    }
    .lblLogin {
        padding-right: 30px !important;
        padding-left: 10px !important;
        padding-bottom: 10px !important; // background: black !important;
        font-size: 4.7vw !important;
        font-family: $montserrat-light !important; // text-decoration: underline !important;
        // margin-left: 10px !important;
        color: #ea3f49 !important;
    }
}