page-favourite-fashions-trends {
    
    .miniHeader-dt {
        height: 50pt;
        background-image: $Beautyapp-gradient-color;
        
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }  
    }

    .ionHeader-dt {
        width: 100%;
        z-index: 999;
        position: relative;
        background-image: $Beautyapp-gradient-color;
       // background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
        .BaseGenderSegment {
            //background: white !important;
               width: calc(100% - 30pt);
               margin-left: 15pt;
               margin-right: 15pt;
               height: 40.5pt; // position: absolute;
               // bottom: 0;
               padding-bottom: 2px !important;
               // top: 0 ;
               margin-top: 20pt; // bottom: -23.5pt;
               border-radius: 24.5pt; // z-index: 99999 !important;
               // margin-bottom: 15pt !important;
               .GenderSegement {
                   background: transparent !important;
                   width: 100%;
                   height: calc(100% - 5pt);
                   margin-bottom: 0pt !important;
                   .segment-button {
                       height: 25pt;
                       background: transparent !important;
                       border-color: transparent !important;
                       margin-top: 0pt !important;
                       margin-bottom: 0pt !important;
                       line-height: 25pt !important;
                       //color: rgb(35, 31, 32);
                       color:  white !important;
                       font-size: 3.97vw;
                       line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                       font-family: $Montserrat-Regular;
                   }
                   .segment-button.segment-activated {
                       height: 25pt;
                       line-height: 25pt !important;
                       margin-bottom: 0pt !important;
                    //   color: rgb(35, 31, 32);
                       color:  white !important;
                       font-size: 4.5vw;
                       font-family: $Montserrat-Regular;
                       line-height: 30pt !important;
                   }
               }
               .sliderContainer {
                   margin-left: 22pt !important;
                   margin-right: 22pt !important;
                   margin-top: 3pt;
                   height: 2pt;
                   width: calc(100% - 44pt) !important;
                   background-color: transparent;
                   box-shadow: none;
                   .slider {
                       background: white !important;
                     //  background-color: rgb(236, 78, 137) !important;
                       height: 100% !important;
                       margin-bottom: 0pt !important;
                       width: calc(50% - 20pt);
                       // float: right;
                       padding-top: 5pt !important;
                       margin-top: 0px;
                       margin-bottom: 0pt;
                       margin-left: 1px;
                   }
               }


               
           }

    }

    ion-content {
        background: white
    }
    .contnet {
        background: white;
    }
    .title {
        z-index: 999;
        height: 160px; // background: red;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
        top: 70px;
    }
    .navBar {
        height: 116px;
    } // button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
    //     margin-top: -50px;
    // }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -5px;
        color: black;
    }
    .toolbar-title {
        height: 102px;
        ;
    }
    .backIcon {
        width: 40px;
        margin-top: 30px;
        background: transparent;
        height: 40px;
        color: white;
        padding: 0px;
        opacity: 1.0;
    }
    .backIcon:active {
        background-color: transparent;
    }
    .backIcon:focus {
        background-color: transparent;
    }
    .backImage {
        height: 29px !important;
        width: 52px !important;
        padding-top: 7px;
        object-fit: contain;
        color: white;
        margin-top: 25px;
        margin-left: -50px;
        z-index: 1;
    }

    .Latest-trends-listing {
          margin-top: 20px;
          .trends-listing {
             background: rgb(255, 255, 255);
              width: calc(100% - 34px);
              margin-left: 17px;
              margin-right: 17px;
              .trends-listing-imageContent {
                  
                  width: 100% !important;
                  .trends-listing-image {
                    //background: green;
                      width: 100% !important;
                  } 
                  
              }
              .share-fav-section {
                position: absolute;
                z-index: 99999999;
                // width: 100%;
                width: calc(100% - 34px);
                height: 60px; 
                margin-top: -60px;
                margin-right: 17px;
                // background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(169, 169, 169));
               .shareSection{
                position: absolute;
                right: 38px;
                background: #ef404c !important;
                bottom: 5px !important;
                height: 35px !important;
                padding: 5px !important;
                width: 35px !important;
               }
                .imgFavoriteTrends{
                    background: #ef404c !important;
                    position: absolute;
                    right: 1px;
                    bottom: 5px !important;
                    height: 35px !important;
                    width: 35px !important;
                    padding: 5px !important;
                }
                .imgFavoriteTrendsFilled{
                    background: #ef404c !important;
                    position: absolute;
                    right: 1px;
                    bottom: 5px !important;
                    height: 35px !important;
                    width: 35px !important;
                    padding: 5px !important;
                }
            }


             .trends-listing-tag-lbl{
                //  background: #ea3f49;
                 display: inline;
                 
                 font-size: 3.7vw;
                 color: rgb(35, 31, 32);
                 font-family: $Montserrat-Regular;
                 padding: 0px !important;
                //  margin-top: 4px;//it should be 9px but 5px auto space is generating in above image
                //  margin-bottom: 12px;
             }

             .trends-listing-separator {
               
                margin-top: 9px !important;//may applay 7px
               // margin-bottom: 15px !important; // background: black;
                height: 1px;
                width: 100% !important;
                background:rgb(184, 184, 184);
               
            }

         
             .trends-listing-share-lbl{
                //float:right;
            
            //    background:  pink !important;
            
                margin-top: 4px;
               // display: flex;
               // flex-direction: row;
               // width: calc(100% - 0px);
                //height: 24px;

                .share-section{
                   // width: calc(100% - 50px);
                  //  background: orange !important;
                 //   padding-right: 7px;
                   // padding-left: 7px;
                    //background: #ea3f49;
                  //  background: rgb(73, 102, 182);
                    .share-section-contents{
                       display: flex;
                    //   background: greenyellow; 
                       flex-direction: row;
                     //  width: 100%;
                       .share-icon{
                           background: #ec4566;
                         img{
                             margin-left: 7px;
                             margin-top: 8px;
                             width: 12px;
                             height: 12px;
                         }  
                           
                         
                       }
                       .share-lbl{
                           padding-right: 7px !important;
                           background: #ec4566;
                           color: rgb(255, 255, 255);
                           padding-top: 8px !important;
                           padding-left: 10px !important;
                          // margin-top: 4px !important;
                           font-size: 2.65vw;
                           font-family: $Montserrat-Regular;
       
                       }
                       
                    }
    
                }
                .favorite-section{
                    // background: yellow;
                    margin-left: 10px !important;
                  //  width: 50px !important;
                    width: calc(100% - 127px);
                   .favImg{
                       padding-left: 20px !important;
                    //    background: pink !important;
                       float: right;
                    img{
                       
                         // margin-top: 6px;
                          width: 30px;
                          height: 30px;
                      } 
                   }
                
                }
               

             }
            
             
             .trends-listing-separator-end{
                margin-top: 18px !important;
                // margin-bottom: 15px !important; // background: black;
                 height: 1px;
                 margin-bottom: 18px;
                 width: 100% !important;
                 background:rgb(184, 184, 184);
              }
              

              .container-shares {
              margin-top: 9px;
              display: flex;
              flex-direction: row;
              width: calc(100% - 0px);
              height: 24px;
               
              .fb-share{
                   padding-right: 7px;
                   padding-left: 7px;
                   background: rgb(73, 102, 182);
                   .fb-share-contents{
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      .fb-icon{
                        img{
                            //margin-left: 7px;
                            margin-top: 6px;
                            width: 12px;
                            height: 12px;
                        }  
                          
                        
                      }
                      .lbl{
                          color: rgb(255, 255, 255);
                          margin-left: 4px;
                          margin-top: 6px;
                          font-size: 2.65vw;
                          font-family: $Montserrat-Regular;
      
                      }
                   }
      
               }

               .tw-share{
                   margin-left: 10px;
                  //width: 158px;
                  padding-right: 7px;
                  padding-left: 7px;
                  background: rgb(60, 158, 234);
                  .tw-share-contents{
                     display: flex;
                     flex-direction: row;
                     width: 100%;
                     .tw-icon{
                       img{
                           //margin-left: 7px;
                           margin-top: 6px;
                           width: 12px;
                           height: 12px;
                       }  
                         
                       
                     }
                     .tw-share-lbl{
                         color: rgb(255, 255, 255);
                         margin-left: 4px;
                         margin-top: 6px;
                         font-size: 2.65vw;
                         font-family: $Montserrat-Regular;
      
                     }
                  }
               }
               .wt-share{
                   margin-left: 10px;
                   padding-right: 7px;
                   padding-left: 7px;
                   background: rgb(37, 211, 102);
                   .fb-share-contents{
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      .fb-icon{
                        img{
                            //margin-left: 7px;
                            margin-top: 6px;
                            width: 12px;
                            height: 12px;
                        }  
                          
                        
                      }
                      .lbl{
                          color: rgb(255, 255, 255);
                          margin-left: 4px;
                          margin-top: 6px;
                          font-size: 2.65vw;
                          font-family: $Montserrat-Regular;
      
                      }
                   }
               }
          }
          

          }
          
      }
     
      .viewMore-separator{   
        width: calc(100% - 34px);
        margin-left: 17px;
          margin-right: 17px;  
        height: 1px;
        margin-top: 30px;
        margin-bottom: 36px;
        background:rgb(184, 184, 184);
       }

      .container-viewMore {
        //   margin-bottom: 30px;
        width: calc(100% - 0px);
        
       
       .viewMore-contents{
        position: absolute;
        left: 50%;
        transform: translate( -50%);
           //background: rgb(73, 102, 182);
           .viewMore-lbl-img{
              display: flex;
              flex-direction: row;
              width: 100%;
              .viewMore-icon{
                img{
                    margin-left: 7px;
                    margin-top: 2px;
                    width: 10px;
                    height: 6px;
                }      
              }
              .viewMore-lbl{
                 
                  color: rgb(230, 74, 137);
                  margin-left: 4px;
                  font-size:   12.5px;
                  font-family: $Montserrat-Regular;

              }
           }
       }  
    }
    
    .separator-end{
        height: 1px;
        width: 100% !important;
        background:rgb(189, 90, 184);
    }
     
    .trends-listing-separator {
        margin-top: 9px !important;//may applay 7px
       // margin-bottom: 15px !important; // background: black;
        height: 1px;
        width: 100% !important;
        background:rgb(184, 184, 184);
    }
    
    .box {
        text-decoration: underline !important;
        float: left;
        margin-top: 5px !important;
        width: calc(100% - 63px);
        // padding: 50px;
      }
      .boxRight {
        float: left;
        margin-top: 5px !important;
        right: 0;
        width: 63px !important;
        // padding: 50px;
      }
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
      .share-section{
        // width: calc(100% - 50px);
       //  background: orange !important;
      //   padding-right: 7px;
        // padding-left: 7px;
         //background: #ea3f49;
       //  background: rgb(73, 102, 182);
         .share-section-contents{
            display: flex;
         //   background: greenyellow; 
            flex-direction: row;
          //  width: 100%;
            .share-icon{
                background: #ec4566;
              img{
                  margin-left: 7px;
                  margin-top: 8px;
                  width: 12px;
                  height: 12px;
              }  
                
              
            }
            .share-lbl{
                padding-right: 7px !important;
                background: #ec4566;
                color: rgb(255, 255, 255);
                padding-top: 8px !important;
                padding-left: 10px !important;
                font-size: 2.65vw;
                font-family: $Montserrat-Regular;

            }
            
         }

     }


    
}
